---
title: Latine Loquor - Liber Secundus - Colloquium Secundum
subtitle: "Discipulus īnfēlīciōre ē ingeniō docētur, quibus adminiculīs ad ērūditiōnem fiat prōgressus. Virtūtis studium nōn parum ad ērūditiōnem adipīscendam cōnfert. Quī virtūtis ratiōnem habet, dōtibus animī augētur ā Deō."
type: Colloquium
author: Schwieder
collection: Latine Loquor Liber Secundus
topic:
- Piety
- School
difficulty: Moderate
sequence: '202'
character_count: 2
permalink: /schwieder/latine-loquor-2-2/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
  <link rel="stylesheet" href="/style-reading.css" />

  <script src="/scripts/headroom.min.js"></script>
  <script src="/scripts/common.js"></script>
</head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"><b>Colloquia Latina</b></a>
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Beātus, Canūtus.
    </div>

    <div class="line-container" id="Beatus.1">
      <div class="line-character">Beātus</div>
      Vīsne permanēre in istā ignōrantiā?
    </div>

    <div class="line-container" id="Canutus.2">
      <div class="line-character">Canūtus</div>
      Avertat Deus.
    </div>

    <div class="line-container" id="Beatus.3">
      <div class="line-character">Beātus</div>
      Quid igitur faciēs?
    </div>

    <div class="line-container" id="Canutus.4">
      <div class="line-character">Canūtus</div>
      Dā mihi super hāc rē cōnsilium, quaesō.
    </div>

    <div class="line-container" id="Beatus.5">
      <div class="line-character">Beātus</div>
      Imprīmis Deum saepissimē et ex animō precāre: deinde semper attentus estō: hoc est, dīligenter audītō, quidquid docētur, sīve praeceptor loquitur, sīve aliquid reddunt condiscipulī tuī: postrēmō cāritātem dīligenter cole.
    </div>

    <div class="line-container" id="Canutus.6">
      <div class="line-character">Canūtus</div>
      Quibus modīs?
    </div>

    <div class="line-container" id="Beatus.7">
      <div class="line-character">Beātus</div>
      Nēminem neque laedītō neque offendītō: nēminī invīdetō, nēminem odiō habētō: sed contrā, omnēs dīlige tamquam frātrēs, ac bene omnibus, quoad poteris, facitō.
    </div>

    <div class="line-container" id="Canutus.8">
      <div class="line-character">Canūtus</div>
      Quid illa mihi cōnferent ad studiōrum prōfectum?
    </div>

    <div class="line-container" id="Beatus.9">
      <div class="line-character">Beātus</div>
      Plūrimum.
    </div>

    <div class="line-container" id="Canutus.10">
      <div class="line-character">Canūtus</div>
      Quōmodō?
    </div>

    <div class="line-container" id="Beatus.11">
      <div class="line-character">Beātus</div>
      Sīc enim Deus tibi illūminābit ingenium: memoriam et cēterās animī dōtēs augēbit: dēnique studia tua ita prōmovēbit, ut maiōrēs in eā rē prōgressūs in diēs faciās.
    </div>

    <div class="line-container" id="Canutus.12">
      <div class="line-character">Canūtus</div>
      Cōnsilium mihi sānē dās optimum. Utinam in Deī ipsius glōriam ūtī perpetuō valeam, tibīque aliquandō referre grātiam.
    </div>

    <div class="line-container" id="Beatus.13">
      <div class="line-character">Beātus</div>
      Nōn optō, ut mihi aliquid grātiae eō mōre referās, nisi ut Deum saepenumerō laudēs, studiaque honesta semper prōsequāris, atque ita ad dīvīnārum litterārum cognitiōnem tandem perveniās.
    </div>

    <h2>Ēlocūtiō</h2>
    <div class="elocutio">
      <ul>
        <li class="elocutio-entry">Permanēre in ignōrantiā.</li>
        <li class="elocutio-entry">Ēlēctī nōn permanent in peccātīs suīs.</li>
        <li class="elocutio-entry">Multī discipulī permānsērunt in ignōrantiā ... neglegentiā et nēquitiā.</li>
        <li class="elocutio-entry">Permanēre in amīcitiā ... in sententiā suā.</li>
        <li class="elocutio-entry">Permanēre in officiō ... Chrīstiānī fuērunt cōnstantēs.</li>
        <li class="elocutio-entry">Deus avertat ... āvertere furōrem alicuius ... āvertere rem aliquam.</li>
        <li class="elocutio-entry">Dare alicuī cōnsilium dē rē aliquā.</li>
        <li class="elocutio-entry">Quid dedit tibi cōnsiliī?</li>
        <li class="elocutio-entry">Quī dedit cōnsilium tibi, nōn ēventum, sed fidem praestāre dēbet.</li>
        <li class="elocutio-entry">Dare alicuī reī colōrem.</li>
        <li class="elocutio-entry">Abdere, addere, super addere, condere, abscondere, dēdere, indere, obdere, perdere, reddere, subdere, trādere.</li>
        <li class="elocutio-entry">Precārī Deum ex animō ... precārī bonās precēs.</li>
        <li class="elocutio-entry">Precārī aliquid ab aliquō.</li>
        <li class="elocutio-entry">Discipulī estōte attentī ... verberābiminī ... luētis poenam ... dabitis poenās.</li>
        <li class="elocutio-entry">Tū nōn es attentus ... attentus ad rem ... nōn fuī ad eam rem attentus.</li>
        <li class="elocutio-entry">Attendere alicuī reī ... attendere animum ... audīte animō attentō.</li>
        <li class="elocutio-entry">Nimium ad rem in senectā attentī sumus.</li>
        <li class="elocutio-entry">Quidquid docētur, audiam ... audīre praeceptōrem docentem.</li>
        <li class="elocutio-entry">Audīre ā, dē, ex aliquō aliquid ... audīre dē aliquō aliquid ... audīre aliquem.</li>
        <li class="elocutio-entry">Docēre aliquem aliquid.</li>
        <li class="elocutio-entry">Quis tē hoc docuit? ... addocēre, dēdocēre, ēdocēre.</li>
        <li class="elocutio-entry">Audīvī praeceptōrem loquentem ... cum praeceptor loquitur, discipulī taceant.</li>
        <li class="elocutio-entry">Multa locūtus est.</li>
        <li class="elocutio-entry">Condiscipulī tuī reddunt aliquid latīnē.</li>
        <li class="elocutio-entry">Reddere litterās alicuī ... reddere ratiōnem.</li>
        <li class="elocutio-entry">Colere cāritātem ... pietātem ... aliquem ... agrum.</li>
        <li class="elocutio-entry">Accolere, excolere, incolere, recolere.</li>
        <li class="elocutio-entry">Laedere aliquem... laedere dictīs... factō... laedere fāmam alicuius.</li>
        <li class="elocutio-entry">Offendere aliquem ... offendere caput ad parietem ... ad lapidem.</li>
        <li class="elocutio-entry">Invīdēre alicuī ... invīdēre alicuī aliquid.</li>
        <li class="elocutio-entry">Habēre aliquem odiō.</li>
        <li class="elocutio-entry">Odium capitāle ... odium intestīnum ... odium occultum.</li>
        <li class="elocutio-entry">Dīligere omnēs Chrīstiānōs tamquam frātrēs.</li>
        <li class="elocutio-entry">Dīligere aliquem mūtuō ... valdē, ūnicē dīligere ... benefacere omnibus.</li>
        <li class="elocutio-entry">Istī librī mihi nihil cōnferent ad prōfectum studiōrum.</li>
        <li class="elocutio-entry">Prōfectum facere ... Firmiōrēs in litterīs prōfectūs alit aemulātiō.</li>
        <li class="elocutio-entry">Cōnferre sermōnēs inter sē et cum aliquō ... cōnferre ratiōnēs.</li>
        <li class="elocutio-entry">Cōnferre sē ad aliquem ... ad hostēs ... cōnferre cūrās et cōgitātiōnēs omnēs in rem aliquam.</li>
        <li class="elocutio-entry">Cōnferre sē ad theolōgiam, philosophiam, iūrisprūdentiam, medicīnam.</li>
        <li class="elocutio-entry">Dare operam medicīnae.</li>
        <li class="elocutio-entry">Cōnferre sē in fugam ... in pedēs.</li>
        <li class="elocutio-entry">Ō Iēsū, illūminā mihi ingenium meum.</li>
        <li class="elocutio-entry">Augēre rem aliquam.</li>
        <li class="elocutio-entry">Patris in nōs amōrem, quibuscumque poterimus rēbus, augēbimus.</li>
        <li class="elocutio-entry">Dare dōtem fīliae.</li>
        <li class="elocutio-entry">Prōmovēre studia alicuius.</li>
        <li class="elocutio-entry">Spērō mē prōmōtum īrī futūrō perīculō pāschālī.</li>
        <li class="elocutio-entry">Facere prōgressūs ... prōgressū temporis.</li>
        <li class="elocutio-entry">Maiōrēs fēcissem in studiīs prōgressūs, nisi morbō impedītus fuissem.</li>
        <li class="elocutio-entry">Philosophī numquam in studiīs tantōs prōgressūs facere potuissent.</li>
        <li class="elocutio-entry">Dare alicuī cōnsilium optimum.</li>
        <li class="elocutio-entry">Ūtī cōnsiliō ... scit ūtī forō, hoc est, nōvit sē accommodāre rēbus gerendīs.</li>
        <li class="elocutio-entry">Ūtī operā alicuius ... ūtī patientiā incrēdibilī ... ūtar tē teste ... ūtī rē aliquā.</li>
        <li class="elocutio-entry">Valēre auctōritāte ... valēre memoriā ... pollēre memoriā.</li>
        <li class="elocutio-entry">Valēre nihil.</li>
        <li class="elocutio-entry">Referre alicuī grātiam ... Nōn optō, ut mihi aliquid grātiae referās.</li>
        <li class="elocutio-entry">Referre alicuī aliquid acceptum.</li>
        <li class="elocutio-entry">Laudāre Deum saepenumerō.</li>
        <li class="elocutio-entry">Prōsequī studia honesta ... prōsequī aliquem laude, amōre.</li>
        <li class="elocutio-entry">Pervenīre ad vēram Deī cognitiōnem.</li>
        <li class="elocutio-entry">Pervenīre ad annum quīnquāgēsimum sextum.</li>
        <li class="elocutio-entry">Pervenīre ad aurēs ... ad manūs ... fāma ad nōs pervēnit.</li>
        <li class="elocutio-entry">Allātum est mihi, ad mē.</li>
      </ul>
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains 'files/'" %}
    {% assign neighbors = files | where: "type", "Colloquium" | where: "author", page.author | where: "collection", page.collection | sort: "sequence" %}
    {% assign prev_page = nil %}
    {% assign next_page = nil %}
    {% assign found_current = false %}
    {% for p in neighbors %}
      {% if found_current and next_page == nil %}{% assign next_page = p %}{% endif %}
      {% if p.url == page.url %}{% assign found_current = true %}{% endif %}
      {% if found_current == false %}{% assign prev_page = p %}{% endif %}
    {% endfor %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

  <div class="footer">
    <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
  </div>
</body>