---
title: Latine Loquor - Liber Secundus - Colloquium Ūndētrīcēsimum
subtitle: "Latīnus sermō colloquiīs exercitur. Colloquiōrum māteria. Ōtiōsus sermō quī sit. Docilitās."
type: Colloquium
author: Schwieder
collection: Latine Loquor Liber Secundus
topic:
- Games & Recreation
- School
difficulty: Easy
sequence: '029'
character_count: 2
permalink: /schwieder/latine-loquor-2-29/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
  <link rel="stylesheet" href="/style-reading.css" />

  <script src="/scripts/headroom.min.js"></script>
  <script src="/scripts/common.js"></script>
</head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"><b>Colloquia Latina</b></a>
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Ludovīcus, Methōdius.
    </div>

    <div class="line-container" id="Ludovicus.1">
      <div class="line-character">Ludovīcus</div>
      Unde redis?
    </div>

    <div class="line-container" id="Methodius.2">
      <div class="line-character">Methōdius</div>
      Forīs.
    </div>

    <div class="line-container" id="Ludovicus.3">
      <div class="line-character">Ludovīcus</div>
      Cūr exierās?
    </div>

    <div class="line-container" id="Methodius.4">
      <div class="line-character">Methōdius</div>
      Redditum epistulam.
    </div>

    <div class="line-container" id="Ludovicus.5">
      <div class="line-character">Ludovīcus</div>
      Quālis est caelī faciēs?
    </div>

    <div class="line-container" id="Methodius.6">
      <div class="line-character">Methōdius</div>
      Nebulōsa.
    </div>

    <div class="line-container" id="Ludovicus.7">
      <div class="line-character">Ludovīcus</div>
      An regelat?
    </div>

    <div class="line-container" id="Methodius.8">
      <div class="line-character">Methōdius</div>
      Sīc resolvitur gelū, ut nivēs omnīnō līquēscant.
    </div>

    <div class="line-container" id="Ludovicus.9">
      <div class="line-character">Ludovīcus</div>
      Etiamne pluit?
    </div>

    <div class="line-container" id="Methodius.10">
      <div class="line-character">Methōdius</div>
      Sēnsī aliquid supernē dēstillāre.
    </div>

    <div class="line-container" id="Ludovicus.11">
      <div class="line-character">Ludovīcus</div>
      Fortasse in trānsitū ē stillicīdiō tēctī.
    </div>

    <div class="line-container" id="Methodius.12">
      <div class="line-character">Methōdius</div>
      Immō ē nūbibus, sciō: quod sī nōn crēdis, vidē tū ipse.
    </div>

    <div class="line-container" id="Ludovicus.13">
      <div class="line-character">Ludovīcus</div>
      Quasi ego tibi nōn crēdam in rē tantillā.
    </div>

    <div class="line-container" id="Methodius.14">
      <div class="line-character">Methōdius</div>
      Cūr igitur dubitāre vidēbāris?
    </div>

    <div class="line-container" id="Ludovicus.15">
      <div class="line-character">Ludovīcus</div>
      Ut plūribus verbīs tēcum fābulārer.
    </div>

    <div class="line-container" id="Methodius.16">
      <div class="line-character">Methōdius</div>
      Quōrsum id pertinet?
    </div>

    <div class="line-container" id="Ludovicus.17">
      <div class="line-character">Ludovīcus</div>
      Ad latīnum sermōnem exercendum.
    </div>

    <div class="line-container" id="Methodius.18">
      <div class="line-character">Methōdius</div>
      Sed interim saepe ōtiōsa verba dīcimus, ā quibus omnīnō, ut abstineāmus, Chrīstus praecipit.
    </div>

    <div class="line-container" id="Ludovicus.19">
      <div class="line-character">Ludovīcus</div>
      Tōtā errās viā in praeceptī intellēctū.
    </div>

    <div class="line-container" id="Methodius.20">
      <div class="line-character">Methōdius</div>
      Cūr istud dīcis?
    </div>

    <div class="line-container" id="Ludovicus.21">
      <div class="line-character">Ludovīcus</div>
      Quia nōn est ōtiōsus sermō, quī ad aliquam īnstitūtiōnem refertur, praesertim ubi agitur dē bonīs et honestīs rēbus, quālia sunt Deī opera in rēbus nātūrālibus.
    </div>

    <div class="line-container" id="Methodius.22">
      <div class="line-character">Methōdius</div>
      Vidēris mihi rēctē sentīre: proinde facile tibi assentior.
    </div>

    <div class="line-container" id="Ludovicus.23">
      <div class="line-character">Ludovīcus</div>
      Sed haec hāctenus, īnstat nōbīs aliud negōtium.
    </div>

    <div class="line-container" id="Methodius.24">
      <div class="line-character">Methōdius</div>
      Age, dēsināmus.
    </div>

    <h2>Ēlocūtiō</h2>
    <div class="elocutio">
      <ul>
        <li class="elocutio-entry">Redīre, revertī, repetere iter, reflectere iter.</li>
        <li class="elocutio-entry">Praeceptor, licetne mihi exīre redditum ūrīnam?</li>
        <li class="elocutio-entry">Praeceptor, licetne mihi exīre peractum requisīta nātūrae? salvō honōre, salvā veniā.</li>
        <li class="elocutio-entry">Quālis est caelī faciēs?</li>
        <li class="elocutio-entry">Pluit, caelum minātur pluviam, imminet pluvia.</li>
        <li class="elocutio-entry">Caelum nūllīs nūbibus obductum est ... satis serēnum est.</li>
        <li class="elocutio-entry">Regelat. Nix līquēscit.</li>
        <li class="elocutio-entry">Omnia congelēscunt, costrīnguntur gelū.</li>
        <li class="elocutio-entry">Frīgus vehemēns, intēnsum, horrendum est.</li>
        <li class="elocutio-entry">Omnia nive tēcta.</li>
        <li class="elocutio-entry">Nix duōs pedēs alta iacet.</li>
        <li class="elocutio-entry">Nūllī spīrant ventī.</li>
        <li class="elocutio-entry">Ventus paulō mītior factus est.</li>
        <li class="elocutio-entry">In trānsitū.</li>
        <li class="elocutio-entry">Ē stillicīdiō tēctī dēstillāvit mihi aliquid in caput.</li>
        <li class="elocutio-entry">Crēdere alicuī.</li>
        <li class="elocutio-entry">Crēdere in Deum.</li>
        <li class="elocutio-entry">Crēdere sē alicuī.</li>
        <li class="elocutio-entry">Vīsus est dubitāre.</li>
        <li class="elocutio-entry">Vidēminī nōbīs dubitāre dē hāc rē.</li>
        <li class="elocutio-entry">Fābulārī cum aliquō verbīs plūribus.</li>
        <li class="elocutio-entry">Exercēre sermōnem latīnum.</li>
        <li class="elocutio-entry">Dīcere verba ōtiōsa.</li>
        <li class="elocutio-entry">Abstinēre rē aliquā, et ab aliquā rē.</li>
        <li class="elocutio-entry">Abstinēre iurgiīs ... abstinēre ā iurgiīs, lītibus et ā lītibus.</li>
        <li class="elocutio-entry">Abstinēre vīnō.</li>
        <li class="elocutio-entry">Abstinēre manūs ab aliēnīs.</li>
        <li class="elocutio-entry">Tōtā viā errāre.</li>
        <li class="elocutio-entry">Referre ad īnstitūtiōnem aliquid.</li>
        <li class="elocutio-entry">Reddenda nōbīs aliquandō ratiō dē quōvīs verbō ōtiōsō.</li>
        <li class="elocutio-entry">Vidēris mihi rēctē sentīre.</li>
        <li class="elocutio-entry">Assentīrī alicuī.</li>
        <li class="elocutio-entry">Īnstat nōbīs aliud negōtium.</li>
        <li class="elocutio-entry">Īnstō interdum īdem quod īnsistō, ut: rēctam īnstās viam, id est, īnsistis vel ingressus es viam rēctam: interdum īdem quod imminēre vel propinquum esse.</li>
      </ul>
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains 'files/'" %}
    {% assign neighbors = files | where: "type", "Colloquium" | where: "author", page.author | where: "collection", page.collection | sort: "sequence" %}
    {% assign prev_page = nil %}
    {% assign next_page = nil %}
    {% assign found_current = false %}
    {% for p in neighbors %}
      {% if found_current and next_page == nil %}{% assign next_page = p %}{% endif %}
      {% if p.url == page.url %}{% assign found_current = true %}{% endif %}
      {% if found_current == false %}{% assign prev_page = p %}{% endif %}
    {% endfor %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

  <div class="footer">
    <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
  </div>
</body>