---
title: Latine Loquor - Liber Secundus - Colloquium Septimum Decimum
subtitle: "Discipulus languēns parentum dēsīderiō retinētur ā praeceptōre et ā condiscipulīs, nē domum abiēns perdat tempus, admonētur."
type: Colloquium
author: Schwieder
collection: Latine Loquor Liber Secundus
topic:
- School
difficulty: Easy
sequence: '217'
character_count: 2
permalink: /schwieder/latine-loquor-2-17/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
  <link rel="stylesheet" href="/style-reading.css" />

  <script src="/scripts/headroom.min.js"></script>
  <script src="/scripts/common.js"></script>
</head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"><b>Colloquia Latina</b></a>
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Sigismundus, Titus.
    </div>

    <div class="line-container" id="Sigismundus.1">
      <div class="line-character">Sigismundus</div>
      Quid tēcum cōgitās Tīte?
    </div>

    <div class="line-container" id="Titus.2">
      <div class="line-character">Titus</div>
      Libenter īrem domum.
    </div>

    <div class="line-container" id="Sigismundus.3">
      <div class="line-character">Sigismundus</div>
      Quid eō?
    </div>

    <div class="line-container" id="Titus.4">
      <div class="line-character">Titus</div>
      Ut mē hīs diēbus parumper recreārem cum mātre.
    </div>

    <div class="line-container" id="Sigismundus.5">
      <div class="line-character">Sigismundus</div>
      Quid obstat, quō minus eās?
    </div>

    <div class="line-container" id="Titus.6">
      <div class="line-character">Titus</div>
      Praeceptor nōn vult permittere.
    </div>

    <div class="line-container" id="Sigismundus.7">
      <div class="line-character">Sigismundus</div>
      Melius tibi cōnsulit quam ipse putās.
    </div>

    <div class="line-container" id="Titus.8">
      <div class="line-character">Titus</div>
      Quōmodō?
    </div>

    <div class="line-container" id="Sigismundus.9">
      <div class="line-character">Sigismundus</div>
      Nam intereā perderēs multum temporis et cum redīssēs, dolērēs. Nōnne vērum dīcō?
    </div>

    <div class="line-container" id="Titus.10">
      <div class="line-character">Titus</div>
      Profectō sīc est.
    </div>

    <div class="line-container" id="Sigismundus.11">
      <div class="line-character">Sigismundus</div>
      Manē igitur, sī sapīs.
    </div>

    <div class="line-container" id="Titus.12">
      <div class="line-character">Titus</div>
      Parēbō tuō cōnsiliō: quia mihi rēctum vidētur.
    </div>

    <div class="line-container" id="Sigismundus.13">
      <div class="line-character">Sigismundus</div>
      Nōllem sciēns malum tibi cōnsilium dare. Atque utinam, quod suādeō, succēdat tibi prosperē.
    </div>

    <div class="line-container" id="Titus.14">
      <div class="line-character">Titus</div>
      Spērō ita fore, Deō volente.
    </div>

    <h2>Ēlocūtiō</h2>
    <div class="elocutio">
      <ul>
        <li class="elocutio-entry">Cōgitāre aliquid sēcum ... mēcum ... cōgitō ... in animō cōgitō ... Animō mēcum cōgitō.</li>
        <li class="elocutio-entry">Coepī egomet mēcum sīc cōgitāre.</li>
        <li class="elocutio-entry">Hoc cōgitō diēs noctēsque ... hāc dē rē cōgitō diēs noctēsque.</li>
        <li class="elocutio-entry">Īre domum.</li>
        <li class="elocutio-entry">Domus māgna ... lūculenta ... magnifica ... ruīnōsa ... collapsa.</li>
        <li class="elocutio-entry">Recreāre sē cum aliquō.</li>
        <li class="elocutio-entry">Recreārī litterīs alicuius ... recreāre litterīs aliquem.</li>
        <li class="elocutio-entry">Praeceptor nōn vult permittere, ut eam domum.</li>
        <li class="elocutio-entry">Cōnsulere alicuī ... bene ... male ... cōnsulere aliquem.</li>
        <li class="elocutio-entry">Cōnsulere salūtī suae.</li>
        <li class="elocutio-entry">Parentēs melius cōnsulunt līberīs quam ipsī putant.</li>
        <li class="elocutio-entry">Cōnsulō tē doctum ... tibi cōnsulō, dum tua cūrō.</li>
        <li class="elocutio-entry">Perdere tempus ... perdere tempus comissātiōnibus, lūsū, nūgīs.</li>
        <li class="elocutio-entry">Habēre temporis ratiōnem.</li>
        <li class="elocutio-entry">Doleō, quod ... doleō vicem eius.</li>
        <li class="elocutio-entry">Doleō ab oculīs ... ex capite, ā capite.</li>
        <li class="elocutio-entry">Sī sapiissēs, mānsissēs et fugam nōn arripuissēs.</li>
        <li class="elocutio-entry">Parēre cōnsiliō alicuius.</li>
        <li class="elocutio-entry">Cōnsilium tuum mihi vidētur rēctum.</li>
        <li class="elocutio-entry">Scientēs cōnsilium malum nōn dedimus.</li>
        <li class="elocutio-entry">Quī cōnsilium dat, nōn ēventum, sed fidem praestāre dēbet.</li>
        <li class="elocutio-entry">Quod suāsistī, successit mihi prosperē.</li>
        <li class="elocutio-entry">Rēs successit ex vōtō.</li>
        <li class="elocutio-entry">Nōn succēdet.</li>
        <li class="elocutio-entry">Spērāmus fore, Deō volente.</li>
        <li class="elocutio-entry">Spērō fore, ut dīscās quae in scholā audīvistī.</li>
        <li class="elocutio-entry">Spērō hās litterās ab eō lēctum īrī.</li>
      </ul>
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains 'files/'" %}
    {% assign neighbors = files | where: "type", "Colloquium" | where: "author", page.author | where: "collection", page.collection | sort: "sequence" %}
    {% assign prev_page = nil %}
    {% assign next_page = nil %}
    {% assign found_current = false %}
    {% for p in neighbors %}
      {% if found_current and next_page == nil %}{% assign next_page = p %}{% endif %}
      {% if p.url == page.url %}{% assign found_current = true %}{% endif %}
      {% if found_current == false %}{% assign prev_page = p %}{% endif %}
    {% endfor %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

  <div class="footer">
    <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
  </div>
</body>