---
title: Latine Loquor - Liber Secundus - Colloquium Trīcēsimum Septimum
subtitle: "Theodōrus et Villērius dē scalpellō recēns emptō colloquuntur. Rēs inventa restituenda est dominō, sī cognōscī potest. Inventōrī dandum aliquod praemium. Deus precandus et laudandus."
type: Colloquium
author: Schwieder
collection: Latine Loquor Liber Secundus
topic:
- Piety
difficulty: Moderate
sequence: '037'
character_count: 2
permalink: /schwieder/latine-loquor-2-37/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
  <link rel="stylesheet" href="/style-reading.css" />

  <script src="/scripts/headroom.min.js"></script>
  <script src="/scripts/common.js"></script>
</head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"><b>Colloquia Latina</b></a>
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Theodōrus, Villārius.
    </div>

    <div class="line-container" id="Theodorus.1">
      <div class="line-character">Theodōrus</div>
      Quid ais dē scalpellō, quod ēmī tibi nūdius tertius: estne satis bonum?
    </div>

    <div class="line-container" id="Villarius.2">
      <div class="line-character">Villārius</div>
      Immō vērō est optimum, sed, mē miserum, paulum āfuit, quīn perderem.
    </div>

    <div class="line-container" id="Theodorus.3">
      <div class="line-character">Theodōrus</div>
      Ēhō, quid ais? Quōmodō id accidit?
    </div>

    <div class="line-container" id="Villarius.4">
      <div class="line-character">Villārius</div>
      Cum redīrem forīs, excidit mihi in vīcō.
    </div>

    <div class="line-container" id="Theodorus.5">
      <div class="line-character">Theodōrus</div>
      Unde excidit?
    </div>

    <div class="line-container" id="Villarius.6">
      <div class="line-character">Villārius</div>
      Ē thēcā meā, quam imprūdenter apertam relīqueram.
    </div>

    <div class="line-container" id="Theodorus.7">
      <div class="line-character">Theodōrus</div>
      Quōmodō recuperāstī?
    </div>

    <div class="line-container" id="Villarius.8">
      <div class="line-character">Villārius</div>
      Affīxī statim chartulam valvīs iānuae, post prandium quīdam scholasticus mihi rettulit.
    </div>

    <div class="line-container" id="Theodorus.9">
      <div class="line-character">Theodōrus</div>
      Utinam omnēs tam fidēlēs essent, quī rēs āmissās reperiunt.
    </div>

    <div class="line-container" id="Villarius.10">
      <div class="line-character">Villārius</div>
      Profectō paucī sunt, quī restituant, sī modo sit rēs alicuius pretiī.
    </div>

    <div class="line-container" id="Theodorus.11">
      <div class="line-character">Theodōrus</div>
      Et tamen id verbō Deī ipsō praecipitur.
    </div>

    <div class="line-container" id="Villarius.12">
      <div class="line-character">Villārius</div>
      Quidnī? Est enim fūrtī speciēs, sī quis rem aliēnam inventam retinet, modo sciat, cui reddenda sit.
    </div>

    <div class="line-container" id="Theodorus.13">
      <div class="line-character">Theodōrus</div>
      At plērīque putant sē iūre possidēre, quidquid āmissum invēnērunt.
    </div>

    <div class="line-container" id="Villarius.14">
      <div class="line-character">Villārius</div>
      Errant illī quidem gravissimē.
    </div>

    <div class="line-container" id="Theodorus.15">
      <div class="line-character">Theodōrus</div>
      Vērum, ut redeāmus ad inceptum sermōnem, quid dedistī scholasticō, quī scalpellum tuum invenerat?
    </div>

    <div class="line-container" id="Villarius.16">
      <div class="line-character">Villārius</div>
      Dedī duōs nummōs et aliquot iuglandēs: laudāvī praetereā et paucīs admonuī idem semper esse faciendum.
    </div>

    <div class="line-container" id="Theodorus.17">
      <div class="line-character">Theodōrus</div>
      Rēctē fēcistī: sīc enim libentius reddet aliās, sī quid repperērit. Sed quid sī perdidissēs?
    </div>

    <div class="line-container" id="Villarius.18">
      <div class="line-character">Villārius</div>
      Aequō animō tulissem: mihi ēmissem aliud.
    </div>

    <div class="line-container" id="Theodorus.19">
      <div class="line-character">Theodōrus</div>
      Itane aequō tulissēs animō?
    </div>

    <div class="line-container" id="Villarius.20">
      <div class="line-character">Villārius</div>
      Certē nōn sine aliquā mōlestiā.
    </div>

    <div class="line-container" id="Theodorus.21">
      <div class="line-character">Theodōrus</div>
      Nōn igitur aequō animō: sed nōlō tē artius urgēre.
    </div>

    <div class="line-container" id="Villarius.22">
      <div class="line-character">Villārius</div>
      Nōn sumus theōlogī.
    </div>

    <div class="line-container" id="Theodorus.23">
      <div class="line-character">Theodōrus</div>
      Quid ergō?
    </div>

    <div class="line-container" id="Villarius.24">
      <div class="line-character">Villārius</div>
      Philosophī.
    </div>

    <div class="line-container" id="Theodorus.25">
      <div class="line-character">Theodōrus</div>
      Et quidem impertī.
    </div>

    <div class="line-container" id="Villarius.26">
      <div class="line-character">Villārius</div>
      Tantō dīligentius Deum precārī dēbēmus, ut per Ēvangelium suum nōs līberēt ab ignōrantiae tenebrīs, in quibus versātī sumus.
    </div>

    <div class="line-container" id="Theodorus.27">
      <div class="line-character">Theodōrus</div>
      Id vērō faciēmus, sī sānctīs admōnitiōnibus pāreāmus, quās audīmus cotīdiē ā praeceptōre et saepe ā dīvīnī verbī ministrīs.
    </div>

    <div class="line-container" id="Villarius.28">
      <div class="line-character">Villārius</div>
      Vidē, quantum nōbīs profuerit scalpellī meī āmissiō.
    </div>

    <div class="line-container" id="Theodorus.29">
      <div class="line-character">Theodōrus</div>
      Ob eam rem tibi etiam atque etiam grātulor, prīmum quod tibi rēctē ēmerīs: deinde quod āmissum recuperāverīs.
    </div>

    <div class="line-container" id="Villarius.30">
      <div class="line-character">Villārius</div>
      Habeō tibi grātiam, mī Theodōre.
    </div>

    <div class="line-container" id="Theodorus.31">
      <div class="line-character">Theodōrus</div>
      Quīn Patrī nostrō caelestī sit laus et grātiārum āctiō.
    </div>

    <h2>Ēlocūtiō</h2>
    <div class="elocutio">
      <ul>
        <li class="elocutio-entry">Nūdius tertius.</li>
        <li class="elocutio-entry">Quid ais dē scalpellō?</li>
        <li class="elocutio-entry">Quid ais dē thēcā calāmāriā?</li>
        <li class="elocutio-entry">Quandō emptus est hic cultellus scriptōrius? Nūdius tertius.</li>
        <li class="elocutio-entry">Estne bonus? Optimus.</li>
        <li class="elocutio-entry">Mē miserum! Miser ego homō!</li>
        <li class="elocutio-entry">Redīre forīs.</li>
        <li class="elocutio-entry">Pecūnia excidit mihi ē crumēnā.</li>
        <li class="elocutio-entry">Relinquere cistam apertam ... iānuam apertam.</li>
        <li class="elocutio-entry">Recuperāre rem āmissam.</li>
        <li class="elocutio-entry">Affīgere schedulam valvīs iānuae.</li>
        <li class="elocutio-entry">Programma valvīs templī affīxum est.</li>
        <li class="elocutio-entry">Puer quīdam sextae classīs.</li>
        <li class="elocutio-entry">Reperīre rēs āmissās.</li>
        <li class="elocutio-entry">Restituere āmissum.</li>
        <li class="elocutio-entry">Rēs pretiī alicuius; rēs nūllīus pretiī.</li>
        <li class="elocutio-entry">Rēs magnī, maximī pretiī.</li>
        <li class="elocutio-entry">Praecipere aliquid.</li>
        <li class="elocutio-entry">Iūre possidēre aliquid.</li>
        <li class="elocutio-entry">Errāvit gravissimē.</li>
        <li class="elocutio-entry">Invenīre rem āmissam.</li>
        <li class="elocutio-entry">Redīre ad sermōnem inceptum.</li>
        <li class="elocutio-entry">Redīre ad priōra.</li>
        <li class="elocutio-entry">Repperī aliquid.</li>
        <li class="elocutio-entry">Ferre animō aequō ... ferre patienter ... patientī animō ... patientiā ferendum, quod mūtārī nōn potest.</li>
        <li class="elocutio-entry">Urgēre aliquem artius.</li>
        <li class="elocutio-entry">Doctor theōlogiae, iūris, medicīnae.</li>
        <li class="elocutio-entry">Precārī Deum.</li>
        <li class="elocutio-entry">Līberāre aliquem ab ignōrantiae tenebrīs.</li>
        <li class="elocutio-entry">Līberātī sumus per Chrīstum.</li>
        <li class="elocutio-entry">Versārī in tenebrīs.</li>
        <li class="elocutio-entry">Pārēre alicui.</li>
        <li class="elocutio-entry">Audīre aliquid ex aliquō.</li>
        <li class="elocutio-entry">Verbī dīvīnī magister vel minister.</li>
        <li class="elocutio-entry">Haec rēs mihi multum prōdest.</li>
        <li class="elocutio-entry">Grātulārī alicui ... dē aliquā rē ... aliquam rem, aliquā rē.</li>
        <li class="elocutio-entry">Recuperāre āmissum.</li>
        <li class="elocutio-entry">Habēre grātiam alicui.</li>
      </ul>
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains 'files/'" %}
    {% assign neighbors = files | where: "type", "Colloquium" | where: "author", page.author | where: "collection", page.collection | sort: "sequence" %}
    {% assign prev_page = nil %}
    {% assign next_page = nil %}
    {% assign found_current = false %}
    {% for p in neighbors %}
      {% if found_current and next_page == nil %}{% assign next_page = p %}{% endif %}
      {% if p.url == page.url %}{% assign found_current = true %}{% endif %}
      {% if found_current == false %}{% assign prev_page = p %}{% endif %}
    {% endfor %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

  <div class="footer">
    <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
  </div>
</body>