---
title: Latine Loquor - Liber Secundus - Colloquium Ūndecimum
subtitle: "Liber commodātō petitur, isque impetrātur, sed ab aliō quōdam repetendus. Beneficiō nōn abutendum."
type: Colloquium
author: Schwieder
collection: Latine Loquor Liber Secundus
topic:
- Letters & Writing
- School
difficulty: Easy
sequence: '211'
character_count: 2
permalink: /schwieder/latine-loquor-2-11/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
  <link rel="stylesheet" href="/style-reading.css" />

  <script src="/scripts/headroom.min.js"></script>
  <script src="/scripts/common.js"></script>
</head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"><b>Colloquia Latina</b></a>
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Mīchael, Norbertus.
    </div>

    <div class="line-container" id="Michael.1">
      <div class="line-character">Mīchael</div>
      Vīsne mihi commodāre tuum Horātium?
    </div>

    <div class="line-container" id="Norbertus.2">
      <div class="line-character">Norbertus</div>
      Volō equidem, modo illum repetās ā Conrādō, cui ūtendum dedī.
    </div>

    <div class="line-container" id="Michael.3">
      <div class="line-character">Mīchael</div>
      Quō sīgnō vīs repetam?
    </div>

    <div class="line-container" id="Norbertus.4">
      <div class="line-character">Norbertus</div>
      Nempe hoc, quod eius habeō epistulās.
    </div>

    <div class="line-container" id="Michael.5">
      <div class="line-character">Mīchael</div>
      Id mihi satis est.
    </div>

    <div class="line-container" id="Norbertus.6">
      <div class="line-character">Norbertus</div>
      Sed quandō reddēs?
    </div>

    <div class="line-container" id="Michael.7">
      <div class="line-character">Mīchael</div>
      Cum dēscrīpserō contextum in trēs aut quattuor praelēctiōnēs.
    </div>

    <div class="line-container" id="Norbertus.8">
      <div class="line-character">Norbertus</div>
      Mātūrā igitur: nē meō studiō incommodēs.
    </div>

    <div class="line-container" id="Michael.9">
      <div class="line-character">Mīchael</div>
      Mātūrābō.
    </div>

    <div class="line-container" id="Norbertus.10">
      <div class="line-character">Norbertus</div>
      Sed heus tū, cavē maculēs: aliōquīn aegrē commodābō posthāc.
    </div>

    <div class="line-container" id="Michael.11">
      <div class="line-character">Mīchael</div>
      Nempe indignus essem beneficiō.
    </div>

    <h2>Ēlocūtiō</h2>
    <div class="elocutio">
      <ul>
        <li class="elocutio-entry">Commodāre alicuī aliquid ... ūtendum dare.</li>
        <li class="elocutio-entry">Dare commodātō alicuī aliquid.</li>
        <li class="elocutio-entry">Commodā mihi Līvium tuum, tantisper dum lūdis.</li>
        <li class="elocutio-entry">Repetere rem aliquam ... repetere locum aliquem.</li>
        <li class="elocutio-entry">Dare alicuī aliquid ūtendum ... dare alicuī aliquid dēscrībendum.</li>
        <li class="elocutio-entry">Dare alicuī aliquid dīscendum.</li>
        <li class="elocutio-entry">Dedit mihi hanc epistulam dēscrībendam.</li>
        <li class="elocutio-entry">Hoc sīgnō volō repetās.</li>
        <li class="elocutio-entry">Satis est mihi ... sat diū ... sat est ... sat sciō ... satis verbōrum est.</li>
        <li class="elocutio-entry">Quandō reddēs mūtuum? ... reddere librum ... reddere litterās alicuī.</li>
        <li class="elocutio-entry">Reddere ratiōnem ... reddere respōnsum ... reddere alvum.</li>
        <li class="elocutio-entry">Dēscrībere aliquid ... dēscrībere aliquem.</li>
        <li class="elocutio-entry">Dēscrībere aliquem fūrem.</li>
        <li class="elocutio-entry">Mātūrandum est ... mātūrātō opus est ... mātūrāre abitum ... mātūrāre fugam ... mātūrāre iter.</li>
        <li class="elocutio-entry">Incommodāre alicuī ... incommodāre studiīs alicuius.</li>
        <li class="elocutio-entry">Inicere remorāmen studiīs alicuius ... impedīre studia alicuius.</li>
        <li class="elocutio-entry">Cavē illum ... cavē tibi ab illō ... cavē ab illō.</li>
        <li class="elocutio-entry">Ille tibi vītandus est. Tibi est ab illō cavendum.</li>
        <li class="elocutio-entry">Sī sapīs, illum fugiēs.</li>
        <li class="elocutio-entry">Cavē improbōs sodālēs ... Fuge prāva cōnsortia.</li>
        <li class="elocutio-entry">Vītā malōrum cōnsuētūdinem.</li>
        <li class="elocutio-entry">Liber meus mundior tuō ... amō munditiem librōrum.</li>
        <li class="elocutio-entry">Cavē, maculēs meum librum digitīs ātrāmentō foedātīs.</li>
        <li class="elocutio-entry">Habet aurēs vel auriculās asīnōrum.</li>
        <li class="elocutio-entry">Cavē nē fallāris, vel cavē fallāris.</li>
        <li class="elocutio-entry">Librī forīs et intus commaculātī.</li>
        <li class="elocutio-entry">Indignus beneficiō.</li>
        <li class="elocutio-entry">Plūrimī Chrīstiānī beneficiīs Deī indignī sunt.</li>
      </ul>
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains 'files/'" %}
    {% assign neighbors = files | where: "type", "Colloquium" | where: "author", page.author | where: "collection", page.collection | sort: "sequence" %}
    {% assign prev_page = nil %}
    {% assign next_page = nil %}
    {% assign found_current = false %}
    {% for p in neighbors %}
      {% if found_current and next_page == nil %}{% assign next_page = p %}{% endif %}
      {% if p.url == page.url %}{% assign found_current = true %}{% endif %}
      {% if found_current == false %}{% assign prev_page = p %}{% endif %}
    {% endfor %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

  <div class="footer">
    <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
  </div>
</body>