---
title: Latine Loquor - Liber Secundus - Colloquium Septimum
subtitle: "Geōrgius ab Henrīcō librum commodātō petit: nōn dat Henrīcus, quia iam alterī dederat. Idem māvult iniūriam patī, quam accūsāre condiscipulum ob prīvātam iniūriam. Ō cāritātem rārissimam! Cōnsilium bonum rēs est tūtissima."
type: Colloquium
author: Schwieder
collection: Latine Loquor Liber Secundus
topic:
- School
- Errands & Money
difficulty: Moderate
sequence: '207'
character_count: 2
permalink: /schwieder/latine-loquor-2-7/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
  <link rel="stylesheet" href="/style-reading.css" />

  <script src="/scripts/headroom.min.js"></script>
  <script src="/scripts/common.js"></script>
</head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"><b>Colloquia Latina</b></a>
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Geōrgius, Henrīcus.
    </div>

    <div class="line-container" id="Georgius.1">
      <div class="line-character">Geōrgius</div>
      Commodā mihi Vergīlium tuum in duōs diēs, sī nūllō incommodo tuō id fierī potest.
    </div>

    <div class="line-container" id="Henricus.2">
      <div class="line-character">Henrīcus</div>
      Profectō nōn possum.
    </div>

    <div class="line-container" id="Georgius.3">
      <div class="line-character">Geōrgius</div>
      Cūr nōn?
    </div>

    <div class="line-container" id="Henricus.4">
      <div class="line-character">Henrīcus</div>
      Cum Gerārdus hīs diēbus ā mē commodātō accēpisset, pignorī opposuit.
    </div>

    <div class="line-container" id="Georgius.5">
      <div class="line-character">Geōrgius</div>
      Ain tū, pignorī?
    </div>

    <div class="line-container" id="Henricus.6">
      <div class="line-character">Henrīcus</div>
      Sīc est, ut dīcō.
    </div>

    <div class="line-container" id="Georgius.7">
      <div class="line-character">Geōrgius</div>
      Quantī oppignērāvit?
    </div>

    <div class="line-container" id="Henricus.8">
      <div class="line-character">Henrīcus</div>
      Tribus, ut ait, nummīs.
    </div>

    <div class="line-container" id="Georgius.9">
      <div class="line-character">Geōrgius</div>
      Ō hominem ingrātum!
    </div>

    <div class="line-container" id="Henricus.10">
      <div class="line-character">Henrīcus</div>
      Tantumne ingrātum?
    </div>

    <div class="line-container" id="Georgius.11">
      <div class="line-character">Geōrgius</div>
      Immō vērō et ingrātum et malum. Sed numquid ille rem tuam oppignērāre potuit, tē īncōnsultō?
    </div>

    <div class="line-container" id="Henricus.12">
      <div class="line-character">Henrīcus</div>
      Potuit, ut factum vidēs.
    </div>

    <div class="line-container" id="Georgius.13">
      <div class="line-character">Geōrgius</div>
      Nōn tamen dēbuit.
    </div>

    <div class="line-container" id="Henricus.14">
      <div class="line-character">Henrīcus</div>
      Rem acū tetigistī; sed quid facerem?
    </div>

    <div class="line-container" id="Georgius.15">
      <div class="line-character">Geōrgius</div>
      Rogās? Dēfer eum ad praeceptōrem.
    </div>

    <div class="line-container" id="Henricus.16">
      <div class="line-character">Henrīcus</div>
      Malō istam patī iniūriam, quam committere, ut miser vapulet.
    </div>

    <div class="line-container" id="Georgius.17">
      <div class="line-character">Geōrgius</div>
      Bene facis, dummodo tuum reddat.
    </div>

    <div class="line-container" id="Henricus.18">
      <div class="line-character">Henrīcus</div>
      Reddet, spērō.
    </div>

    <div class="line-container" id="Georgius.19">
      <div class="line-character">Geōrgius</div>
      Unde reddere?
    </div>

    <div class="line-container" id="Henricus.20">
      <div class="line-character">Henrīcus</div>
      Ait sē brevī acceptūrum ā patre pecūniam.
    </div>

    <div class="line-container" id="Georgius.21">
      <div class="line-character">Geōrgius</div>
      Quid sī tē fallit?
    </div>

    <div class="line-container" id="Henricus.22">
      <div class="line-character">Henrīcus</div>
      Fierī potest: sed tamen aliquot diēs exspectābō, quid futūrum sit; deinde cōnsilium capiam.
    </div>

    <div class="line-container" id="Georgius.23">
      <div class="line-character">Geōrgius</div>
      Cōnsiliō rēctō nihil est tūtius.
    </div>

    <div class="line-container" id="Henricus.24">
      <div class="line-character">Henrīcus</div>
      Meministī probē; sīc enim praeceptor dictāvit nōbīs. Sed numquid vīs aliud?
    </div>

    <div class="line-container" id="Georgius.25">
      <div class="line-character">Geōrgius</div>
      Ut bene tibi sit.
    </div>

    <div class="line-container" id="Henricus.26">
      <div class="line-character">Henrīcus</div>
      Et tibi optimē.
    </div>

    <h2>Ēlocūtiō</h2>
    <div class="elocutio">
      <ul>
        <li class="elocutio-entry">Commodāre alicuī aliquid.</li>
        <li class="elocutio-entry">Commodā mihi Horātium tuum in hōram ... in diēs trēs aut quattuor.</li>
        <li class="elocutio-entry">Sine incommodo meō fierī nōn potest.</li>
        <li class="elocutio-entry">Accipere commodātō.</li>
        <li class="elocutio-entry">Hanc pecūniam accēpit mūtuō ... mūtuātus est hanc pecūniam.</li>
        <li class="elocutio-entry">Rogāre, petere, accipere alicunde commodātō.</li>
        <li class="elocutio-entry">Dare mūtuō alicuī aliquid.</li>
        <li class="elocutio-entry">Accipere aliquid ab aliquō.</li>
        <li class="elocutio-entry">Oppōnere aliquid pignorī.</li>
        <li class="elocutio-entry">Oppōnere sē alicuī.</li>
        <li class="elocutio-entry">Oppignērāre alicuī aliquid.</li>
        <li class="elocutio-entry">Omnia sua vāsa argentea dedit pignorī.</li>
        <li class="elocutio-entry">Quō pignore vīs certāre?</li>
        <li class="elocutio-entry">Quid vīs in spōnsiōnem dēpōnere? Quantī vīs contendere? pignore trium nummōrum.</li>
        <li class="elocutio-entry">Homō ingrātus.</li>
        <li class="elocutio-entry">Ingrātum sī dīxeris, omnia dīxeris.</li>
        <li class="elocutio-entry">Mē īncōnsultō fēcit ... mātre īncōnsultā fēcit et patre īnsciō.</li>
        <li class="elocutio-entry">Rem acū tetigistī.</li>
        <li class="elocutio-entry">Tangere manū.</li>
        <li class="elocutio-entry">Tangere aliquid leviter ... hoc mē tangit.</li>
        <li class="elocutio-entry">Dēferre aliquem ... dēferre rēgnum alicuī ... dēferre ad senātum.</li>
        <li class="elocutio-entry">Dēferre mūnus alicuī ... dēferre prīmās alicuī.</li>
        <li class="elocutio-entry">Patī iniūriam ... dolōrem, famem, sitim, frīgus.</li>
        <li class="elocutio-entry">Patī aequō animō ... inīquō animō.</li>
        <li class="elocutio-entry">Parum aberat, quīn ego miser vapulārem.</li>
        <li class="elocutio-entry">Nihil propius fuit, quam ut verberārer.</li>
        <li class="elocutio-entry">Citrā contrōversiam argentum reddidit.</li>
        <li class="elocutio-entry">Pecūniam sine līte reddidit.</li>
        <li class="elocutio-entry">Redde quod dēbēs ... reddere suum cuique.</li>
        <li class="elocutio-entry">Spērō mē brevī acceptūrum ā patre pecūniam.</li>
        <li class="elocutio-entry">Fallere aliquem ... fallere fidem ... fallere spem alicuius.</li>
        <li class="elocutio-entry">Fallī opīniōne ... spēs mē fefellit ... nisi mē fallit animus.</li>
        <li class="elocutio-entry">Trēs integrōs exspectāvī diēs.</li>
        <li class="elocutio-entry">Quid tandem futūrum sit, nesciō.</li>
        <li class="elocutio-entry">Capere cōnsilium ... capere cibum ... capere animum ... capere locum.</li>
        <li class="elocutio-entry">Tūtus ā calōre ... ad omnēs ictūs tūtus.</li>
        <li class="elocutio-entry">Sit tibi bene ... sit tibi optimē.</li>
      </ul>
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains 'files/'" %}
    {% assign neighbors = files | where: "type", "Colloquium" | where: "author", page.author | where: "collection", page.collection | sort: "sequence" %}
    {% assign prev_page = nil %}
    {% assign next_page = nil %}
    {% assign found_current = false %}
    {% for p in neighbors %}
      {% if found_current and next_page == nil %}{% assign next_page = p %}{% endif %}
      {% if p.url == page.url %}{% assign found_current = true %}{% endif %}
      {% if found_current == false %}{% assign prev_page = p %}{% endif %}
    {% endfor %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

  <div class="footer">
    <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
  </div>
</body>