---
title: Latine Loquor - Liber Secundus - Colloquium Duodēquadrāgēsimum
subtitle: "Pennae vēnālēs. Dīversa vīvendī ratiō prō locōrum dīversitāte. Hīc observā commūnem emptōrum mōrem, quī tot verbīs cōnantur dē pretiō prōpositō aliquid dētrahere."
type: Colloquium
author: Schwieder
collection: Latine Loquor Liber Secundus
topic:
- Errands & Money
difficulty: Moderate
sequence: '238'
character_count: 2
permalink: /schwieder/latine-loquor-2-38/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
  <link rel="stylesheet" href="/style-reading.css" />

  <script src="/scripts/headroom.min.js"></script>
  <script src="/scripts/common.js"></script>
</head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"><b>Colloquia Latina</b></a>
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Venantius, Arnoldus.
    </div>

    <div class="line-container" id="Venantius.1">
      <div class="line-character">Venantius</div>
      Pennae istae, quās circumfers, suntne vēnālēs?
    </div>

    <div class="line-container" id="Arnoldus.2">
      <div class="line-character">Arnoldus</div>
      Etiam, sī sē emptor obtulerit.
    </div>

    <div class="line-container" id="Venantius.3">
      <div class="line-character">Venantius</div>
      Ostende; vah! quam sunt mollēs.
    </div>

    <div class="line-container" id="Arnoldus.4">
      <div class="line-character">Arnoldus</div>
      Tentā dīligenter, sunt enim aliae aliīs firmiōrēs.
    </div>

    <div class="line-container" id="Venantius.5">
      <div class="line-character">Venantius</div>
      Satis videō quālēs sint, quot vīs dare prō nummō?
    </div>

    <div class="line-container" id="Arnoldus.6">
      <div class="line-character">Arnoldus</div>
      Tantum sex.
    </div>

    <div class="line-container" id="Venantius.7">
      <div class="line-character">Venantius</div>
      Quid ais? Sex mallem emere ā mercātōribus, quī Lutētiā et Lugdūnō hūc afferunt.
    </div>

    <div class="line-container" id="Arnoldus.8">
      <div class="line-character">Arnoldus</div>
      Quasi nesciam quantī veneant. Audīvī ex frātre, quī dat operam scrībae huius urbis, sē ēmisse Lutētiae quattuor obolō.
    </div>

    <div class="line-container" id="Venantius.9">
      <div class="line-character">Venantius</div>
      Aliter Lutētiae, aliter Genavae vīvitur: sed nōn opus est tot verbīs; vīs dare duodecim?
    </div>

    <div class="line-container" id="Arnoldus.10">
      <div class="line-character">Arnoldus</div>
      Huī! duodecim? Quasi ego fūrātus sim.
    </div>

    <div class="line-container" id="Venantius.11">
      <div class="line-character">Venantius</div>
      Istud nōn dīcō: sed vidē, an tibi placeat condiciō.
    </div>

    <div class="line-container" id="Arnoldus.12">
      <div class="line-character">Arnoldus</div>
      Vīs ūnō verbō dīcam?
    </div>

    <div class="line-container" id="Venantius.13">
      <div class="line-character">Venantius</div>
      Dīc quaesō: satis iam garrītum est.
    </div>

    <div class="line-container" id="Arnoldus.14">
      <div class="line-character">Arnoldus</div>
      Dabō tibi novem, modo prōmiscuē dē meā manū accipiās.
    </div>

    <div class="line-container" id="Venantius.15">
      <div class="line-character">Venantius</div>
      Nūgās agis, ego sine dēlēctū nōllem accipere quīndecim. Valē, alibī inveniam satis.
    </div>

    <div class="line-container" id="Arnoldus.16">
      <div class="line-character">Arnoldus</div>
      Per mē licet: heus, heus, redī.
    </div>

    <div class="line-container" id="Venantius.17">
      <div class="line-character">Venantius</div>
      Cūr mē revocās?
    </div>

    <div class="line-container" id="Arnoldus.18">
      <div class="line-character">Arnoldus</div>
      Accipe, sī vīs, octō, nec ā mē plūrēs exspectēs.
    </div>

    <div class="line-container" id="Venantius.19">
      <div class="line-character">Venantius</div>
      Cēdō tōtum fasciculum, ut dēligam arbitrātū meō.
    </div>

    <div class="line-container" id="Arnoldus.20">
      <div class="line-character">Arnoldus</div>
      Tene, dēlige, ut vīs.
    </div>

    <div class="line-container" id="Venantius.21">
      <div class="line-character">Venantius</div>
      Vidē nunc et sī libet, numerā.
    </div>

    <div class="line-container" id="Arnoldus.22">
      <div class="line-character">Arnoldus</div>
      Sunt vīgintī quattuor: cōnstat numerus.
    </div>

    <div class="line-container" id="Venantius.23">
      <div class="line-character">Venantius</div>
      Accipe pretium.
    </div>

    <div class="line-container" id="Arnoldus.24">
      <div class="line-character">Arnoldus</div>
      Bene vertat Deus utrīque nostrum.
    </div>

    <div class="line-container" id="Venantius.25">
      <div class="line-character">Venantius</div>
      Īdem tēcum optō, atque precor. Sed quandō afferēs meliōrēs pennās?
    </div>

    <div class="line-container" id="Arnoldus.26">
      <div class="line-character">Arnoldus</div>
      Nesciō an meliōrēs possim, sed, ut spērō, brevī plūrēs afferam, cum ad nōs domum proficīscar.
    </div>

    <div class="line-container" id="Venantius.27">
      <div class="line-character">Venantius</div>
      Nōn licet mihi diūtius hīc morārī. Valē, Arnolde.
    </div>

    <div class="line-container" id="Arnoldus.28">
      <div class="line-character">Arnoldus</div>
      Cūrā, ut valeās, Venantī.
    </div>

    <h2>Ēlocūtiō</h2>
    <div class="elocutio">
      <ul>
        <li class="elocutio-entry">Pennae hae vēnālēs sunt.</li>
        <li class="elocutio-entry">Circumferre pennās vēnālēs.</li>
        <li class="elocutio-entry">Aestimat fasciculum pennārum decem nummīs.</li>
        <li class="elocutio-entry">Emptor sē nōndum obtulit.</li>
        <li class="elocutio-entry">Offere sē ... offerre alicui aliquid ... auxilium, operam, spem ... mūnera alicui.</li>
        <li class="elocutio-entry">Ēmī dīmidiō cārius, quam ēmērunt cēterī.</li>
        <li class="elocutio-entry">Pennae mollēs.</li>
        <li class="elocutio-entry">Penna caule amplō; penna cuspide tenuī ... cuspide dūriusculā ... caule nitidō et firmō.</li>
        <li class="elocutio-entry">Penna ūna firmior alterā.</li>
        <li class="elocutio-entry">Tentāre pennam.</li>
        <li class="elocutio-entry">Quot pennās dabis mihi prō obolō? Trēs, octō, trīgintā.</li>
        <li class="elocutio-entry">Emere scalpellum, gladiolum scriptōrium ā mercātōribus.</li>
        <li class="elocutio-entry">Afferre Lutētiā, Rōmā, Lugdūnō Batāvōrum.</li>
        <li class="elocutio-entry">Quasi nesciat Christophorus, frāter tuus, quantī veneat cornū ātrāmentārium.</li>
        <li class="elocutio-entry">Dare operam alicui ... dare operam mercātōrī.</li>
        <li class="elocutio-entry">Dare operam alicui reī ... mūsicae.</li>
        <li class="elocutio-entry">Dare operam Platōnī.</li>
        <li class="elocutio-entry">Haec thēca pennāria, calāmāria empta est Bernae, Lutētiae paucīs nummīs.</li>
        <li class="elocutio-entry">Aliter vīvitur Lutētiae, aliter Genavae.</li>
        <li class="elocutio-entry">Nōn opus est tot verbīs, ubi rērum testimōnia adsunt.</li>
        <li class="elocutio-entry">Quasi vērō fūrātus sim calamōs.</li>
        <li class="elocutio-entry">An mē fūrātum esse putās?</li>
        <li class="elocutio-entry">Putāsne mē digitīs aduncīs ēmisse?</li>
        <li class="elocutio-entry">Vīs dīcam ūnō verbō?</li>
        <li class="elocutio-entry">Accipere pennās prōmiscuē dē manū mercātōris.</li>
        <li class="elocutio-entry">Agere nūgās.</li>
        <li class="elocutio-entry">Accipere sine dēlēctū.</li>
        <li class="elocutio-entry">Per mē licet.</li>
        <li class="elocutio-entry">Revocāre aliquem.</li>
        <li class="elocutio-entry">Accipe, sī vīs octō, nec ā mē plūrēs exspectā.</li>
        <li class="elocutio-entry">Cēdō tōtum fasciculum.</li>
        <li class="elocutio-entry">Dēligere arbitrātū suō.</li>
        <li class="elocutio-entry">Dēlige ut vīs.</li>
        <li class="elocutio-entry">Numerā pennās, sī libet.</li>
        <li class="elocutio-entry">Cōnstat numerus ... accipere pretium.</li>
        <li class="elocutio-entry">Proficīscī domum ... in patriam; Carthāginem, Venetiās.</li>
        <li class="elocutio-entry">Nōn licet mihi hīc diūtius morārī.</li>
        <li class="elocutio-entry">Cūrā, ut valeās.</li>
        <li class="elocutio-entry">Dā operam, ut valeās.</li>
        <li class="elocutio-entry">Valētūdinem tuam cūrā dīligenter.</li>
      </ul>
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains 'files/'" %}
    {% assign neighbors = files | where: "type", "Colloquium" | where: "author", page.author | where: "collection", page.collection | sort: "sequence" %}
    {% assign prev_page = nil %}
    {% assign next_page = nil %}
    {% assign found_current = false %}
    {% for p in neighbors %}
      {% if found_current and next_page == nil %}{% assign next_page = p %}{% endif %}
      {% if p.url == page.url %}{% assign found_current = true %}{% endif %}
      {% if found_current == false %}{% assign prev_page = p %}{% endif %}
    {% endfor %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

  <div class="footer">
    <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
  </div>
</body>