---
title: Latine Loquor - Liber Secundus - Colloquium Quadrāgēsimum Secundum
subtitle: "Eduārdus et Frīderīcus experiuntur ātrāmentī suī mixtūram. Mediocritās. Experientia. Ex duōbus corruptīs aliquid compōnitur."
type: Colloquium
author: Schwieder
collection: Latine Loquor Liber Secundus
topic:
- School
- Games & Recreation
difficulty: Moderate
sequence: '242'
character_count: 2
permalink: /schwieder/latine-loquor-2-42/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
  <link rel="stylesheet" href="/style-reading.css" />

  <script src="/scripts/headroom.min.js"></script>
  <script src="/scripts/common.js"></script>
</head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"><b>Colloquia Latina</b></a>
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Eduārdus, Frīderīcus.
    </div>

    <div class="line-container" id="Eduardus.1">
      <div class="line-character">Eduārdus</div>
      Habēsne bonum ātrāmentum?
    </div>

    <div class="line-container" id="Fridericus.2">
      <div class="line-character">Frīderīcus</div>
      Cūr istud rogās?
    </div>

    <div class="line-container" id="Eduardus.3">
      <div class="line-character">Eduārdus</div>
      Ut mihi dēs aliquantulum.
    </div>

    <div class="line-container" id="Fridericus.4">
      <div class="line-character">Frīderīcus</div>
      Ēhō, nōn habēs?
    </div>

    <div class="line-container" id="Eduardus.5">
      <div class="line-character">Eduārdus</div>
      Immō: sed eō nōn possum scrībere.
    </div>

    <div class="line-container" id="Fridericus.6">
      <div class="line-character">Frīderīcus</div>
      Quid obstat?
    </div>

    <div class="line-container" id="Eduardus.7">
      <div class="line-character">Eduārdus</div>
      Quia nimis spissum est.
    </div>

    <div class="line-container" id="Fridericus.8">
      <div class="line-character">Frīderīcus</div>
      Nescīs dīluere?
    </div>

    <div class="line-container" id="Eduardus.9">
      <div class="line-character">Eduārdus</div>
      Nōn est mihi aqua.
    </div>

    <div class="line-container" id="Fridericus.10">
      <div class="line-character">Frīderīcus</div>
      Dīlue vīnō.
    </div>

    <div class="line-container" id="Eduardus.11">
      <div class="line-character">Eduārdus</div>
      Multō minus.
    </div>

    <div class="line-container" id="Fridericus.12">
      <div class="line-character">Frīderīcus</div>
      Quid sī ācētō dīluās?
    </div>

    <div class="line-container" id="Eduardus.13">
      <div class="line-character">Eduārdus</div>
      Inde charta perflueret.
    </div>

    <div class="line-container" id="Fridericus.14">
      <div class="line-character">Frīderīcus</div>
      Quī scīs?
    </div>

    <div class="line-container" id="Eduardus.15">
      <div class="line-character">Eduārdus</div>
      Audīvī ex magistrō quōdam, quī docēbat mē scrībere.
    </div>

    <div class="line-container" id="Fridericus.16">
      <div class="line-character">Frīderīcus</div>
      Ego vērō aliud audīvī magis mīrum.
    </div>

    <div class="line-container" id="Eduardus.17">
      <div class="line-character">Eduārdus</div>
      Narrā mihi, sōdēs.
    </div>

    <div class="line-container" id="Fridericus.18">
      <div class="line-character">Frīderīcus</div>
      Quid mihi dabis?
    </div>

    <div class="line-container" id="Eduardus.19">
      <div class="line-character">Eduārdus</div>
      Bonum pirum.
    </div>

    <div class="line-container" id="Fridericus.20">
      <div class="line-character">Frīderīcus</div>
      Audī igitur, quod ego didicī ex quōdam paedagōgō meō: Ātrāmentum quod ācētō liquefactum est, aegrē ēluitur.
    </div>

    <div class="line-container" id="Eduardus.21">
      <div class="line-character">Eduārdus</div>
      Fierī potest: sed interim dā mihi paulum in ūsum praesentem.
    </div>

    <div class="line-container" id="Fridericus.22">
      <div class="line-character">Frīderīcus</div>
      Tene ātrāmentārium tuum bene apertum: ego īnfundam tibi.
    </div>

    <div class="line-container" id="Eduardus.23">
      <div class="line-character">Eduārdus</div>
      Ecce, īnfunde. Vah! quam liquidum est.
    </div>

    <div class="line-container" id="Fridericus.24">
      <div class="line-character">Frīderīcus</div>
      Fortasse quia nōn est gummī satis. Sed quam dēcolor.
    </div>

    <div class="line-container" id="Eduardus.25">
      <div class="line-character">Eduārdus</div>
      Ūtere sī vīs eō quāle est: nōn enim habeō melius.
    </div>

    <div class="line-container" id="Fridericus.26">
      <div class="line-character">Frīderīcus</div>
      Quid igitur faciam?
    </div>

    <div class="line-container" id="Eduardus.27">
      <div class="line-character">Eduārdus</div>
      Hem, inepte, nōn potes pennā tuā bene miscēre.
    </div>

    <div class="line-container" id="Fridericus.28">
      <div class="line-character">Frīderīcus</div>
      Miscuī satis: quid possem praetereā?
    </div>

    <div class="line-container" id="Eduardus.29">
      <div class="line-character">Eduārdus</div>
      Īnfunde rūrsus in cornū meum.
    </div>

    <div class="line-container" id="Fridericus.30">
      <div class="line-character">Frīderīcus</div>
      Admove propius, estne satis?
    </div>

    <div class="line-container" id="Eduardus.31">
      <div class="line-character">Eduārdus</div>
      Comprime pennā linteolum.
    </div>

    <div class="line-container" id="Fridericus.32">
      <div class="line-character">Frīderīcus</div>
      Ita compressī, ut ferē sit āridum, quid erit tandem?
    </div>

    <div class="line-container" id="Eduardus.33">
      <div class="line-character">Eduārdus</div>
      Ātrāmentum bonum aut certē mediocre.
    </div>

    <div class="line-container" id="Fridericus.34">
      <div class="line-character">Frīderīcus</div>
      Bona est mediocritātis rēgula, ut ex praeceptōre didicimus. Sed numquid ex duābus malīs rēbus cōnficī potest aliquid bonī?
    </div>

    <div class="line-container" id="Eduardus.35">
      <div class="line-character">Eduārdus</div>
      Ubi miscuerō et tibi rūrsus īnfūderō, vidēbis experīmentum.
    </div>

    <div class="line-container" id="Fridericus.36">
      <div class="line-character">Frīderīcus</div>
      Ārdeō istud videndī dēsīderiō.
    </div>

    <div class="line-container" id="Eduardus.37">
      <div class="line-character">Eduārdus</div>
      Porrige nunc ātrāmentārium tuum.
    </div>

    <div class="line-container" id="Fridericus.38">
      <div class="line-character">Frīderīcus</div>
      Ecce īnfunde; ohe iam satis est: quae istaec est prōfūsiō? plūs mihi dedistī, quam tibi retinuerīs.
    </div>

    <div class="line-container" id="Eduardus.39">
      <div class="line-character">Eduārdus</div>
      Commisce etiam atque etiam.
    </div>

    <div class="line-container" id="Fridericus.40">
      <div class="line-character">Frīderīcus</div>
      Numquam possit coquus sua iūra et condīmenta melius cōnfundere.
    </div>

    <div class="line-container" id="Eduardus.41">
      <div class="line-character">Eduārdus</div>
      Iam tandem facitō perīculum.
    </div>

    <div class="line-container" id="Fridericus.42">
      <div class="line-character">Frīderīcus</div>
      Dictā mihi aliquam sententiam, ut interim discam aliquid.
    </div>

    <div class="line-container" id="Eduardus.43">
      <div class="line-character">Eduārdus</div>
      Experientia, ut vulgō dīcitur, est rērum magistra. Habēs?
    </div>

    <div class="line-container" id="Fridericus.44">
      <div class="line-character">Frīderīcus</div>
      Dictō citius.
    </div>

    <div class="line-container" id="Eduardus.45">
      <div class="line-character">Eduārdus</div>
      Vidēlicet iam prīdem tenēbās.
    </div>

    <div class="line-container" id="Fridericus.46">
      <div class="line-character">Frīderīcus</div>
      Quis illud ignōret, quod est adeō vulgāre?
    </div>

    <div class="line-container" id="Eduardus.47">
      <div class="line-character">Eduārdus</div>
      Nunc videāmus.
    </div>

    <div class="line-container" id="Fridericus.48">
      <div class="line-character">Frīderīcus</div>
      Rēs appārēbit melius, ubi scrīptūra bene dēsiccāta fuerit.
    </div>

    <div class="line-container" id="Eduardus.49">
      <div class="line-character">Eduārdus</div>
      Quid vīs exspectāre? iam sicca est plūs satis.
    </div>

    <div class="line-container" id="Fridericus.50">
      <div class="line-character">Frīderīcus</div>
      Ō, vidē quam nigra sit?
    </div>

    <div class="line-container" id="Eduardus.51">
      <div class="line-character">Eduārdus</div>
      Dīxine vērē?
    </div>

    <div class="line-container" id="Fridericus.52">
      <div class="line-character">Frīderīcus</div>
      Aliquandō perīculum fēcerās scīlicet.
    </div>

    <div class="line-container" id="Eduardus.53">
      <div class="line-character">Eduārdus</div>
      Cōnstābit igitur experientiam esse rērum magistram.
    </div>

    <div class="line-container" id="Fridericus.54">
      <div class="line-character">Frīderīcus</div>
      Quīn etiam hinc experīmur, ex rērum commixtione bonam fierī temperātiōnem.
    </div>

    <div class="line-container" id="Eduardus.55">
      <div class="line-character">Eduārdus</div>
      Iam incipis altius philosophārī, itaque discēdō.
    </div>

    <div class="line-container" id="Fridericus.56">
      <div class="line-character">Frīderīcus</div>
      Ō longum sermōnem dē nihilō!
    </div>

    <div class="line-container" id="Eduardus.57">
      <div class="line-character">Eduārdus</div>
      Nihil mē paenitet: alioquī inertī ōtiō torpēbāmus.
    </div>

    <h2>Ēlocūtiō</h2>
    <div class="elocutio">
      <ul>
        <li class="elocutio-entry">Bonum mihi est ātrāmentum.</li>
        <li class="elocutio-entry">Fuitne vōbīs bona cervīsia?</li>
        <li class="elocutio-entry">Ampulla ātrāmentāria.</li>
        <li class="elocutio-entry">Dā mihi aliquantulum ātrāmentī.</li>
        <li class="elocutio-entry">Ātrāmentō meō nōn possum scrībere, quia nimis spissum est.</li>
        <li class="elocutio-entry">Dīluere ātrāmentum aquā ... ācētō.</li>
        <li class="elocutio-entry">Ātrāmentum dīlūtius est, subinde īnfūsā aquā.</li>
        <li class="elocutio-entry">Īnstillāre in ātrāmentum guttās aliquot aquae, ut sit liquidius.</li>
        <li class="elocutio-entry">Charta perfluit, trānsmittit ātrāmentum.</li>
        <li class="elocutio-entry">Docēre aliquem legere, scrībere.</li>
        <li class="elocutio-entry">Ego audīvī magis mīrum.</li>
        <li class="elocutio-entry">Sciō aliquid novī.</li>
        <li class="elocutio-entry">Narrā mihi sōdēs.</li>
        <li class="elocutio-entry">Ātrāmentum, quod ācētō liquefactum est, aegrē ēluitur.</li>
        <li class="elocutio-entry">Dā mihi paulum ātrāmentī in ūsum praesentem.</li>
        <li class="elocutio-entry">Tene ātrāmentārium tuum bene apertum.</li>
        <li class="elocutio-entry">Īnfundere ātrāmentum in ātrāmentārium ... īnfundere in vās.</li>
        <li class="elocutio-entry">Ātrāmentum liquidum est dēcolor.</li>
        <li class="elocutio-entry">An nōn habēs melius ātrāmentum?</li>
        <li class="elocutio-entry">Miscētō ātrāmentum tuum pennā.</li>
        <li class="elocutio-entry">Admove ātrāmentārium propius.</li>
        <li class="elocutio-entry">Comprime pennā linteolum.</li>
        <li class="elocutio-entry">Numquid ex duābus rēbus malīs cōnficī potest aliquid bonī?</li>
        <li class="elocutio-entry">Ārdeō dēsīderiō videndī parentēs tuōs.</li>
        <li class="elocutio-entry">Porrige mihi ātrāmentārium tuum.</li>
        <li class="elocutio-entry">Indere ātrāmentum in ātrāmentārium.</li>
        <li class="elocutio-entry">Satis est ... satis ātrāmentī, pecūniae.</li>
        <li class="elocutio-entry">Dedistī mihi plūs quam tibi retinuerīs.</li>
        <li class="elocutio-entry">Commiscēre iterum atque iterum.</li>
        <li class="elocutio-entry">Coquus sua iūra et condīmenta cōnfūdit.</li>
        <li class="elocutio-entry">Facere perīculum.</li>
        <li class="elocutio-entry">Dictāre alicui sententiam aliquam.</li>
        <li class="elocutio-entry">Experientia, ut vulgō dīcitur, est rērum magistra.</li>
        <li class="elocutio-entry">Dictāre citius ... lentius.</li>
        <li class="elocutio-entry">Nōn possum assequī praeceptōrem dictantem.</li>
        <li class="elocutio-entry">Scrīptūra dēsiccāta est.</li>
        <li class="elocutio-entry">Scrīptūram recentem pulvere conspergere.</li>
        <li class="elocutio-entry">Scrīptūra sicca est plūs satis.</li>
        <li class="elocutio-entry">Exsiccentur litterae per sē.</li>
        <li class="elocutio-entry">Incipit philosophārī.</li>
        <li class="elocutio-entry">Sermō dē nihilō ... dē lānā caprīnā; dē asinī umbrā.</li>
        <li class="elocutio-entry">Nihil mē huius reī paenitet.</li>
        <li class="elocutio-entry">Paenitebit tē pigritiae tuae.</li>
        <li class="elocutio-entry">Torpēre ōtiō inertī.</li>
      </ul>
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains 'files/'" %}
    {% assign neighbors = files | where: "type", "Colloquium" | where: "author", page.author | where: "collection", page.collection | sort: "sequence" %}
    {% assign prev_page = nil %}
    {% assign next_page = nil %}
    {% assign found_current = false %}
    {% for p in neighbors %}
      {% if found_current and next_page == nil %}{% assign next_page = p %}{% endif %}
      {% if p.url == page.url %}{% assign found_current = true %}{% endif %}
      {% if found_current == false %}{% assign prev_page = p %}{% endif %}
    {% endfor %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

  <div class="footer">
    <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
  </div>
</body>