---
title: Dialogī Familiārēs - Pars Secunda - Dialogus Sextus
subtitle: Repetitiō praelēctiōnis.
type: Colloquium
author: van_torre
collection: Dialogi Familiares Pars Secunda
sequence: '026'
permalink: /van_torre/dialogi-familiares-2-6/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
  <link rel="stylesheet" href="/style-reading.css" />

  <script src="/scripts/headroom.min.js"></script>
  <script src="/scripts/common.js"></script>
</head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"><b>Colloquia Latina</b></a>
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Gabriel, Urbanus, Iacobus, Ferdinandus.
    </div>

    <div class="line-container" id="Gabriel.1">
      <div class="line-character">Gabriel</div>
      Urbāne, tenēsne memoria praelēctiōnem?
    </div>

    <div class="line-container" id="Urbanus.2">
      <div class="line-character">Urbanus</div>
      Propemodum.
    </div>

    <div class="line-container" id="Gabriel.3">
      <div class="line-character">Gabriel</div>
      Vīs ūnā repetāmus?
    </div>

    <div class="line-container" id="Urbanus.4">
      <div class="line-character">Urbanus</div>
      Maximē velim — audiāmus nōs vicissim.
    </div>

    <div class="line-container" id="Gabriel.5">
      <div class="line-character">Gabriel</div>
      Incipe igitur — ego tē corrigam, sī quid errāveris.
    </div>

    <div class="line-container" id="Urbanus.6">
      <div class="line-character">Urbanus</div>
      Fiat — ordiar ā nōminum dēclīnātiōne.
    </div>

    <div class="line-container" id="Gabriel.7">
      <div class="line-character">Gabriel</div>
      Dīc properē. Peccās accentū in ipsō prīncipiō — iterā.
    </div>

    <div class="line-container" id="Gabriel.8">
      <div class="line-character">Gabriel</div>
      Nihilō melius.
    </div>

    <div class="line-container" id="Urbanus.9">
      <div class="line-character">Urbanus</div>
      Mē miserum! Putābam mē tenēre ad āpicem.
    </div>

    <div class="line-container" id="Gabriel.10">
      <div class="line-character">Gabriel</div>
      Aliud est sibī tacitē prōnūntiāre, aliud clārā vōce cōram praeceptōre. Vidēsne tē errāvisse quater?
    </div>

    <div class="line-container" id="Urbanus.11">
      <div class="line-character">Urbanus</div>
      Videō. Vah! quam mē turpiter fefellit memoria!
    </div>

    <div class="line-container" id="Gabriel.12">
      <div class="line-character">Gabriel</div>
      Excutiāmus interpretātiōnem vernāculam tertiae epistulae — et hanc magister praescrīpsit expōnendam.
    </div>

    <div class="line-container" id="Urbanus.13">
      <div class="line-character">Urbanus</div>
      Quandō istud fuit?
    </div>

    <div class="line-container" id="Gabriel.14">
      <div class="line-character">Gabriel</div>
      Diē veneris ā merīdie.
    </div>

    <div class="line-container" id="Urbanus.15">
      <div class="line-character">Urbanus</div>
      At ego tunc nōn interfuī.
    </div>

    <div class="line-container" id="Gabriel.16">
      <div class="line-character">Gabriel</div>
      Ergō plagās meruistī.
    </div>

    <div class="line-container" id="Urbanus.17">
      <div class="line-character">Urbanus</div>
      Siccine cēnsēs, severe iūdex? Occupātus eram domī, nec abfueram iniussū praeceptōris.
    </div>

    <div class="line-container" id="Gabriel.18">
      <div class="line-character">Gabriel</div>
      Estō — sed tamen dēbuit tibī posterō diē quaerere quid prīdie āctum esset.
    </div>

    <div class="line-container" id="Urbanus.19">
      <div class="line-character">Urbanus</div>
      Fateor — cēdō librum tuum, quaesō, ut videam quid nōbīs reddendum sit.
    </div>

    <div class="line-container" id="Gabriel.20">
      <div class="line-character">Gabriel</div>
      Signatō eā dem operā quam praescrīpsit magister praelēctiōnem, et valē — alium mihi adiungam socium quōcum repetam — tēcum tempus absūmō inūtiliter.
    </div>

    <div class="line-container" id="Gabriel.21">
      <div class="line-character">Gabriel</div>
      Iacobe — labōrābō repetere praelēctiōnem.
    </div>

    <div class="line-container" id="Iacobus.22">
      <div class="line-character">Iacobus</div>
      Nōn est mihi nunc ōtium.
    </div>

    <div class="line-container" id="Gabriel.23">
      <div class="line-character">Gabriel</div>
      Quid habēs negōtiī?
    </div>

    <div class="line-container" id="Iacobus.24">
      <div class="line-character">Iacobus</div>
      Lūdendum est.
    </div>

    <div class="line-container" id="Gabriel.25">
      <div class="line-character">Gabriel</div>
      Nōn potēs sēmihōram dētrahere lūdō tuō?
    </div>

    <div class="line-container" id="Iacobus.26">
      <div class="line-character">Iacobus</div>
      Gaudēre cōnsuēvī cūnctā relaxandī animī facultāte — tū studē quantum libet; ego vērō lūdam quamdiu licēbit.
    </div>

    <div class="line-container" id="Gabriel.27">
      <div class="line-character">Gabriel</div>
      Tandem nactus sum sodalem percommosum quōcum repetam. Ferdinande, complecterisne memoriā praelēctiōnem?
    </div>

    <div class="line-container" id="Ferdinandus.28">
      <div class="line-character">Ferdinandus</div>
      Quasi digitōs meōs aut nōmen proprium.
    </div>

    <div class="line-container" id="Gabriel.29">
      <div class="line-character">Gabriel</div>
      Vīsne examīnēmus nōs inter nōs?
    </div>

    <div class="line-container" id="Ferdinandus.30">
      <div class="line-character">Ferdinandus</div>
      Quōrsum istud? Sōlus repetīvī satis — omnia teneō.
    </div>

    <div class="line-container" id="Gabriel.31">
      <div class="line-character">Gabriel</div>
      Tamen ad cōnfirmandam memoriam.
    </div>

    <div class="line-container" id="Ferdinandus.32">
      <div class="line-character">Ferdinandus</div>
      Quid sī praeceptor interveniat? Instat adventus, mēmōre.
    </div>

    <div class="line-container" id="Gabriel.33">
      <div class="line-character">Gabriel</div>
      Scīlicet instat — nōndum est semihōra post prīmam.
    </div>

    <div class="line-container" id="Ferdinandus.34">
      <div class="line-character">Ferdinandus</div>
      Ergō submissā vōce susurrēmus, nē cēnsor nōs notet prō cōnsābulantibus. Tuā agere praeceptōris partēs, ego discipulī.
    </div>

    <div class="line-container" id="Gabriel.35">
      <div class="line-character">Gabriel</div>
      Equidem incipiam — tamen alternābimus vicēs. Coniugā verbum <em>feror</em> in futūrō infīnītī modī.
    </div>

    <div class="line-container" id="Ferdinandus.36">
      <div class="line-character">Ferdinandus</div>
      <em>Lātum irī.</em>
    </div>

    <div class="line-container" id="Gabriel.37">
      <div class="line-character">Gabriel</div>
      Variā.
    </div>

    <div class="line-container" id="Ferdinandus.38">
      <div class="line-character">Ferdinandus</div>
      <em>Ferendum, -am, -um esse.</em>
    </div>

    <div class="line-container" id="Gabriel.39">
      <div class="line-character">Gabriel</div>
      Rēctē. Quem cāsum admittit praepositiō <em>subter</em>?
    </div>

    <div class="line-container" id="Ferdinandus.40">
      <div class="line-character">Ferdinandus</div>
      Accūsātīvum aut ablātīvum.
    </div>

    <div class="line-container" id="Gabriel.41">
      <div class="line-character">Gabriel</div>
      Anne ad libitum et ubīque?
    </div>

    <div class="line-container" id="Ferdinandus.42">
      <div class="line-character">Ferdinandus</div>
      Minimē — sed prō variā signīficātiōne variō casū gaudet.
    </div>

    <div class="line-container" id="Gabriel.43">
      <div class="line-character">Gabriel</div>
      Formā gradum comparātīvum et superlatīvum ā nōmine adjectīvō <em>Malus</em>.
    </div>

    <div class="line-container" id="Ferdinandus.44">
      <div class="line-character">Ferdinandus</div>
      <em>Malus, pēior, pessimus.</em>
    </div>

    <div class="line-container" id="Gabriel.45">
      <div class="line-character">Gabriel</div>
      Est igitur comparātiō anomala?
    </div>

    <div class="line-container" id="Ferdinandus.46">
      <div class="line-character">Ferdinandus</div>
      Est. St, sufficit — praeceptor adest; audiō tussientem — dēsīnāmus, nē putet nōs garrīre.
    </div>


    {% assign files = site.html_pages | where_exp: "p", "p.path contains 'files/'" %}
    {% assign neighbors = files | where: "type", "Colloquium" | where: "author", page.author | where: "collection", page.collection | sort: "sequence" %}
    {% assign prev_page = nil %}
    {% assign next_page = nil %}
    {% assign found_current = false %}
    {% for p in neighbors %}
      {% if found_current and next_page == nil %}{% assign next_page = p %}{% endif %}
      {% if p.url == page.url %}{% assign found_current = true %}{% endif %}
      {% if found_current == false %}{% assign prev_page = p %}{% endif %}
    {% endfor %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

  <div class="footer">
    <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
  </div>
</body>