---
title: Dialogī Familiārēs - Pars Secunda - Dialogus Septimus
subtitle: Obsequia scholastica in vicem praestita.
type: Colloquium
author: van_torre
collection: Dialogi Familiares Pars Secunda
topic:
- School
difficulty: Moderate
sequence: '027'
character_count: 12
permalink: /van_torre/dialogi-familiares-2-7/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
  <link rel="stylesheet" href="/style-reading.css" />

  <script src="/scripts/headroom.min.js"></script>
  <script src="/scripts/common.js"></script>
</head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"><b>Colloquia Latina</b></a>
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Baptista, Andreas, Cēterī.
    </div>

    <div class="line-container" id="Baptista.1">
      <div class="line-character">Baptista</div>
      <div class="line-bilingual">
        <div class="line-left">Quid āctum est in scholā, quam abīeram domum?</div>
        <div class="line-right">Wat isser in schole gheschiedt, daer ick t'huyps was gheghaen?</div>
      </div>
    </div>

    <div class="line-container" id="Andreas.2">
      <div class="line-character">Andreas</div>
      <div class="line-bilingual">
        <div class="line-left">Interpretātus est praeceptor epistulās Cicerōnis — deinceps dictāvit argūmentum scrīptiōnis hodiē vertendum.</div>
        <div class="line-right">Den meester heeft de brieven van Cicero uyt gheleyt: daer naer heeft hy ghedicteert de materie van den thema, om van daghe over te setten.</div>
      </div>
    </div>

    <div class="line-container" id="Baptista.3">
      <div class="line-character">Baptista</div>
      <div class="line-bilingual">
        <div class="line-left">Quandō reddendum?</div>
        <div class="line-right">Wanneer moet hy ghegheven zijn?</div>
      </div>
    </div>

    <div class="line-container" id="Andreas.4">
      <div class="line-character">Andreas</div>
      <div class="line-bilingual">
        <div class="line-left">Perendiē māne.</div>
        <div class="line-right">Over-morghen s'morgens.</div>
      </div>
    </div>

    <div class="line-container" id="Baptista.5">
      <div class="line-character">Baptista</div>
      <div class="line-bilingual">
        <div class="line-left">Iamne vertistī?</div>
        <div class="line-right">Hebt ghp t'al-ree over gheset t?</div>
      </div>
    </div>

    <div class="line-container" id="Andreas.6">
      <div class="line-character">Andreas</div>
      <div class="line-bilingual">
        <div class="line-left">Nōndum etiam omnīnō, sed bonam partem.</div>
        <div class="line-right">Noch t'eenemael niet, maer een goet deel.</div>
      </div>
    </div>

    <div class="line-container" id="Baptista.7">
      <div class="line-character">Baptista</div>
      <div class="line-bilingual">
        <div class="line-left">Dictā mihi, quaesō, vernāculum.</div>
        <div class="line-right">Dicteert mp, bidde ick u, het duytsch.</div>
      </div>
    </div>

    <div class="line-container" id="Andreas.8">
      <div class="line-character">Andreas</div>
      <div class="line-bilingual">
        <div class="line-left">Quaere tibī alium quī dictēt — nunc ego tibī nōn possum operam dare.</div>
        <div class="line-right">Soeckt u een ander die 't u dictere: ick en kan u niet helpen.</div>
      </div>
    </div>

    <div class="line-container" id="Baptista.9">
      <div class="line-character">Baptista</div>
      <div class="line-bilingual">
        <div class="line-left">Cūr nōn?</div>
        <div class="line-right">Waerom niet?</div>
      </div>
    </div>

    <div class="line-container" id="Andreas.10">
      <div class="line-character">Andreas</div>
      <div class="line-bilingual">
        <div class="line-left">Est mihi aliud negōtium, idque pernecessārium.</div>
        <div class="line-right">Ick hebbe wat anders te doen, ende dat nootsaeckelijck is.</div>
      </div>
    </div>

    <div class="line-container" id="Baptista.11">
      <div class="line-character">Baptista</div>
      <div class="line-bilingual">
        <div class="line-left">Nōlō tē urgēre — sed saltem commodā mihi tua adversāria.</div>
        <div class="line-right">Ick en wil u niet pramen: maer leent mp ten minsten uwen schrijf-boeck.</div>
      </div>
    </div>

    <div class="line-container" id="Andreas.12">
      <div class="line-character">Andreas</div>
      <div class="line-bilingual">
        <div class="line-left">Accipe, ūtere ut libet, modō nē abutāre.</div>
        <div class="line-right">Neemt hem, ghebzuyckt hem foo 't u lust, overmits dat ghp hem niet en miusbruyckt.</div>
      </div>
    </div>

    <div class="line-container" id="Baptista.13">
      <div class="line-character">Baptista</div>
      <div class="line-bilingual">
        <div class="line-left">Nē verēre.</div>
        <div class="line-right">En zijt daer voor niet bevreest.</div>
      </div>
    </div>

    <div class="line-container" id="Andreas.14">
      <div class="line-character">Andreas</div>
      <div class="line-bilingual">
        <div class="line-left">Sēriōne scrībis, an tū nugās agis, Vincentiī?</div>
        <div class="line-right">Schrijft ghp voor goet oft geckter mede, Vincenti?</div>
      </div>
    </div>

    <div class="line-container" id="Vincentius.15">
      <div class="line-character">Vincentius</div>
      <div class="line-bilingual">
        <div class="line-left">Equidem scrībō sēriō — sed quōrsum id rogās?</div>
        <div class="line-right">Jae ick schrijve voor goet: maer waer toe haeght ge dat?</div>
      </div>
    </div>

    <div class="line-container" id="Andreas.16">
      <div class="line-character">Andreas</div>
      <div class="line-bilingual">
        <div class="line-left">Fuit, cum ēlegantius pīngērēs. En litterās! Aeque scitē gallus gallīnāceus scalperet unguibus.</div>
        <div class="line-right">Ghp pleeght beter te schrijven. Diet wat letters! Fenen haen soude foo wel met zijn pooten crabben.</div>
      </div>
    </div>

    <div class="line-container" id="Vincentius.17">
      <div class="line-character">Vincentius</div>
      <div class="line-bilingual">
        <div class="line-left">Deest mihi calamus accommodus — dā mihi, obsecrō, ūnicam pennam.</div>
        <div class="line-right">My ghebzeckt een goede penne: gheeft my, bidde ick u, een penne.</div>
      </div>
    </div>

    <div class="line-container" id="Andreas.18">
      <div class="line-character">Andreas</div>
      <div class="line-bilingual">
        <div class="line-left">Nōn sīc dantur mihi.</div>
        <div class="line-right">Sp en worden mp foo niet ghegheven.</div>
      </div>
    </div>

    <div class="line-container" id="Vincentius.19">
      <div class="line-character">Vincentius</div>
      <div class="line-bilingual">
        <div class="line-left">Nōlō mihi dōnēs, sed commodatō.</div>
        <div class="line-right">Ick en wil niet dat ghp se my schenct, maer leentse mp.</div>
      </div>
    </div>

    <div class="line-container" id="Andreas.20">
      <div class="line-character">Andreas</div>
      <div class="line-bilingual">
        <div class="line-left">Sunt mihi tantum duae.</div>
        <div class="line-right">Ick en hebbeer maer twee.</div>
      </div>
    </div>

    <div class="line-container" id="Vincentius.21">
      <div class="line-character">Vincentius</div>
      <div class="line-bilingual">
        <div class="line-left">Ūnam mihi commodā per amīcitiam nostram.</div>
        <div class="line-right">Leent mp een om onse vrientschap.</div>
      </div>
    </div>

    <div class="line-container" id="Andreas.22">
      <div class="line-character">Andreas</div>
      <div class="line-bilingual">
        <div class="line-left">Amīcōrum omnia sunt commūnia. En tibī calamum longō et firmō caule.</div>
        <div class="line-right">Dviendens goet is al ghemeyn. Diet, daer is een penne met een langhe ende stijve schacht.</div>
      </div>
    </div>

    <div class="line-container" id="Vincentius.23">
      <div class="line-character">Vincentius</div>
      <div class="line-bilingual">
        <div class="line-left">Reddām tibī statim, cum scrīptūram dēscrīpserō.</div>
        <div class="line-right">Ack sal se dadelijck wederom gheben, als ick mijnen thema sal uyt gheschreven hebben.</div>
      </div>
    </div>

    <div class="line-container" id="Andreas.24">
      <div class="line-character">Andreas</div>
      <div class="line-bilingual">
        <div class="line-left">Nōlō mihi reddās.</div>
        <div class="line-right">Ick en wil niet dat ghp se weer gheeft.</div>
      </div>
    </div>

    <div class="line-container" id="Vincentius.25">
      <div class="line-character">Vincentius</div>
      <div class="line-bilingual">
        <div class="line-left">Quid igitur faciam?</div>
        <div class="line-right">Wat sal icker dan mede doen?</div>
      </div>
    </div>

    <div class="line-container" id="Andreas.26">
      <div class="line-character">Andreas</div>
      <div class="line-bilingual">
        <div class="line-left">Quidquid volēs — ā mē enim tibī dōnō dātur.</div>
        <div class="line-right">Al dat ghp wilt: want ick ghevetse u voor niet.</div>
      </div>
    </div>

    <div class="line-container" id="Vincentius.27">
      <div class="line-character">Vincentius</div>
      <div class="line-bilingual">
        <div class="line-left">Grātiam habeō maximam.</div>
        <div class="line-right">Ick bedancke u seer.</div>
      </div>
    </div>

    <div class="line-container" id="Aegidius.28">
      <div class="line-character">Aegidius</div>
      <div class="line-bilingual">
        <div class="line-left">Quaesō, Ālarde, ut parēs mihi pennam hanc.</div>
        <div class="line-right">Ick bidde u, Maerde, snijdt mp die penne eens.</div>
      </div>
    </div>

    <div class="line-container" id="Alardus.29">
      <div class="line-character">Alardus</div>
      <div class="line-bilingual">
        <div class="line-left">Nōn habeō scalpellum scrīptōrium.</div>
        <div class="line-right">Ick en hebbe gheen penne-mesken.</div>
      </div>
    </div>

    <div class="line-container" id="Aegidius.30">
      <div class="line-character">Aegidius</div>
      <div class="line-bilingual">
        <div class="line-left">Peram mūtuum ab Antōniō.</div>
        <div class="line-right">Ick sal 't ontleenen van Antonius.</div>
      </div>
    </div>

    <div class="line-container" id="Alardus.31">
      <div class="line-character">Alardus</div>
      <div class="line-bilingual">
        <div class="line-left">Vade.</div>
        <div class="line-right">Gaet.</div>
      </div>
    </div>

    <div class="line-container" id="Aegidius.32">
      <div class="line-character">Aegidius</div>
      <div class="line-bilingual">
        <div class="line-left">Antōnī, dā mihi mūtuum tantisper scalpellum tuum.</div>
        <div class="line-right">Antoni, leent my een luttel u penne mesken.</div>
      </div>
    </div>

    <div class="line-container" id="Antōnius.33">
      <div class="line-character">Antōnius</div>
      <div class="line-bilingual">
        <div class="line-left">Scīlicet, ut magister ēripiat, sī tē ūtentem dēprehenderit.</div>
        <div class="line-right">Jae, om dat het den meester soude af-nemen, betrapt hy u t'selve ghebruyckende.</div>
      </div>
    </div>

    <div class="line-container" id="Aegidius.34">
      <div class="line-character">Aegidius</div>
      <div class="line-bilingual">
        <div class="line-left">Ūtar clanculō sub palliō.</div>
        <div class="line-right">Ick sal 't heymelijck onder mijnen mantel ghebzuycken.</div>
      </div>
    </div>

    <div class="line-container" id="Antōnius.35">
      <div class="line-character">Antōnius</div>
      <div class="line-bilingual">
        <div class="line-left">Habē tibī — tamen tuō perīculō.</div>
        <div class="line-right">Neemthet nochtans op u periyyckel.</div>
      </div>
    </div>

    <div class="line-container" id="Aegidius.36">
      <div class="line-character">Aegidius</div>
      <div class="line-bilingual">
        <div class="line-left">Omne in mē perīculum trānsfero.</div>
        <div class="line-right">Ick neme al t'periyyckel op mp.</div>
      </div>
    </div>

    <div class="line-container" id="Antōnius.37">
      <div class="line-character">Antōnius</div>
      <div class="line-bilingual">
        <div class="line-left">Hāc lēge ā mē auferēs, ut, sī praeceptor tē spoliet, persolvās pretium.</div>
        <div class="line-right">Op die conditie, sult ghp het van mp ontfanghen: taelen, ist dat het den meester u afneemt.</div>
      </div>
    </div>

    <div class="line-container" id="Aegidius.38">
      <div class="line-character">Aegidius</div>
      <div class="line-bilingual">
        <div class="line-left">Omnīnō hāc lēge. En scalpellum, Ālarde.</div>
        <div class="line-right">Jae, op die conditie. Maerde, siet daer is een mesken.</div>
      </div>
    </div>

    <div class="line-container" id="Alardus.39">
      <div class="line-character">Alardus</div>
      <div class="line-bilingual">
        <div class="line-left">Huī! quam obtusum!</div>
        <div class="line-right">Tets! hoe bot is het!</div>
      </div>
    </div>

    <div class="line-container" id="Aegidius.40">
      <div class="line-character">Aegidius</div>
      <div class="line-bilingual">
        <div class="line-left">Age, expedī, priusquam magister superveniat.</div>
        <div class="line-right">Wel aen: maeckt ghedaen, voor dat den meester ter naer ganck comt.</div>
      </div>
    </div>

    <div class="line-container" id="Alardus.41">
      <div class="line-character">Alardus</div>
      <div class="line-bilingual">
        <div class="line-left">Utrum amās scrībere cuspide dūriusculā an molliōre?</div>
        <div class="line-right">Schrijft ghp liever met eenen herten, ofte saechten beck?</div>
      </div>
    </div>

    <div class="line-container" id="Aegidius.42">
      <div class="line-character">Aegidius</div>
      <div class="line-bilingual">
        <div class="line-left">Attemperā ad manum tuam.</div>
        <div class="line-right">Snydt hem naer uwe handt.</div>
      </div>
    </div>

    <div class="line-container" id="Alardus.43">
      <div class="line-character">Alardus</div>
      <div class="line-bilingual">
        <div class="line-left">Ego molliōre ūtī soleō.</div>
        <div class="line-right">Ick schrijve met eenen saechten beck.</div>
      </div>
    </div>

    <div class="line-container" id="Aegidius.44">
      <div class="line-character">Aegidius</div>
      <div class="line-bilingual">
        <div class="line-left">Habeō alterum calamum tenui cuspide — parā nunc mūcrōne crassiōre.</div>
        <div class="line-right">Ick hebbe een fijne penne: maeckt dese wat grover.</div>
      </div>
    </div>

    <div class="line-container" id="Alardus.45">
      <div class="line-character">Alardus</div>
      <div class="line-bilingual">
        <div class="line-left">Incommodum aliēnam semper operam ēmendicāre aptandīs calamīs — addisce ipse artem parandī.</div>
        <div class="line-right">T'Is ongherieffe lijck een anders hulpe altoos te bedelen om pennen te versnijden: leert selve de conste van te versnijden.</div>
      </div>
    </div>

    <div class="line-container" id="Aegidius.46">
      <div class="line-character">Aegidius</div>
      <div class="line-bilingual">
        <div class="line-left">Tentāvī frequenter — oleum et operam perdō.</div>
        <div class="line-right">Ick hebbe 't dickwils beproeft: t'is moepte verloren.</div>
      </div>
    </div>

    <div class="line-container" id="Alardus.47">
      <div class="line-character">Alardus</div>
      <div class="line-bilingual">
        <div class="line-left">Nūllīus est negōtiī. En sīc rescindō utrīmque caput. Tum in superiōre parte incīsūram faciō scalpellō sensim ductō — posteā exacuō in cuspidem. Agē, profer ātrāmentum — intinge calamum, et perīculum fac, an sit accommodus.</div>
        <div class="line-right">T'Is licht om doen: siet, foo snijde ick van alle beyde de kanten 't sop af. Dan marckt ick een strael in de boven-ande allenskens doan-trecckende het penne-mes: Daer naer scherp ickse. Wel aen, brenght voort uwen inck: steecht daer u penne in, en proest oft sp goet is.</div>
      </div>
    </div>

    <div class="line-container" id="Aegidius.48">
      <div class="line-character">Aegidius</div>
      <div class="line-bilingual">
        <div class="line-left">Exarābō nōmen tuum, ut referam grātiam.</div>
        <div class="line-right">Ich sal uwen naem schrijven, om te bedancken.</div>
      </div>
    </div>

    <div class="line-container" id="Alardus.49">
      <div class="line-character">Alardus</div>
      <div class="line-bilingual">
        <div class="line-left">Phuī! Litūrās vērius effingis quam litterās.</div>
        <div class="line-right">Foep! Ghp maecht eer cladden als letters.</div>
      </div>
    </div>

    <div class="line-container" id="Aegidius.50">
      <div class="line-character">Aegidius</div>
      <div class="line-bilingual">
        <div class="line-left">Adhaerēbat crēnae fibra aliqua vel flocculus — dēbuissem dēmere.</div>
        <div class="line-right">Daer hinct een haptshen, oft fierlien aende strael: ick haddet moeten wegh nemen.</div>
      </div>
    </div>

    <div class="line-container" id="Alardus.51">
      <div class="line-character">Alardus</div>
      <div class="line-bilingual">
        <div class="line-left">Sciō unde adhaerēscat — cēdō; aliquantum rescindām ē pennae cuspide: alicubī adunca est. Nunc experīre.</div>
        <div class="line-right">Ich weet wel waer van dat tet aanhanght: gheeft hier: ick sal een luttel van den beck afsnijden: hy is erghens haecichtigh. Proeft nu.</div>
      </div>
    </div>

    <div class="line-container" id="Aegidius.52">
      <div class="line-character">Aegidius</div>
      <div class="line-bilingual">
        <div class="line-left">Est calamus ēgregiē habilis — agō tibī, quantās possum, grātiās.</div>
        <div class="line-right">T'Is een seer goede penne: ich bedancke u seer.</div>
      </div>
    </div>

    <div class="line-container" id="Carolus.53">
      <div class="line-character">Carolus</div>
      <div class="line-bilingual">
        <div class="line-left">Quis commodābit mihi dimidiātum chartae folium — obsecrō tē, Damiāne?</div>
        <div class="line-right">Wie sal my een half bladt papiers leenen? ick bidde u, Damiane.</div>
      </div>
    </div>

    <div class="line-container" id="Damiānus.54">
      <div class="line-character">Damiānus</div>
      <div class="line-bilingual">
        <div class="line-left">Habeō folium ūnicum, sed ipse egeō.</div>
        <div class="line-right">Ick hebbe een bladt: maer ich hebbe t'selve van doen.</div>
      </div>
    </div>

    <div class="line-container" id="Carolus.55">
      <div class="line-character">Carolus</div>
      <div class="line-bilingual">
        <div class="line-left">Tibī alterum dimidium servā — alterum dimidium sufficiet mihi.</div>
        <div class="line-right">Vout d'een helft voor u; d'ander helft sal voor mp ghenoech zijn.</div>
      </div>
    </div>

    <div class="line-container" id="Damiānus.56">
      <div class="line-character">Damiānus</div>
      <div class="line-bilingual">
        <div class="line-left">Revelle ex cōdice tuō compāctō chartam vacuam.</div>
        <div class="line-right">Scheurt uyt uwen ghebonden schrijf-boeck schoon papier.</div>
      </div>
    </div>

    <div class="line-container" id="Carolus.57">
      <div class="line-character">Carolus</div>
      <div class="line-bilingual">
        <div class="line-left">Nōn facerō — inde sensim compāctiō dissolvitur et liber membratim discerpitur.</div>
        <div class="line-right">Icht en sal het niet doen. Door ont-gardt allenskens den bandt, ende den borch wort by stucken ghescheurt.</div>
      </div>
    </div>

    <div class="line-container" id="Damiānus.58">
      <div class="line-character">Damiānus</div>
      <div class="line-bilingual">
        <div class="line-left">Sufficitne tibī hoc frustulum?</div>
        <div class="line-right">Is dit stucksken u ghennoegh?</div>
      </div>
    </div>

    <div class="line-container" id="Carolus.59">
      <div class="line-character">Carolus</div>
      <div class="line-bilingual">
        <div class="line-left">Hūl! Nōn capiet sex versūs, ex meīs praesertim.</div>
        <div class="line-right">Wat soud't! ick en sal der gheen ses regels connen op schrijven, van de mijne principalijck.</div>
      </div>
    </div>

    <div class="line-container" id="Damiānus.60">
      <div class="line-character">Damiānus</div>
      <div class="line-bilingual">
        <div class="line-left">Scrībe in utrāque papȳrī facie, et dūc versūs dēnsiōrēs — quid necesse habēs tam magna interstitiā relinquere?</div>
        <div class="line-right">Schrijft over alle beyde canten van 't papier, en maeckt de regels nauwer bp malcanderen: waerom moet ghp foo groote plaetse tusschen laeten?</div>
      </div>
    </div>

    <div class="line-container" id="Carolus.61">
      <div class="line-character">Carolus</div>
      <div class="line-bilingual">
        <div class="line-left">Egō id faciō — vīx intervallum est ūllum; nam litterae sēsē utrīmque attingunt. Et vērō quid tū nōs īnstruās? Nōlim scrībere ad exemplar suum. En ut pravōs versūs dūcis!</div>
        <div class="line-right">Doe ich dat: daer en is qualijck gheen plaetse tusschen; want de letters malcanderen van alle beyde kanten raecken. En siet eens, wie daer ons wilt leeren: ich en soude naer u gheschrift niet willen schrijven. Diet hae cromme regels dat ghp maeckt.</div>
      </div>
    </div>

    <div class="line-container" id="Damiānus.62">
      <div class="line-character">Damiānus</div>
      <div class="line-bilingual">
        <div class="line-left">Scrībe tū seōrsum, et tace.</div>
        <div class="line-right">Schrijft ghp daer alleen, en swijght.</div>
      </div>
    </div>

    <div class="line-container" id="Franciscus.63">
      <div class="line-character">Franciscus</div>
      <div class="line-bilingual">
        <div class="line-left">Estne tibī bonum ātrāmentum, Dionȳsī?</div>
        <div class="line-right">Hebt ghp goeden inck, Dionysī?</div>
      </div>
    </div>

    <div class="line-container" id="Dionȳsius.64">
      <div class="line-character">Dionȳsius</div>
      <div class="line-bilingual">
        <div class="line-left">Cūr id rogās?</div>
        <div class="line-right">Waerom vraeghe ghp dat?</div>
      </div>
    </div>

    <div class="line-container" id="Franciscus.65">
      <div class="line-character">Franciscus</div>
      <div class="line-bilingual">
        <div class="line-left">Ut mihi dēs aliquantulum dē superfluō.</div>
        <div class="line-right">Op dat ghp my een luttel van den overloop sout gheven.</div>
      </div>
    </div>

    <div class="line-container" id="Dionȳsius.66">
      <div class="line-character">Dionȳsius</div>
      <div class="line-bilingual">
        <div class="line-left">Numquam nōn tibī aliquid dēsit — dīc quid est scholasticus sine calamō et ātrāmentō?</div>
        <div class="line-right">Daer ghebrecht u altoos wat: seght, wat is een student sonder penne, en inck?</div>
      </div>
    </div>

    <div class="line-container" id="Franciscus.67">
      <div class="line-character">Franciscus</div>
      <div class="line-bilingual">
        <div class="line-left">Quod miles sine clypeō et gladiō. Fateor — sed in posterum īnstrūctus veniam; nunc dā mihi pauxillum in praesentem ūsum.</div>
        <div class="line-right">Dat is eenen soldaet sonder schildt en sweerdt. Ich bekenne 't: maer voortan sal ick voorsien komen: gheeft my nu een lutshen om nu te ghebruychen.</div>
      </div>
    </div>

    <div class="line-container" id="Dionȳsius.68">
      <div class="line-character">Dionȳsius</div>
      <div class="line-bilingual">
        <div class="line-left">Sed ātrāmentum meum īnstar līmī crassum est — haeret in summā crēnā nec dēfluit.</div>
        <div class="line-right">Maer mijnen inck is dich als slijck: hy blijft inden beck, ende en bloept niet af.</div>
      </div>
    </div>

    <div class="line-container" id="Franciscus.69">
      <div class="line-character">Franciscus</div>
      <div class="line-bilingual">
        <div class="line-left">Dīluās acētō.</div>
        <div class="line-right">Dunt hem met azijn.</div>
      </div>
    </div>

    <div class="line-container" id="Dionȳsius.70">
      <div class="line-character">Dionȳsius</div>
      <div class="line-bilingual">
        <div class="line-left">Nōn est mihi acētum ad manum.</div>
        <div class="line-right">Ick en hebbe hier gheenen azijn ter handt.</div>
      </div>
    </div>

    <div class="line-container" id="Franciscus.71">
      <div class="line-character">Franciscus</div>
      <div class="line-bilingual">
        <div class="line-left">Cēdō — ībō ad antliam; īnstillābō guttās aliquot aquae.</div>
        <div class="line-right">Gheeft mp: ick sal naer de pompe gaen; ick sal der een t'hoe beel druppelen waters in gheeten.</div>
      </div>
    </div>

    <div class="line-container" id="Dionȳsius.72">
      <div class="line-character">Dionȳsius</div>
      <div class="line-bilingual">
        <div class="line-left">Perīculum est, nē inde charta perfluat.</div>
        <div class="line-right">T'Is periyyckel dat et papier daer van deur sal slaen.</div>
      </div>
    </div>

    <div class="line-container" id="Franciscus.73">
      <div class="line-character">Franciscus</div>
      <div class="line-bilingual">
        <div class="line-left">Quid refert? Nōn scrībimus aeternitātī.</div>
        <div class="line-right">Wat is daer aen gheleghen? Wp en schrijven niet om eeuwigh te dueren.</div>
      </div>
    </div>

    <div class="line-container" id="Dionȳsius.74">
      <div class="line-character">Dionȳsius</div>
      <div class="line-bilingual">
        <div class="line-left">Vah! Nimium īnfūdistī — vidē, quaesō, quam dīlūtum — īnstar est aquae.</div>
        <div class="line-right">Foep! Ghp hebber te veel in gheghooten: siet daer eens, hoe bleeck: hy is ghelijck water.</div>
      </div>
    </div>

    <div class="line-container" id="Franciscus.75">
      <div class="line-character">Franciscus</div>
      <div class="line-bilingual">
        <div class="line-left">Quale, quale — erit mihi ūsuī. Īnfunde.</div>
        <div class="line-right">Doe dat hy is oft niet, hy sal my dienen: stot in.</div>
      </div>
    </div>

    <div class="line-container" id="Dionȳsius.76">
      <div class="line-character">Dionȳsius</div>
      <div class="line-bilingual">
        <div class="line-left">Porrige ātrāmentī cornū apertum.</div>
        <div class="line-right">Strecht uyt uwen inck-pot open.</div>
      </div>
    </div>

    <div class="line-container" id="Franciscus.77">
      <div class="line-character">Franciscus</div>
      <div class="line-bilingual">
        <div class="line-left">Īnfunde plūsculum.</div>
        <div class="line-right">Storter noch wat meer in.</div>
      </div>
    </div>

    <div class="line-container" id="Dionȳsius.78">
      <div class="line-character">Dionȳsius</div>
      <div class="line-bilingual">
        <div class="line-left">Deprime gossypium calamō tuō — aliōquīn redundābit atque efflūet.</div>
        <div class="line-right">Douwt den cattoen neder met u penne: 't sal anders overloopen.</div>
      </div>
    </div>

    <div class="line-container" id="Franciscus.79">
      <div class="line-character">Franciscus</div>
      <div class="line-bilingual">
        <div class="line-left">Satis — quaenam haec est profūsiō? Plūs dedistī mihi quam tibī retinuistī. Agō tibī grātiās — referam, cum et tū egēbis.</div>
        <div class="line-right">Ghennoegh: wat overdaet is dit? Ghp hebt mp weer ghegheven, als ghp voor u ghehoudenhebt. Ich bedancke u: ich sal 't u verghelden, als ghp het oock van doen sult hebben.</div>
      </div>
    </div>

    <div class="line-container" id="Dionȳsius.80">
      <div class="line-character">Dionȳsius</div>
      <div class="line-bilingual">
        <div class="line-left">Ūtere commodō tuō.</div>
        <div class="line-right">Ghebzuychet naer u ghemach.</div>
      </div>
    </div>

    <div class="line-container" id="Gaspar.81">
      <div class="line-character">Gaspar</div>
      <div class="line-bilingual">
        <div class="line-left">Nemne arēnam habet ad manum?</div>
        <div class="line-right">Heefter niemandt sant by hem?</div>
      </div>
    </div>

    <div class="line-container" id="Columbus.82">
      <div class="line-character">Columbus</div>
      <div class="line-bilingual">
        <div class="line-left">Habeō, sed perparum.</div>
        <div class="line-right">Ick hebbet, maer seer luttel.</div>
      </div>
    </div>

    <div class="line-container" id="Gaspar.83">
      <div class="line-character">Gaspar</div>
      <div class="line-bilingual">
        <div class="line-left">Ōrō tē, scrīptūram meam consperge modicō pulvere? Invertenda est pāgina — cōnfundentur litterae litūrīs.</div>
        <div class="line-right">Ick bidde u, smijt een luttel op mijn gheschrift: ick moet omheeren; de letters sullen cladden.</div>
      </div>
    </div>

    <div class="line-container" id="Columbus.84">
      <div class="line-character">Columbus</div>
      <div class="line-bilingual">
        <div class="line-left">Interfere chartam bibulam.</div>
        <div class="line-right">Steecht er cladt-papier tusschen.</div>
      </div>
    </div>

    <div class="line-container" id="Gaspar.85">
      <div class="line-character">Gaspar</div>
      <div class="line-bilingual">
        <div class="line-left">Aeque in prōmptū est mihi.</div>
        <div class="line-right">D'een is my foo by als d'ander.</div>
      </div>
    </div>

    <div class="line-container" id="Columbus.86">
      <div class="line-character">Columbus</div>
      <div class="line-bilingual">
        <div class="line-left">Pulverem abrādās dē pariete.</div>
        <div class="line-right">Schrabt wat van de muer.</div>
      </div>
    </div>

    <div class="line-container" id="Gaspar.87">
      <div class="line-character">Gaspar</div>
      <div class="line-bilingual">
        <div class="line-left">Nefās est scalpendō dēturpāre scholae parietēs. Quid cūnctāris? Īnsperge pauxillum dē thecā tuā arēnāriā. Attentus es nimium ad rem nihilī — arēnā quid est vīlius?</div>
        <div class="line-right">Men magh met afschrabbende de muren van de schole niet bederven. Wat wacht ghp? Siroopt een luttel daer over uyt uwen sant-looper. Ghp siet te seer op niet met alle, wat isser slechter als sant?</div>
      </div>
    </div>

    <div class="line-container" id="Columbus.88">
      <div class="line-character">Columbus</div>
      <div class="line-bilingual">
        <div class="line-left">Nihil — vērum ad lītus maris, ubi eius est cōpia. Tamen, quia nostrēs, plicā librum, et excipe.</div>
        <div class="line-right">Diet, maer aen de kant van de zee, daer het ghennoegh is. Nochtans, om dat ghp mijn cameraet zijt, doet uwen boeck open, en neemter.</div>
      </div>
    </div>

    <div class="line-container" id="Gaspar.89">
      <div class="line-character">Gaspar</div>
      <div class="line-bilingual">
        <div class="line-left">Referam vicēs, cum opus tibī fuerit. Quid videō? Iamne nunc dēscrīpsistī integrum scrīptiōnis argūmentum?</div>
        <div class="line-right">Ick sal oock foo veel doen, als ghp 't van doen sult hebben. Wat sie ich? Hebt ghp van nu af uwen gheheelen thema uyt-gheschreven?</div>
      </div>
    </div>

    <div class="line-container" id="Columbus.90">
      <div class="line-character">Columbus</div>
      <div class="line-bilingual">
        <div class="line-left">Dēscrīpsī.</div>
        <div class="line-right">Jae ich.</div>
      </div>
    </div>

    <div class="line-container" id="Gaspar.91">
      <div class="line-character">Gaspar</div>
      <div class="line-bilingual">
        <div class="line-left">Utinam mihi essent articulī tam celerēs — equidem perquam tardē scrībō.</div>
        <div class="line-right">Och oft ick foo goude vingers hadde: voor mp, ich schrijve heel traegh.</div>
      </div>
    </div>

    <div class="line-container" id="Columbus.92">
      <div class="line-character">Columbus</div>
      <div class="line-bilingual">
        <div class="line-left">Quī potēs dictantis vōcem scrībendō assequī?</div>
        <div class="line-right">Voe hont ghp volghen, als den meester dicteert?</div>
      </div>
    </div>

    <div class="line-container" id="Gaspar.93">
      <div class="line-character">Gaspar</div>
      <div class="line-bilingual">
        <div class="line-left">Aegrē admodum.</div>
        <div class="line-right">Qualijck ghenoech.</div>
      </div>
    </div>

    <div class="line-container" id="Columbus.94">
      <div class="line-character">Columbus</div>
      <div class="line-bilingual">
        <div class="line-left">Quid obstat?</div>
        <div class="line-right">Wat belet u?</div>
      </div>
    </div>

    <div class="line-container" id="Gaspar.95">
      <div class="line-character">Gaspar</div>
      <div class="line-bilingual">
        <div class="line-left">Ego met mihi — nam prīmō mihi cūra est, ut bene scrībam; proxima, ut celeriter: <em>sat citō, sī sat bene.</em></div>
        <div class="line-right">Ich mp selven: want mijn eerste sorghe is wel te schrijven: daer naer rap: haest ghenoech, ist wel ghenoech.</div>
      </div>
    </div>

    <div class="line-container" id="Columbus.96">
      <div class="line-character">Columbus</div>
      <div class="line-bilingual">
        <div class="line-left">Belle — sed istam cantilēnam cane praeceptōrī, cum dictat: <em>sat citō, sī sat bene.</em></div>
        <div class="line-right">Fraep: maer singht dat liedchen den meester eens, als hy dicteert: haest ghenoech, ist wel ghenoech.</div>
      </div>
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains 'files/'" %}
    {% assign neighbors = files | where: "type", "Colloquium" | where: "author", page.author | where: "collection", page.collection | sort: "sequence" %}
    {% assign prev_page = nil %}
    {% assign next_page = nil %}
    {% assign found_current = false %}
    {% for p in neighbors %}
      {% if found_current and next_page == nil %}{% assign next_page = p %}{% endif %}
      {% if p.url == page.url %}{% assign found_current = true %}{% endif %}
      {% if found_current == false %}{% assign prev_page = p %}{% endif %}
    {% endfor %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

  <div class="footer">
    <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
  </div>
</body>