---
title: Dialogī Familiārēs - Pars Secunda - Dialogus Octāvus
subtitle: Rogātur varia facultās ēgredientī scholā.
type: Colloquium
author: van_torre
collection: Dialogi Familiares Pars Secunda
sequence: '028'
permalink: /van_torre/dialogi-familiares-2-8/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
  <link rel="stylesheet" href="/style-reading.css" />

  <script src="/scripts/headroom.min.js"></script>
  <script src="/scripts/common.js"></script>
</head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"><b>Colloquia Latina</b></a>
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Praeceptor, Discipulus.
    </div>

    <div class="line-container" id="Godefridus.1">
      <div class="line-character">Godefridus</div>
      Licetne per vestram Reverentiāem, Praeceptor, ut ego et patrūēlis meus eāmus domum?
    </div>

    <div class="line-container" id="Praeceptor.2">
      <div class="line-character">Praeceptor</div>
      Quid eō?
    </div>

    <div class="line-container" id="Godefridus.3">
      <div class="line-character">Godefridus</div>
      Ut obviām occurrāmus patrī nostrō Antverpiā reditūrō sub vesperem.
    </div>

    <div class="line-container" id="Praeceptor.4">
      <div class="line-character">Praeceptor</div>
      Cūr tam citō?
    </div>

    <div class="line-container" id="Godefridus.5">
      <div class="line-character">Godefridus</div>
      Māter domūs opperītur hanc hōram t'huyps.
    </div>

    <div class="line-container" id="Praeceptor.6">
      <div class="line-character">Praeceptor</div>
      Etiam ipsa prōcēdet obviām?
    </div>

    <div class="line-container" id="Godefridus.7">
      <div class="line-character">Godefridus</div>
      Etiam ipsa, et ūniversa familia. Famulī praecurrent pedites — māter cum sorōribus thedā vehētur; ego factūrus sum iter equō.
    </div>

    <div class="line-container" id="Praeceptor.8">
      <div class="line-character">Praeceptor</div>
      Abī — sit iter fēlīx ac commodum.
    </div>

    <div class="line-container" id="Godefridus.9">
      <div class="line-character">Godefridus</div>
      Commodum ut sit subvereor.
    </div>

    <div class="line-container" id="Praeceptor.10">
      <div class="line-character">Praeceptor</div>
      Quam ob rem?
    </div>

    <div class="line-container" id="Godefridus.11">
      <div class="line-character">Godefridus</div>
      Quia onustus scholā exeō.
    </div>

    <div class="line-container" id="Praeceptor.12">
      <div class="line-character">Praeceptor</div>
      Quā sarcinā?
    </div>

    <div class="line-container" id="Godefridus.13">
      <div class="line-character">Godefridus</div>
      Argūmentō scrīptiōnis crās reddendō. Ō sī hōc onere mē levāveris!
    </div>

    <div class="line-container" id="Praeceptor.14">
      <div class="line-character">Praeceptor</div>
      Quid pollicēris mihi?
    </div>

    <div class="line-container" id="Godefridus.15">
      <div class="line-character">Godefridus</div>
      Futūrum ut sarcinam hanc iactūram duplā deinde dīligentiā.
    </div>

    <div class="line-container" id="Praeceptor.16">
      <div class="line-character">Praeceptor</div>
      Per mē licet — sed vidēris mihi fidem servēs.
    </div>

    <div class="line-container" id="Godefridus.17">
      <div class="line-character">Godefridus</div>
      Liberābō apud tē fidem meam.
    </div>

    <div class="line-container" id="Gratus.18">
      <div class="line-character">Grātus</div>
      Placetne, Reverende Domine, mihi facere potestatem ēgredientī scholā?
    </div>

    <div class="line-container" id="Praeceptor.19">
      <div class="line-character">Praeceptor</div>
      Quid causae est?
    </div>

    <div class="line-container" id="Gratus.20">
      <div class="line-character">Grātus</div>
      Rūre in urbem venit māter mea — condīxit locum et tempus quō sē conveniam.
    </div>

    <div class="line-container" id="Praeceptor.21">
      <div class="line-character">Praeceptor</div>
      Quid istud opus est?
    </div>

    <div class="line-container" id="Gratus.22">
      <div class="line-character">Grātus</div>
      Ut māter emat mihi librōs necessāriōs — rārō in urbem venit. Occupanda est mihi occāsiō.
    </div>

    <div class="line-container" id="Praeceptor.23">
      <div class="line-character">Praeceptor</div>
      Affer mihi ā mātre testimonium in crāstinum diem.
    </div>

    <div class="line-container" id="Gratus.24">
      <div class="line-character">Grātus</div>
      Māter mea nōn novit scrībere.
    </div>

    <div class="line-container" id="Praeceptor.25">
      <div class="line-character">Praeceptor</div>
      Igitur testem addūcās mēcum.
    </div>

    <div class="line-container" id="Gratus.26">
      <div class="line-character">Grātus</div>
      Deō iuvante, id cūrābō — numquid aliud vīs, praeceptor?
    </div>

    <div class="line-container" id="Praeceptor.27">
      <div class="line-character">Praeceptor</div>
      Ut meīs verbīs officiōsē mātrem salūtēs.
    </div>

    <div class="line-container" id="Guilhelmus.28">
      <div class="line-character">Guilhelmus</div>
      Urgeor necessitāte nātūrae, Reverende Domine — licetne mihi exīre scholā?
    </div>

    <div class="line-container" id="Praeceptor.29">
      <div class="line-character">Praeceptor</div>
      Quin ante scholae initium satisfēcistī necessitātī, ut saepe admonuī?
    </div>

    <div class="line-container" id="Guilhelmus.30">
      <div class="line-character">Guilhelmus</div>
      Nōn urgēbat id temporis.
    </div>

    <div class="line-container" id="Praeceptor.31">
      <div class="line-character">Praeceptor</div>
      Continuō hīc adsīs.
    </div>

    <div class="line-container" id="Henricus.32">
      <div class="line-character">Henricus</div>
      Placetne exeam ad opus nātūrale, praeceptor? Labōrāvī per aliquot diēs alvī prōfluviō — iterum premor. Placetne, ut secēdam, ut cursiculō domum excurram?
    </div>

    <div class="line-container" id="Praeceptor.33">
      <div class="line-character">Praeceptor</div>
      Abī.
    </div>

    <div class="line-container" id="Hieronymus.34">
      <div class="line-character">Hierōnymus</div>
      Hōrā nōnā fiet sacrum fūnebre anniversārium prōavō meō — iussit mē pater interesse. Placetne praeceptōrī ut eam? Iam imminet nōna.
    </div>

    <div class="line-container" id="Praeceptor.35">
      <div class="line-character">Praeceptor</div>
      Quānam in aede sacrā iacet humātus?
    </div>

    <div class="line-container" id="Hieronymus.36">
      <div class="line-character">Hierōnymus</div>
      In Dīvī Nicolāī.
    </div>

    <div class="line-container" id="Iacobus.37">
      <div class="line-character">Iacobus</div>
      Licetne per vestram Reverentiāem, ut adeam iānitōrem collēgiī vestrī?
    </div>

    <div class="line-container" id="Praeceptor.38">
      <div class="line-character">Praeceptor</div>
      Quid tibī cum illō negōtiī?
    </div>

    <div class="line-container" id="Iacobus.39">
      <div class="line-character">Iacobus</div>
      Herī ā Patre Xaveriō renūntiāre quiddam mē iussit hominī in vīciniā nostrā habitantī — dēbeō illī respōnsum reddere.
    </div>

    <div class="line-container" id="Praeceptor.40">
      <div class="line-character">Praeceptor</div>
      Reddēs ā scholā.
    </div>

    <div class="line-container" id="Iacobus.41">
      <div class="line-character">Iacobus</div>
      Festīnātō opus est.
    </div>

    <div class="line-container" id="Praeceptor.42">
      <div class="line-character">Praeceptor</div>
      Quin ergō ante tertium pulsum Patrem ēvocāstī ad iānuam?
    </div>

    <div class="line-container" id="Iacobus.43">
      <div class="line-character">Iacobus</div>
      Anteā plānē exciderat — iam mihi in memoriam redit.
    </div>

    <div class="line-container" id="Praeceptor.44">
      <div class="line-character">Praeceptor</div>
      Vīde, sī domī est. Iam admonitī estis dē adeundō templō — colligant valā et ad sacrum sē comparent.
    </div>

    <div class="line-container" id="Laurentius.45">
      <div class="line-character">Laurentius</div>
      Ambō nōs inservīvimus sacrō, observande Domine — placetne ut cōnferāmus nōs domum?
    </div>

    <div class="line-container" id="Praeceptor.46">
      <div class="line-character">Praeceptor</div>
      Ut quid ante aliōs?
    </div>

    <div class="line-container" id="Laurentius.47">
      <div class="line-character">Laurentius</div>
      Quia iam sacrificiō ūnī interfuimus, et frīgōre tōtus rigeō. Insuper procul hinc habitō — vīx domī ad hōram licet interquiēscere; ad scholam iterum repedandum est.
    </div>

    <div class="line-container" id="Praeceptor.48">
      <div class="line-character">Praeceptor</div>
      Iam vōs missōs faciam, hāc lēge ut pōmerīdiānās praelēctiōnēs firmius imprimātis memoriae.
    </div>

    <div class="line-container" id="Laurentius.49">
      <div class="line-character">Laurentius</div>
      Callēbimus ad unguem.
    </div>

    <div class="line-container" id="Iosephus.50">
      <div class="line-character">Iōsēphus</div>
      Praeceptor, emittō sanguinem ē nāribus — placetne exeam scholā?
    </div>

    <div class="line-container" id="Praeceptor.51">
      <div class="line-character">Praeceptor</div>
      Exī, et lavā ad proximum fontem aut antliam.
    </div>

    <div class="line-container" id="Philippus.52">
      <div class="line-character">Philippus</div>
      Placetne Magistrō, ut ēgrediar scholā emptūrus chartam et calamōs?
    </div>

    <div class="line-container" id="Praeceptor.53">
      <div class="line-character">Praeceptor</div>
      Quō currēs? Iam iam excipiendum est argūmentum scrībendī prō imperiō.
    </div>

    <div class="line-container" id="Philippus.54">
      <div class="line-character">Philippus</div>
      Est officīna hīc in proximō ē regiōne gymāsiī.
    </div>

    <div class="line-container" id="Praeceptor.55">
      <div class="line-character">Praeceptor</div>
      Properā.
    </div>

    <div class="line-container" id="Philippus.56">
      <div class="line-character">Philippus</div>
      Hīc sum, atque ibī sum.
    </div>

    <div class="line-container" id="Praeceptor.57">
      <div class="line-character">Praeceptor</div>
      Libenter quotidie exīrētis ē scholā sēxiēs — nōn patiar. Prōspicite quibus rēbus opus sit ante scholae initium.
    </div>

    <h2>Adagiōrum decās sexta.</h2>
    <ol class="adagia">
      <li><em>Saepe etiam est ōlitor verba opportūna locūtus.</em></li>
      <li><em>Nē sūtor ultrā crepidam.</em></li>
      <li><em>Dī facientēs adiuvant.</em></li>
      <li><em>Simia semper simia, etiam sī aurea gestet īnsignia.</em></li>
      <li><em>Ab equīs ad asinōs.</em></li>
      <li><em>Artem quaevis alit terra.</em></li>
      <li><em>In silvam ligna ferre.</em></li>
      <li><em>Invītīs canibus venārī difficile est.</em></li>
      <li><em>Veritās odium parit.</em></li>
      <li><em>Vae tibī tū, nigrae dīcēbat cacabus ollae.</em></li>
    </ol>


    {% assign files = site.html_pages | where_exp: "p", "p.path contains 'files/'" %}
    {% assign neighbors = files | where: "type", "Colloquium" | where: "author", page.author | where: "collection", page.collection | sort: "sequence" %}
    {% assign prev_page = nil %}
    {% assign next_page = nil %}
    {% assign found_current = false %}
    {% for p in neighbors %}
      {% if found_current and next_page == nil %}{% assign next_page = p %}{% endif %}
      {% if p.url == page.url %}{% assign found_current = true %}{% endif %}
      {% if found_current == false %}{% assign prev_page = p %}{% endif %}
    {% endfor %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

  <div class="footer">
    <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
  </div>
</body>