---
title: Dialogī Familiārēs - Pars Secunda - Dialogus Prīmus
subtitle: Coëmptiō armōrum scholasticōrum.
type: Colloquium
author: van_torre
collection: Dialogi Familiares Pars Secunda
sequence: '021'
permalink: /van_torre/dialogi-familiares-2-1/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
  <link rel="stylesheet" href="/style-reading.css" />

  <script src="/scripts/headroom.min.js"></script>
  <script src="/scripts/common.js"></script>
</head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"><b>Colloquia Latina</b></a>
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Bartholomaeus, Godefridus, Franciscus.
    </div>

    <div class="line-container" id="Bartholomaeus.1">
      <div class="line-character">Bartholomaeus</div>
      Hodiē illī initia sunt studiōrum in gymāsiō Societātis Jesu.
    </div>

    <div class="line-container" id="Godefridus.2">
      <div class="line-character">Godefridus</div>
      Gaudeō, pater, illūxisse diem mihi totiēs exoptātum. Vērum, pater, placētne coëmere mihi arma litterārum studiōsīs necessāria?
    </div>

    <div class="line-container" id="Bartholomaeus.3">
      <div class="line-character">Bartholomaeus</div>
      Ubi nancīscēmur īnstrūmenta ex sententiā?
    </div>

    <div class="line-container" id="Godefridus.4">
      <div class="line-character">Godefridus</div>
      Ex adversō templī Societātis Jesu aperta est nōn ita prīdem officīna. Bibliopola iuvenis est affābilis, et mercēs vendit sat commodō pretiō.
    </div>

    <div class="line-container" id="Bartholomaeus.5">
      <div class="line-character">Bartholomaeus</div>
      Dūc mē ad illum.
    </div>

    <div class="line-container" id="Godefridus.6">
      <div class="line-character">Godefridus</div>
      Hīc est in proximō.
    </div>

    <div class="line-container" id="Bartholomaeus.7">
      <div class="line-character">Bartholomaeus</div>
      Salvē, Francisce.
    </div>

    <div class="line-container" id="Franciscus.8">
      <div class="line-character">Franciscus</div>
      Salvus sīs tū quoque, mī Domine — quidquamne ex ūsū tuō est mē penēs?
    </div>

    <div class="line-container" id="Bartholomaeus.9">
      <div class="line-character">Bartholomaeus</div>
      Apparātum scholasticum dēsīderō huic parvulō.
    </div>

    <div class="line-container" id="Franciscus.10">
      <div class="line-character">Franciscus</div>
      Habeō omnīs generis.
    </div>

    <div class="line-container" id="Bartholomaeus.11">
      <div class="line-character">Bartholomaeus</div>
      Quibusnam opus est tibī rēbus? Age, ēloquere.
    </div>

    <div class="line-container" id="Godefridus.12">
      <div class="line-character">Godefridus</div>
      Ante omnia magister pietātis īnstrūmenta requirit in discipulīs.
    </div>

    <div class="line-container" id="Bartholomaeus.13">
      <div class="line-character">Bartholomaeus</div>
      Intellegō. Quantī istud rosārium aestimās, Francisce?
    </div>

    <div class="line-container" id="Franciscus.14">
      <div class="line-character">Franciscus</div>
      Septem assibus.
    </div>

    <div class="line-container" id="Bartholomaeus.15">
      <div class="line-character">Bartholomaeus</div>
      Itane āis? Dimidium eius pretiī sufficit.
    </div>

    <div class="line-container" id="Franciscus.16">
      <div class="line-character">Franciscus</div>
      Ūnus fūniculus plūs valet dīmidiō — textilis est ē sēricō; globulī deō ossē tornātī, īnstar eboris, sunt candidī. Habē tibī sēmisse minus.
    </div>

    <div class="line-container" id="Bartholomaeus.17">
      <div class="line-character">Bartholomaeus</div>
      Accipiō.
    </div>

    <div class="line-container" id="Godefridus.18">
      <div class="line-character">Godefridus</div>
      Deest mihi praetereā libellus precum.
    </div>

    <div class="line-container" id="Franciscus.19">
      <div class="line-character">Franciscus</div>
      En tibī perēlegantem et ūtilem.
    </div>

    <div class="line-container" id="Bartholomaeus.20">
      <div class="line-character">Bartholomaeus</div>
      Quī īnscrībitur?
    </div>

    <div class="line-container" id="Franciscus.21">
      <div class="line-character">Franciscus</div>
      <em>Precēs familiārēs.</em>
    </div>

    <div class="line-container" id="Bartholomaeus.22">
      <div class="line-character">Bartholomaeus</div>
      Habē, fīlī, et hōc ūtere librō familiāriter. Sed quō pretiō tulērō?
    </div>

    <div class="line-container" id="Franciscus.23">
      <div class="line-character">Franciscus</div>
      Auferēs duodecim assibus.
    </div>

    <div class="line-container" id="Bartholomaeus.24">
      <div class="line-character">Bartholomaeus</div>
      Iocōne, an sēriō?
    </div>

    <div class="line-container" id="Franciscus.25">
      <div class="line-character">Franciscus</div>
      Sīc stat sententia — teruncius hinc dēducī nōn potest. Quid? Nōn est rudī arte in membrānā cōnsūtus — tēctus est coriō Hispānō, inaurātus per foliōrum sectūrās.
    </div>

    <div class="line-container" id="Bartholomaeus.26">
      <div class="line-character">Bartholomaeus</div>
      Numerābō assēs duodecim, hāc lēge, ut insuper librō adiciās ex aere astrīctōriōs uncōs.
    </div>

    <div class="line-container" id="Franciscus.27">
      <div class="line-character">Franciscus</div>
      Cūrābitur — sed adhūc adiciēs assēs duōs.
    </div>

    <div class="line-container" id="Bartholomaeus.28">
      <div class="line-character">Bartholomaeus</div>
      Immō nē obolum quidem. Caeterum habēs chartam vēnālem?
    </div>

    <div class="line-container" id="Franciscus.29">
      <div class="line-character">Franciscus</div>
      Habeō.
    </div>

    <div class="line-container" id="Bartholomaeus.30">
      <div class="line-character">Bartholomaeus</div>
      Profer. Haec est charta tenuis et subhūmida — ātrāmentum perflūet. Cēdō dēnsam, nec tamen asperam et scabram.
    </div>

    <div class="line-container" id="Franciscus.31">
      <div class="line-character">Franciscus</div>
      Haeccine placet?
    </div>

    <div class="line-container" id="Bartholomaeus.32">
      <div class="line-character">Bartholomaeus</div>
      Quod huius est chartae pretium?
    </div>

    <div class="line-container" id="Franciscus.33">
      <div class="line-character">Franciscus</div>
      Vendō in singulōs scapōs quīnque assibus.
    </div>

    <div class="line-container" id="Bartholomaeus.34">
      <div class="line-character">Bartholomaeus</div>
      Plūs minus, ut exīstimō.
    </div>

    <div class="line-container" id="Franciscus.35">
      <div class="line-character">Franciscus</div>
      Ita, ut dīxī.
    </div>

    <div class="line-container" id="Bartholomaeus.36">
      <div class="line-character">Bartholomaeus</div>
      Nōn tibi opus est cōdice ex chartā pūrā cōnsūtō?
    </div>

    <div class="line-container" id="Godefridus.37">
      <div class="line-character">Godefridus</div>
      Maximē, pater, ad excipienda cotīdiāna scrīptiōnis argūmenta.
    </div>

    <div class="line-container" id="Bartholomaeus.38">
      <div class="line-character">Bartholomaeus</div>
      Videam volūmen aliquod huius generis mediocriter dēnsum.
    </div>

    <div class="line-container" id="Franciscus.39">
      <div class="line-character">Franciscus</div>
      Hoc in annum integrum sufficiet, aut plūs eō, ut coniiciō. Placētne?
    </div>

    <div class="line-container" id="Bartholomaeus.40">
      <div class="line-character">Bartholomaeus</div>
      Sīc satis — apponē ad chartam.
    </div>

    <div class="line-container" id="Godefridus.41">
      <div class="line-character">Godefridus</div>
      Pater, capsam nōn habeō ad inclūdendam chartam, dictāta, adversāria.
    </div>

    <div class="line-container" id="Franciscus.42">
      <div class="line-character">Franciscus</div>
      Ecce tibī capsulam commodissimam tēctam coriō vitulīnō rubrō — ut nitet! Praetereā circum ōrās limbus obit argenteus.
    </div>

    <div class="line-container" id="Bartholomaeus.43">
      <div class="line-character">Bartholomaeus</div>
      Pennae tuae suntne vēnālēs?
    </div>

    <div class="line-container" id="Franciscus.44">
      <div class="line-character">Franciscus</div>
      Etiam, sī sē emptor obtulerit.
    </div>

    <div class="line-container" id="Bartholomaeus.45">
      <div class="line-character">Bartholomaeus</div>
      Ostende. Vah! quam sunt mollēs!
    </div>

    <div class="line-container" id="Franciscus.46">
      <div class="line-character">Franciscus</div>
      Sunt aliae aliīs firmiōrēs — faciō tibī optiōnem.
    </div>

    <div class="line-container" id="Bartholomaeus.47">
      <div class="line-character">Bartholomaeus</div>
      Quot vīs dare sēsquiasse?
    </div>

    <div class="line-container" id="Franciscus.48">
      <div class="line-character">Franciscus</div>
      Dabō duodecim, modō prōmiscuē dē manū meā accipiās.
    </div>

    <div class="line-container" id="Bartholomaeus.49">
      <div class="line-character">Bartholomaeus</div>
      Nugās agis — cēdō tōtum fasciculum, ut dēligam arbitrātū meō.
    </div>

    <div class="line-container" id="Franciscus.50">
      <div class="line-character">Franciscus</div>
      Dēlige, per mē licet — sed solvēs plūris.
    </div>

    <div class="line-container" id="Bartholomaeus.51">
      <div class="line-character">Bartholomaeus</div>
      Mox vidēbitur. Age nunc, profer ātrāmentī vascula et thecās calamāriās.
    </div>

    <div class="line-container" id="Franciscus.52">
      <div class="line-character">Franciscus</div>
      Habeō ātrāmentī vascula cornea, tornō abrē facta.
    </div>

    <div class="line-container" id="Bartholomaeus.53">
      <div class="line-character">Bartholomaeus</div>
      Nōlō thecam quae nōn nisi ūnicam pennam capiat.
    </div>

    <div class="line-container" id="Franciscus.54">
      <div class="line-character">Franciscus</div>
      Sciō quid quaerās — vīs thecam oblongam, tōtam terete et rotundam.
    </div>

    <div class="line-container" id="Bartholomaeus.55">
      <div class="line-character">Bartholomaeus</div>
      Ipsam volō.
    </div>

    <div class="line-container" id="Franciscus.56">
      <div class="line-character">Franciscus</div>
      Ecce ātrāmentī capacem et calamōrum complūrium.
    </div>

    <div class="line-container" id="Bartholomaeus.57">
      <div class="line-character">Bartholomaeus</div>
      Accumulēmus in acervum eundem — ad extrēmum ūnā licēbor in omnia. Implē hanc lagunculam fictīlem ātrāmentō.
    </div>

    <div class="line-container" id="Franciscus.58">
      <div class="line-character">Franciscus</div>
      Id praestāt — necesse nōn habēbit puer in diēs ad prōpolam recurrere.
    </div>

    <div class="line-container" id="Bartholomaeus.59">
      <div class="line-character">Bartholomaeus</div>
      Adēs dum, Godefride — numquid dēsit praetereā?
    </div>

    <div class="line-container" id="Godefridus.60">
      <div class="line-character">Godefridus</div>
      Etiam, pater — velim regulam mihi ligneam comparēs. Curvōs plērumque versūs dūcō — ā magistrō quotidie obiurgor. Deinceps plumbō dūcam līneās secundum regulam; hīs īnscrībam.
    </div>

    <div class="line-container" id="Bartholomaeus.61">
      <div class="line-character">Bartholomaeus</div>
      Hoc est opus arcūlāriī — tace; aliunde tibī prōspexerō.
    </div>

    <div class="line-container" id="Franciscus.62">
      <div class="line-character">Franciscus</div>
      Numquid placet hīs amplius?
    </div>

    <div class="line-container" id="Bartholomaeus.63">
      <div class="line-character">Bartholomaeus</div>
      Nihil. Nunc indīcā mercēs hās ūnō omnēs, quam sis datūrus minimō.
    </div>

    <div class="line-container" id="Franciscus.64">
      <div class="line-character">Franciscus</div>
      Vīs verbō dīcam ūnō? Duōbus flōrēnīs ā mē auferēs, neque obolō minōris.
    </div>

    <div class="line-container" id="Bartholomaeus.65">
      <div class="line-character">Bartholomaeus</div>
      Numerābō sēsquiflōrēnum.
    </div>

    <div class="line-container" id="Franciscus.66">
      <div class="line-character">Franciscus</div>
      Tantillō tibī nōn addicem.
    </div>

    <div class="line-container" id="Bartholomaeus.67">
      <div class="line-character">Bartholomaeus</div>
      Discrīmen pretiī dīvidātur ex aequō — tibī dēcēdet medium, mihi accēdet.
    </div>

    <div class="line-container" id="Franciscus.68">
      <div class="line-character">Franciscus</div>
      Quod bene vertat — habēās per mē licet, sed eā spē ut mē crebrō revīsās.
    </div>

    <div class="line-container" id="Godefridus.69">
      <div class="line-character">Godefridus</div>
      Pater, nōn mihi dedit bibliopolā auctārium.
    </div>

    <div class="line-container" id="Bartholomaeus.70">
      <div class="line-character">Bartholomaeus</div>
      Dā puerō quidpiam corōllāriī vice.
    </div>

    <div class="line-container" id="Franciscus.71">
      <div class="line-character">Franciscus</div>
      Accipe schedām chartae bibulae — addō et gossypium.
    </div>

    <div class="line-container" id="Godefridus.72">
      <div class="line-character">Godefridus</div>
      Nimium es mūnificus.
    </div>

    <div class="line-container" id="Bartholomaeus.73">
      <div class="line-character">Bartholomaeus</div>
      Age, recēnsē pecūniam et missōs nōs fac.
    </div>

    <div class="line-container" id="Franciscus.74">
      <div class="line-character">Franciscus</div>
      Nihil dēsīderātur aut superest — vīs tibī scrībam apocham?
    </div>

    <div class="line-container" id="Bartholomaeus.75">
      <div class="line-character">Bartholomaeus</div>
      Nihil est opus — habeō verbīs tuīs fidem. Precor tibī fēlicem vesperum.
    </div>

    <div class="line-container" id="Franciscus.76">
      <div class="line-character">Franciscus</div>
      Idem tibī vicissim precor.
    </div>


    {% assign files = site.html_pages | where_exp: "p", "p.path contains 'files/'" %}
    {% assign neighbors = files | where: "type", "Colloquium" | where: "author", page.author | where: "collection", page.collection | sort: "sequence" %}
    {% assign prev_page = nil %}
    {% assign next_page = nil %}
    {% assign found_current = false %}
    {% for p in neighbors %}
      {% if found_current and next_page == nil %}{% assign next_page = p %}{% endif %}
      {% if p.url == page.url %}{% assign found_current = true %}{% endif %}
      {% if found_current == false %}{% assign prev_page = p %}{% endif %}
    {% endfor %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

  <div class="footer">
    <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
  </div>
</body>