---
title: Dialogī Familiārēs - Pars Secunda - Dialogus Quārtus Decimus
subtitle: Petītur facultās ad varia.
type: Colloquium
author: van_torre
collection: Dialogi Familiares Pars Secunda
sequence: '034'
permalink: /van_torre/dialogi-familiares-2-14/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
  <link rel="stylesheet" href="/style-reading.css" />

  <script src="/scripts/headroom.min.js"></script>
  <script src="/scripts/common.js"></script>
</head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"><b>Colloquia Latina</b></a>
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Praeceptor, Faustus, Iuvenālis, Conrādus.
    </div>

    <div class="line-container" id="Faustus.1">
      <div class="line-character">Faustus</div>
      Reverende Domine, erubēscō tot monērī dē garrulitāte — cupiō deinceps tacitūrnus esse in scholā sī quis alius — sed ūnum ōrō Reverentiam vestram.
    </div>

    <div class="line-container" id="Praeceptor.2">
      <div class="line-character">Praeceptor</div>
      Quid illud, adolescēns?
    </div>

    <div class="line-container" id="Faustus.3">
      <div class="line-character">Faustus</div>
      Ut mihi liceat mūtāre locum cum quōvīs aliō.
    </div>

    <div class="line-container" id="Praeceptor.4">
      <div class="line-character">Praeceptor</div>
      Locum, nōn ingenium mūtābis, ut coniiciō.
    </div>

    <div class="line-container" id="Faustus.5">
      <div class="line-character">Faustus</div>
      Cōnfirmō fore ut secus ēveniat. Nunc assideō Emmanuelī illī — puer est inquiētus; identidem mē irritat, modō hōc modō illud īnsusurrat ad aurēs.
    </div>

    <div class="line-container" id="Praeceptor.6">
      <div class="line-character">Praeceptor</div>
      Simulāte indignārī — dēsinet.
    </div>

    <div class="line-container" id="Faustus.7">
      <div class="line-character">Faustus</div>
      Nēquāquam — collocet mē Reverentia vestra, ubi placuerit, modō nē prope Emmanuelem. Obmūtēscam illicō, et pendēbō ōre magistrī docentis.
    </div>

    <div class="line-container" id="Praeceptor.8">
      <div class="line-character">Praeceptor</div>
      Tentābō.
    </div>

    <div class="line-container" id="Iuvenalis.9">
      <div class="line-character">Iuvenālis</div>
      Licetne per Reverentiam vestram, ut ā merīdie provocem adversārium ad disputandum dē praeteritīs et supīnīs verbōrum, dē nōminum comparātiōne et in expōnendīs adagiīs?
    </div>

    <div class="line-container" id="Praeceptor.10">
      <div class="line-character">Praeceptor</div>
      Quod pretium vīs esse victōrī?
    </div>

    <div class="line-container" id="Iuvenalis.11">
      <div class="line-character">Iuvenālis</div>
      Dēpōnō notās dīligentiae ex parte Rōmānōrum vīgintī — oppōnat ille, sī ausit, totidem.
    </div>

    <div class="line-container" id="Praeceptor.12">
      <div class="line-character">Praeceptor</div>
      Faciam tibī provocandī potestātem.
    </div>

    <div class="line-container" id="Iuvenalis.13">
      <div class="line-character">Iuvenālis</div>
      Insuper Prīncipem dīligentiae ad certāmen provocō, ut ipsum exclūdam locō. Diūtius quam parī possim, tam honōrificō potitur soliō.
    </div>

    <div class="line-container" id="Praeceptor.14">
      <div class="line-character">Praeceptor</div>
      Vidēsis nē utrīmque spē excidās. Alterum ē duōbus lacessē — nam quī duōs sectātur lepōrēs, neutrum capit.
    </div>

    <div class="line-container" id="Conradus.15">
      <div class="line-character">Conrādus</div>
      Placetne tibī, Reverende Domine, ut conveniam Patrem Praefectum?
    </div>

    <div class="line-container" id="Praeceptor.16">
      <div class="line-character">Praeceptor</div>
      Ubīnam est?
    </div>

    <div class="line-container" id="Conradus.17">
      <div class="line-character">Conrādus</div>
      In areā modō erat, vel inambulat cum magistrō Poēseōs in porticū.
    </div>

    <div class="line-container" id="Praeceptor.18">
      <div class="line-character">Praeceptor</div>
      Quid illī habēs dīcere?
    </div>

    <div class="line-container" id="Conradus.19">
      <div class="line-character">Conrādus</div>
      Herī vesperī adīvī eius nōmine causidicum quendam nōbīs vīcīnum dēstinātūrus epistulam — nunc illī respōnsum referam, sī placeat.
    </div>

    <div class="line-container" id="Praeceptor.20">
      <div class="line-character">Praeceptor</div>
      Placet.
    </div>

    <div class="line-container" id="Faustus.21">
      <div class="line-character">Faustus</div>
      Placetne Reverentiae vestrae mihi facere potestātem recurrentī domum? Quam mox revertār.
    </div>

    <div class="line-container" id="Praeceptor.22">
      <div class="line-character">Praeceptor</div>
      Quid tē urgit?
    </div>

    <div class="line-container" id="Faustus.23">
      <div class="line-character">Faustus</div>
      Excidit mihi scrīptūram adferre et pēnsum.
    </div>

    <div class="line-container" id="Praeceptor.24">
      <div class="line-character">Praeceptor</div>
      Suspicor tē alterum exemplum thēmatis nōn dēscrīpsisse.
    </div>

    <div class="line-container" id="Faustus.25">
      <div class="line-character">Faustus</div>
      Salvā pāce tuā, Domine — dēscrīpsī hodiē prīmō māne. Sēposueram dum exsiccārentur characterēs — deinde nōn meminī recondere inter capsam. Dā veniam, Reverende — imprūdēns fēcī.
    </div>

    <div class="line-container" id="Praeceptor.26">
      <div class="line-character">Praeceptor</div>
      Atque ego prūdentem tē faciam et memorem.
    </div>

    <div class="line-container" id="Faustus.27">
      <div class="line-character">Faustus</div>
      Sī umquam posthāc, nōn recūsō supplicium.
    </div>

    <div class="line-container" id="Praeceptor.28">
      <div class="line-character">Praeceptor</div>
      Ī, sed revertere ē vestīgiō.
    </div>

    <div class="line-container" id="Faustus.29">
      <div class="line-character">Faustus</div>
      Sine morā hīc adero.
    </div>

    <div class="line-container" id="Conradus.30">
      <div class="line-character">Conrādus</div>
      Reverende Domine, cum nōn ita prīdem commodāssem aulae tapētia et argentea candēlābra ad ornāndum sacellum Sodālitātis, pollicita est mihi Reverentia vestra singulārem immūnitātem — licetne ut hodiē fruar?
    </div>

    <div class="line-container" id="Praeceptor.31">
      <div class="line-character">Praeceptor</div>
      Quid postulās immūnitātis?
    </div>

    <div class="line-container" id="Conradus.32">
      <div class="line-character">Conrādus</div>
      Ut liber sim ā scrīptiōne crās reddendā.
    </div>

    <div class="line-container" id="Praeceptor.33">
      <div class="line-character">Praeceptor</div>
      Et aequum tū postulās, et ego cupiō stāre prōmissīs. Estō immūnis.
    </div>

    <div class="line-container" id="Conradus.34">
      <div class="line-character">Conrādus</div>
      Agō maximās grātiās.
    </div>

    <div class="line-container" id="Praeceptor.35">
      <div class="line-character">Praeceptor</div>
      Abī.
    </div>

    <div class="line-container" id="Conradus.36">
      <div class="line-character">Conrādus</div>
      Quoniam coepit esse benigna Reverentia vestra, fac mihi amplissimam, quaesō, grātiam.
    </div>

    <div class="line-container" id="Praeceptor.37">
      <div class="line-character">Praeceptor</div>
      Quid amplius expetīs?
    </div>

    <div class="line-container" id="Conradus.38">
      <div class="line-character">Conrādus</div>
      Ut merear et pēnsō liberārī — dēscrībendus est mihi Graecē decalogus.
    </div>

    <div class="line-container" id="Praeceptor.39">
      <div class="line-character">Praeceptor</div>
      Exōrābō tibī ut cōnfidō apud magistrum tuum immūnitātem. Liber estō.
    </div>

    <div class="line-container" id="Conradus.40">
      <div class="line-character">Conrādus</div>
      Habeō grātiam — sī cubī deinceps operā meā ūsuī fuerit Reverentiae vestrae, exhibēbō mē prōmptissimum.
    </div>

    <div class="line-container" id="Praeceptor.41">
      <div class="line-character">Praeceptor</div>
      Nōn repudiō.
    </div>

    <div class="line-container" id="Faustus.42">
      <div class="line-character">Faustus</div>
      Reddat mihi, obsecrō, Reverentia vestra crepundia illa, hīscē diēbus mihi ērepta.
    </div>

    <div class="line-container" id="Praeceptor.43">
      <div class="line-character">Praeceptor</div>
      Nōn eō ēripuit, ut mox restituam.
    </div>

    <div class="line-container" id="Faustus.44">
      <div class="line-character">Faustus</div>
      Fateor mē violāsse mandātum praeceptōris, cum in scholam intulī — posthāc numquam importābō.
    </div>

    <div class="line-container" id="Praeceptor.45">
      <div class="line-character">Praeceptor</div>
      Quās autem rēs repetīs?
    </div>

    <div class="line-container" id="Faustus.46">
      <div class="line-character">Faustus</div>
      Reddat mihi, quaesō, Reverentia vestra bombȳcēs meōs — metuō nē moriantur famē; globulōs; sunt inter eōs marmoreiī trēs quattuorve — forcipem; nōn est meus, spectat ad sorōrem — deinde imāginēs, libellum, cultellōs.
    </div>

    <div class="line-container" id="Praeceptor.47">
      <div class="line-character">Praeceptor</div>
      Hodiē recipiēs quidem — at sī tē umquam aliās attulisse dēprehenderō, extrēmum tunc vidēbis.
    </div>

    <div class="line-container" id="Faustus.48">
      <div class="line-character">Faustus</div>
      Cavēbō thēsaurum hunc expōnere praessentī perīculō.
    </div>

    <div class="line-container" id="Iuvenalis.49">
      <div class="line-character">Iuvenālis</div>
      Reverende Domine, placetne paulisper nōbīs dare clāvem scholae? Omīsimus fascēs librōrum, cum exībāmus inservitūrī Sacrō.
    </div>

    <div class="line-container" id="Praeceptor.50">
      <div class="line-character">Praeceptor</div>
      Obliviōsī! Atquī iusseram ūnā vōbīscum ad sacrārium adfurrētis.
    </div>

    <div class="line-container" id="Iuvenalis.51">
      <div class="line-character">Iuvenālis</div>
      Excidit nōbīs praefestīnātiōne — iam iam referēmus.
    </div>

    <div class="line-container" id="Iuvenis.52">
      <div class="line-character">Iuvenis</div>
      Ecce clavem, observande Domine. Licētne per Reverentiam vestram ut nōs cōnferāmus domum? Iam Missae sacrificiō interfuimus.
    </div>

    <div class="line-container" id="Praeceptor.53">
      <div class="line-character">Praeceptor</div>
      Hāc lēge, ut nē per plateās tergiversēminī.
    </div>

    <div class="line-container" id="Iuvenis.54">
      <div class="line-character">Iuvenis</div>
      Rēctā domum properābimus.
    </div>

    <div class="line-container" id="Conradus.55">
      <div class="line-character">Conrādus</div>
      Reverentia vestra praeest sodālitātī Angelōrum — iam diū est cum et ego optāvī esse dē numerō sodālium. Placetne mē hodiē recipere in sodālem?
    </div>

    <div class="line-container" id="Praeceptor.56">
      <div class="line-character">Praeceptor</div>
      Quālēs mihi mōrēs pollicēris in posterum?
    </div>

    <div class="line-container" id="Conradus.57">
      <div class="line-character">Conrādus</div>
      Quālēs exigunt lēgēs sodālium, ut spērō.
    </div>

    <div class="line-container" id="Praeceptor.58">
      <div class="line-character">Praeceptor</div>
      Ampla prōmissa! Merēris ut nōmen tuum referam in album sodālium — et referam Dominicō diē proximē īnstante.
    </div>

    <div class="line-container" id="Conradus.59">
      <div class="line-character">Conrādus</div>
      Licētne ut illō diē conveniam ūnā cum sodālibus reliquīs?
    </div>

    <div class="line-container" id="Praeceptor.60">
      <div class="line-character">Praeceptor</div>
      Per mē licet.
    </div>

    <div class="line-container" id="Faustus.61">
      <div class="line-character">Faustus</div>
      Nequeō diūtius nītī genibus, observande Domine — placētne mihi potestātem facere sedendī in scamnō?
    </div>

    <div class="line-container" id="Praeceptor.62">
      <div class="line-character">Praeceptor</div>
      Nē ūnīus quidem Sacrī spatiō potes genibus incumbere? Quid tibī obstat?
    </div>

    <div class="line-container" id="Faustus.63">
      <div class="line-character">Faustus</div>
      Herī prōcidī in genua inter lūdendum — alterum genu graviter offendī. Cecidī domī dē scālīs — impēgī tibiam in gradum, laesī mē ad sanguinem. Dēficiunt mē vīrēs in genua subsidentem — Pater, placētne ut sedeam?
    </div>

    <div class="line-container" id="Praeceptor.64">
      <div class="line-character">Praeceptor</div>
      Quid ita?
    </div>

    <div class="line-container" id="Faustus.65">
      <div class="line-character">Faustus</div>
      Metuō nē linquar animō — sentiō vertiginem capitis; labōrō ex intestīnīs; malē habet stomachus, dolet caput.
    </div>

    <div class="line-container" id="Iuvenis.66">
      <div class="line-character">Iuvenis</div>
      Licētne per Reverentiam vestram ut eam cōnfessūrus dē peccātīs?
    </div>

    <div class="line-container" id="Praeceptor.67">
      <div class="line-character">Praeceptor</div>
      Quid rogās?
    </div>

    <div class="line-container" id="Iuvenis.68">
      <div class="line-character">Iuvenis</div>
      Placētne Reverentiae vestrae mihi cōpiam facere cōnfitendī peccāta?
    </div>

    <div class="line-container" id="Praeceptor.69">
      <div class="line-character">Praeceptor</div>
      Herī litaniārum tempore id factum oportēbat.
    </div>

    <div class="line-container" id="Iuvenis.70">
      <div class="line-character">Iuvenis</div>
      Sīc et cōnsuēvī — sed sacerdōs quī mihi est ā cōnfessiōnibus herī aberāt domō — vacābat sēdīle.
    </div>

    <div class="line-container" id="Conradus.71">
      <div class="line-character">Conrādus</div>
      Placētne, observande Domine, ut accēdam ad suscipiendum sacratissimum Eucharistiae Sacrāmentum? Placētne mihi facere potestātem commūnicandī Corporī Dominī?
    </div>

    <div class="line-container" id="Praeceptor.72">
      <div class="line-character">Praeceptor</div>
      Accēdēns fīnitō sacrō — nōn enim iam distribuitur Corpus Dominī. Intereā temporis ad epulum istud dīvīnum animum comparā.
    </div>

    <div class="line-container" id="Faustus.73">
      <div class="line-character">Faustus</div>
      Utinam placeat Reverentiae vestrae dare mihi veniam ut absim crās māne ā scholā — eundum mihi est rūs cum parentibus.
    </div>

    <div class="line-container" id="Praeceptor.74">
      <div class="line-character">Praeceptor</div>
      Sīquidem mihi vidēbitur.
    </div>

    <div class="line-container" id="Faustus.75">
      <div class="line-character">Faustus</div>
      Omnīnō, sīquidem probēt Reverentia vestra.
    </div>

    <div class="line-container" id="Praeceptor.76">
      <div class="line-character">Praeceptor</div>
      Temperī veniēs ā sacrō.
    </div>

    <div class="line-container" id="Faustus.77">
      <div class="line-character">Faustus</div>
      Bonā tuā veniā, Pater — proficīscēmur summō māne, ut prīmum pandentur urbis portae.
    </div>

    <div class="line-container" id="Praeceptor.78">
      <div class="line-character">Praeceptor</div>
      Quō cōgitātis?
    </div>

    <div class="line-container" id="Faustus.79">
      <div class="line-character">Faustus</div>
      In vīllam nostram — in pāgō illō celebrantur pāgānālia.
    </div>

    <div class="line-container" id="Praeceptor.80">
      <div class="line-character">Praeceptor</div>
      Quandō redibis?
    </div>

    <div class="line-container" id="Faustus.81">
      <div class="line-character">Faustus</div>
      Crāstinō vesperē in urbe erō — perendīe māne in scholā.
    </div>

    <div class="line-container" id="Praeceptor.82">
      <div class="line-character">Praeceptor</div>
      Abī — sed inter rūsticōs estō sapiēns.
    </div>

    <div class="line-container" id="Conradus.83">
      <div class="line-character">Conrādus</div>
      Crās, Reverende Domine, nōn poterō frequentāre scholam — nē gravētur mē excūsāre.
    </div>

    <div class="line-container" id="Praeceptor.84">
      <div class="line-character">Praeceptor</div>
      Quid impediet?
    </div>

    <div class="line-container" id="Conradus.85">
      <div class="line-character">Conrādus</div>
      Ex medicī iūdiciō sūmenda mihi est pōtiō medica ad pūrgandum corpus. Tentātus fuī febriculā hīs diēbus — medicīnam adhibēbō, ut obstem prīncipiīs.
    </div>

    <div class="line-container" id="Praeceptor.86">
      <div class="line-character">Praeceptor</div>
      Num tibī aliquandō aperta fuit vēna?
    </div>

    <div class="line-container" id="Conradus.87">
      <div class="line-character">Conrādus</div>
      Immō — nūdiūstertius.
    </div>

    <div class="line-container" id="Praeceptor.88">
      <div class="line-character">Praeceptor</div>
      Absīs — per mē licet — et valētūdinem cūrā dīligenter.
    </div>

    <div class="line-container" id="Iuvenis.89">
      <div class="line-character">Iuvenis</div>
      Reverende Domine, remittit mē parēns meus ad Reverentiam vestram, et rogat ut liceat mihi abesse ā scholā hodiernō diē et crāstinō.
    </div>

    <div class="line-container" id="Praeceptor.90">
      <div class="line-character">Praeceptor</div>
      Quid causae adfers?
    </div>

    <div class="line-container" id="Iuvenis.91">
      <div class="line-character">Iuvenis</div>
      Cum nūper pater meus decumberet oppressus gravī morbō, māter mea peregrinatiōnem vōvit Hallās Deiparae, sī pater convalēsceret — convaluit, Deō sit grātia, dēfūnctus extrēmō discrīmine. Hodiē persolvet māter vōtum quod nūncupāvit — ipsam comitātūrus sum, sī mihi, Domine, placeat facere potestātem.
    </div>

    <div class="line-container" id="Praeceptor.92">
      <div class="line-character">Praeceptor</div>
      Suspicor tē hanc veniam ā mātre lacrimīs extorsisse.
    </div>

    <div class="line-container" id="Iuvenis.93">
      <div class="line-character">Iuvenis</div>
      Nēquāquam, Pater — iam in prōcinctū stābam ventūrus ad scholam, cum ultrō mē arcessit parēns, et hāc ipsā dē causā mē allegat ad Reverentiam vestram.
    </div>

    <div class="line-container" id="Praeceptor.94">
      <div class="line-character">Praeceptor</div>
      Ibis — sed reductus factus exhibēbis ā parente super hāc rē testimōnium.
    </div>

    <div class="line-container" id="Iuvenis.95">
      <div class="line-character">Iuvenis</div>
      Exhibēbō.
    </div>

    <div class="line-container" id="Praeceptor.96">
      <div class="line-character">Praeceptor</div>
      Ad āram Virginis Mātris fac nostrī meminēris.
    </div>

    <div class="line-container" id="Iuvenis.97">
      <div class="line-character">Iuvenis</div>
      Spondeō, Pater, in mēque recipiō.
    </div>


    {% assign files = site.html_pages | where_exp: "p", "p.path contains 'files/'" %}
    {% assign neighbors = files | where: "type", "Colloquium" | where: "author", page.author | where: "collection", page.collection | sort: "sequence" %}
    {% assign prev_page = nil %}
    {% assign next_page = nil %}
    {% assign found_current = false %}
    {% for p in neighbors %}
      {% if found_current and next_page == nil %}{% assign next_page = p %}{% endif %}
      {% if p.url == page.url %}{% assign found_current = true %}{% endif %}
      {% if found_current == false %}{% assign prev_page = p %}{% endif %}
    {% endfor %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

  <div class="footer">
    <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
  </div>
</body>