---
title: Quotidiani Sermonis Formulae - Colloquium Nōnum
subtitle: TĀLŌRUM LŪSUS (Le jeu des osselets)
type: Colloquium
author: zovitius
collection: Quotidiani Sermonis Formulae
topic:
- Games
difficulty: Moderate
sequence: '009'
character_count: 2
permalink: /jacobus-zovitius/quotidiani_sermonis_formulae-colloquium-nonum/
---

<!doctype html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/style-reading.css" />
  
<script src="/scripts/headroom.min.js"></script>
    <script src="/scripts/common.js"></script>
  </head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="line-container" id="A.01">
      <div class="line-character">A</div>
      <div class="line-bilingual">
        <div class="line-left">Sunt quī ossicūla illa, quibus puerī lūsitant, astragalōs Graecē, Latīnē tālōs vocitant: cēterīs num id placuerit, nesciō. Ūsitātō vocābulō ūtī certum est.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="line-container" id="B.02">
      <div class="line-character">B</div>
      <div class="line-bilingual">
        <div class="line-left">Ēmissārius hic meus est.</div>
        <div class="line-right">Voici mon assaillant.</div>
      </div>
    </div>

    <div class="line-container" id="A.03">
      <div class="line-character">A</div>
      <div class="line-bilingual">
        <div class="line-left">Num plumbātus est?</div>
        <div class="line-right">Est-il plombé?</div>
      </div>
    </div>

    <div class="line-container" id="B.04">
      <div class="line-character">B</div>
      <div class="line-bilingual">
        <div class="line-left">Maximē.</div>
        <div class="line-right">Ouy.</div>
      </div>
    </div>

    <div class="line-container" id="A.05">
      <div class="line-character">A</div>
      <div class="line-bilingual">
        <div class="line-left">Age, ausīcēmur lūdum.</div>
        <div class="line-right">Ça, commençons le jeu.</div>
      </div>
    </div>

    <div class="line-container" id="B.06">
      <div class="line-character">B</div>
      <div class="line-bilingual">
        <div class="line-left">Nōn reluctor.</div>
        <div class="line-right">T'en suis bien content.</div>
      </div>
    </div>

    <div class="line-container" id="A.07">
      <div class="line-character">A</div>
      <div class="line-bilingual">
        <div class="line-left">Quisque quattuor in medium prōmat.</div>
        <div class="line-right">Que chascun mette quatre osselets au jeu.</div>
      </div>
    </div>

    <div class="line-container" id="B.08">
      <div class="line-character">B</div>
      <div class="line-bilingual">
        <div class="line-left">Iaceat et prīmus, quī parietī proximus est.</div>
        <div class="line-right">Celuy qui sera le plus pres du mur jouera le premier.</div>
      </div>
    </div>

    <div class="line-container" id="A.09">
      <div class="line-character">A</div>
      <div class="line-bilingual">
        <div class="line-left">Meus parietī adhaeret.</div>
        <div class="line-right">Le mien est tout au pres du mur.</div>
      </div>
    </div>

    <div class="line-container" id="B.10">
      <div class="line-character">B</div>
      <div class="line-bilingual">
        <div class="line-left">Quot quisque statuērit, tollet.</div>
        <div class="line-right">Chacun en levera autant comme il en aura mis.</div>
      </div>
    </div>

    <div class="line-container" id="A.11">
      <div class="line-character">A</div>
      <div class="line-bilingual">
        <div class="line-left">Heīc erit līnea.</div>
        <div class="line-right">Ici sera la raye.</div>
      </div>
    </div>

    <div class="line-container" id="B.12">
      <div class="line-character">B</div>
      <div class="line-bilingual">
        <div class="line-left">Heīc consistet quisque.</div>
        <div class="line-right">On jettera d'ici.</div>
      </div>
    </div>

    <div class="line-container" id="A.13">
      <div class="line-character">A</div>
      <div class="line-bilingual">
        <div class="line-left">Strāvī quattuor.</div>
        <div class="line-right">J'en ay abattu quatre.</div>
      </div>
    </div>

    <div class="line-container" id="B.14">
      <div class="line-character">B</div>
      <div class="line-bilingual">
        <div class="line-left">Sors mihi salva est.</div>
        <div class="line-right">J'ay les miens.</div>
      </div>
    </div>

    <div class="line-container" id="A.15">
      <div class="line-character">A</div>
      <div class="line-bilingual">
        <div class="line-left">Mihi praeter sortem ūnus rēstitit.</div>
        <div class="line-right">Et moy j'en ay un plus que les miens.</div>
      </div>
    </div>

    <div class="line-container" id="B.16">
      <div class="line-character">B</div>
      <div class="line-bilingual">
        <div class="line-left">Trēs mihi saltem relinquuntur.</div>
        <div class="line-right">Il n'en demeure plus que troys pour moy.</div>
      </div>
    </div>

    <div class="line-container" id="A.17">
      <div class="line-character">A</div>
      <div class="line-bilingual">
        <div class="line-left">Duōs sternō.</div>
        <div class="line-right">J'en ay abattu deux.</div>
      </div>
    </div>

    <div class="line-container" id="B.18">
      <div class="line-character">B</div>
      <div class="line-bilingual">
        <div class="line-left">Ūnus reliquus est.</div>
        <div class="line-right">Il en demeure encores un.</div>
      </div>
    </div>

    <div class="line-container" id="A.19">
      <div class="line-character">A</div>
      <div class="line-bilingual">
        <div class="line-left">Prōnō tālō sternam hunc.</div>
        <div class="line-right">J'abbateray cestuy-là demeurant, mon osselèt à son endroict.</div>
      </div>
    </div>

    <div class="line-container" id="B.20">
      <div class="line-character">B</div>
      <div class="line-bilingual">
        <div class="line-left">Quō perīculō id certāre vīs?</div>
        <div class="line-right">Pour combien veux-tu gager?</div>
      </div>
    </div>

    <div class="line-container" id="A.21">
      <div class="line-character">A</div>
      <div class="line-bilingual">
        <div class="line-left">Trium tālōrum perīculō.</div>
        <div class="line-right">Pour troys osselets.</div>
      </div>
    </div>

    <div class="line-container" id="B.22">
      <div class="line-character">B</div>
      <div class="line-bilingual">
        <div class="line-left">Ratum habeō.</div>
        <div class="line-right">Marche faict.</div>
      </div>
    </div>

    <div class="line-container" id="A.23">
      <div class="line-character">A</div>
      <div class="line-bilingual">
        <div class="line-left">Strāvī tālum.</div>
        <div class="line-right">J'ay abbatu l'osselet.</div>
      </div>
    </div>

    <div class="line-container" id="B.24">
      <div class="line-character">B</div>
      <div class="line-bilingual">
        <div class="line-left">Sed supīnus iacet tuus ēmissārius.</div>
        <div class="line-right">Mais ton assaillant est à la renverse.</div>
      </div>
    </div>

    <div class="line-container" id="A.25">
      <div class="line-character">A</div>
      <div class="line-bilingual">
        <div class="line-left">Age, alium lūsūs genus aggrediāmur.</div>
        <div class="line-right">Orça, commençons un autre jeu.</div>
      </div>
    </div>

    <div class="line-container" id="B.26">
      <div class="line-character">B</div>
      <div class="line-bilingual">
        <div class="line-left">Quisque decem appōnat.</div>
        <div class="line-right">Que chascun en mette dix.</div>
      </div>
    </div>

    <div class="line-container" id="A.27">
      <div class="line-character">A</div>
      <div class="line-bilingual">
        <div class="line-left">Proximus recumbat supīnus.</div>
        <div class="line-right">Que le dernier soit à l'enverse.</div>
      </div>
    </div>

    <div class="line-container" id="B.28">
      <div class="line-character">B</div>
      <div class="line-bilingual">
        <div class="line-left">Hunc quī prōnum facit, prīmus huic cēdet iactus.</div>
        <div class="line-right">Celui qui le fera estre en son endroict, jettera le premier.</div>
      </div>
    </div>

    <div class="line-container" id="A.29">
      <div class="line-character">A</div>
      <div class="line-bilingual">
        <div class="line-left">Is pīstor apud nōs est.</div>
        <div class="line-right">Nous l'appellons le boulanger.</div>
      </div>
    </div>

    <div class="line-container" id="B.30">
      <div class="line-character">B</div>
      <div class="line-bilingual">
        <div class="line-left">Ā tergō ōrdine sternam aliquot.</div>
        <div class="line-right">J'en abbatray quelques-uns tout de rang par derriere.</div>
      </div>
    </div>

    <div class="line-container" id="A.31">
      <div class="line-character">A</div>
      <div class="line-bilingual">
        <div class="line-left">Sī in ōrdinem peccāveris, strātōs propriīs tālīs resarciēs.</div>
        <div class="line-right">Aussi si tu y faus, il te faudra payer ceus qui seront abbatuz de tes.</div>
      </div>
    </div>

    <div class="line-container" id="B.32">
      <div class="line-character">B</div>
      <div class="line-bilingual">
        <div class="line-left">Quot nam?</div>
        <div class="line-right">Avec combien?</div>
      </div>
    </div>

    <div class="line-container" id="A.33">
      <div class="line-character">A</div>
      <div class="line-bilingual">
        <div class="line-left">Strātīs numerō respondēbis.</div>
        <div class="line-right">Autant que tu n'en auras point abbatu de suite, autant en faudra-il dresser.</div>
      </div>
    </div>

    <div class="line-container" id="B.34">
      <div class="line-character">B</div>
      <div class="line-bilingual">
        <div class="line-left">Reddidī pīstōrem prōnum.</div>
        <div class="line-right">J'ay abbatu le boulanger à l'endroict.</div>
      </div>
    </div>

    <div class="line-container" id="A.35">
      <div class="line-character">A</div>
      <div class="line-bilingual">
        <div class="line-left">Is meus est.</div>
        <div class="line-right">Il m'appartient.</div>
      </div>
    </div>

    <div class="line-container" id="B.36">
      <div class="line-character">B</div>
      <div class="line-bilingual">
        <div class="line-left">Quattuor iacent.</div>
        <div class="line-right">En voylà encores quatre abbatuz.</div>
      </div>
    </div>

    <div class="line-container" id="A.37">
      <div class="line-character">A</div>
      <div class="line-bilingual">
        <div class="line-left">Trēs strānī.</div>
        <div class="line-right">Dont j'en ay abbatu les trois.</div>
      </div>
    </div>

    <div class="line-container" id="B.38">
      <div class="line-character">B</div>
      <div class="line-bilingual">
        <div class="line-left">Sed rūrsus sīstandī sunt.</div>
        <div class="line-right">Mais il les faut de rechef dresser.</div>
      </div>
    </div>

    <div class="line-container" id="A.39">
      <div class="line-character">A</div>
      <div class="line-bilingual">
        <div class="line-left">Adicito trēs.</div>
        <div class="line-right">Mettez-y en encores troys.</div>
      </div>
    </div>

    <div class="line-container" id="B.40">
      <div class="line-character">B</div>
      <div class="line-bilingual">
        <div class="line-left">Peccāstī.</div>
        <div class="line-right">Tu as failli.</div>
      </div>
    </div>

    <div class="line-container" id="A.41">
      <div class="line-character">A</div>
      <div class="line-bilingual">
        <div class="line-left">Male sit illī tālō.</div>
        <div class="line-right">Male gon te happe l'osselet!</div>
      </div>
    </div>

    <div class="line-container" id="B.42">
      <div class="line-character">B</div>
      <div class="line-bilingual">
        <div class="line-left">Praeter trēs habeō pullum.</div>
        <div class="line-right">Je n'en ay plus que troys.</div>
      </div>
    </div>

    <div class="line-container" id="A.43">
      <div class="line-character">A</div>
      <div class="line-bilingual">
        <div class="line-left">Sortem nactus sum.</div>
        <div class="line-right">J'ay les miens.</div>
      </div>
    </div>

    <div class="line-container" id="B.44">
      <div class="line-character">B</div>
      <div class="line-bilingual">
        <div class="line-left">Cēterōs tibi relinquō.</div>
        <div class="line-right">Je te laisse les autres.</div>
      </div>
    </div>

    <div class="line-container" id="A.45">
      <div class="line-character">A</div>
      <div class="line-bilingual">
        <div class="line-left">Nōvī nāsum tuum.</div>
        <div class="line-right">Je cognoy bien — tu es trop fin.</div>
      </div>
    </div>

    <div class="line-container" id="B.46">
      <div class="line-character">B</div>
      <div class="line-bilingual">
        <div class="line-left">Ab ove aberrārem.</div>
        <div class="line-right">Je n'attaindroys pas un bœuf.</div>
      </div>
    </div>

    <div class="line-container" id="A.47">
      <div class="line-character">A</div>
      <div class="line-bilingual">
        <div class="line-left">Ūnus saltem restitit.</div>
        <div class="line-right">Il n'en reste plus qu'un.</div>
      </div>
    </div>

    <div class="line-container" id="B.48">
      <div class="line-character">B</div>
      <div class="line-bilingual">
        <div class="line-left">Ille tuus est.</div>
        <div class="line-right">Il vous apartient.</div>
      </div>
    </div>

    <div class="line-container" id="A.49">
      <div class="line-character">A</div>
      <div class="line-bilingual">
        <div class="line-left">Novem tālōrum iactūram fēcī.</div>
        <div class="line-right">J'ay perdu neuf osselets.</div>
      </div>
    </div>

    <div class="line-container" id="B.50">
      <div class="line-character">B</div>
      <div class="line-bilingual">
        <div class="line-left">Iactūram fēcī.</div>
        <div class="line-right">Je suis un pouvre homme.</div>
      </div>
    </div>

    <div class="line-container" id="A.51">
      <div class="line-character">A</div>
      <div class="line-bilingual">
        <div class="line-left">Certēmus duodecim pedā.</div>
        <div class="line-right">Jouons douze pieds.</div>
      </div>
    </div>

    <div class="line-container" id="B.52">
      <div class="line-character">B</div>
      <div class="line-bilingual">
        <div class="line-left">Duodecimpedātōribus interminātus est praeceptor.</div>
        <div class="line-right">Le maistre a defendu ce jeu là.</div>
      </div>
    </div>

    <div class="line-container" id="A.53">
      <div class="line-character">A</div>
      <div class="line-bilingual">
        <div class="line-left">Coryceūs heīc nūllus est.</div>
        <div class="line-right">Il n'y a ici pas un raporteur.</div>
      </div>
    </div>

    <div class="line-container" id="B.54">
      <div class="line-character">B</div>
      <div class="line-bilingual">
        <div class="line-left">Meus est iactus: nam meum iacet prōnus.</div>
        <div class="line-right">C'est à moy à jetter, car le mien est à l'endroict.</div>
      </div>
    </div>

    <div class="line-container" id="A.55">
      <div class="line-character">A</div>
      <div class="line-bilingual">
        <div class="line-left">Meum ēmissārium nondum ēmisī.</div>
        <div class="line-right">Le mien n'est pas encores jetté.</div>
      </div>
    </div>

    <div class="line-container" id="B.56">
      <div class="line-character">B</div>
      <div class="line-bilingual">
        <div class="line-left">Ēmittāmus ēmissāriōs.</div>
        <div class="line-right">Jettons.</div>
      </div>
    </div>

    <div class="line-container" id="A.57">
      <div class="line-character">A</div>
      <div class="line-bilingual">
        <div class="line-left">Iam tuum hinc avōlābit.</div>
        <div class="line-right">Jettons le tien sauter de là.</div>
      </div>
    </div>

    <div class="line-container" id="B.58">
      <div class="line-character">B</div>
      <div class="line-bilingual">
        <div class="line-left">Plumbedulus ēmissārius, estā sū.</div>
        <div class="line-right">Ton assaillant est plombé.</div>
      </div>
    </div>

    <div class="line-container" id="A.59">
      <div class="line-character">A</div>
      <div class="line-bilingual">
        <div class="line-left">Et meus.</div>
        <div class="line-right">Et le mien aussi.</div>
      </div>
    </div>

    <div class="line-container" id="B.60">
      <div class="line-character">B</div>
      <div class="line-bilingual">
        <div class="line-left">Metiāmur pedibus.</div>
        <div class="line-right">Mesurons avecques le pied.</div>
      </div>
    </div>

    <div class="line-container" id="A.61">
      <div class="line-character">A</div>
      <div class="line-bilingual">
        <div class="line-left">Undecim pedēs prōpulsus est.</div>
        <div class="line-right">Il est avancé de vnze pieds.</div>
      </div>
    </div>

    <div class="line-container" id="B.62">
      <div class="line-character">B</div>
      <div class="line-bilingual">
        <div class="line-left">Vīcī.</div>
        <div class="line-right">Au malheureus la beface.</div>
      </div>
    </div>

    <div class="line-container" id="A.63">
      <div class="line-character">A</div>
      <div class="line-bilingual">
        <div class="line-left">Ubīque cadunt Iovis astrāgalī fēlīciter omnēs.</div>
        <div class="line-right">Les heureus ont tousjours l'heur pour eus.</div>
      </div>
    </div>


    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>

    <!--Footer goes here-->
  </div>

   <div class="footer">
     <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
   </div>
</body>