---
title: Quotidiani Sermonis Formulae - Colloquium Decimum
subtitle: DĒ CANTŪ (Du chant)
type: Colloquium
author: zovitius
collection: Quotidiani Sermonis Formulae
topic:
- Music
difficulty: Moderate
sequence: '010'
character_count: 0
permalink: /jacobus-zovitius/quotidiani_sermonis_formulae-colloquium-decimum/
---

<!doctype html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/style-reading.css" />
  
<script src="/scripts/headroom.min.js"></script>
    <script src="/scripts/common.js"></script>
  </head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="line-container" id="Scaena.01">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Mūsicēs admodum perītus es.</div>
        <div class="line-right">Vous sçauez bien chanter.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.02">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Mediocriter.</div>
        <div class="line-right">Paffablement.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.03">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Gregōriāna haec mūsica est.</div>
        <div class="line-right">C'est plain chant.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.04">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Recitā manū.</div>
        <div class="line-right">Dictes vostre game.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.05">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Quot notulārum est ffā ut?</div>
        <div class="line-right">Combien y a-il de voix en ffaut?</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.06">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Duārum.</div>
        <div class="line-right">Deux.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.07">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Est intervallī, an līneae vōx?</div>
        <div class="line-right">Est-il en regle ou en espace?</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.08">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Līneae.</div>
        <div class="line-right">Il est en regle.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.09">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Indītō līneīs nōmina.</div>
        <div class="line-right">Nommez-moy les regles.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.10">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Redditō numerum per verba.</div>
        <div class="line-right">Chantez la lettre.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.11">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Nōstīne mūsicās harmoniās?</div>
        <div class="line-right">Scauez-vous bien les especes de Musique?</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.12">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Optimē.</div>
        <div class="line-right">Ouy, fort bien.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.13">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Redditō numerum per nōtās.</div>
        <div class="line-right">Solfiez, ou chantez la note.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.14">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Utrumque rēctē nōstī.</div>
        <div class="line-right">Vous scauez bien l'un & l'autre.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.15">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Praebe specīmen tuī.</div>
        <div class="line-right">Que nous vous oyons.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.16">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Diatesseron.</div>
        <div class="line-right">Une quarte.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.17">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Diapente.</div>
        <div class="line-right">Une quinte.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.18">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Diapāsōn.</div>
        <div class="line-right">Une octave.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.19">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Diapāsōn cum diapente.</div>
        <div class="line-right">Une trezieme.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.20">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Disdiapāsōn.</div>
        <div class="line-right">Une double octave.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.21">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Hārum Macrobius auctor est.</div>
        <div class="line-right">Macrobe en est autheur.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.22">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Cēterī addunt hās:</div>
        <div class="line-right">Les autres y mettent encores celles-cy:</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.23">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Tonus.</div>
        <div class="line-right">Une seconde.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.24">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Ditonus.</div>
        <div class="line-right">Une tierce.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.25">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Tonus cum diapente.</div>
        <div class="line-right">Une sexte.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.26">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Sēmitonus cum diapente.</div>
        <div class="line-right">Une Septiesme.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.27">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Dūcere līneās.</div>
        <div class="line-right">Regler.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.28">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">B sphaericum.</div>
        <div class="line-right">Un bémol.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.29">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Mūsicēs liber.</div>
        <div class="line-right">Un livre à chanter.</div>
      </div>
    </div>


    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>

    <!--Footer goes here-->
  </div>

   <div class="footer">
     <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
   </div>
</body>