---
title: Dialogī XLII - Dialogus Quīnquāgēsimus Prīmus
subtitle: 
type: Colloquium
author: Barlandus
collection: Dialogī XLII
topic:
- School
difficulty: Moderate
sequence: '051'
character_count: 2
permalink: /barlandus/dialogi-xlii-dialogus-quinquagesimus-primus/
---
 
<!--Use this page as our master template-->
<!doctype html>
 
<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/style-reading.css" />
  
<script src="/scripts/headroom.min.js"></script>
    <script src="/scripts/common.js"></script>
  </head>
 
<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>
 
  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>
 
    <div class="characters">
      Persōnae:<br />
      Isidōrus, Quintīnus
    </div>
 
    <div class="line-container" id="Isidorus.1">
      <div class="line-character">Isidōrus</div>
      Saepius ad tē scrīpsī, saepius item suāsī cōram, ut ex istā sōlitūdine in hanc flōrentem studiīs urbem tē cōnferrēs, ubi in pretiō &amp; venerātiōne sunt quī literās meliōrēs vel didicerint, vel profiteantur.
    </div>
 
    <div class="line-container" id="Quintinus.2">
      <div class="line-character">Quintīnus</div>
      Nihil tam cupiō quam tōtus hūc ēvolāre.
    </div>
 
    <div class="line-container" id="Isidorus.3">
      <div class="line-character">Isidōrus</div>
      Adsunt tibi abundē quae invītāre possunt ad vītae huius īnstitūtum, viridis adhūc aetās, &amp; labōrum patiēns ingenium, fācundia minimē vulgāris.
    </div>
 
    <div class="line-container" id="Quintinus.4">
      <div class="line-character">Quintīnus</div>
      Ex librīs philosophōrum didicī prīmam esse hominis ērudītiōnem, ut ipse sē nōrit. Ego vērō mihi doctus nōn videor, unde fit ut sī hōc tam celebrī locō dīcere ac scrībere incipiam, nihil spērāre possim, aliōrum quī doctī sunt &amp; ēloquentēs, frequentiā ac celebritāte nōn sōlum obstante, sed perpetuīs mē tenebrīs obruente.
    </div>
 
    <div class="line-container" id="Isidorus.5">
      <div class="line-character">Isidōrus</div>
      Quīcunque hodiē apud nōs doctissimī sunt, fuērunt ōlim quod tū hūc veniēns eris, quī sī ad aliēnum splendōrem cālīgantēs, ā dīcendī scrībendīque mūnere abstinuissent, nunquam hūc celebritātis pervēnissent. Proinde quod futūrus es, fac nunc esse incipiās, dīmidium factī quī coepit habet.
    </div>
 
    <div class="line-container" id="Quintinus.6">
      <div class="line-character">Quintīnus</div>
      Pudōre prohibeor, metū impedior.
    </div>
 
    <div class="line-container" id="Isidorus.7">
      <div class="line-character">Isidōrus</div>
      Licet mē cui chārissimus es, vel autōre, vel impulsōre hūc veniās. Semper bonum amīcī cōnsilium, at honestī quippiam suādentis optimum.
    </div>
 
    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}
 
    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
 
    <!--Footer goes here-->
  </div>
 
   <div class="footer">
     <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
   </div>
</body>