---
title: Dialogī XLII - Dialogus Quārtus Decimus
subtitle: Colloquium
type: Colloquium
author: Barlandus
collection: Dialogī XLII
topic:
- School
difficulty: Moderate
sequence: '014'
character_count: 2
permalink: /barlandus/dialogi-xlii-dialogus-quartus-decimus/
---
 
<!--Use this page as our master template-->
<!doctype html>
 
<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/style-reading.css" />
  
<script src="/scripts/headroom.min.js"></script>
    <script src="/scripts/common.js"></script>
  </head>
 
<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>
 
  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>
 
    <div class="characters">
      Persōnae:<br />
      Petrus, Iohānnes
    </div>
 
    <div class="line-container" id="Petrus.1">
      <div class="line-character">Petrus</div>
      Quae mī Iohānnes crās est hōra lēctiōnī cōnstitūta?
    </div>
 
    <div class="line-container" id="Iohannes.2">
      <div class="line-character">Iohānnes</div>
      Nūlla. Fēriae sunt futūrae. Est enim is diēs sacer.
    </div>
 
    <div class="line-container" id="Petrus.3">
      <div class="line-character">Petrus</div>
      Cui dīvō?
    </div>
 
    <div class="line-container" id="Iohannes.4">
      <div class="line-character">Iohānnes</div>
      Hupertō.
    </div>
 
    <div class="line-container" id="Petrus.5">
      <div class="line-character">Petrus</div>
      Is vēnātōrum deus est. Crās igitur tūtī sunt ā canibus leporēs.
    </div>
 
    <div class="line-container" id="Iohannes.6">
      <div class="line-character">Iohānnes</div>
      Apud Gallōs minimē.
    </div>
 
    <div class="line-container" id="Petrus.7">
      <div class="line-character">Petrus</div>
      Quid ita?
    </div>
 
    <div class="line-container" id="Iohannes.8">
      <div class="line-character">Iohānnes</div>
      Haec gēns nōn aliter eō diē litat Hupertō, quam vēnātū, ac in sectandīs quadrupedibus, crās ūnicuique licēbit vēnandī grātiā &amp; prīvātōrum saltūs ingredī. Quod sī quis aliās solitus, eō diē nōn vēnētur, poenās dat Galliae praefectō. adeō hōc flāgitium est illīs.
    </div>
 
    <div class="line-container" id="Petrus.9">
      <div class="line-character">Petrus</div>
      Quās poenās dat ille quī nōn sit vēnātus?
    </div>
 
    <div class="line-container" id="Iohannes.10">
      <div class="line-character">Iohānnes</div>
      Interdīcit eī praefectus in eum annum ēsū cervīnae carnis.
    </div>
 
    <div class="line-container" id="Petrus.11">
      <div class="line-character">Petrus</div>
      Quid sī post interdictum comēderit?
    </div>
 
    <div class="line-container" id="Iohannes.12">
      <div class="line-character">Iohānnes</div>
      In rabiem cāsūrus putātur, quā labōrāre solent, quōs rabidus momorderit canis.
    </div>
 
    <div class="line-container" id="Petrus.13">
      <div class="line-character">Petrus</div>
      Sī tam sānctum est Gallīs fēstō diē vēnārī, cūr igitur in sacrīs canōnibus prohibētur, nē quis tum exeat vēnātum?
    </div>
 
    <div class="line-container" id="Iohannes.14">
      <div class="line-character">Iohānnes</div>
      Rēctē ita statūtum est in canōnibus. Nam sī sānctum esset vēnārī fēstīs diēbus, nōn ipsī Hupertō adhūc īdōlōrum cultōrī, diē natālis dominicī aliīs in templō ad ārās dēsidentibus, vēnantī ferāsque magnō studiō īnsectantī cervus occurrisset inter cornua signum crucis gestāns, quemadmodum pingitur in tabulīs. Hōc enim ideō factum esse vidētur, ut scīret ille peccātum esse.
    </div>
 
    <div class="line-container" id="Petrus.15">
      <div class="line-character">Petrus</div>
      Tū ne crēdis hōc ita accidisse?
    </div>
 
    <div class="line-container" id="Iohannes.16">
      <div class="line-character">Iohānnes</div>
      Legitur in legendā aureā.
    </div>
 
    <div class="line-container" id="Petrus.17">
      <div class="line-character">Petrus</div>
      Imō plumbea vērius. Quam multa illīc narrantur, quae nunquam dīvī fēcērunt in terrīs, &amp; tamen reperit hīc īnsignis liber ā quibus amētur, ac pēne studiōsius legātur quam ēvangelium, frequentius item cum honōris praefātiōne citētur in cōnciōnibus frātrum, quam Paulīnae epistolae.
    </div>
 
    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}
 
    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
 
    <!--Footer goes here-->
  </div>
 
   <div class="footer">
     <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
   </div>
</body>