---
title: Dialogī XLII - Dialogus Septimus Decimus
subtitle: Colloquium
type: Colloquium
author: Barlandus
collection: Dialogī XLII
topic:
- School
difficulty: Moderate
sequence: '017'
character_count: 2
permalink: /barlandus/dialogi-xlii-dialogus-septimus-decimus/
---
 
<!--Use this page as our master template-->
<!doctype html>
 
<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/style-reading.css" />
  
<script src="/scripts/headroom.min.js"></script>
    <script src="/scripts/common.js"></script>
  </head>
 
<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>
 
  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>
 
    <div class="characters">
      Persōnae:<br />
      Praeceptor, Discipulus
    </div>
 
    <div class="line-container" id="Praeceptor.1">
      <div class="line-character">Praeceptor</div>
      Quid causae est, quod herī nec prānderis, nec coenāveris domī?
    </div>
 
    <div class="line-container" id="Discipulus.2">
      <div class="line-character">Discipulus</div>
      Aliquod mē sodālēs abdūxerant in tabernam meritōriam.
    </div>
 
    <div class="line-container" id="Praeceptor.3">
      <div class="line-character">Praeceptor</div>
      Quī sunt istī sodālēs tuī?
    </div>
 
    <div class="line-container" id="Discipulus.4">
      <div class="line-character">Discipulus</div>
      Iohannēs Hornius, Walterus &amp; Henrīcus, hic Zēlandus, ille Phrisius patriā.
    </div>
 
    <div class="line-container" id="Praeceptor.5">
      <div class="line-character">Praeceptor</div>
      Frūgī sodālēs mihi nōminās, istōs novī strēnuōs pōtōrēs.
    </div>
 
    <div class="line-container" id="Discipulus.6">
      <div class="line-character">Discipulus</div>
      Coāctus sum praeceptor hūmānissime.
    </div>
 
    <div class="line-container" id="Praeceptor.7">
      <div class="line-character">Praeceptor</div>
      Sciō, tuā voluntāte coāctus. An excidisse mihi putās, quod ab hinc quatriduum forīs pernoctāveris?
    </div>
 
    <div class="line-container" id="Discipulus.8">
      <div class="line-character">Discipulus</div>
      Fateor, sed apud amīcum &amp; probum cīvem pernoctāvī, cum ā coenā domum redeuntī collēgiī forēs occlūsae essent.
    </div>
 
    <div class="line-container" id="Praeceptor.9">
      <div class="line-character">Praeceptor</div>
      Nōn ignōrābās quā solent hōrā occlūdī, surgendum tibi fuerat ante aliōs, ut admitterēris. Post hōram enim nōnam hyeme, aestāte post decimam patent nēminī, nec ipsī quidem gymnasiarchae.
    </div>
 
    <div class="line-container" id="Discipulus.10">
      <div class="line-character">Discipulus</div>
      Surgere ante aliōs pudēbat, nam hōc quibusdam incīvīle habētur.
    </div>
 
    <div class="line-container" id="Praeceptor.11">
      <div class="line-character">Praeceptor</div>
      Sed nōn habētur tibi incīvīle pōtāre in noctem concubiam. Tum autem postrīdiē dormīre in medium diem. profectō hōc dīcō tibi adolēscēns, nisī hīs rēbus fīnem faciās, propediem futūrum, ut tē huius vītae poeniteat. Mōribus istīs mihi praeceptōrī, deinde parentī es iniūrius: ille tē studēre putat, cum nihil faciās minus. Iam crēdit vir bonus ita prōmōvisse tē in studiō līberālium artium, ut scrībere possīs, &amp; quāvīs dē rē latīnē ac ēleganter disserere, unde quantum adhūc absīs mē nōn fugit. Porrō cōmessātiōnēs istae perpetuae, etiam sī ingeniō sīs excellentī, tamen sīc officient studiīs ac memoriae tuae, ut nihil sīs unquam factūrus memorābile, nisī ēbrietātī (ut dīcitur) laqueum remīseris, quae tantam omnium malōrum messem importat, &amp; ab omnī āvocat honestārum rērum studiō.
    </div>
 
    <div class="line-container" id="Discipulus.12">
      <div class="line-character">Discipulus</div>
      Peccātum meum agnōscō praeceptor optime. Proinde tibi accidens ad genua, rogō hanc noxiam condōnēs, post hāc mē semper adiungam probātiōribus ac vītae integritāte spectātīs iuvenibus.
    </div>
 
    <div class="line-container" id="Praeceptor.13">
      <div class="line-character">Praeceptor</div>
      Hāc lēge ignōscō tibi. Quod sī tē relapsum vīderō, ut dēplōrātum, ut īnsānābilem aedibus meīs ēiiciam.
    </div>
 
    <div class="line-container" id="Discipulus.14">
      <div class="line-character">Discipulus</div>
      Istud faciendī nē dētur occāsiō, prō virīlī cavēbō praeceptor observande.
    </div>
 
    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}
 
    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
 
    <!--Footer goes here-->
  </div>
 
   <div class="footer">
     <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
   </div>
</body>