---
title: Dialogī XLII - Dialogus Trīcēsimus Quīntus
subtitle: Colloquium
type: Colloquium
author: Barlandus
collection: Dialogī XLII
topic:
- School
difficulty: Moderate
sequence: '035'
character_count: 2
permalink: /barlandus/dialogi-xlii-dialogus-tricesimus-quintus/
---
 
<!--Use this page as our master template-->
<!doctype html>
 
<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/style-reading.css" />
  
<script src="/scripts/headroom.min.js"></script>
    <script src="/scripts/common.js"></script>
  </head>
 
<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>
 
  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>
 
    <div class="characters">
      Persōnae:<br />
      Henrīcus, Conrādus
    </div>
 
    <div class="line-container" id="Henricus.1">
      <div class="line-character">Henrīcus</div>
      Precor ut tercentum messēs, tercentum lustra videās mī Conrāde.
    </div>
 
    <div class="line-container" id="Conradus.2">
      <div class="line-character">Conrādus</div>
      Et ego tibi precor tam longum vīvere, numerōs ut pulveris aequēs.
    </div>
 
    <div class="line-container" id="Henricus.3">
      <div class="line-character">Henrīcus</div>
      Nunquam tam māne, neque tam vesperī hūc veniō, quīn tē librīs affixum &amp; chartīs inveniam, aut scrībentem, aut legentem aliquid.
    </div>
 
    <div class="line-container" id="Conradus.4">
      <div class="line-character">Conrādus</div>
      In hōc mē parēns ablēgāvit ad hanc flōrentissimam acadēmiam, ut studendō ērudītior ēvāderem, atque ita &amp; melior, et hūmānior domum reverterer. Ferē enim ita ēvenīre vidēmus, ut quō quisque doctior ac ērudītior est, eō sit &amp; hūmānior, et tractābilior. Ea nōn dīcō sophisticē, quae Parisiīs, &amp; aliīs quibusdam in scholīs docētur, sed literārum vīs est, ut barbarōs ēmolliat animōs.
    </div>
 
    <div class="line-container" id="Henricus.5">
      <div class="line-character">Henrīcus</div>
      At aliī magis student ut pecūniā, sacerdōtiīs aut agrōrum lātifundiīs dītēscant.
    </div>
 
    <div class="line-container" id="Conradus.6">
      <div class="line-character">Conrādus</div>
      Nihil mē movet istōrum exemplum: Velle suum cuique est, nec vōtō vīvitur ūnō, alius alia stultē optat sibi contingere, adeō ut vērē possim exclāmāre, Diī bonī quàm multiplex est hominum stultitia, quàm inānēs cōgitātiōnēs, quantum vānitātis in vītā? Sī lubet rīdēre, narrābō tibi quod Rōmae acciderit quōdam diē in convīviō.
    </div>
 
    <div class="line-container" id="Henricus.7">
      <div class="line-character">Henrīcus</div>
      Narrā quaesō.
    </div>
 
    <div class="line-container" id="Conradus.8">
      <div class="line-character">Conrādus</div>
      In hāc urbe tam sacrā compōtābant aequālēs aliquot. Ubi iam vīnō incaluissent, aliīs patrimōnia amplissima, aliīs optantibus sacerdōtia, aliīs dēnique alia cupientibus sibi deōrum immortālium favōre ac benignitāte contingere, quīdam caeterīs fēstīvior, Ego, inquit, nihil optārim aliud quàm asinus fierī. Nam Rōmae sacerdōtia ac dīvitiae sōlīs contingunt asinīs.
    </div>
 
    <div class="line-container" id="Henricus.9">
      <div class="line-character">Henrīcus</div>
      Nihil mē hercule potuit neque dīcī vērius, neque fēstīvius.
    </div>
 
    <div class="line-container" id="Conradus.10">
      <div class="line-character">Conrādus</div>
      Nusquam illīc audīssēs vel Pyrrhī vel Dariī, vel Augustīnī vōtum, vel in dīvīnīs literīs iūstī illīus Symeōnis.
    </div>
 
    <div class="line-container" id="Henricus.11">
      <div class="line-character">Henrīcus</div>
      Tū mē cuiusmodī fuerint hōrum vōta quaesō ēdoceās, memorātū enim digna mihi dictūrus vidēris.
    </div>
 
    <div class="line-container" id="Conradus.12">
      <div class="line-character">Conrādus</div>
      Pyrrhus nōn rēgna, nōn victōriās, nōn opēs, sed ā diīs comprecātus est sānitātem. Dārīus oblātō sibi mālō pūnicō, tot sibi zōpyrōs optāvit, hōc est sapientēs, quot illīc inessent grāna. Dīvus Aurēlius Augustīnus, tria legitur in vōtīs habuisse: Vīdisse Chrīstum in hūmānā nātūrā, &amp; in terrīs versantem cum hominibus, Paulum dē pulpitō fulminantem, &amp; spectābilēs urbis Rōmae triumphōs, Dēnique Symeōn ille iūstus, vērēque pius ac religiōsus vōtīs ardentissimīs rogāvit dominum, ut sibi ante mortem contingeret intuērī, tot iam sēculīs expectātum Messiam: quō vīsō corporālibus oculīs, nunc satisfactum est, inquit, domine, vōtīs meīs, Nunc lubēns ac laetus moriar.
    </div>
 
    <div class="line-container" id="Henricus.13">
      <div class="line-character">Henrīcus</div>
      Quam sunt haec ab illīs dīversa, quae dīxistī modo, &amp; cuperem huiusmodī plūra ex tē discere, sed nunc veniō ut iussū parentis utriusque, tē vocem ad coenam.
    </div>
 
    <div class="line-container" id="Conradus.14">
      <div class="line-character">Conrādus</div>
      Cuiusmodī estis habitūrī convīvās?
    </div>
 
    <div class="line-container" id="Henricus.15">
      <div class="line-character">Henrīcus</div>
      Tuī ōrdinis ac professiōnis omnēs, nīmīrum studiōsōs ac literātōs.
    </div>
 
    <div class="line-container" id="Conradus.16">
      <div class="line-character">Conrādus</div>
      Puerum expectō meum, quī simulatque redierit ā negōtiō quod trānsigendum suscēperat, rēctā cōnsequar. Ita parentī fac utrīque renūntiēs.
    </div>
 
    <div class="line-container" id="Henricus.17">
      <div class="line-character">Henrīcus</div>
      Renūntiābō, sed tū vidē nē cessēs.
    </div>
 
    <div class="line-container" id="Conradus.18">
      <div class="line-character">Conrādus</div>
      Nōn fīet, reliquōs convīvās nihil morābimur.
    </div>
 
    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}
 
    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
 
    <!--Footer goes here-->
  </div>
 
   <div class="footer">
     <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
   </div>
</body>