---
title: Dialogī XLII - Dialogus Vīcēsimus Quārtus
subtitle: 
type: Colloquium
author: Barlandus
collection: Dialogī XLII
topic:
- School
difficulty: Moderate
sequence: '024'
character_count: 2
permalink: /barlandus/dialogi-xlii-dialogus-vicesimus-quartus/
---
 
<!--Use this page as our master template-->
<!doctype html>
 
<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/style-reading.css" />
  
<script src="/scripts/headroom.min.js"></script>
    <script src="/scripts/common.js"></script>
  </head>
 
<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>
 
  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>
 
    <div class="characters">
      Persōnae:<br />
      Andrēās, Franciscus
    </div>
 
    <div class="line-container" id="Andreas.1">
      <div class="line-character">Andrēās</div>
      Grātulor tibi reducī ab urbe Rōmā Francisce chārissime.
    </div>
 
    <div class="line-container" id="Franciscus.2">
      <div class="line-character">Franciscus</div>
      Et ego tibi incolumī grātulor Andrēā hūmānissime.
    </div>
 
    <div class="line-container" id="Andreas.3">
      <div class="line-character">Andrēās</div>
      Quid tam citō recurrīs in patriam? quid causae quod nōn diūtius Rōmae sīs commorātus?
    </div>
 
    <div class="line-container" id="Franciscus.4">
      <div class="line-character">Franciscus</div>
      Multa, prīmum nūllus doctrīnae, nūllus est illīc virtūtī locus, quod hominēs Rōmae, tot eunt per compita fūrēs, lēnōnēs, stuprātōrēs, pēdicōnēs, raptōrēs, sacrilegī. Postrēmō dēcessit nunc Hadriānus pontifex huius nōminis sextus, quī sī vīta contigisset longior, prīmam laudem obtinuisset inter omnēs laudātōs pontificēs.
    </div>
 
    <div class="line-container" id="Andreas.5">
      <div class="line-character">Andrēās</div>
      Hunc ego virum novī olim Louaniī adhūc in minōribus agentem, tum gymnasiī illius prīncipem, nempe Cancellārium.
    </div>
 
    <div class="line-container" id="Franciscus.6">
      <div class="line-character">Franciscus</div>
      Fuit hic ut audiō in sānctīs literīs, doctrīnā incomparābilī, &amp; quemadmodum nūllā largītiōne, nūllā sīmoniacā labe interpositā, sed deī sōlius prōvidentiā ad pontificātum ēvectus est, ita in cōnferendīs sacerdōtiīs nōn mūnera, nōn stemmata, aut clārōs nātālēs, sed virtūtem spectābat.
    </div>
 
    <div class="line-container" id="Andreas.7">
      <div class="line-character">Andrēās</div>
      Apud nōs rūmōr est cōnstantior, quam ut vānus crēdī possit, hunc venēnō sublātum esse. Quō lūctuōsior hīs terrīs mors tantī virī esse dēbet, quae nōn ex nātūrā, nec fātālis acciderit.
    </div>
 
    <div class="line-container" id="Franciscus.8">
      <div class="line-character">Franciscus</div>
      Vērum isthuc est quod dīcis mī Andrēā. Hic Rōmānus pontifex ē vītā sīc dēcessit, ut bonīs omnibus dēsīderābilem suī ipsius relīquerit memoriam, quī uti spērō nunc laetātur in caelīs, exultatque inter beātissimōs spīritūs. Restat ut summum illum sacerdōtem Chrīstum precēmur ut is ecclēsiae suae prūdentem gubernātōrem, &amp; sānctum rēctōrem dare dignētur. Hōc nunc dūrante interrēgnō, et cōnsultantibus cardīnālibus, dēberent ōrāre diēs noctēsque prīncipēs caeterī, quōrum salūs omnis in Rōmānae sēdis salūte continētur.
    </div>
 
    <div class="line-container" id="Andreas.9">
      <div class="line-character">Andrēās</div>
      Istī nōn modō nōn ōrant, sed turbārī potius ac miscērī omnia cupiunt &amp; nūllum esse caput ecclēsiae.
    </div>
 
    <div class="line-container" id="Franciscus.10">
      <div class="line-character">Franciscus</div>
      Sed quid illud, quod audiō quōsdam astrologōs praedīxisse sub annum XXIIII quī nunc in līmine est fīnem habitūrum pontificis Rōmānī imperium, &amp; iactitant quidam versiculōs duōs prō vāticīniō repertōs in cōdice antīquissimō: Sic habent illī:
      <div class="line-poetry">
        Papa citō moritur, Caesar regnābit ubīque.
      </div>
      <div class="line-poetry">
        Et subitō vānī cessābunt gaudia clērī.
      </div>
    </div>
 
    <div class="line-container" id="Andreas.11">
      <div class="line-character">Andrēās</div>
      Nōn possum nōn rīdēre tē, quī ista crēdās, ego nōn magis crēdō, quam sī nūgivendī istī mihi prōmittant fore ut proximā nocte sub pulvīnō meō ingentēs aurī massās inveniam. Haud vidēris mihi lēgisse, quae Cicerō dē istīs impostōribus scrībit in haec verba: Nōn agnōscō dē circō astrologōs, nōn isiacōs, nōn coniectōrēs, nōn somniōrum interpretēs. Nōn enim hī aut scientiā, aut arte dīvīnī, sed superstitiōsī vātēs, impudentēsque hariolī, aut inertēs aut īnsānī. Proinde permittāmus haec caelitibus. Tū nisī aliō tē vocant negōtia tua, coenābis apud mē hodiē.
    </div>
 
    <div class="line-container" id="Franciscus.12">
      <div class="line-character">Franciscus</div>
      Quanquam sum occupātus tamen quod petīs faciam eā lēge, ut tū crās mihi tē socium itineris praebeās.
    </div>
 
    <div class="line-container" id="Andreas.13">
      <div class="line-character">Andrēās</div>
      Quō itūrus?
    </div>
 
    <div class="line-container" id="Franciscus.14">
      <div class="line-character">Franciscus</div>
      Ad patrem meum, cuius incrēdibilī tenēor dēsīderiō videndī.
    </div>
 
    <div class="line-container" id="Andreas.15">
      <div class="line-character">Andrēās</div>
      Ībō tēcum ūnā.
    </div>
 
    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}
 
    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
 
    <!--Footer goes here-->
  </div>
 
   <div class="footer">
     <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
   </div>
</body>