---
title: Dialogī XLII - Dialogus Trīcēsimus Septimus
subtitle: 
type: Colloquium
author: Barlandus
collection: Dialogī XLII
topic:
- School
difficulty: Moderate
sequence: '037'
character_count: 3
permalink: /barlandus/dialogi-xlii-dialogus-tricesimus-septimus/
---
 
<!--Use this page as our master template-->
<!doctype html>
 
<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/style-reading.css" />
  
<script src="/scripts/headroom.min.js"></script>
    <script src="/scripts/common.js"></script>
  </head>
 
<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>
 
  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>
 
    <div class="characters">
      Persōnae:<br />
      Anselmus, Praeceptor, Petrulus
    </div>
 
    <div class="line-container" id="Anselmus.1">
      <div class="line-character">Anselmus</div>
      Grātulor tibi reditum ē solō nātālī praeceptor hūmānissime.
    </div>
 
    <div class="line-container" id="Praeceptor.2">
      <div class="line-character">Praeceptor</div>
      Habeō grātiam. Quōmodo sē habent rēs domī?
    </div>
 
    <div class="line-container" id="Anselmus.3">
      <div class="line-character">Anselmus</div>
      Variē.
    </div>
 
    <div class="line-container" id="Praeceptor.4">
      <div class="line-character">Praeceptor</div>
      Quid ita?
    </div>
 
    <div class="line-container" id="Anselmus.5">
      <div class="line-character">Anselmus</div>
      Iam triduum tōtum gravī morbō labōrāvit puer ille, quī nūper addūctus est ex Gandāvō, Petrus Herlemus domum sē recēpit ob mātris adversam valētūdinem.
    </div>
 
    <div class="line-container" id="Praeceptor.6">
      <div class="line-character">Praeceptor</div>
      Nēmō accessit meōrum numerō?
    </div>
 
    <div class="line-container" id="Anselmus.7">
      <div class="line-character">Anselmus</div>
      Duo accessērunt ex Mechlīniā.
    </div>
 
    <div class="line-container" id="Praeceptor.8">
      <div class="line-character">Praeceptor</div>
      Cuius fīliī?
    </div>
 
    <div class="line-container" id="Anselmus.9">
      <div class="line-character">Anselmus</div>
      Patrem aiunt magistrātum esse in eādem urbe.
    </div>
 
    <div class="line-container" id="Praeceptor.10">
      <div class="line-character">Praeceptor</div>
      Quis eōs addūxit?
    </div>
 
    <div class="line-container" id="Anselmus.11">
      <div class="line-character">Anselmus</div>
      Vir quispiam nātū grandior, cānā barbā, cānōque capillitiō, quem hypodidascalus tuus in coenam adhibuit, hūmāniterque tractāvit.
    </div>
 
    <div class="line-container" id="Praeceptor.12">
      <div class="line-character">Praeceptor</div>
      Bene factum.
    </div>
 
    <div class="line-container" id="Anselmus.13">
      <div class="line-character">Anselmus</div>
      Praetereā vēnit alius ex Antuerpiā, quī ancillae tuae prō annuō victū cognātulī suī adnumerāvit corōnātōs trīgintā.
    </div>
 
    <div class="line-container" id="Praeceptor.14">
      <div class="line-character">Praeceptor</div>
      Ancilla ubi nunc est?
    </div>
 
    <div class="line-container" id="Anselmus.15">
      <div class="line-character">Anselmus</div>
      Modo abiīt ad forum emptūrum pisciculōs tibi in coenam.
    </div>
 
    <div class="line-container" id="Praeceptor.16">
      <div class="line-character">Praeceptor</div>
      Abī tū ōcyus atque eam revocā. Dīcitō nihil opus esse ut quicquam emat, Nam coenō forīs. Sed unde nōbīs Petrulus noster?
    </div>
 
    <div class="line-container" id="Petrulus.17">
      <div class="line-character">Petrulus</div>
      Ā forō praeceptor. Gaudeō tē rediīsse.
    </div>
 
    <div class="line-container" id="Praeceptor.18">
      <div class="line-character">Praeceptor</div>
      Crēdō, sed magis gāvīsūrus fortasse sī quis renūntiāsset mē diūtius abfutūrum. Sed tū intereā quàm strēnuum tē mīlitem praebuistī in palaestrā literāriā?
    </div>
 
    <div class="line-container" id="Petrulus.19">
      <div class="line-character">Petrulus</div>
      Sīc strēnuē mīlitāvī, ut duās absente tē ēdidicerim Terentiī comoediās.
    </div>
 
    <div class="line-container" id="Praeceptor.20">
      <div class="line-character">Praeceptor</div>
      Quās?
    </div>
 
    <div class="line-container" id="Petrulus.21">
      <div class="line-character">Petrulus</div>
      Eunūchum atque Adelphōs.
    </div>
 
    <div class="line-container" id="Praeceptor.22">
      <div class="line-character">Praeceptor</div>
      Utriusque igitur īnscrīptiōnis ratiōnem tenēs?
    </div>
 
    <div class="line-container" id="Petrulus.23">
      <div class="line-character">Petrulus</div>
      Teneō praeceptor.
    </div>
 
    <div class="line-container" id="Praeceptor.24">
      <div class="line-character">Praeceptor</div>
      Quid igitur sīgnificat vocābulum adelphī?
    </div>
 
    <div class="line-container" id="Petrulus.25">
      <div class="line-character">Petrulus</div>
      Haec dictiō plūrātīva latīnē sīgnificat frātrēs, hōc inditum est nōmen comoediae ā duōbus frātribus, Mitiōne ac Dēmeā: quōrum hīc dūrus ac saevus, ille mītis atque indulgēns pater Terentiō indūcitur.
    </div>
 
    <div class="line-container" id="Praeceptor.26">
      <div class="line-character">Praeceptor</div>
      Nunc tū mihi chārissimus es discipulus, atque ob hanc tam strēnuē nāvātam operam tibi permittō, ut ā prandiō lūdās.
    </div>
 
    <div class="line-container" id="Anselmus.27">
      <div class="line-character">Anselmus</div>
      An sōlus lūdam praeceptor?
    </div>
 
    <div class="line-container" id="Praeceptor.28">
      <div class="line-character">Praeceptor</div>
      Ascīsce tibi ūnum aliquem ex illīs, quōrum mihi explōrāta est in studiīs dīligentia.
    </div>
 
    <div class="line-container" id="Petrulus.29">
      <div class="line-character">Petrulus</div>
      Sodālem cupiō conterrāneum &amp; cognōminem meum Petrum Burgēnsem.
    </div>
 
    <div class="line-container" id="Praeceptor.30">
      <div class="line-character">Praeceptor</div>
      Probē facis, ille nihil aliud quàm lūdit etiam absque veniā.
    </div>
 
    <div class="line-container" id="Petrulus.31">
      <div class="line-character">Petrulus</div>
      Sī is nōn placet, sine praeceptor ut mēcum sit Henrīcus Lubecēnsis, quō iuvene nūllus est alius in lūdō tuō literāriō bonārum literārum studiōsior.
    </div>
 
    <div class="line-container" id="Praeceptor.32">
      <div class="line-character">Praeceptor</div>
      Age fīat.
    </div>
 
    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}
 
    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
 
    <!--Footer goes here-->
  </div>
 
   <div class="footer">
     <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
   </div>
</body>