---
title: Dialogī XLII - Dialogus Duodēvīcēsimus
subtitle: Ex Sātyrā quādam Horātiī in garrulum
type: Colloquium
author: Barlandus
collection: Dialogī XLII
topic:
- School
difficulty: Moderate
sequence: '018'
character_count: 2
permalink: /barlandus/dialogi-xlii-dialogus-duodevicesimus/
---
 
<!--Use this page as our master template-->
<!doctype html>
 
<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/style-reading.css" />
  
<script src="/scripts/headroom.min.js"></script>
    <script src="/scripts/common.js"></script>
  </head>
 
<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>
 
  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>
 
    <div class="characters">
      Persōnae:<br />
      Garrulus, Horātius
    </div>
 
    <div class="line-container" id="Garrulus.1">
      <div class="line-character">Garrulus</div>
      Quid agis dulcissime Horātī?
    </div>
 
    <div class="line-container" id="Horatius.2">
      <div class="line-character">Horātius</div>
      Suāviter ut nunc est rērum status, &amp; omnia quae vīs cupiō.
    </div>
 
    <div class="line-container" id="Garrulus.3">
      <div class="line-character">Garrulus</div>
      Nōstīn mē? doctus sum.
    </div>
 
    <div class="line-container" id="Horatius.4">
      <div class="line-character">Horātius</div>
      Tantō plūris tē faciō.
    </div>
 
    <div class="line-container" id="Garrulus.5">
      <div class="line-character">Garrulus</div>
      Ut videō abīre cupīs, sed nihil agis, ūsque tenēbō tē &amp; persequar. Hinc quō nunc est iter tibi? Nihil opus est tē circumagī, et quaerere dīverticula, ut ā mē discēdās.
    </div>
 
    <div class="line-container" id="Horatius.6">
      <div class="line-character">Horātius</div>
      Invīsō quendam minimē tibi nōtum, &amp; nunc graviter decumbentem. Is amīcus longē trāns Tiberim habitat propē Caesaris hortōs.
    </div>
 
    <div class="line-container" id="Garrulus.7">
      <div class="line-character">Garrulus</div>
      Nihil quod agam habeō, &amp; nōn sum piger, ūsque tē sequar. Sī bene mē nōvī, nōn plūris faciēs quemvīs alium quamvīs disertum amīcum quam mē. Nēmō mē scrībere plūrēs, aut citius possit versūs. Nēmō membra movēre mollius atque agilius, tam perītus sum canendī, quod Hermogenēs ille Tigellius invideat.
    </div>
 
    <div class="line-container" id="Horatius.8">
      <div class="line-character">Horātius</div>
      Est tibi māter? sunt cognātī, quibus tē incolumī est opus?
    </div>
 
    <div class="line-container" id="Garrulus.9">
      <div class="line-character">Garrulus</div>
      Neque māter est mihi, neque cognātī, omnēs sepelīvī.
    </div>
 
    <div class="line-container" id="Horatius.10">
      <div class="line-character">Horātius</div>
      Ō fēlīcēs, quōs quidem tibi tam garrulō mors ēripuit. Egō sōlus restō, quem tū garrulitāte interficiās tuā. Cōnfice nunc mē. Nam fātum īnstat mihi trīste quod anus quaepiam puerō mihi cecīnit, fore ut neque venēnō, neque in praeliō perīrem, neque lateris dolor mē, aut tussis auferret, aut tardā podagrā, sed garrulus mē quispiam cōnsūmeret.
    </div>
 
    <div class="line-container" id="Garrulus.11">
      <div class="line-character">Garrulus</div>
      Cōgor ego nunc respondēre vadātō. Quod nī faciam, lītem perdiderō. Sī mē amās Horātī, paulum hīc adsīs.
    </div>
 
    <div class="line-container" id="Horatius.12">
      <div class="line-character">Horātius</div>
      Ēmoriar sī aut possum adesse, aut sī iūra nōvī cīvīlia, et properō ut dīxī ad amīcum trāns Tiberim iacentem.
    </div>
 
    <div class="line-container" id="Garrulus.13">
      <div class="line-character">Garrulus</div>
      Nunc dubitō, velim ne tē relinquere, an lītem.
    </div>
 
    <div class="line-container" id="Horatius.14">
      <div class="line-character">Horātius</div>
      Ōrō mē relinquās.
    </div>
 
    <div class="line-container" id="Garrulus.15">
      <div class="line-character">Garrulus</div>
      Nōn faciam. Quō tēcum vīvit Mecoenās?
    </div>
 
    <div class="line-container" id="Horatius.16">
      <div class="line-character">Horātius</div>
      Homō est perpaucōrum hominum, &amp; sānā mente.
    </div>
 
    <div class="line-container" id="Garrulus.17">
      <div class="line-character">Garrulus</div>
      Nēmō tē fēlīcior est, ut quī illum amīcum &amp; patrōnum habeās, rem mihi grātissimam facerēs, mē tibi multum obligārēs, mē magnum habērēs in famulātū &amp; obsequiō adiūtōrem sī mē trāderēs illī, sī mē illī amīcum facerēs, quō statū rērum nēmō praeter tē illīc rēgnāret.
    </div>
 
    <div class="line-container" id="Horatius.18">
      <div class="line-character">Horātius</div>
      In hāc familiā nec adulātor, nec dītior quispiam officit mihi, aut etiam doctior, quisque suum illīc habet locum.
    </div>
 
    <div class="line-container" id="Garrulus.19">
      <div class="line-character">Garrulus</div>
      Magnum narrās, et vix crēdibile.
    </div>
 
    <div class="line-container" id="Horatius.20">
      <div class="line-character">Horātius</div>
      Atquī sīc habet.
    </div>
 
    <div class="line-container" id="Garrulus.21">
      <div class="line-character">Garrulus</div>
      Accendis mē, quāre magis cupiam illī proximus esse, id quod facile impetrābimus tē adiuvante, &amp; virum illum facilem et exōrābilem esse inaudīvī.
    </div>
 
    <div class="line-container" id="Horatius.22">
      <div class="line-character">Horātius</div>
      Quō facilior est et exōrābilior, hōc difficiliōrēs prīmōs aditus habet, neque sē facile patitur ā quōlibet supplicātūrō adīrī.
    </div>
 
    <div class="line-container" id="Garrulus.23">
      <div class="line-character">Garrulus</div>
      Mihi nōn dēfuerō, mūnerib. servōs corrumpam, neque sī semel atque iterum exclūsus fuerō proptereā dēsistam, opportunitātem quaeram, Mecoenātī occurram locīs omnibus, domum dēdūcam. Nihil sine magnō labōre datum est mortālib.
    </div>
 
    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}
 
    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
 
    <!--Footer goes here-->
  </div>
 
   <div class="footer">
     <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
   </div>
</body>