body {
    margin-top: 4em;
    background-color: #EEEEEE;
    line-height: 1.4;
    font-size: 1.5em;
    color: #444;
}

.line-container {
    background-color:gray;
}

.line-character {
    font-weight: bold;
}

.line-text {
}