---
title: Dialogi Familiares - Pars Prima - Colloquium Tertium
subtitle: DIURNĪ TEMPORIS DISTRIBŪTIŌ
type: Colloquium
author: van_torre
collection: Pars Prima
topic:
- Daily Life
- School
difficulty: Challenging
sequence: '003'
character_count: 2
permalink: /van_torre/dialogi_familiares-colloquium-tertium/
---

<!doctype html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/style-reading.css" />
  
<script src="/scripts/headroom.min.js"></script>
    <script src="/scripts/common.js"></script>
  </head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Damiānus, Philippus
    </div>

    <div class="line-container" id="Damiānus.01">
      <div class="line-character">Damiānus</div>
      <div class="line-bilingual">
        <div class="line-left">Nōn tē studiōrum, nōn temporis taedet, Philippe? Quotiēs relegenda est eadem sēmita?</div>
        <div class="line-right">Verdrieten u de studie en den tijdt niet, Philippe? Hoe dickwils moeten wy over den selfsten wegh?</div>
      </div>
    </div>

    <div class="line-container" id="Philippus.01">
      <div class="line-character">Philippus</div>
      <div class="line-bilingual">
        <div class="line-left">Numquam mē capit taedium temporis.</div>
        <div class="line-right">Nopt en verdriet mp den tijdt.</div>
      </div>
    </div>

    <div class="line-container" id="Damiānus.01">
      <div class="line-character">Damiānus</div>
      <div class="line-bilingual">
        <div class="line-left">Mē autem in diēs singulōs magis ac magis.</div>
        <div class="line-right">My verdriet hy daghelycks meer ende meer.</div>
      </div>
    </div>

    <div class="line-container" id="Philippus.01">
      <div class="line-character">Philippus</div>
      <div class="line-bilingual">
        <div class="line-left">Tū sectāris ōtia — ego fugiō.</div>
        <div class="line-right">Ghp soeckt de ledigheydt, ende ick vluchtse.</div>
      </div>
    </div>

    <div class="line-container" id="Damiānus.01">
      <div class="line-character">Damiānus</div>
      <div class="line-bilingual">
        <div class="line-left">Atquī ōtiō nihil est iūcundius.</div>
        <div class="line-right">Maer daer en is niet soeter als ledigheydt.</div>
      </div>
    </div>

    <div class="line-container" id="Philippus.01">
      <div class="line-character">Philippus</div>
      <div class="line-bilingual">
        <div class="line-left">Contrā, nihil est ōtiō magis taetrum.</div>
        <div class="line-right">Ter contrarie, daer en is niet verdrietelycker.</div>
      </div>
    </div>

    <div class="line-container" id="Damiānus.01">
      <div class="line-character">Damiānus</div>
      <div class="line-bilingual">
        <div class="line-left">Fateor — tū nūllum remittis tempus. Numquam tam māne ēgredior neque tam vesperī domum revertōr quīn tē cōnspicēr scrībere, aut mandāre memoriae, aut aliquid facere dēnique.</div>
        <div class="line-right">Ick beken't — ghp en versuymt gheenen tyt: nopt en gae ick foo vroegh uyt noch en come foo laet t'huyps, oft ick sie u schrijven, ofte van buyten leeren, ofte ten lesten yet doen.</div>
      </div>
    </div>

    <div class="line-container" id="Philippus.01">
      <div class="line-character">Philippus</div>
      <div class="line-bilingual">
        <div class="line-left">Vīs occupātiōnem meam diurnam omnem ā capite expōnam tibī?</div>
        <div class="line-right">Wilt ghp dat ick van den beghinne u voorstelle alle mijn daghelycksche becommernissen?</div>
      </div>
    </div>

    <div class="line-container" id="Damiānus.01">
      <div class="line-character">Damiānus</div>
      <div class="line-bilingual">
        <div class="line-left">Pervēlim.</div>
        <div class="line-right">Ick begeere't seer.</div>
      </div>
    </div>

    <div class="line-container" id="Philippus.01">
      <div class="line-character">Philippus</div>
      <div class="line-bilingual">
        <div class="line-left">Cubitū surgō prīmō dīlūculō, comparō ad scholam necessāria. Ubi septima sonuit, salūtātīs parentibus, sine morā cōnferō mē ad lūdum litterārium — sed sīc ut per templum, sī commodum est, mihi sit trānsitus.</div>
        <div class="line-right">Ick staen uyt den bedde op met den dagheraet, maecke gereet t'ghene nootsarckelick is ter schole. Soo t'seven gheslaghen is, ghegroet hebbende mijn ouders, sonder toeven maecke ick my naer de schole — foo nochtans, kan het gheschieden, dat ick door een Kercke passere.</div>
      </div>
    </div>

    <div class="line-container" id="Damiānus.01">
      <div class="line-character">Damiānus</div>
      <div class="line-bilingual">
        <div class="line-left">Quid illāc?</div>
        <div class="line-right">Waer om langhs daer?</div>
      </div>
    </div>

    <div class="line-container" id="Philippus.01">
      <div class="line-character">Philippus</div>
      <div class="line-bilingual">
        <div class="line-left">Tribus verbīs salūtō Dominum Dīvōsque omnēs, sed nōminātim Virginem mātrem, Angelum meum cūstōdem, tum eōs quōs mihi ēlēgī peculiārēs.</div>
        <div class="line-right">Met drie woorden groete ich den Heere ende alle Heylighen — maer naementlijck onse Lieve Vrouwe, mynen Engel bewaerder, ende dan die ick besonderlijck hebbe verkosen.</div>
      </div>
    </div>

    <div class="line-container" id="Damiānus.01">
      <div class="line-character">Damiānus</div>
      <div class="line-bilingual">
        <div class="line-left">Quid hīc ab illīs flagitās?</div>
        <div class="line-right">Wat aeght ghp hier van hun?</div>
      </div>
    </div>

    <div class="line-container" id="Philippus.01">
      <div class="line-character">Philippus</div>
      <div class="line-bilingual">
        <div class="line-left">Precor ut quī puer duodecim annōs nātus sedēns in templō docuit ipsōs doctōrēs, et quī idem est aeterna Sapientia Patris, illūstrāre velit ingenium meum ad perdiscendās honestās litterās, quibus aliquandō ūtar ad eius glōriam amplificandam.</div>
        <div class="line-right">Ick bidde dat die noch een kint, twaelf jaeren oude, sittende in de Kercke heeft geleert de leeraers selve, ende die t'samen is de eeuwige wysheydt des Vaders, witte verlichten mijn verstant om volcomelyck de eerbaere konsten te leeren, de welcke ick daer naer eens mochte gebruycken om te verbreden zijne glorie.</div>
      </div>
    </div>

    <div class="line-container" id="Damiānus.01">
      <div class="line-character">Damiānus</div>
      <div class="line-bilingual">
        <div class="line-left">Quid āgitur posteā?</div>
        <div class="line-right">Wat doet men daer naer?</div>
      </div>
    </div>

    <div class="line-container" id="Philippus.01">
      <div class="line-character">Philippus</div>
      <div class="line-bilingual">
        <div class="line-left">Ad lūdum properō et quod is locus postulat tōtō agō pectore.</div>
        <div class="line-right">Ick haeste my naer schole, en doen daer neerstelijck t'ghene die plaetse vereyscht.</div>
      </div>
    </div>

    <div class="line-container" id="Damiānus.01">
      <div class="line-character">Damiānus</div>
      <div class="line-bilingual">
        <div class="line-left">Ut gerīs ibīdem?</div>
        <div class="line-right">Doe draeght ghp u aldaer?</div>
      </div>
    </div>

    <div class="line-container" id="Philippus.01">
      <div class="line-character">Philippus</div>
      <div class="line-bilingual">
        <div class="line-left">Modīs omnibus dō operam nē meritō vapulem, nē quid dictō factōve vel praeceptōrem offendam vel sociōs.</div>
        <div class="line-right">In alle manieren doen mijn beste, op dat ick met recht niet gheslaeghen en worde, op dat ich met woorden oft wercken den Meester oft mede-ghesellen niet en bergramme.</div>
      </div>
    </div>

    <div class="line-container" id="Damiānus.01">
      <div class="line-character">Damiānus</div>
      <div class="line-bilingual">
        <div class="line-left">Probus es cum ista cōgitās.</div>
        <div class="line-right">Ghp zijt deughdelyck als ghp sulcks peyist.</div>
      </div>
    </div>

    <div class="line-container" id="Philippus.01">
      <div class="line-character">Philippus</div>
      <div class="line-bilingual">
        <div class="line-left">Ad hōram decimam, datō ad Sacrum signō campanae, vāsa colligō silentiō. In eundem curō nēquā dē viā dēclīnem aut aliter perturbem ōrdinem. Dum intersim reī dīvīnae, pervolvō Deiparae Rosārium. Grātiās agō sapientiae omnīs auctōrī Deō dē acceptō in studiīs lūmine.</div>
        <div class="line-right">Ten thien uren, soo t'gheluyt is naer de misse, pack ick in stilte mijn ghereetsschap. In t'gaen lette dat ick nerghens buyten wegh en gae, oft anders store de orden. Ter-wylen ick misse hoore, lese ick een Roosenhoeckxken van onse Lieve Vrouwe. Ick bedancke Godt den oorspronck van alle wijsheydt, over de verlichtinghe ontfanghen in de studien.</div>
      </div>
    </div>

    <div class="line-container" id="Damiānus.01">
      <div class="line-character">Damiānus</div>
      <div class="line-bilingual">
        <div class="line-left">Reversus ē lūdō domum quid agitās?</div>
        <div class="line-right">Wat doet ghp weder ghekeert zijnde uyt de schole naer huyps?</div>
      </div>
    </div>

    <div class="line-container" id="Philippus.01">
      <div class="line-character">Philippus</div>
      <div class="line-bilingual">
        <div class="line-left">Sī quid est obsequiī praestandum parentibus, obeō. Quod sī quid etiam superest temporis, mēcum aut cum sodālī repetō quod praelēctum est in scholā — dēnique pōmerīdiānae praelēctiōnis memoriam refrīcō.</div>
        <div class="line-right">Moet ick eenighen dienst doen aen mijn ouders, dat volbrenghe ick. Ist datter dan noch eenighen tyt overschiet, ick oversie bij mp, oft met eenen mede-ghesel, het welck voor gheslesen is in de schole — ten lesten ick verversche de memorie van de lesse nae middagh.</div>
      </div>
    </div>

    <div class="line-container" id="Damiānus.01">
      <div class="line-character">Damiānus</div>
      <div class="line-bilingual">
        <div class="line-left">Nae tū parcus admodum es temporis.</div>
        <div class="line-right">Doorwaer ghp spaert gheweldigh den tijdt.</div>
      </div>
    </div>

    <div class="line-container" id="Philippus.01">
      <div class="line-character">Philippus</div>
      <div class="line-bilingual">
        <div class="line-left">Nec mīrum sī parcus sim reī, ut multō pretiōsissimae, ita cum periit irreccābilis.</div>
        <div class="line-right">Ten is niet wonder ist dat ick spaere een saecke en de kostelyckste, ende onwederroepelyck, als sp verloren is.</div>
      </div>
    </div>

    <div class="line-container" id="Damiānus.01">
      <div class="line-character">Damiānus</div>
      <div class="line-bilingual">
        <div class="line-left">Sapīs — sed quid deinde geritur?</div>
        <div class="line-right">Ghp zijt wijs — maer wat bedrijft ghp daer naer?</div>
      </div>
    </div>

    <div class="line-container" id="Philippus.01">
      <div class="line-character">Philippus</div>
      <div class="line-bilingual">
        <div class="line-left">Instrūctā parentibus mēnsā prōnūntiō prandiī cōnsēcrātiōnem, deinde prandentibus ministrō, dōnec iubeor et ipse accumbere.</div>
        <div class="line-right">Als de tafel ghedeckt is voor mijn ouders, segghe ick de Benedictie. Daer naer diene ick aen tafel, tot dat mp oock gheboden wort aen te sitten.</div>
      </div>
    </div>

    <div class="line-container" id="Philippus.02">
      <div class="line-character">Philippus</div>
      <div class="line-bilingual">
        <div class="line-left">Āctīs grātiīs, sī quid vacat, lūsū quōpiam honestō laxō animum cum sodālibus, dōnec hōra revocāt in lūdum ā lūsū.</div>
        <div class="line-right">De gratie gesept zijnde, ist er wat tyt, vermarck ick den gheest met eenigh eerslijck spel onder mijn medeghesellen, tot dat de ure mp roept uyt het spel naer de schole.</div>
      </div>
    </div>

    <div class="line-container" id="Damiānus.01">
      <div class="line-character">Damiānus</div>
      <div class="line-bilingual">
        <div class="line-left">An rūrsum aditur templum?</div>
        <div class="line-right">Gaet ghp dan wederom naer de kercke?</div>
      </div>
    </div>

    <div class="line-container" id="Philippus.01">
      <div class="line-character">Philippus</div>
      <div class="line-bilingual">
        <div class="line-left">Adeō, sī commodum est. Sī naut nōn sit tempestīvum, aut nōn pateant aedēs sacrae, tamen praeteriēns mente et cōgitātiōne Deum salūtō. Rūrsus in lūdō, posteā domī idem agō quod ante prandium. Ā cēnā suāvibus fābulīs mēmet oblectō cum domesticīs ante focum. Mox prōsperam noctem precor parentibus et rogō ut mē mūniant signō Crucis — sīc mātūrē mē ad quiētem cōnferō.</div>
        <div class="line-right">Jae ick gaender, ist gheleghen — maer ist ontijdigh, oft is de kercke niet open, nochtans boor-bp gaende, groet ick Godt metter herten, ende gedachten. Wederom in de schoole, daer naer t'huyps doen ick als voor den noen. Naer het avondtmael met soeten klap vermaecke ick my met de huysghenooten bij t'vier. Tosts daer naer wensch ick goeden nacht aen mijn ouders, ende bidde dat sy my willen een Cruysken gheven — en foo treck ick tijdelyck te ruste.</div>
      </div>
    </div>

    <div class="line-container" id="Damiānus.01">
      <div class="line-character">Damiānus</div>
      <div class="line-bilingual">
        <div class="line-left">Laudō īnstitūtum. Ō sī queam assequī!</div>
        <div class="line-right">Ick prijse dese ghewoonte. Och ofte ich se oock hoste bekomen!</div>
      </div>
    </div>

    <div class="line-container" id="Philippus.01">
      <div class="line-character">Philippus</div>
      <div class="line-bilingual">
        <div class="line-left">Poteris, velīs tantummodo — nam ubi assueris pauculos mēnsēs, erunt haec etiam suāvia, atque adeō vertentur in nātūram.</div>
        <div class="line-right">Ghp sult het konnen — wilt maer, want als ghp t'sult gheploghen hebben eenighe maenden, dese dinghen sullen oock soet zijn, jae sullen verandert worden in nature.</div>
      </div>
    </div>


    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>

    <!--Footer goes here-->
  </div>

   <div class="footer">
     <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
   </div>
</body>