---
title: Dialogi Familiares - Pars Prima - Colloquium Septimum decimum
subtitle: CONVĪVIUM
type: Colloquium
author: van_torre
collection: Pars Prima
topic:
- Daily Life
difficulty: Challenging
sequence: '017'
character_count: 5
permalink: /van-torre/dialogi_familiares-colloquium-septimum-decimum/
---

<!doctype html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/style-reading.css" />
  
<script src="/scripts/headroom.min.js"></script>
    <script src="/scripts/common.js"></script>
  </head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Pater familiās, Fīlius, Lambertus, Adriānus, Antōnius
    </div>

    <div class="line-container" id="Scaena.01">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Ante accubātiōnem.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="line-container" id="Pater-familiās.01">
      <div class="line-character">Pater familiās</div>
      <div class="line-bilingual">
        <div class="line-left">Vester omnium adventus, convīvae, est mihi longē grātissimus, grātiāsque agō quod mēnsam meam praesentiā vestrā cohōnestāre dignemini.</div>
        <div class="line-right">Gasten, u lieden komste is my seer aengenaem, ende ick bedancke u lieden, dat ghp met u teghenwoordigheydt mijn tafel vereert.</div>
      </div>
    </div>

    <div class="line-container" id="Lambertus.01">
      <div class="line-character">Lambertus</div>
      <div class="line-bilingual">
        <div class="line-left">Immō nostrum est grātiās agere, quod nōs in aedēs tuās intrōmīseris.</div>
        <div class="line-right">Wy moeten u bedancken, dat ghp ons in u huyps ontfanght.</div>
      </div>
    </div>

    <div class="line-container" id="Pater-familiās.01">
      <div class="line-character">Pater familiās</div>
      <div class="line-bilingual">
        <div class="line-left">Quīnimmō haec missa faciāmus — prandium corrumpitur; lavēmus ac discumbāmus.</div>
        <div class="line-right">Maer laet ons dat daer laeten: het noen-mael bederft; laet ons wafschen, ende aen tafel sitten.</div>
      </div>
    </div>

    <div class="line-container" id="Adriānus.01">
      <div class="line-character">Adriānus</div>
      <div class="line-bilingual">
        <div class="line-left">Tū hīc rēgnum possidēs — imperā modō; obtemperābimus.</div>
        <div class="line-right">Ghp zijt hier meester; ghebiedt alleen, ende wp sullen ghehoorsaemen.</div>
      </div>
    </div>

    <div class="line-container" id="Pater-familiās.01">
      <div class="line-character">Pater familiās</div>
      <div class="line-bilingual">
        <div class="line-left">Hūc tū, puer, cape guttum ac patinam, linteum ex humerō suspende, ministrā aquam. Quid cessās? Lavā, Antōnī.</div>
        <div class="line-right">Jongen, komt hier; neemt het lampet, ende de schotel; hanght den doeck op u schouders; brenght water: waer blijfop? Wascht u, Antoni.</div>
      </div>
    </div>

    <div class="line-container" id="Antōnius.01">
      <div class="line-character">Antōnius</div>
      <div class="line-bilingual">
        <div class="line-left">Lavā tū prior.</div>
        <div class="line-right">Wascht ghp d'eerste.</div>
      </div>
    </div>

    <div class="line-container" id="Pater-familiās.01">
      <div class="line-character">Pater familiās</div>
      <div class="line-bilingual">
        <div class="line-left">Bonā tuā veniā — hōc annō perpetuō illōtus prandere māllem.</div>
        <div class="line-right">Met uwen oorlof, ick soude liever 't geheel jaer ongewafschen eten.</div>
      </div>
    </div>

    <div class="line-container" id="Antōnius.01">
      <div class="line-character">Antōnius</div>
      <div class="line-bilingual">
        <div class="line-left">Rīdiculum! Tū es urbānus plūs satis — quōrsum attinet ista urbānitās?</div>
        <div class="line-right">Geckernye! Ghp zijt al te courtois: waer toe dient al die heusheydt?</div>
      </div>
    </div>

    <div class="line-container" id="Pater-familiās.01">
      <div class="line-character">Pater familiās</div>
      <div class="line-bilingual">
        <div class="line-left">Hūiusmodī immodicae urbānitātis officia aulicīs relinquāmus — unde olim profecta sunt, eō remittāmus. Accēde, Lamberte.</div>
        <div class="line-right">Laet ons die ceremonien aen de hovelinghen laeten: en seynd en van daer fp ghekomen zijn. Komt bij, Lamberte.</div>
      </div>
    </div>

    <div class="line-container" id="Lambertus.01">
      <div class="line-character">Lambertus</div>
      <div class="line-bilingual">
        <div class="line-left">Nō ego initium dederō.</div>
        <div class="line-right">Ick en sal niet beginnen.</div>
      </div>
    </div>

    <div class="line-container" id="Pater-familiās.01">
      <div class="line-character">Pater familiās</div>
      <div class="line-bilingual">
        <div class="line-left">Nē terāmus tempus ēiusmodī mōrīs — lavēmus ternī aut quaternī simul.</div>
        <div class="line-right">En laet ons met vertoeven, den tijdt foo niet verslijten: laet ons drie ofte viert t'samen wafschen.</div>
      </div>
    </div>

    <div class="line-container" id="Antōnius.01">
      <div class="line-character">Antōnius</div>
      <div class="line-bilingual">
        <div class="line-left">Hōc expedit.</div>
        <div class="line-right">Tis beter.</div>
      </div>
    </div>

    <div class="line-container" id="Pater-familiās.01">
      <div class="line-character">Pater familiās</div>
      <div class="line-bilingual">
        <div class="line-left">Tū cibōs cōnsecrā, fīlī, fōrmulā vulgārī.</div>
        <div class="line-right">Soon, seght de gemeyne benedictie.</div>
      </div>
    </div>

    <div class="line-container" id="Fīlius.01">
      <div class="line-character">Fīlius</div>
      <div class="line-bilingual">
        <div class="line-left">Benedicīte. <br /> Nōs et ea quae sūmptūrī sumus benedicat dextera Chrīstī in nōmine Patris, et Fīliī, et Spīritūs Sānctī. Amen. <br /> Kyrie eleison. Christe eleison. Kyrie eleison. <br /> Pater noster etc. <br /> Et nē nōs indūcās in tentātiōnem. ℟ Sed līberā nōs ā malō. <br /> Mēnsae caelestis participes faciāt nōs Rēx aeternae glōriae. ℟ Amen.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="line-container" id="Scaena.01">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Accubātiō.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="line-container" id="Pater-familiās.01">
      <div class="line-character">Pater familiās</div>
      <div class="line-bilingual">
        <div class="line-left">Nunc accumbite, convīvae — grāta mihi vestra est praesentia. Age, Lamberte, locum occupā, ubī vidētur.</div>
        <div class="line-right">Sit nu aen tafel, gasten: u lieden teghenwoordigheydt is mp aengenaem. Ba, Lamberte, sit daer 't u belieft.</div>
      </div>
    </div>

    <div class="line-container" id="Lambertus.01">
      <div class="line-character">Lambertus</div>
      <div class="line-bilingual">
        <div class="line-left">Tē decet esse locī arbitrum.</div>
        <div class="line-right">Ghp moet de plaetse schicken.</div>
      </div>
    </div>

    <div class="line-container" id="Pater-familiās.01">
      <div class="line-character">Pater familiās</div>
      <div class="line-bilingual">
        <div class="line-left">Ego nūllī dēsīgnābō locum — sūmat sibī quisque quem volet. Quī dēlectātur ignī, hīc commodius accumbet. Quī offenditur lūce, dīligat hunc angulum. Quid cūnctāris, Lamberte, quasi nōn novimus nōs inter nōs? Accumbite.</div>
        <div class="line-right">Ick en sal aen niemant plaetse stellen: dat peder eenen neme die hp wilt; die gheerne bij 't vier is, sal hiert best sitten. Die t'licht niet en kan verdraghen, dat dien in desen hoeck come. Wat vertoefdy, Lamberte? 't Schijnt dat wp malcanderen niet en kennen. Dit aen tafel.</div>
      </div>
    </div>

    <div class="line-container" id="Lambertus.01">
      <div class="line-character">Lambertus</div>
      <div class="line-bilingual">
        <div class="line-left">Praei exemplō — sequēmur.</div>
        <div class="line-right">Gaet voor, en de wp sullen volghen.</div>
      </div>
    </div>

    <div class="line-container" id="Pater-familiās.01">
      <div class="line-character">Pater familiās</div>
      <div class="line-bilingual">
        <div class="line-left">Ego domī sum — vel stāns prandēbō, sī lubeat, vel obambulāns. Cessātis? At interim cibī refrīgēscunt! Agite, hospitēs hūmānissimī, quaesō — epulās nostrās, licet tenuis, aequī bonīque cōnsulite.</div>
        <div class="line-right">Ich bent 't huyps; ick sal oock al staende eten, wil ick, oft al wandelende. Wacht ghp noch? Daer entusschen de spijsen worden houdt. Wel aen, gasten, ick bidde, neemt dese maeltijt in danck, al-hoe-wel fp sober is.</div>
      </div>
    </div>

    <div class="line-container" id="Antōnius.01">
      <div class="line-character">Antōnius</div>
      <div class="line-bilingual">
        <div class="line-left">Nōn est quod extenuēs — prandium est apparātissimum.</div>
        <div class="line-right">Op en moet het niet verkleynen: t'is een overvloedighe maeltijdt.</div>
      </div>
    </div>

    <div class="line-container" id="Pater-familiās.01">
      <div class="line-character">Pater familiās</div>
      <div class="line-bilingual">
        <div class="line-left">Immō frūgāle et simplex — sed vestrā frētus facilitāte, familiāriter vōs vocāre ausus sum. Caeterum praebēte vōs hilārēs ac lubentēs, amābō. Adsis, Claudī — nēmō dignātur vel gustāre haec — tollē ocyus et affer quid aliud.</div>
        <div class="line-right">Daghelyksch en en slechten kost: maer betrouwende op u lieden gevoeghsaemheydt, hebbe ick u-lieden derben nooden. Doorts, ick bidde, zijt vrolijck en ghenoeghelijck. Komt hier, Claudi: niemant en wilt hiervan proeven; draeght het wegh, ende brenght wat anders.</div>
      </div>
    </div>

    <div class="line-container" id="Adriānus.01">
      <div class="line-character">Adriānus</div>
      <div class="line-bilingual">
        <div class="line-left">Quid opus fuit hōc tantō sūmptū?</div>
        <div class="line-right">Waer toe soo veel kost ghedaen?</div>
      </div>
    </div>

    <div class="line-container" id="Pater-familiās.01">
      <div class="line-character">Pater familiās</div>
      <div class="line-bilingual">
        <div class="line-left">Nūllōs fēcī sānē sūmptūs — plēraque mihi ab amīcīs missa sunt. Antōnī, tū nōn edis — agitō ac sī essēs domī tū.</div>
        <div class="line-right">Ick en hebbe gheenen kost ghedaen: t'is my meestal van mijn vrienden ghesonden. Antoni, ghp en eet niet: peyist dat ghp t'huyps zijt.</div>
      </div>
    </div>

    <div class="line-container" id="Antōnius.01">
      <div class="line-character">Antōnius</div>
      <div class="line-bilingual">
        <div class="line-left">Nōn cōnsuēvī super mēnsam verēcundārī.</div>
        <div class="line-right">Ick en pleghe over tafel niet beschaemt te zijn.</div>
      </div>
    </div>

    <div class="line-container" id="Pater-familiās.01">
      <div class="line-character">Pater familiās</div>
      <div class="line-bilingual">
        <div class="line-left">Excerpere rem tibī aliquid, Adriāne, sī palātum tuum tenērem. Placetne ministrēm tibī dē ansere hōc assō?</div>
        <div class="line-right">Adz iane, ick soude u wat snyden, kende ick uwen appetydt. Ghelieft u ghedient te zijn van dese ghebraede gans?</div>
      </div>
    </div>

    <div class="line-container" id="Adriānus.01">
      <div class="line-character">Adriānus</div>
      <div class="line-bilingual">
        <div class="line-left">Nōn sum reiectūrus quod ā tuā manū vēnerit — vērum tū nimium labōris meā causā capis: tū omnibus ministrās, ipse nihil edis.</div>
        <div class="line-right">Ick en sal 't niet weygheren, dat van u handt komt: maer ghy doet te veel moepte om mijnen t'wille; ghp dient een peder, ende en eet selver niet.</div>
      </div>
    </div>

    <div class="line-container" id="Pater-familiās.01">
      <div class="line-character">Pater familiās</div>
      <div class="line-bilingual">
        <div class="line-left">Vultisne singulī tantum dē meā causā facere quantum vestrā sum factūrus?</div>
        <div class="line-right">Wildy elck foo veel voor my doen, als ick voor u lieden?</div>
      </div>
    </div>

    <div class="line-container" id="Lambertus.01">
      <div class="line-character">Lambertus</div>
      <div class="line-bilingual">
        <div class="line-left">Volumus, ac lubentēs quidem.</div>
        <div class="line-right">Wy willen, ende seer gheerne.</div>
      </div>
    </div>

    <div class="line-container" id="Pater-familiās.01">
      <div class="line-character">Pater familiās</div>
      <div class="line-bilingual">
        <div class="line-left">Et bibet igitur ōrdine suum quisque calicem. Ā mē exemplum capiētis. Tibī prīmum prōpinō hunc cyathum, Antōnī — ā tē ibit in orbem.</div>
        <div class="line-right">Soo sal dan een jeder op zijn orden synen beker uyt-dincken. Ick sal voor-gaen. Antoni, ick brenghe u d'eerste; van u sal het ront gaen.</div>
      </div>
    </div>

    <div class="line-container" id="Antōnius.01">
      <div class="line-character">Antōnius</div>
      <div class="line-bilingual">
        <div class="line-left">Sit salūtī — bibe fēlīciter.</div>
        <div class="line-right">Godt zeghene u: drinckt dat het u wel bekomt.</div>
      </div>
    </div>

    <div class="line-container" id="Pater-familiās.01">
      <div class="line-character">Pater familiās</div>
      <div class="line-bilingual">
        <div class="line-left">Cēdat in sanitātem huius cōnsortii.</div>
        <div class="line-right">Op de ghesontherdt van dit gheselschap.</div>
      </div>
    </div>

    <div class="line-container" id="Antōnius.01">
      <div class="line-character">Antōnius</div>
      <div class="line-bilingual">
        <div class="line-left">Equidem nōn recūsō — accipiō abs tē libenter.</div>
        <div class="line-right">Ick voor mijn paert ben tevreden: ick ontfanght van u seer gheerne.</div>
      </div>
    </div>

    <div class="line-container" id="Pater-familiās.01">
      <div class="line-character">Pater familiās</div>
      <div class="line-bilingual">
        <div class="line-left">En, exhaustī — tē paria faciō.</div>
        <div class="line-right">Diet, t'is uyt: doet oock bescheet.</div>
      </div>
    </div>

    <div class="line-container" id="Antōnius.01">
      <div class="line-character">Antōnius</div>
      <div class="line-bilingual">
        <div class="line-left">Praebibō tibī hanc paterem, Lamberte, in salūtem Rēgis Hispāniārum.</div>
        <div class="line-right">Lamberte, ick brenghe 't u met onse schaele, op de ghesontherdt vanden Coninck van Spaignien.</div>
      </div>
    </div>

    <div class="line-container" id="Lambertus.01">
      <div class="line-character">Lambertus</div>
      <div class="line-bilingual">
        <div class="line-left">Nōn possum tibī respondēre. Nec decet Chrīstiānum ad aequālēs haustūs cōgere.</div>
        <div class="line-right">Ick en kan 't u niet naer doen. Noch t'en betaemt geen Christen mensch te dwinghen tot ghelycke teugen.</div>
      </div>
    </div>

    <div class="line-container" id="Antōnius.01">
      <div class="line-character">Antōnius</div>
      <div class="line-bilingual">
        <div class="line-left">Quandō tē haec nova incessit religiō? Valēbis — sciō — vitrum est modicum.</div>
        <div class="line-right">T'Sint wanneer zijdy foo devoot gheworden? Ick weet wel, ghp kont het doen: t'is een kleyn glas.</div>
      </div>
    </div>

    <div class="line-container" id="Lambertus.01">
      <div class="line-character">Lambertus</div>
      <div class="line-bilingual">
        <div class="line-left">Satis est capāx et saepius recurrit.</div>
        <div class="line-right">T'Is al ghenoegh, ende t'komt dickwils wederom.</div>
      </div>
    </div>

    <div class="line-container" id="Pater-familiās.01">
      <div class="line-character">Pater familiās</div>
      <div class="line-bilingual">
        <div class="line-left">Quid cēnsēs dē vinō, Lamberte? Tū palātis perītissimī.</div>
        <div class="line-right">Lamberte, wat dunct u van desen wijn? Ghp verstaet u best van de smarck.</div>
      </div>
    </div>

    <div class="line-container" id="Lambertus.01">
      <div class="line-character">Lambertus</div>
      <div class="line-bilingual">
        <div class="line-left">Vīnum est insigniter bonum meō quidem iūdiciō.</div>
        <div class="line-right">Den wijn is seer goet, naer mijn oordeel.</div>
      </div>
    </div>

    <div class="line-container" id="Pater-familiās.01">
      <div class="line-character">Pater familiās</div>
      <div class="line-bilingual">
        <div class="line-left">Videō vōs sēgniter attingere. Libetne cuiquam quidquam amplius?</div>
        <div class="line-right">Ick sien wy gaender traegh mede te werck. Ghelieft jemandt noch meer?</div>
      </div>
    </div>

    <div class="line-container" id="Adriānus.01">
      <div class="line-character">Adriānus</div>
      <div class="line-bilingual">
        <div class="line-left">Nihil omnīnō — satis strēnuē mūnus nostrum administrāvimus.</div>
        <div class="line-right">Piet met allen: wy hebben ons beste wel ghedaen.</div>
      </div>
    </div>

    <div class="line-container" id="Pater-familiās.01">
      <div class="line-character">Pater familiās</div>
      <div class="line-bilingual">
        <div class="line-left">Iubēbō igitur proferrī bellāria. Claudī, tolle haec et bellāria appōnitō — mūtā orbēs.</div>
        <div class="line-right">Ick sal dan het frupt doen op brengen. Claudi, draeght dit wegh, ende brenght het fruyt; verandert de talioozen.</div>
      </div>
    </div>

    <div class="line-container" id="Antōnius.01">
      <div class="line-character">Antōnius</div>
      <div class="line-bilingual">
        <div class="line-left">En omne genus dēliciārum!</div>
        <div class="line-right">Siet, alle soorten van lieffelijckheydt.</div>
      </div>
    </div>

    <div class="line-container" id="Pater-familiās.01">
      <div class="line-character">Pater familiās</div>
      <div class="line-bilingual">
        <div class="line-left">Frūctūs sunt quōs hortus noster benignē effundit.</div>
        <div class="line-right">Zijn vruchten uyt onsen hof.</div>
      </div>
    </div>

    <div class="line-container" id="Antōnius.01">
      <div class="line-character">Antōnius</div>
      <div class="line-bilingual">
        <div class="line-left">Tantō erunt suāviōrēs quod vernāculī.</div>
        <div class="line-right">Sp sullen foo veel te beter smaecken, omdat sp t'huyps ghewonnen zijn.</div>
      </div>
    </div>

    <div class="line-container" id="Pater-familiās.01">
      <div class="line-character">Pater familiās</div>
      <div class="line-bilingual">
        <div class="line-left">Sed cūr cessat pātera? Cūr nōn obambulat?</div>
        <div class="line-right">Wel, waerom staet de schael stil? Waerom en gaet sy niet ront?</div>
      </div>
    </div>

    <div class="line-container" id="Adriānus.01">
      <div class="line-character">Adriānus</div>
      <div class="line-bilingual">
        <div class="line-left">Nimium diū prōtrahimus epulās. Iubē mēnsam removerim, sī tibī placet.</div>
        <div class="line-right">Wp verlenghen de maeltijdt te seer. Moet de tafel op-nemen, ghelieve 't u.</div>
      </div>
    </div>

    <div class="line-container" id="Pater-familiās.01">
      <div class="line-character">Pater familiās</div>
      <div class="line-bilingual">
        <div class="line-left">Iam iubēbō.</div>
        <div class="line-right">Terstont sal ick het doen.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.01">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Post accubātiōnem.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="line-container" id="Pater-familiās.01">
      <div class="line-character">Pater familiās</div>
      <div class="line-bilingual">
        <div class="line-left">Interim vestrum erit hōc quālecumque est convīvium bonī cōnsulere. Animus certē pūrus est, sī parum lautum est convīvium.</div>
        <div class="line-right">Daer-en tusschen sult ghp lieden dese maeltijt over dat sp is, in danck nemen. Den wille is goet, ist dat de maeltijt slecht is.</div>
      </div>
    </div>

    <div class="line-container" id="Antōnius.01">
      <div class="line-character">Antōnius</div>
      <div class="line-bilingual">
        <div class="line-left">Scītus sānē convīvātor es — benignē comiterque nōs habuistī.</div>
        <div class="line-right">Ghp verstaet u fraep van maeltijdt op te rechten: ghp hebt ons seer wel ghetracteert.</div>
      </div>
    </div>

    <div class="line-container" id="Pater-familiās.01">
      <div class="line-character">Pater familiās</div>
      <div class="line-bilingual">
        <div class="line-left">Fīlī, adēs hūc — age Deō grātiās, clārē et ductim.</div>
        <div class="line-right">Soon, comt hier: bedanckt Godt claer ende traegh.</div>
      </div>
    </div>

    <div class="line-container" id="Fīlius.01">
      <div class="line-character">Fīlius</div>
      <div class="line-bilingual">
        <div class="line-left">℣ Agimus tibī grātiās, omnipotēns Deus, prō ūniversīs beneficiīs tuīs, quī vīvis et regnās in saecula saeculōrum. ℟ Amen. <br /> Kyrie eleison. ℟ Christe eleison. Kyrie eleison. <br /> Pater noster etc. <br /> Et nē nōs indūcās in tentātiōnem. ℟ Sed līberā nōs ā malō. <br /> Retribuere digāre, Domine, omnibus nōbīs bona facientibus propter nōmen tuum vītam aeternam. ℟ Amen. <br /> Fīdēlium animae per misericordiam Deī requiēscant in pāce. ℟ Amen.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="line-container" id="Pater-familiās.01">
      <div class="line-character">Pater familiās</div>
      <div class="line-bilingual">
        <div class="line-left">Placetne spatiā faciāmus duo vel tria per hortum nostrum?</div>
        <div class="line-right">Belieft u niet twee oft drep keerkens te doen door onsen hof?</div>
      </div>
    </div>

    <div class="line-container" id="Antōnius.01">
      <div class="line-character">Antōnius</div>
      <div class="line-bilingual">
        <div class="line-left">Faciāmus — aiunt enim tibī hortum esse excultissimum.</div>
        <div class="line-right">Ja: wantsp seggen, dat ghp eenen seer fraepen hof hebt.</div>
      </div>
    </div>

    <div class="line-container" id="Pater-familiās.01">
      <div class="line-character">Pater familiās</div>
      <div class="line-bilingual">
        <div class="line-left">Mediocriter — spectābitis, sī mē comitārī placuerit.</div>
        <div class="line-right">Middelbaert; ghp lieden sult het sien, is dat het u-lieden belieft mede te gaen.</div>
      </div>
    </div>

    <div class="line-container" id="Antōnius.01">
      <div class="line-character">Antōnius</div>
      <div class="line-bilingual">
        <div class="line-left">Subsequēmur.</div>
        <div class="line-right">Mp sullen volghen.</div>
      </div>
    </div>


    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>

    <!--Footer goes here-->
  </div>

   <div class="footer">
     <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
   </div>
</body>