---
title: Quattuor Colloquiola - Colloquium Secundum
subtitle: DĒ ADIECTĪVŌRUM ET PRŌNŌMINUM SYNTAXĪ (On the construction of adjectives and pronouns)
type: Colloquium
author: Leech
collection: Quattuor Colloquiola
topic:
- Latin Grammar
difficulty: Moderate
sequence: '002'
character_count: 3
permalink: /john-leech/quattuor_colloquiola-colloquium-secundum/
---

<!doctype html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/style-reading.css" />
  
<script src="/scripts/headroom.min.js"></script>
    <script src="/scripts/common.js"></script>
  </head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Andreās, Petrus, Henricus
    </div>

    <div class="line-container" id="Andreas.01">
      <div class="line-character">Andreās</div>
      <div class="line-bilingual">
        <div class="line-left">Quid est quod tē angit animī, mī Petre? Stās enim dubius mentis, velutī et temporis et tuī ipsīus immemor. Lūdī avidus esse solēbās — fortasse arcūs et calamī quae dūdum frēgerās dolōre afficiunt.</div>
        <div class="line-right">O my Peter, what is it which vexeth thee in thy mind? For thou standest doubtful of mind, as forgetful both of the time and also of thy own self. Thou wert wont to be greedy of play — perhaps the bow and the arrows which thou hadst broken of late do affect thee with grief.</div>
      </div>
    </div>

    <div class="line-container" id="Petrus.02">
      <div class="line-character">Petrus</div>
      <div class="line-bilingual">
        <div class="line-left">Nihil minus, Andrea. Ego iam lūdī dēsīderiō satūr bonarum litterārum sum cupīdissimus. Nec sum ita mentis inops ut armōrum lūdicrōrum āmissiō sit mihi molesta.</div>
        <div class="line-right">Nothing less, Andrew. I being now filled with the desire of play am most desirous of good learning. Nor am I so void of wit that the loss of my playing weapons may be grievous to me.</div>
      </div>
    </div>

    <div class="line-container" id="Andreas.03">
      <div class="line-character">Andreās</div>
      <div class="line-bilingual">
        <div class="line-left">Praestat sērō sapere quam numquam. Quid igitur vultū tam trīstī incēdis?</div>
        <div class="line-right">It is better to be wise late than never. Why therefore dost thou go with so sad a countenance?</div>
      </div>
    </div>

    <div class="line-container" id="Petrus.04">
      <div class="line-character">Petrus</div>
      <div class="line-bilingual">
        <div class="line-left">Haec mē cūra mordet et ācriter pungit — quod mihi parentēs meōs īrātōs esse audīverim, mēque ā scholā ad mercātūram quam prīmum fore avōcandum. Quārum rērum utram minus velim nōn facile possum aestimāre.</div>
        <div class="line-right">This care doth grip me and doth prick me sharply — because I have heard that my parents are angry with me, and that I must be called away from school to merchandize very speedily. Of which things whether I less wish, I cannot easily judge.</div>
      </div>
    </div>

    <div class="line-container" id="Andreas.05">
      <div class="line-character">Andreās</div>
      <div class="line-bilingual">
        <div class="line-left">Itane expers es cōnsiliī? Ita mente captus atque tantopere stupefactus quod ista audīveris? Nihil est fāmā mendācius. Tūque ācerrimā reprehēnsiōne dignus es, atque ignāvō tē esse animō ostendis quī verbōrum sonitū timidus et tam inānis ventī flātū ex minīs factus es exanimis.</div>
        <div class="line-right">Whether art thou so void of advice? So amazed in mind, and so greatly besotted because thou hast heard these things? Nothing is more lying, more false than report. And thou art worthy a most sharp reproof, and thou shewest thyself to be of base courage, who art made timid by a sound of words and heartless by so vain a blast of wind as threats.</div>
      </div>
    </div>

    <div class="line-container" id="Petrus.06">
      <div class="line-character">Petrus</div>
      <div class="line-bilingual">
        <div class="line-left">Ego certē tē vereor animī nimium audācem, quem nūllō metū pavidum animadvērtī.</div>
        <div class="line-right">Surely I fear thee of too bold a courage, whom I have marked as frightened by no fear.</div>
      </div>
    </div>

    <div class="line-container" id="Andreas.07">
      <div class="line-character">Andreās</div>
      <div class="line-bilingual">
        <div class="line-left">Bonō sīs animō. Tempus edāx rērum, et parentēs tuī nōn adeō difficilī praediti sunt ingeniō quin dēlictī tam levis citō futūrī sunt immemores, aut facile tibi apud eōs erit dēprecātiō.</div>
        <div class="line-right">Be thou of good courage. Time a devourer of things, and thy parents are not of so hard a disposition, but that they will quickly be forgetful of a fault so light, or else the entreating of pardon of the fault will be most easy with them for thee.</div>
      </div>
    </div>

    <div class="line-container" id="Petrus.08">
      <div class="line-character">Petrus</div>
      <div class="line-bilingual">
        <div class="line-left">Ō mihi omnium condiscipulōrum suāvissime! Nēmō tibī est in amōre secundus — dulcis es ac iucundus omnibus amīcīs, ūtilis quibusque sociōrum. Quis tuī similis ingeniō? Quis tibī pār voluntāte?</div>
        <div class="line-right">O most sweet to me of all my schoolfellows! No man is the second to thee in love — thou art sweet and pleasant to all thy friends, profitable to every one of thy fellows. Who is like thee in wit? Who is equal to thee in good will?</div>
      </div>
    </div>

    <div class="line-container" id="Andreas.09">
      <div class="line-character">Andreās</div>
      <div class="line-bilingual">
        <div class="line-left">Immō tū potius hāc laude dignus es, Petre. Mihī benevolentiā frāter, praeceptor, cor filiīs saepissimē extitistitī. Nōn est ūllus amīcōrum tē mihi charior vel voluntāte vel amōre. Sed hem — frāter adest, imāgō tuī dulcissima.</div>
        <div class="line-right">Yea rather thou art worthy of this praise, Peter. Thou hast been most often to me in good will a brother, a teacher, a heart to children. There is not any of my friends dearer to me than thee, either in good will or in love. But lo — thy brother is here, thy most sweet image.</div>
      </div>
    </div>

    <div class="line-container" id="Petrus.10">
      <div class="line-character">Petrus</div>
      <div class="line-bilingual">
        <div class="line-left">Ehodum, Henrice — quem quaeris?</div>
        <div class="line-right">Come hither, Henry — whom dost thou seek?</div>
      </div>
    </div>

    <div class="line-container" id="Henricus.11">
      <div class="line-character">Henricus</div>
      <div class="line-bilingual">
        <div class="line-left">Tē ipsum, meum germānum frātrem, mihī nātūrā animōque coniūnctissimum.</div>
        <div class="line-right">Even thyself, mine own brother, most nearly joined to me in nature and in heart.</div>
      </div>
    </div>

    <div class="line-container" id="Petrus.12">
      <div class="line-character">Petrus</div>
      <div class="line-bilingual">
        <div class="line-left">Ex tuō ipsīus animō hanc coniectūram facis dē meō in tē sōlīus amōre.</div>
        <div class="line-right">Thou dost make this guess out of thine own mind, of the love of me alone towards thee.</div>
      </div>
    </div>

    <div class="line-container" id="Henricus.13">
      <div class="line-character">Henricus</div>
      <div class="line-bilingual">
        <div class="line-left">Immō mutuus noster ambōrum amor cuique frātrum reliquōrum satis innōtēscit.</div>
        <div class="line-right">Nay rather the mutual love of us both is known sufficiently to every one of our brethren.</div>
      </div>
    </div>

    <div class="line-container" id="Petrus.14">
      <div class="line-character">Petrus</div>
      <div class="line-bilingual">
        <div class="line-left">Sed quis tē hūc mīsit?</div>
        <div class="line-right">But who hath sent thee hither?</div>
      </div>
    </div>

    <div class="line-container" id="Henricus.15">
      <div class="line-character">Henricus</div>
      <div class="line-bilingual">
        <div class="line-left">Pater. Duōrum enim librōrum quōs bibliopōla habet vēnālēs eiusdem argūmentī vult tē praestantiōrem ēligere.</div>
        <div class="line-right">My Father. For of two books which the bookseller hath to be sold of the same matter, he will that thou choose the better.</div>
      </div>
    </div>

    <div class="line-container" id="Petrus.16">
      <div class="line-character">Petrus</div>
      <div class="line-bilingual">
        <div class="line-left">At cuius est liber iste?</div>
        <div class="line-right">But whose book is this?</div>
      </div>
    </div>

    <div class="line-container" id="Andreas.17">
      <div class="line-character">Andreās</div>
      <div class="line-bilingual">
        <div class="line-left">Meus, aut patris quī praetium persolvit.</div>
        <div class="line-right">Mine, or else my father's, who hath paid the price of it.</div>
      </div>
    </div>

    <div class="line-container" id="Petrus.18">
      <div class="line-character">Petrus</div>
      <div class="line-bilingual">
        <div class="line-left">Quantī vēniit?</div>
        <div class="line-right">For how much was it sold?</div>
      </div>
    </div>

    <div class="line-container" id="Henricus.19">
      <div class="line-character">Henricus</div>
      <div class="line-bilingual">
        <div class="line-left">Tribus solidīs.</div>
        <div class="line-right">For three shillings.</div>
      </div>
    </div>

    <div class="line-container" id="Petrus.20">
      <div class="line-character">Petrus</div>
      <div class="line-bilingual">
        <div class="line-left">Quis tibī vēndidit?</div>
        <div class="line-right">Who sold it to thee?</div>
      </div>
    </div>

    <div class="line-container" id="Henricus.21">
      <div class="line-character">Henricus</div>
      <div class="line-bilingual">
        <div class="line-left">Mercātor, vīcīnus noster.</div>
        <div class="line-right">The Merchant, our neighbour.</div>
      </div>
    </div>

    <div class="line-container" id="Petrus.22">
      <div class="line-character">Petrus</div>
      <div class="line-bilingual">
        <div class="line-left">Hic liber crassus est — quattuor, crēdō, pollicēs — lātus palmīs duābus, longus pedem integrum.</div>
        <div class="line-right">This book is thick — four inches I believe — broad two hands, long a whole foot.</div>
      </div>
    </div>

    <div class="line-container" id="Henricus.23">
      <div class="line-character">Henricus</div>
      <div class="line-bilingual">
        <div class="line-left">At ille alter crassior est duōbus pollicibus, longior palmā.</div>
        <div class="line-right">But that other is thicker by two inches, longer by a hand breadth.</div>
      </div>
    </div>

    <div class="line-container" id="Andreas.24">
      <div class="line-character">Andreās</div>
      <div class="line-bilingual">
        <div class="line-left">Fortasse tantō charior erit quantō est māior. At id neutrī vestrum cūrae est, quibus pater est agrīs abundē dīves nummīsque locuplētissimus.</div>
        <div class="line-right">Perhaps it will be dearer by so much, by how much it is greater. But that thing is a care to neither of you, who have a Father exceeding rich in lands and most wealthy in money.</div>
      </div>
    </div>

    <div class="line-container" id="Petrus.25">
      <div class="line-character">Petrus</div>
      <div class="line-bilingual">
        <div class="line-left">Anne tū ipse malis dīvitiīs in litterīs dīves esse?</div>
        <div class="line-right">Whether dost thou thyself rather wish to be rich with riches, or rich in learning?</div>
      </div>
    </div>

    <div class="line-container" id="Andreas.26">
      <div class="line-character">Andreās</div>
      <div class="line-bilingual">
        <div class="line-left">Ego et dīvitiās et litterās hominibus ūtilēs esse censeō — illās ut homō sē vītamque suam tueātur, hās ut mentem excolat et mōrēs ad virtūtem compōnat.</div>
        <div class="line-right">I do think both riches and also learning to be profitable to men — those that a man may maintain himself and his life, these that he may furnish his mind and frame his manners to virtue.</div>
      </div>
    </div>

    <div class="line-container" id="Henricus.27">
      <div class="line-character">Henricus</div>
      <div class="line-bilingual">
        <div class="line-left">Rēctē iūdicās, nisi fallor. Sed nōbīs hinc properandum est. Valē nōbīs utrīsque, plūrimum dīligande Andrea.</div>
        <div class="line-right">Thou judgest rightly, unless I be deceived. But we must make haste from hence. Farewell to us both, O Andrew, to be loved very much.</div>
      </div>
    </div>

    <div class="line-container" id="Andreas.28">
      <div class="line-character">Andreās</div>
      <div class="line-bilingual">
        <div class="line-left">Vōs valēte, mihi quoque multum amābilēs, optimī adulescentulī.</div>
        <div class="line-right">Fare you well, to be loved much of me also, O very good youths.</div>
      </div>
    </div>


    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>

    <!--Footer goes here-->
  </div>

   <div class="footer">
     <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
   </div>
</body>