---
title: Colloquia Latinō Sermōne Cōnscrīpta - Pars Altera - Colloquium Secundum
subtitle: LŪDUS CHARTĀRUM (Giuoco delle carte)
type: Colloquium
author: Balboni & Neri
collection: Pars Altera
topic:
- Games
difficulty: Moderate
sequence: '014'
character_count: 5
permalink: /balboni-&-neri/colloquia_latino_sermone_conscripta-pars-altera-colloquium-secundum/
---

<!doctype html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/style-reading.css" />
  
<script src="/scripts/headroom.min.js"></script>
    <script src="/scripts/common.js"></script>
  </head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Franciscus, Mārīnus, Hortēnsius, Servius, Rolandus
    </div>

    <div class="line-container" id="Franciscus.01">
      <div class="line-character">Franciscus</div>
      <div class="line-bilingual">
        <div class="line-left">Salvē, Marīne, ut valēs? Cūr tam obductam frontem geris? Quō iter tibī?</div>
        <div class="line-right">Buon giorno Marino, come stai? Perché sei serio? Dove sei diretto?</div>
      </div>
    </div>

    <div class="line-container" id="Mārīnus.01">
      <div class="line-character">Mārīnus</div>
      <div class="line-bilingual">
        <div class="line-left">Ipse nesciō; quō pedēs dūcunt! Cum pertaesum esset domī manēre, quamquam asperum et rīgidum caelum est, relaxandī animī causā exiī.</div>
        <div class="line-right">Non lo so nemmeno io! Essendomi annoiato di stare in casa, uscii per distrarmi, quantunque il tempo sia brutto.</div>
      </div>
    </div>

    <div class="line-container" id="Franciscus.01">
      <div class="line-character">Franciscus</div>
      <div class="line-bilingual">
        <div class="line-left">Quid, sī apud Hortēnsium nōs cōnferāmus?</div>
        <div class="line-right">Che diresti se andassimo da Ortensio?</div>
      </div>
    </div>

    <div class="line-container" id="Mārīnus.01">
      <div class="line-character">Mārīnus</div>
      <div class="line-bilingual">
        <div class="line-left">Quam longē hinc abest?</div>
        <div class="line-right">Quanto abita distante di qui?</div>
      </div>
    </div>

    <div class="line-container" id="Franciscus.01">
      <div class="line-character">Franciscus</div>
      <div class="line-bilingual">
        <div class="line-left">Proximē.</div>
        <div class="line-right">C'è poco.</div>
      </div>
    </div>

    <div class="line-container" id="Mārīnus.01">
      <div class="line-character">Mārīnus</div>
      <div class="line-bilingual">
        <div class="line-left">Sī ita rēs habet, eāmus!</div>
        <div class="line-right">Allora, andiamoci!</div>
      </div>
    </div>

    <div class="line-container" id="Hortēnsius.01">
      <div class="line-character">Hortēnsius</div>
      <div class="line-bilingual">
        <div class="line-left">Salvōs vōs vēnisse gaudeō! Quam prōsperē ēvēnit quod tam foedā tempestāte mē convēnistis! Possumus chartīs lūdere, cum etiam Servius et Rolandus adsint.</div>
        <div class="line-right">Ben venuti! Avete fatto proprio bene a venire, in un giorno così brutto! Possiamo fare una partita a carte, dato che c'è anche Servio e Rolando.</div>
      </div>
    </div>

    <div class="line-container" id="Omnēs.01">
      <div class="line-character">Omnēs</div>
      <div class="line-bilingual">
        <div class="line-left">Optimē!</div>
        <div class="line-right">Benissimo!</div>
      </div>
    </div>

    <div class="line-container" id="Franciscus.01">
      <div class="line-character">Franciscus</div>
      <div class="line-bilingual">
        <div class="line-left">Lūdāmus igitur; sed nōn possumus nisi quattuor lūdere; quīnque sumus; sortiāmur quis dēbeat spectātor adsidēre!</div>
        <div class="line-right">Giochiamo dunque; ma non possiamo giocare se non in quattro e noi siamo in cinque; tiriamo dunque a sorte, chi debba fare da spettatore.</div>
      </div>
    </div>

    <div class="line-container" id="Servius.01">
      <div class="line-character">Servius</div>
      <div class="line-bilingual">
        <div class="line-left">Nihil opus sortītiōne; ipse spectātor esse cupiō.</div>
        <div class="line-right">Non c'è bisogno di sorteggio; desidero fare io da spettatore.</div>
      </div>
    </div>

    <div class="line-container" id="Franciscus.01">
      <div class="line-character">Franciscus</div>
      <div class="line-bilingual">
        <div class="line-left">Nihil tāle; nēminī facienda est iniūria; nōlō cuiusquam voluntātī aut arbitriō id subiectum esse; rēs ita sortī committātur ut cuī prīmō rēx obvēnerit, is spectātor sedeat, et sī quid inciderit contrōversiae, iūdex advocētur.</div>
        <div class="line-right">Niente di ciò; non bisogna fare ingiuria a nessuno; non voglio che questo dipenda dalla volontà nostra; affidiamoci alla sorte, in modo che, colui al quale tocchi il primo re faccia da spettatore, e da giudice se capiterà da discutere.</div>
      </div>
    </div>

    <div class="line-container" id="Servius.01">
      <div class="line-character">Servius</div>
      <div class="line-bilingual">
        <div class="line-left">Estō ita, quemadmodum dīxistī! Assignā folia! (Assignantur folia.)</div>
        <div class="line-right">Va bene! Dà le carte. (Si distribuiscono le carte.)</div>
      </div>
    </div>

    <div class="line-container" id="Hortēnsius.01">
      <div class="line-character">Hortēnsius</div>
      <div class="line-bilingual">
        <div class="line-left">(Distribuēns folia.) Hōc est tuum, hōc Franciscī, hōc Marīnī, hōc tuum, Rolande!</div>
        <div class="line-right">(Distribuendo le carte.) Questa a te, questa a Francesco, questa a Marino, e questa è tua, Rolando!</div>
      </div>
    </div>

    <div class="line-container" id="Mārīnus.01">
      <div class="line-character">Mārīnus</div>
      <div class="line-bilingual">
        <div class="line-left">Tibī rēx obvēnit, Rolande; vehementer gaudeō tē spectātōrem potius esse quam collūsōrem!</div>
        <div class="line-right">Il re è toccato a te, Rolando; son lieto che tu sia spettatore piuttosto che compagno di gioco!</div>
      </div>
    </div>

    <div class="line-container" id="Rolandus.01">
      <div class="line-character">Rolandus</div>
      <div class="line-bilingual">
        <div class="line-left">Bona verba, quaesō! Cūr istud dīcis?</div>
        <div class="line-right">Parla meglio! Perché dici così?</div>
      </div>
    </div>

    <div class="line-container" id="Mārīnus.01">
      <div class="line-character">Mārīnus</div>
      <div class="line-bilingual">
        <div class="line-left">Quia es in lūdendō admodum vafer et cavillātor; quīn etiam aiunt tē artem compōnendī folia tenēre, prout tibī expediat.</div>
        <div class="line-right">Perché nel gioco tu sei assai scaltro e puntiglioso; anzi si dice che tu possieda l'arte di mettere insieme le carte, secondo quel che ti conviene.</div>
      </div>
    </div>

    <div class="line-container" id="Rolandus.01">
      <div class="line-character">Rolandus</div>
      <div class="line-bilingual">
        <div class="line-left">Sine fraudē ūllā lūdere cōnsuēvī; sed imperītiā tuā fit ut persaepe collūdendō mēcum inferior discēdās; ut nōn dīcam id tibī vitiō tribuī posse, quod simulac pauxillum pecūniae lucrātus es, solēs collūsōrēs dēserere, quasi tibī lūdere idem sit atque ēlūdere.</div>
        <div class="line-right">Ho l'abitudine, invece, di giocare senza inganni; dipende dalla tua imperizia, se spesso giocando con me hai perduto; del resto tu hai il brutto vizio che appena ti riesce guadagnare un po' di soldi, lasci il gioco, come se per te giocare volesse dire ingannare.</div>
      </div>
    </div>

    <div class="line-container" id="Franciscus.01">
      <div class="line-character">Franciscus</div>
      <div class="line-bilingual">
        <div class="line-left">Nōn est tempus iurgandī, sed lūdendī. Scōpīs lūdāmus!</div>
        <div class="line-right">Non è tempo di litigare ma di giocare! Giochiamo a scopa!</div>
      </div>
    </div>

    <div class="line-container" id="Servius.01">
      <div class="line-character">Servius</div>
      <div class="line-bilingual">
        <div class="line-left">(Ad Franciscum conversus.) Cum bīnī sīmus collūsūrī, ego, quippe quī hōc lūdendī genus parum calleam, adhaerēbō tibī socius, quem audīvī perītissimum esse et callidissimum.</div>
        <div class="line-right">(Volgendosi a Francesco.) Dato che bisogna giocare due contro due; io, siccome sono poco abile in questo gioco, sarò tuo compagno, perché ho sentito dire che tu sei assai esperto.</div>
      </div>
    </div>

    <div class="line-container" id="Mārīnus.01">
      <div class="line-character">Mārīnus</div>
      <div class="line-bilingual">
        <div class="line-left">Causa nōn est cūr sibī quisquam socium ēligat; omnia, meā quidem sententiā, sortī sunt committenda.</div>
        <div class="line-right">Non c'è motivo che alcuno si scelga il compagno; bisogna, secondo il mio parere, rimettere tutto alla sorte.</div>
      </div>
    </div>

    <div class="line-container" id="Servius.01">
      <div class="line-character">Servius</div>
      <div class="line-bilingual">
        <div class="line-left">Quōmodo?</div>
        <div class="line-right">Come?</div>
      </div>
    </div>

    <div class="line-container" id="Mārīnus.01">
      <div class="line-character">Mārīnus</div>
      <div class="line-bilingual">
        <div class="line-left">Iī quibus prīmīs peditēs obvēnerint, collūsōrēs suntō.</div>
        <div class="line-right">Quelli a cui toccheranno i due primi fanti giocheranno insieme.</div>
      </div>
    </div>

    <div class="line-container" id="Servius.01">
      <div class="line-character">Servius</div>
      <div class="line-bilingual">
        <div class="line-left">Nōn adversābor quōminus ita fiat. Distribuantur folia!</div>
        <div class="line-right">Non faccio nessuna difficoltà. Si distribuiscano le carte!</div>
      </div>
    </div>

    <div class="line-container" id="Mārīnus.01">
      <div class="line-character">Mārīnus</div>
      <div class="line-bilingual">
        <div class="line-left">Ego et Servius, quippe quibus prīmī peditēs obvēnerint, ab eādem stābimus parte; tū, Servī, cum Franciscō contrāriās partēs tuēbiminī! Ipse folia adsignābō. Misce anteā probē atque cave nē ūllum sit folium quod nōtam habeat quā possit agnōscī. Ā sinistrā in dexteram distribue!</div>
        <div class="line-right">Io e Servio, siccome abbiamo avuto i primi due fanti, saremo compagni; tu, Servio, insieme a Francesco sarete gli avversari. Darò io stesso le carte. Mescolale per bene, e bada che non ce ne sia qualcuna segnata, in modo da potersi riconoscere. Dalle da sinistra a destra!</div>
      </div>
    </div>

    <div class="line-container" id="Hortēnsius.01">
      <div class="line-character">Hortēnsius</div>
      <div class="line-bilingual">
        <div class="line-left">Nūllīs egeō monitōribus; singulīs novēna folia dabō; quattuor reliqua dētecta in mediā tabulā dēpōnam ut eōrum sit cōpia quibus fortūna fāverit. Tuae, Marīne, quī ad dexteram mihī adsidēs, prīmae sint partēs!</div>
        <div class="line-right">Non ho bisogno di suggeritori; darò a ciascuno nove carte; le altre quattro staranno scoperte in mezzo alla tavola. Tu, Marino, che siedi alla mia destra, gioca per primo!</div>
      </div>
    </div>

    <div class="line-container" id="Mārīnus.01">
      <div class="line-character">Mārīnus</div>
      <div class="line-bilingual">
        <div class="line-left">Quae erit spōnsiō?</div>
        <div class="line-right">E la posta?</div>
      </div>
    </div>

    <div class="line-container" id="Hortēnsius.01">
      <div class="line-character">Hortēnsius</div>
      <div class="line-bilingual">
        <div class="line-left">Quaternae libellae in singulās lūsiōnēs!</div>
        <div class="line-right">Quattro lire per ogni partita.</div>
      </div>
    </div>

    <div class="line-container" id="Franciscus.01">
      <div class="line-character">Franciscus</div>
      <div class="line-bilingual">
        <div class="line-left">Sēnsim, sēnsim, amīce mī! Tantillum exaggerāre mihī vidēris! Nōn esset lūsus is sed īnsānia, sī tantum argentī in perīculum venīret; quōmodo possēs dēlēctārī, anxius nē tanta pecūnia tibī perīret? Singulae lībrae satis erunt in singulās lūsiōnēs, ut ūnusquisque nostrum spondeat quārtam lībrae partem.</div>
        <div class="line-right">Piano, piano, amico mio; mi sembra che tu esageri un poco! Non sarebbe più un gioco, ma una follia, se s'arrischiasse tanto denaro; come potresti divertirti, nell'ansia di perdere una somma così forte? Basterà una lira per partita, in modo che ciascuno di noi metta come posta la quarta parte di una lira.</div>
      </div>
    </div>

    <div class="line-container" id="Mārīnus.01">
      <div class="line-character">Mārīnus</div>
      <div class="line-bilingual">
        <div class="line-left">Optimē cēnsēs! Nam ita nec nihil lūdēmus, quod est insipidum, nec quod doleat sī āmīseris, quod est acerbum.</div>
        <div class="line-right">Ben pensata! Così, infatti, né avverrà che giochiamo di nulla, il che sarebbe sciocco, né arrischiamo una somma che possa rincrescere di perdere, il che sarebbe doloroso.</div>
      </div>
    </div>

    <div class="line-container" id="Servius.01">
      <div class="line-character">Servius</div>
      <div class="line-bilingual">
        <div class="line-left">Habētisne singulī novēna folia? (Incipit lūdus.)</div>
        <div class="line-right">Avete tutti nove carte? (Comincia il gioco.)</div>
      </div>
    </div>

    <div class="line-container" id="Hortēnsius.01">
      <div class="line-character">Hortēnsius</div>
      <div class="line-bilingual">
        <div class="line-left">(Ad Servium.) Quō fit fātō ut folia, nōn ut ars postulat sed ut sors dederit, iaciās, quasi persuāsum habeās nihil interesse quid prius quid posterius in tabulam dēiciās? Nescīsne rēgulās «Chitarrellae»? In prīmīs pār parī tollere; tum nē hebdomadēs impārēs fīant; dein dēnāriōs quam plūrimōs capere; dēnique rētia adversāriīs tendere ut omnia folia quae sint in tabulā verrere possīs in tuamque struem cōngerere.</div>
        <div class="line-right">(A Servio.) Perché butti le carte a caso, come se tu fossi convinto che non importa nulla badare a quel che si gioca prima o dopo? Non conosci le regole di «Chitarrella»? Prima di tutto prendere carta uguale con carta uguale; poi non spareggiare i sette; in terzo luogo prendere più denari che si può; quarto, trarre in inganno l'avversario in modo da poter portar via tutte le carte in tavola e metterle nel tuo mucchio.</div>
      </div>
    </div>

    <div class="line-container" id="Servius.01">
      <div class="line-character">Servius</div>
      <div class="line-bilingual">
        <div class="line-left">Cum tuā bonā veniā, id ipsum facere mihī videor!</div>
        <div class="line-right">Mi sembra, se ti piace, di farlo!</div>
      </div>
    </div>

    <div class="line-container" id="Hortēnsius.01">
      <div class="line-character">Hortēnsius</div>
      <div class="line-bilingual">
        <div class="line-left">Ut vidēris? Iam adversāriī trīnīs scōpīs potītī sunt.</div>
        <div class="line-right">Ma come lo fai, se già gli avversari hanno fatto tre scope?</div>
      </div>
    </div>

    <div class="line-container" id="Servius.01">
      <div class="line-character">Servius</div>
      <div class="line-bilingual">
        <div class="line-left">At nōs quīnque folia dēnāriīs īnsignīta congessimus!</div>
        <div class="line-right">Ma noi abbiamo già fatto cinque denari!</div>
      </div>
    </div>

    <div class="line-container" id="Rolandus.01">
      <div class="line-character">Rolandus</div>
      <div class="line-bilingual">
        <div class="line-left">Favēte linguīs! Prīma lēx «Chitarrellae»: nē quis loquātur!</div>
        <div class="line-right">State zitti! La prima legge di «Chitarrella» è: nessuno parli!</div>
      </div>
    </div>

    <div class="line-container" id="Mārīnus.01">
      <div class="line-character">Mārīnus</div>
      <div class="line-bilingual">
        <div class="line-left">(Lūditur.) (Postrēmum folium dēmittēns.) Rēgem rēge auferō, simulque quae supersunt in tabulā folia. Ineāmus ratiōnem! Ūnum et vīgintī folia congessimus, ex quibus tria tantum dēnāriīs īnsignīta; septem, quod «pulchrum» dīcitur, in nostrā potestāte est; duo puncta igitur assecūtī sumus. Nunc, utra pars numerō seniōnum et hebdomadum praestet, videāmus! Nōs, ut mihī vidētur — «prīmāria» nostra est. Igitur, sī haec tria puncta reliquīs quae iam tulimus adiūnxeris, ūndecim punctōrum summa explētur. Superiōrēs sumus; quod spopondistis, persolvite!</div>
        <div class="line-right">(Si gioca.) (Buttando l'ultima carta.) Prendo il re con il re e, insieme, le rimanenti carte. Facciamo il conto: abbiamo fatto ventuna carta, delle quali tre soltanto di denari; il sette bello è nostro; abbiamo già due punti. Vediamo ora chi ha la primiera. Noi, mi sembra! Pertanto, se s'aggiungono questi tre punti agli altri otto che abbiamo fatto nelle altre mani, si raggiunge la somma di undici punti. Abbiamo vinto; pagate la posta!</div>
      </div>
    </div>

    <div class="line-container" id="Hortēnsius.01">
      <div class="line-character">Hortēnsius</div>
      <div class="line-bilingual">
        <div class="line-left">Semper aequō animō ferendum est quod inīqua sors tulerit; igitur prōdūcere lūdum nōn cupiō. Omnium rērum facile fit satietās, voluptātum quoque; ut mē sedendō iam dēfatīgātum esse nōn dīcam. Adsurgāmus, foliaque valēre iubeāmus! Aliās acceptam clādem vōbīs reddam.</div>
        <div class="line-right">Bisogna rassegnarsi; però non ho più voglia di giocare; perché di tutto ci si sazia, anche dei piaceri, ed io son già stanco di stare a sedere. Alziamoci dunque! Mi rifarò un'altra volta!</div>
      </div>
    </div>

    <div class="line-container" id="Rolandus.01">
      <div class="line-character">Rolandus</div>
      <div class="line-bilingual">
        <div class="line-left">Cape fīdicula et aliquid nōbīs cantillā!</div>
        <div class="line-right">Prendi il mandolino e cantaci qualche cosa!</div>
      </div>
    </div>

    <div class="line-container" id="Hortēnsius.01">
      <div class="line-character">Hortēnsius</div>
      <div class="line-bilingual">
        <div class="line-left">Quid?</div>
        <div class="line-right">Che cosa?</div>
      </div>
    </div>

    <div class="line-container" id="Rolandus.01">
      <div class="line-character">Rolandus</div>
      <div class="line-bilingual">
        <div class="line-left">Quod libet!</div>
        <div class="line-right">Quel che ti pare!</div>
      </div>
    </div>

    <div class="line-container" id="Hortēnsius.01">
      <div class="line-character">Hortēnsius</div>
      <div class="line-bilingual">
        <div class="line-left">Quid, sī cantiunculam illam cuius initium est «Ocelle mī»? <br />Plūrimās afer rōsās! Quam plūrimās! Afer quae sint spīnōsae! <br />Pectus ad meum premam, quasi adhaerēntem tē. <br />Sī amōre tuō dēstituor, quid vīvere moror? <br />Ocelle mī! Ocelle mī! Quid vīvere moror? <br />(Canere incipiunt; maiōrēs cadunt dē montibus umbrae.)</div>
        <div class="line-right">Quella canzone che comincia: <br />Amore amor! Portami tante rose! Ancora un po'! Scegli le più spinose: <br />Le stringerò al mio cuor, Quasi stringessi tu. <br />Se tu mi lasci, amor, Cosa sarà di me? <br />Amore, amor! Cosa sarà di me? <br />(Cominciano a cantare; tramonta il sole.)</div>
      </div>
    </div>


    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>

    <!--Footer goes here-->
  </div>

   <div class="footer">
     <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
   </div>
</body>