---
title: Latinum Ideoma - Colloquium Quintum
subtitle:
type: Colloquium
author: Corvinus
topic: Waking Up
difficulty: Moderate
sequence: "005"
character_count: 2
permalink: /corvinus/latinum-ideoma-colloquium-quintum/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-reading.css" />
  <link rel="stylesheet" href="/style-common.css" />
  <link rel="stylesheet" href="/w3.css" />
</head>

<body>
  <div class="w3-top">
    <div class="w3-bar w3-black">
      <a href="/" class="w3-bar-item w3-button w3-mobile"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="w3-bar-item w3-button w3-mobile"
        >{{ page.author }}</a
      >
      <div class="w3-bar-item w3-mobile w3-center"><i>{{ page.title }}</i></div>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae<br />
      Cȳrillus, Pamphilus
    </div>

    <div class="line-container" id="Cyrillus.1">
      <div class="line-character">Cȳrillus</div>
      Quō properās, Pamphile?
    </div>

    <div class="line-container" id="Pamphilus.2">
      <div class="line-character">Pamphilus</div>
      Ad forum pergam.
    </div>

    <div class="line-container" id="Cyrillus.3">
      <div class="line-character">Cȳrillus</div>
      Quid in forō āctūrus es?
    </div>

    <div class="line-container" id="Pamphilus.4">
      <div class="line-character">Pamphilus</div>
      Socer meus hesternō vesperī duōs mihi dōnō dedit obulōs, ūnum prō pāne
      albō, alterum prō būtȳrō ut darem.
    </div>

    <div class="line-container" id="Cyrillus.5">
      <div class="line-character">Cȳrillus</div>
      Tēcum ut ambulem sine.
    </div>

    <div class="line-container" id="Pamphilus.6">
      <div class="line-character">Pamphilus</div>
      Sīnō, sed nūllus tibi obulus est?
    </div>

    <div class="line-container" id="Cyrillus.7">
      <div class="line-character">Cȳrillus</div>
      Sunt mihi trēs. Hōs, sī tibi lubēbit, tuīs adiungam et nōbīs aliquid cibī
      pariter emēmus.
    </div>

    <div class="line-container" id="Pamphilus.8">
      <div class="line-character">Pamphilus</div>
      Bene est ut volēs, placet mihi optumē.
    </div>

    <div class="line-container" id="Cyrillus.9">
      <div class="line-character">Cȳrillus</div>
      Quid vērō emendum esse cēnsēs? Nucēs avellānās an gallicās? Vel botrōs
      potius? Heri duōs comēdī, mīrum dictū est quam dulcēs gustū fuerant.
    </div>

    <div class="line-container" id="Pamphilus.10">
      <div class="line-character">Pamphilus</div>
      Unde illōs accēpistī?
    </div>

    <div class="line-container" id="Cyrillus.11">
      <div class="line-character">Cȳrillus</div>
      Ēmī.
    </div>

    <div class="line-container" id="Pamphilus.12">
      <div class="line-character">Pamphilus</div>
      Quantī?
    </div>

    <div class="line-container" id="Cyrillus.13">
      <div class="line-character">Cȳrillus</div>
      Quattuor obulīs.
    </div>

    <div class="line-container" id="Pamphilus.14">
      <div class="line-character">Pamphilus</div>
      Vereor eōs nōndum esse mātūrōs.
    </div>

    <div class="line-container" id="Cyrillus.15">
      <div class="line-character">Cȳrillus</div>
      Mātūrī sunt et suāvēs in tantum ut suāviōrēs esse nequeant, mel mihi
      lingere vidēbar.
    </div>

    <div class="line-container" id="Pamphilus.16">
      <div class="line-character">Pamphilus</div>
      Fallis mē.
    </div>

    <div class="line-container" id="Cyrillus.17">
      <div class="line-character">Cȳrillus</div>
      Nōn fallō. Nōn soleō, Hercle, garrīre nūgās.
    </div>

    <div class="line-container" id="Pamphilus.18">
      <div class="line-character">Pamphilus</div>
      Unde adductī sunt tam cito, nōn satis mīrārī queō. Nihil tibi certī
      memorāre valeō sed arbitror dē Novō Forō ubi plūrimī sunt hortī vītibus
      cōnsitī, vēndidit illōs ūna anus sedēns in currū corbibus plēnō.
    </div>

    <div class="line-container" id="Pamphilus.19">
      <div class="line-character">Pamphilus</div>
      Nīl haesitō quīn omnēs iam vēndiderit, mavelim album pānem cum būtȳrō
      pinguī. Nam adhūc mihi cordī est quod magister omnēs inquit arborum
      frūctūs hōc annō īnsānōs esse.
    </div>

    <div class="line-container" id="Cyrillus.20">
      <div class="line-character">Cȳrillus</div>
      Fac ut lubet sed nusquam reperiēs similam calidam.
    </div>

    <div class="line-container" id="Pamphilus.21">
      <div class="line-character">Pamphilus</div>
      Tentēmus inter pistōrēs sī quis modo pinsit et in fornācem posuerit, illās
      dum adhūc fūmant emēmus.
    </div>

    <div class="line-container" id="Cyrillus.22">
      <div class="line-character">Cȳrillus</div>
      Sed būtȳrō etiam nōbīs opus erit.
    </div>

    <div class="line-container" id="Pamphilus.23">
      <div class="line-character">Pamphilus</div>
      Būtȳrī nōn meminerīs velim. Sat būtȳrī nōbīs erit dum albus nōs pānis nōn
      dēfēcerit.
    </div>

    <div class="line-container" id="Cyrillus.24">
      <div class="line-character">Cȳrillus</div>
      Diē sāturnī ientācula pinsere semper cōnsuēverant pistōrēs, nāribus certē
      sentīscō pistī pānis vapōrem.
    </div>

    <div class="line-container" id="Pamphilus.25">
      <div class="line-character">Pamphilus</div>
      Et ipse odōrō optumē, nōn longē fūmum esse reor.
    </div>

    <div class="line-container" id="Cyrillus.26">
      <div class="line-character">Cȳrillus</div>
      Hīc prope est, ībō intrō, sequere mē properē, pinsit profectō, vidēn’?
    </div>

    <div class="line-container" id="Pamphilus.27">
      <div class="line-character">Pamphilus</div>
      Videō.
    </div>

    <div class="line-container" id="Cyrillus.28">
      <div class="line-character">Cȳrillus</div>
      Abī cito et būtȳrum prō tribus obulīs emitō, ipse hīc manēbō dum
      revertāris.
    </div>

    <div class="line-container" id="Pamphilus.29">
      <div class="line-character">Pamphilus</div>
      Multum būtȳrī afferō, Cȳrille.
    </div>

    <div class="line-container" id="Cyrillus.30">
      <div class="line-character">Cȳrillus</div>
      Quantī ēmistī?
    </div>

    <div class="line-container" id="Pamphilus.31">
      <div class="line-character">Pamphilus</div>
      Ūnam ānum fefellī.
    </div>

    <div class="line-container" id="Cyrillus.32">
      <div class="line-character">Cȳrillus</div>
      Quō modō?
    </div>

    <div class="line-container" id="Pamphilus.33">
      <div class="line-character">Pamphilus</div>
      Huic quia cālīgārunt oculī, trēs prō quattuor dedī et continuō aufūgī
      tamque celeriter inde cucurrī quod suspīria vix dūcō, in cursō paene
      concidī. Sine respīrem pauculum, quaesō.
    </div>

    <div class="line-container" id="Cyrillus.34">
      <div class="line-character">Cȳrillus</div>
      Requiēsce quamdiū lubet, probē fēcistī, mī Pamphile. Sī quid supererit id
      ad crāstinum servābimus.
    </div>

    <div class="line-container" id="Pamphilus.35">
      <div class="line-character">Pamphilus</div>
      Crāstinī nē recordēris, ēsuriō suprā modum, vacuus mihi venter vehementer
      crepitat quō nōn erō contentus pāne. Vidēn’ placentam in laevō fornācis
      latere?
    </div>

    <div class="line-container" id="Cyrillus.36">
      <div class="line-character">Cȳrillus</div>
      Videō.
    </div>

    <div class="line-container" id="Pamphilus.37">
      <div class="line-character">Pamphilus</div>
      Hanc quantī pistor aestimat roga? (**)
    </div>

    <div class="line-container" id="Cyrillus.38">
      <div class="line-character">Cȳrillus</div>
      Dūdum rogāvī, aiēbat sē prō ternāriō nōn datūrum esse.
    </div>

    <div class="line-container" id="Pamphilus.39">
      <div class="line-character">Pamphilus</div>
      Cāram prō ternāriō rēris?
    </div>

    <div class="line-container" id="Cyrillus.40">
      <div class="line-character">Cȳrillus</div>
      Cāram certē quia eō carēmus.
    </div>

    <div class="line-container" id="Pamphilus.41">
      <div class="line-character">Pamphilus</div>
      Est mihi adhūc ternārius in crumēnā. Cape hunc et placentam eme,
      percupidus enim sum comedendī illīus.
    </div>

    <div class="line-container" id="Cyrillus.42">
      <div class="line-character">Cȳrillus</div>
      Faciam lubēns.
    </div>

    <div class="line-container" id="Pamphilus.43">
      <div class="line-character">Pamphilus</div>
      Volō hanc būtȳrō largē ut inungās.
    </div>

    <div class="line-container" id="Cyrillus.44">
      <div class="line-character">Cȳrillus</div>
      Tēcum vīs edam?
    </div>

    <div class="line-container" id="Pamphilus.45">
      <div class="line-character">Pamphilus</div>
      Volō sed hīc in prīstinō faciāmus lībāmen, reliquiās ad scholās ferēmus.
      Optimī sapōris est placenta.
    </div>

    <div class="line-container" id="Cyrillus.46">
      <div class="line-character">Cȳrillus</div>
      Ipse iam satur sum.
    </div>

    <div class="line-container" id="Pamphilus.47">
      <div class="line-character">Pamphilus</div>
      Quid satur? Ego vix famem prōvocāvī. Hāsce similās aequē edam ac
      placentam.
    </div>

    <div class="line-container" id="Cyrillus.48">
      <div class="line-character">Cȳrillus</div>
      Tam avidus cibī es. Vorā in maximum tuum mālum.
    </div>

    <div class="line-container" id="Pamphilus.49">
      <div class="line-character">Pamphilus</div>
      Maledīcis mihi? Nunquid ipse ternārium dedī?
    </div>

    <div class="line-container" id="Cyrillus.50">
      <div class="line-character">Cȳrillus</div>
      Nōn maledīcō, sed succēnseō quod sitī siccus sum.
    </div>

    <div class="line-container" id="Pamphilus.51">
      <div class="line-character">Pamphilus</div>
      Praestōlāre paulum dōnec hās dēglūtierō, mēcum ībis, pōtus nōn dēerit
      nōbīs.
    </div>

    <div class="line-container" id="Cyrillus.52">
      <div class="line-character">Cȳrillus</div>
      Quōrsum itūrī sumus.
    </div>

    <div class="line-container" id="Pamphilus.53">
      <div class="line-character">Pamphilus</div>
      Ad scholās.
    </div>

    <div class="line-container" id="Cyrillus.54">
      <div class="line-character">Cȳrillus</div>
      Nihil ibīdem quod bibātur offendēmus.
    </div>

    <div class="line-container" id="Pamphilus.55">
      <div class="line-character">Pamphilus</div>
      Ipse etiam bibere mavelim quam edere.
    </div>

    <div class="line-container" id="Cyrillus.56">
      <div class="line-character">Cȳrillus</div>
      Venītō ūnā mēcum ad patris meī aedem, tenuem heri coqua ēmit pōtum, hunc
      pōtātō.
    </div>

    <div class="line-container" id="Pamphilus.57">
      <div class="line-character">Pamphilus</div>
      Sērō nimis ad scholās, timeō, revertēmur.
    </div>

    <div class="line-container" id="Cyrillus.58">
      <div class="line-character">Cȳrillus</div>
      Mātūre satis. Perge istāc, perge, in mē nūlla mora est.
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>    {% assign prev_sequence = page.sequence | minus: 1 %} {% assign
    next_sequence = page.sequence | plus: 1 %} {% assign files = site.html_pages
    | where_exp: "page", "page.path contains 'files/'" %} {% assign neighbors =
    files | where: "type", "Colloquium" | where: "author", page.author | where:
    "collection", page.collection %} {% assign prev_page = neighbors | where:
    "sequence", prev_sequence | first %} {% assign next_page = neighbors |
    where: "sequence", next_sequence | first %}

    <div class="nav-buttons">
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
    </div>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>
</body>
