---
title: Dialogi Sacri - Dialogus Secundus (Liber Secundus)
subtitle: Saulus. 1 Rēgum 9.
type: Colloquium
author: Castalio
topic: Divine Selection
difficulty: Easy
sequence: "035"
character_count: 2
permalink: /castalio/dialogi-sacri-liber-secundus-dialogus-secundus/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-reading.css" />
  <link rel="stylesheet" href="/style-common.css" />
  <link rel="stylesheet" href="/w3.css" />
</head>

<body>
  <div class="w3-top">
    <div class="w3-bar w3-black">
      <a href="/" class="w3-bar-item w3-button w3-mobile"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="w3-bar-item w3-button w3-mobile"
        >{{ page.author }}</a
      >
      <div class="w3-bar-item w3-mobile w3-center"><i>{{ page.title }}</i></div>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="note">
      Saulus āmissās asinās quaerēns, ā Samuēle vāte, quem cōnsulit, audit sē futūrum esse rēgem.
    </div>

    <div class="characters">
      Persōnae:<br />
      Saulus, Samuēl
    </div>

    <div class="line-container" id="Saulus.1">
      <div class="line-character">Saulus</div>
      Famulus, vidēsne urbem istam ex istō colle?
    </div>

    <div class="line-container" id="Famulus.2">
      <div class="line-character">Famulus</div>
      Videō.
    </div>

    <div class="line-container" id="Saulus.3">
      <div class="line-character">Saulus</div>
      Eāmus eō. Fertur illīc esse vātēs. Is fortasse nōbīs indicābit viam, quā pergendum sit, ut inveniāmus quās quaerimus asinās.
    </div>

    <div class="line-container" id="Famulus.4">
      <div class="line-character">Famulus</div>
      Quid eī dabimus? Nam dē vīāticō et nōs summē sumus exhaustī.
    </div>

    <div class="line-container" id="Saulus.5">
      <div class="line-character">Saulus</div>
      Sī adeō rogitās, habeō hīc quadrantem argentī, quem eī dabimus, ut nōbīs aditum aliquem dēmōnstret.
    </div>

    <div class="line-container" id="Famulus.6">
      <div class="line-character">Famulus</div>
      Eāmus.
    </div>

    <div class="line-container" id="Saulus.7">
      <div class="line-character">Saulus</div>
      Heus puellae, estne hīc vātēs?
    </div>

    <div class="line-container" id="Puellae.8">
      <div class="line-character">Puellae</div>
      Īte sānē celeriter: nunc enim venit, ut adeat in excelsam partem urbis ad mactātiōnis sacrificium. Proximē atque illūc vēneritis, illum inveniētis. Nam nōn edit populus, ante eius adventum: quōd ille prior benedīcit hostiae. Propere eāmus; iam adesse dēbet.
    </div>

    <div class="line-container" id="Saulus.9">
      <div class="line-character">Saulus</div>
      Heus homō, indicā mihi, quaesō, ubi sit vātis domus.
    </div>

    <div class="line-container" id="Samuel.10">
      <div class="line-character">Samuēl</div>
      Ego sum ipse vātēs. Hīc epulābere hodiē ūnā mēcum. Eō enim sacrō mihi convīvae sīs volo. Māne eāmus sīmul domō, atque omnia, quae volēs audīre, dicam. Asinae, quae iam trīduō āmissae sunt, inventae sīc habentur. Nē sit earum dēsīderium. Et quid ergō est illud, quod tōtīus gentis Israēlitārum est exōptātissimum, nisī tē aut certē tuam familiam?
    </div>

    <div class="line-container" id="Saulus.11">
      <div class="line-character">Saulus</div>
      Quid sīc loquī mē iubēs? Immō vērō ex omnī Israēlitārum gentium minimā sum Beniamītā, et familia mea minimā est ex omnibus eius gentis: Cūr mihi dīcis hoc?
    </div>

    <div class="line-container" id="Samuel.12">
      <div class="line-character">Samuēl</div>
      Intus edāmus.
    </div>

    <div class="line-container" id="Saulus.13">
      <div class="line-character">Saulus</div>
      Minimē, ego tibī obsequar.
    </div>

    <div class="line-container" id="Samuel.14">
      <div class="line-character">Samuēl</div>
      Tū coquus, trade nōbīs frūstum illud quod coquī tibi iussī ad hunc hominem.
    </div>

    <div class="line-container" id="Coquus.15">
      <div class="line-character">Coquus</div>
      Ēn accipe.
    </div>

    <div class="line-container" id="Samuel.16">
      <div class="line-character">Samuēl</div>
      Hoc est in hunc diem tibi servātum; cape et ēde. Nunc ad dormiendum. Crās tē plūs hīs accipiet honōris.
    </div>

    <div class="line-container" id="Saulus.17">
      <div class="line-character">Saulus</div>
      Māne est; surgāmus, Samuēl.
    </div>

    <div class="line-container" id="Samuel.18">
      <div class="line-character">Samuēl</div>
      Placet. Famule, praecēde nōs dum loquar cum Saulō. Audiēsne, Saule, quod sit Deī mandātum? Accipe hoc oleum, quō caput tibi ungere Deum, Israēlī et populī suī custōdem, ā quibus Palaestīnōs līberābis. Cum digressus erīs, duōs apud sepulchrum Rachelīs, in Beniamīs, repente offendēs, quī tibi reī dē asinīs nuntiī facient; et patrem de tē labōrāre. Deinde contrā quercum Thābōris obviam erunt trēs quī ibunt Bēthel, quōrum ūnus trēs haedōs, alter trēs farīneōs pānēs, alius lāgēnulam vīnī feret: quī datis tibi bīnīs pānibus abībunt. Postea Gabaain Deī veniēs, ubi Palaestīnōrum est statiō. Illic audīēs vātum gregem ōbvium tibi, cum citharis, tympanīs, tibiīs, et fīdibus prōgressum ex excelsā, et vāticinantium. Tunc tē adflabit spīritus, et vāticinābere, atque factus alter homo, haec ubi cōntigerint, ageās quicquid occurret, Deō gubernante. Porrō dēscendēs Gilgalam, quō statim subsecutūrus veniam, et docēbō quid ergō faciendum sit.
    </div>

    <div class="note">
      Sententia<br />
      Exaltātiō cōgitātiōne nostram superat. Deus ēligit plerumque humilēs ad alta mūnera, etiam ut sibi eōs magnōs faciant.
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>    {% assign prev_sequence = page.sequence | minus: 1 %} {% assign
    next_sequence = page.sequence | plus: 1 %} {% assign files = site.html_pages
    | where_exp: "page", "page.path contains 'files/'" %} {% assign neighbors =
    files | where: "type", "Colloquium" | where: "author", page.author | where:
    "collection", page.collection %} {% assign prev_page = neighbors | where:
    "sequence", prev_sequence | first %} {% assign next_page = neighbors |
    where: "sequence", next_sequence | first %}

    <div class="nav-buttons">
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
    </div>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>
</body>