---
title: Paedalogia - Dialogus Duodecimus
subtitle: Dē nūptiīs, balneīs ac vīscerātiōnibus.
type: Colloquium
author: Mosellanus
topic: Waking Up
difficulty: Moderate
sequence: "012"
character_count: 2
permalink: /mosellanus/paedalogia-dialogus-duodecimus/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-reading.css" />
  <link rel="stylesheet" href="/style-common.css" />
  <link rel="stylesheet" href="/w3.css" />
</head>

<body>
  <div class="w3-top">
    <div class="w3-bar w3-black">
      <a href="/" class="w3-bar-item w3-button w3-mobile"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="w3-bar-item w3-button w3-mobile"
        >{{ page.author }}</a
      >
      <div class="w3-bar-item w3-mobile w3-center"><i>{{ page.title }}</i></div>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae<br />
      Burchardus, Albīnus
    </div>

    <div class="line-container" id="Burchardus.1">
      <div class="line-character">Burchardus</div>
      Nūptiās hodiē futūrās aiunt, Albīne, tū quippiam eā dē rē audīstī?
    </div>

    <div class="line-container" id="Albinus.2">
      <div class="line-character">Albīnus</div>
      Audīvī.
    </div>

    <div class="line-container" id="Burchardus.3">
      <div class="line-character">Burchardus</div>
      Danda est opera, ut et nōs ē nūptiālibus cibīs aliquid acquīrāmus.
    </div>

    <div class="line-container" id="Albinus.4">
      <div class="line-character">Albīnus</div>
      Quod ad cibum attinet, hodiē nihil moror: heri enim mihi prōspexī, unde
      hunc diem commodē liceat trānsigere; sed quod ā prandiō saltātiōnem in
      theātrō spectāre nōn possum, hōc vērō est, quod mē male habet.
    </div>

    <div class="line-container" id="Burchardus.5">
      <div class="line-character">Burchardus</div>
      At quid vetat, quō minus spectēs?
    </div>

    <div class="line-container" id="Albinus.6">
      <div class="line-character">Albīnus</div>
      Ignōrās forsan in hunc diem nōbīs piī cuiuspiam beneficiō balneās grātuītō
      condictās; ā quibus abesse saltātiōnis spectandae studiō an tū putās fore
      cōnsultum?
    </div>

    <div class="line-container" id="Burchardus.7">
      <div class="line-character">Burchardus</div>
      Vidē: nisi submonuissēs, ēgregiē fuissem oblītus, neque vēnisset in mentem
      vīscerātiōnis, quae et ipsa in hodiernum diem est cōnstitūta. Valeant
      nūptiae cum spōnsō ac spōnsā; nōs quae propius ad nōs pertinent cūrēmus.
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>
</body>
