---
title: Dialogī Aliquot - Dialogus Tertius
subtitle: 'dē ratiōne studiī & praeceptōris officiō'
type: Colloquium
author: Ionas
collection: Dialogi Aliquot
topic:
- School
difficulty: Moderate
sequence: '003'
character_count: 2
permalink: /ionas-philologus/dialogus-iii/
---
 
<!doctype html>
 
<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/style-reading.css" />
  
<script src="/scripts/headroom.min.js"></script>
    <script src="/scripts/common.js"></script>
  </head>
 
<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>
 
  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>
 
    <div class="characters">
      Persōnae:<br />
      Adolphus, Cleander
    </div>

    <div class="line-container" id="Adolphus.1">
      <div class="line-character">Adolphus</div>
      Quis hīc est hospes, quem videō in ultimā planiciē? Profectō nisī mē fallat animus, aut nihil prōspiciant oculī, Cleandrum nostrum cernō, tōtō iam trienniō vīsum nēminī. Adeōn? an opperiar, dum magis cognōscō.
    </div>

    <div class="line-container" id="Cleander.2">
      <div class="line-character">Cleander</div>
      Quid mē aspectās Adolphe?
    </div>

    <div class="line-container" id="Adolphus.3">
      <div class="line-character">Adolphus</div>
      Grātulāmur tibi optātum ac fēlīcem adventum.
    </div>

    <div class="line-container" id="Cleander.4">
      <div class="line-character">Cleander</div>
      Et tibi incolumitātem prōsperam precāmur.
    </div>

    <div class="line-container" id="Adolphus.5">
      <div class="line-character">Adolphus</div>
      Vix tē agnōveram, adeō mihi vidēris veterem faciem dēmūtāsse. Unde nōbīs advenīs, aut ubi terrārum latitāstī tandiū?
    </div>

    <div class="line-container" id="Cleander.6">
      <div class="line-character">Cleander</div>
      Daventriae.
    </div>

    <div class="line-container" id="Adolphus.7">
      <div class="line-character">Adolphus</div>
      Quid illīc reī āctum?
    </div>

    <div class="line-container" id="Cleander.8">
      <div class="line-character">Cleander</div>
      Literārum fēcī stīpendia.
    </div>

    <div class="line-container" id="Adolphus.9">
      <div class="line-character">Adolphus</div>
      Quō autem animō hinc prōfectus, cōnsilium hoc retulistī nēminī? Nam omnēs nōs, quibus iam inde ā puerō mūtuā familiāritāte dēvinctus fuistī, tuī solicitūdine affectī tenēbāmur, & mortem oppetīisse tē trīstis fāma dedita fuerat.
    </div>

    <div class="line-container" id="Cleander.10">
      <div class="line-character">Cleander</div>
      Rem omnem ā prīncipiō dīcam. Sed virēntibus hīs grāminibus interim prōcumbāmus, quō līberius ex itineris contentiōne respīrem.
    </div>

    <div class="line-container" id="Adolphus.11">
      <div class="line-character">Adolphus</div>
      Pulchrē monēs, & istud tē flāgitātūrus eram. Iam accingere.
    </div>

    <div class="line-container" id="Cleander.12">
      <div class="line-character">Cleander</div>
      Ut prīmum ex puerīs excessissem, atque altiōre iam solicitūdine rēs mortālium mēcum commentārer, coepī ratiōnem inīre, cuī potissimum mē studiō dīcārem. Rūs sīquidem colere, aut vīliōris mancipiī sortem obīre plānē dēdīgnābar, & parentum inopia parvam mihi ad literārum studia commoditātem fore cernēbam. Placuit tamen extrā alia omnia, literīs bonīs mēmē dēdere: quae immortālem illum animum virtūtis stimulīs concitant, laudemque pariunt ingenuam citrā quam haec vīta nihil habet expetendum amplius.
    </div>

    <div class="line-container" id="Adolphus.13">
      <div class="line-character">Adolphus</div>
      Probē tū mihi vītam īnstituisse vidēris.
    </div>

    <div class="line-container" id="Cleander.14">
      <div class="line-character">Cleander</div>
      Sīc fuit cōnsilium. Nē tamen imbecilla adhūc aetās: & quae prīmum adulēscentiae iter esset ingressa, dē rēctō quasi cursū dēviāns, in malās artēs impingeret, ductōrem mihi sēlēgī, cuius vestīgiīs īnsīsterem.
    </div>

    <div class="line-container" id="Adolphus.15">
      <div class="line-character">Adolphus</div>
      Istud sānē rēctum. Nam potior ea est ratiō, rēctā statim viā ad virtūtem prōgredī, quam ab errōris lāpsū posteā revocārī.
    </div>

    <div class="line-container" id="Cleander.16">
      <div class="line-character">Cleander</div>
      Audieram adeō plūrimum referre, ā quō prīmum rēctē quis īnstituātur. Nec unquam fēlīcius, atque rudibus statim annīs virtūtis fundāmenta iacī: quod haec aetās cuiuslibet reī capāx, per omnem dē inde aetātem resipiat: Quō semel est imbūta.
    </div>

    <div class="line-container" id="Adolphus.17">
      <div class="line-character">Adolphus</div>
      Ita praedicant.
    </div>

    <div class="line-container" id="Cleander.18">
      <div class="line-character">Cleander</div>
      Circumspiciēbam itaque pueritiae fōrmātōrem, quem intemerāta ērudītiō, ac vītae mōrumque innocentia mihi commendārent.
    </div>

    <div class="line-container" id="Adolphus.19">
      <div class="line-character">Adolphus</div>
      Quid tantus tibi praeceptor quaerendus fuit aut philosophus, quī prīma vixdum literārum vestibula attīgerīs? ut vel nostrā hāc scholā contentus esse potuissēs.
    </div>

    <div class="line-container" id="Cleander.20">
      <div class="line-character">Cleander</div>
      Ehō dīc sodēs: quandō discipulōrum ingenia ad praeceptōris animum ita nōn rārō finguntur, ut illīus etiam mōrēs sibi induant, nōnne optimō cuique simillimus esse mālīs?
    </div>

    <div class="line-container" id="Adolphus.21">
      <div class="line-character">Adolphus</div>
      Nēmō tam est stupidus aut sēnsuum inops, quī nōn id vehementer affectet.
    </div>

    <div class="line-container" id="Cleander.22">
      <div class="line-character">Cleander</div>
      An nōn Alexander rēx literārum rudia elementa ab Aristotele summō philosophō doctus perhibētur? Et Achillēs Phoenīcem, virum & ēloquentiā & mōribus praestantissimum, praeceptōrem habuit? Quemadmodum Diōnȳsius Platōnī, Alcibiadēs Sōcratī, Senecae Nerō prīmās studiī vītaeque ratiōnēs dēbēre, histōricā fidē memorātur.
    </div>

    <div class="line-container" id="Adolphus.23">
      <div class="line-character">Adolphus</div>
      Nae tū probō ūsus es praeceptōre, quum isthaec per aetātem intelligās.
    </div>

    <div class="line-container" id="Cleander.24">
      <div class="line-character">Cleander</div>
      Quam sim rēctē īnstitūtus, nesciō. Hōc certē audācter mihi assūmō, pessimē in sē cōnsulere, quī aetātem graviōribus studiīs dēbitam in triviālibus lūdīs subsīdere, & velut ad annōs Nestōreōs cōnsenēscere sustinent: nec unquam nisī serō, ad altiōra nītuntur. Et plērumque ita fit, ut parvae scholae, parvus item magistellus, ac vix ultrā prīmās literās prōgressus temerē praeficiātur.
    </div>

    <div class="line-container" id="Adolphus.25">
      <div class="line-character">Adolphus</div>
      Hāc ipsā rē nōn male cum nostrō Gymnasiarchā mihi convenit, nisī quod vapulandī līberālitāte effūsior videātur.
    </div>

    <div class="line-container" id="Cleander.26">
      <div class="line-character">Cleander</div>
      Tibi forsan commeritās rependit poenās. Tamen mē territābat quōrundam saeviendī libīdō nimia in aetātem teneram, atque errōrī facile opportūnam: quī dum monent, aut corrigunt errāta, eō nonnunquam prōvehuntur furōris hominēs impotentissimī, ut in hōc sānctissimō negōtiō, quod pudōre & benevolentiā retinērī dēbet, fulmina quasi dēturbent, ac foedissima convītia nē scortīs quidem permittenda, spīrent. Perdunt impiē, dum emendant. Hōc ubi fit, labor & ingenium extinguitur, ac friget amor mūtuus, quī tantum hīc habet frūgis, quantum ipsae literae admīrātiōnis. Reformīdant eum infēlīcēs adulēscentēs, cuius mānsuētūdine illectī, literārum cupidinibus īnflammārī, atque ad omnem modestiam compōnī dēbēbant.
    </div>

    <div class="line-container" id="Adolphus.27">
      <div class="line-character">Adolphus</div>
      Nunquam, ita mē diī ament, secus putāvī, quandōcunque parvae temeritātis poenās dedī gravissimās.
    </div>

    <div class="line-container" id="Cleander.28">
      <div class="line-character">Cleander</div>
      Crēdō istuc tibi vidērī, & fallī iūdiciō possīs, ut solent, quī īnstitūtī rēctī īnsōlentēs, vicia sua nec agnōscunt, nec eōrum patiuntur remedia.
    </div>

    <div class="line-container" id="Adolphus.29">
      <div class="line-character">Adolphus</div>
      Mea sīc est sententia. Sed dīc rogō, nactus es quālem voluistī praeceptōrem?
    </div>

    <div class="line-container" id="Cleander.30">
      <div class="line-character">Cleander</div>
      Est diīs grātia, quum eiusmodī mihi obtigit, cuius sānctitāte mē sēnsī meliōrem fierī: nam in literīs quantum prōmōverim, ratiōnem nōndum capiō.
    </div>

    <div class="line-container" id="Adolphus.31">
      <div class="line-character">Adolphus</div>
      Recēpit tē ergō in suōrum gregem?
    </div>

    <div class="line-container" id="Cleander.32">
      <div class="line-character">Cleander</div>
      Recēpit: sed Phȳsiōgnōmus Pythagoram imitātus, coniectūrā quādam nātūram & mōrēs scītābātur prius.
    </div>

    <div class="line-container" id="Adolphus.33">
      <div class="line-character">Adolphus</div>
      At difficile est, reconditōs hominis recessūs perlustrāre, profundās habet latebrās.
    </div>

    <div class="line-container" id="Cleander.34">
      <div class="line-character">Cleander</div>
      Quur ita?
    </div>

    <div class="line-container" id="Adolphus.35">
      <div class="line-character">Adolphus</div>
      Nōn satis tē pernōvit crēdō, quālis etiam fuerīs.
    </div>

    <div class="line-container" id="Cleander.36">
      <div class="line-character">Cleander</div>
      Ut probē tū aliōrum mōrēs ex tuō ingeniō dēscrībis, lūdibrium hominis.
    </div>

    <div class="line-container" id="Adolphus.37">
      <div class="line-character">Adolphus</div>
      Concēdēs mihi sī dīxerim, prīmā tē fronte nōn omnia repraesentāre.
    </div>

    <div class="line-container" id="Cleander.38">
      <div class="line-character">Cleander</div>
      Sī qua labēs īnsēderat, eam meliōribus posteā disciplīnīs sēdulō abstērsī, & subsīdiō fuit gubernātor optimus.
    </div>

    <div class="line-container" id="Adolphus.39">
      <div class="line-character">Adolphus</div>
      Quibus autem modīs tē īnstituit? sīquidem virum probum esse audiō.
    </div>

    <div class="line-container" id="Cleander.40">
      <div class="line-character">Cleander</div>
      Quid eius tibi vītam praedicem, aut laudem indūstriam, quum tālem sē gesserit, utī nēmō nōn magnifica & bona omnia dē illō dīcere possit: nūllusque fuerit, quī nōn optāret suōs līberōs ad praeceptōris animum efformārī: adeō mōrum probitāte, ērudītiōne, vītae porrō innocentiā cūnctīs venerābilis. Et cum ergā discipulōs candidissimē esset affectus, tum in pauperēs sīc benignum & obsequentem animum trānsfūdit, ut hōc beneficiō multō plūrēs ad literās capessendās alliceret, quī iam ante rērum tenuitāte ab omnī ingeniī cultū remōtī iacēbant.
    </div>

    <div class="line-container" id="Adolphus.41">
      <div class="line-character">Adolphus</div>
      Utinam hōc saeculō lūdīmagistrī eiusmodī sint omnēs, maiōrem certē doctōrum hominum prōventum efferrī cernērēs.
    </div>

    <div class="line-container" id="Cleander.42">
      <div class="line-character">Cleander</div>
      Vīdī, quī pauperiem causantēs, in patriam remigrandī missiōnem ab illō petērent, pecūliōla statim adiūtōs, nē vel ūllā necessitūdine ā literīs animōs īnflecterent. Quemadmodum igitur studiōsīs oppidō quam lubēns opitulābātur, ita in dēsidēs & iacentēs acerrimum sē vindicem ostentābat.
    </div>

    <div class="line-container" id="Adolphus.43">
      <div class="line-character">Adolphus</div>
      Nōn vōs ibi mūtuam exhibuistis benevolentiam?
    </div>

    <div class="line-container" id="Cleander.44">
      <div class="line-character">Cleander</div>
      Aliī quid factitārint, compertum nōn habeō. Quae meae fuērunt partēs, arripuī omnis officiī occāsiōnem, quā illī mē grātum fore spērārem. Et quamvis paria praestandī mihi dēesset facultās, tamen quum is ad īnfōrmandum tam fuerit prōpēnsus, mē ad referendam grātiam esse tardiōrem, indīgnissimum dūxī, nē ingrātissimus plānē, & dīvīnō hūmānōque odiō dīgnus habērer.
    </div>

    <div class="line-container" id="Adolphus.45">
      <div class="line-character">Adolphus</div>
      Rēctē putās. Diīs sīquidem parentibus, & vītae cultōrī nēmō sē factūrum satis putābit.
    </div>

    <div class="line-container" id="Cleander.46">
      <div class="line-character">Cleander</div>
      Illum ego vel parentibus hōc nōmine praepositum habuī, quod hīs vītam & corpus cum brūtīs mihi commūne acceptum ferō: illī ērudītum animum, quō sum dīvīnae mentī similior.
    </div>

    <div class="line-container" id="Adolphus.47">
      <div class="line-character">Adolphus</div>
      Accēdō tuae sententiae, tantum abest, ut hīc grātitūdinem tuam dēsīderem sī praestiteris ea, quae dīcis.
    </div>

    <div class="line-container" id="Cleander.48">
      <div class="line-character">Cleander</div>
      Nīsus equidem prō vīribus: atque inprīmīs omnī studiō ēmerēbar, ut esset mihi familiāris: deinde persuādēre cōnābar, nūllum eius in mē officium frūstrā collātum.
    </div>

    <div class="line-container" id="Adolphus.49">
      <div class="line-character">Adolphus</div>
      Quā ratiōne id potuistī?
    </div>

    <div class="line-container" id="Cleander.50">
      <div class="line-character">Cleander</div>
      Quā ratiōne potuerim? quasi dēfuerit, quum tam multae mihi rēs incumberent, quibus voluptātem illī, laudem ac ōrnāmentum mihi parērem sempiternum. Virtūtem nempe, magistrī exemplō, pūblicō prīvātimque exercēre cōnābar. Lēctiōnēs mihi trāditās & saepe, & studiōsē mēcum revolvī. Quod inde mihi vel frūctūs, vel laudis suborīrētur, tōtum id ad Christī glōriam atque praeceptōris referēbam sēdulitātem.
    </div>

    <div class="line-container" id="Adolphus.51">
      <div class="line-character">Adolphus</div>
      Dīcī nōn potest, quantum hōc tuum cōnsilium probem. sed dē lēctiōnibus, sī quid possīs, edissere.
    </div>

    <div class="line-container" id="Cleander.52">
      <div class="line-character">Cleander</div>
      Nec omnia, nec nihil dīcam, nē nōn videar mōrem gessisse amīcō. Māne hōrā sextā praeter utriusque linguae Grammaticēn, Dialecticēs compendium praelegēbātur. Sub hōram decimam, verbōrum ac rērum cōpia D. Erasmī Ro. virī dē bonīs literīs ēgregiē meritī, & quī omnem aetātem in studiōsae iuventūtis prōfectū cōnsūmsit. Pomerīdiānās aliquot hōrās in Cicerōnis officiīs & Terentiī Comēdiīs trānsmīsimus: quās nōbīs interpres religiōsā supstitiōne (<i>sic</i>) ēnarrābat, & ad digitōs perdiscendās commendābat officiōsissimē. Nōn necesse habeō dīcere, quam fideliter omnia discusserit: nātūram hominum, rērum ēventūs, varia cōnsilia, autōris mentem: sī quis item tropus, aut apopthegma īnsigne latēret, quod mōribus colendīs & ōrātiōnis facultātī iūxtā condūceret, eōrum nihil omnium albā, ut aiunt, līneā praeterībat. Fēstī diēs sacrīs dabantur studiīs.
    </div>

    <div class="line-container" id="Adolphus.53">
      <div class="line-character">Adolphus</div>
      Ō tē fēlīcem, cui tālis obvenit paedagōgus.
    </div>

    <div class="line-container" id="Cleander.54">
      <div class="line-character">Cleander</div>
      Epistolārum, carminisque exercitium alternātim erat. Singulīs tamen diēbus quae didicissēmus, chartulīs īnscrīpta velut operae pēnsum reddēbāmus: sīc persuāsī parvī nōs labōris quaestum facere ūberrimum. Nec esse causam aliam, quāre plērīque ex tantīs labōribus, studiōque frequentī, & cui per omnem aetātem inhiārunt, vix unquam ad ingeniī frūgem perveniant, quam quod hanc studiōrum partem longē maximam negligunt: nec ingeniī perīculum faciunt unquam.
    </div>

    <div class="line-container" id="Adolphus.55">
      <div class="line-character">Adolphus</div>
      Quod tempus iūcunditātī relictum est?
    </div>

    <div class="line-container" id="Cleander.56">
      <div class="line-character">Cleander</div>
      Semel aut iterum in hebdomadā ā studiīs animōs relaxābāmus: ibi ad quod quisque lūdendī genus prōclīvior esset, in hōc sē exercēbat. Nē aliō dēflecterēmus, aut nostrō mūnere ēgrederēmur, aderat monitor aliquis, quī nōs observābat.
    </div>

    <div class="line-container" id="Adolphus.57">
      <div class="line-character">Adolphus</div>
      Cui potissimum lūdō erās dēditus?
    </div>

    <div class="line-container" id="Cleander.58">
      <div class="line-character">Cleander</div>
      Peculiārem lūdum aut eximium nūllum habeō, nisī quod aliī tempus, aliī voluptātī dēdunt, hōc ego Mūsicae impendō, cui tantum venerātiōnis attribuērunt veterēs, ut huius expers ā Mūsīs & Grātiīs abessa (<i>sic</i>) proverbiālī sermōne dīcerētur.
    </div>

    <div class="line-container" id="Adolphus.59">
      <div class="line-character">Adolphus</div>
      Disperiam, nisī tuae mē vītae ēmulum praebuerō: nec sectābor hunc lūdum diūtius.
    </div>

    <div class="line-container" id="Cleander.60">
      <div class="line-character">Cleander</div>
      Tū haec sequere, aut meliōra.
    </div>

    <div class="line-container" id="Adolphus.61">
      <div class="line-character">Adolphus</div>
      Vītae ratiōnem mihi velim praescrībās, quandō ad alia omnia nōn pessimē compositus vidēris.
    </div>

    <div class="line-container" id="Cleander.62">
      <div class="line-character">Cleander</div>
      Aliās quum utrique commodius fuerit, lubēns obsequar. Iam rēctā domum contendō, parentēs revīsūrus, quōrum dēsīderium hūc mē pertrāxit.
    </div>

    <div class="line-container" id="Adolphus.63">
      <div class="line-character">Adolphus</div>
      Precor ut omnia ex sententiā offendās, quandō ad studia mē, & praeceptōris cultum excitāstī. Et vērissimum est, dīcī quod solet: Fēlīx avis, bonī amīcī occursus.
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}
 
    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
 
    <!--Footer goes here-->
  </div>
 
   <div class="footer">
     <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
   </div>
</body>