---
title: Dialogī Aliquot - Dialogus V
subtitle: Euripidēs et Diōnȳsius dē parentis morte colloquuntur
type: Colloquium
author: Ionas Philologus
collection: Dialogi Aliquot
topic:
- Family
difficulty: Moderate
sequence: '005'
character_count: 2
permalink: /ionas-philologus/dialogus-v/
---
 
<!doctype html>
 
<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/style-reading.css" />
  
<script src="/scripts/headroom.min.js"></script>
    <script src="/scripts/common.js"></script>
  </head>
 
<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>
 
  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>
 
    <div class="characters">
      Persōnae:<br />
      Euripidēs, Diōnȳsius
    </div>

    <div class="line-container" id="Euripides.1">
      <div class="line-character">Euripidēs</div>
      Optātō advenīs exoptātissime Diōnȳsī.
    </div>

    <div class="line-container" id="Dionysius.2">
      <div class="line-character">Diōnȳsius</div>
      Quid ita mī Euripidē?
    </div>

    <div class="line-container" id="Euripides.3">
      <div class="line-character">Euripidēs</div>
      Urbis mē taedium iandūdum cēpit, hūc itaque prōgressus, congerrōnem quaerēbam, quī mūtuā cōnfābulātiōne animum meum exhilarāret: eum tē mihi hodiē voluntāte tuā dabis.
    </div>

    <div class="line-container" id="Dionysius.4">
      <div class="line-character">Diōnȳsius</div>
      Nihil possum minus.
    </div>

    <div class="line-container" id="Euripides.5">
      <div class="line-character">Euripidēs</div>
      Quur nōn possīs? Num tibi aegritūdō aliqua oborta? Quid moerēs, aut unde cedo ex sōlitāriō hōc locō prōdīs?
    </div>

    <div class="line-container" id="Dionysius.6">
      <div class="line-character">Diōnȳsius</div>
      Nunquam mihi vīta acerbior vīsa est, intantum īnfectus cāsus ratiōnēs mihi omnēs disturbāvit.
    </div>

    <div class="line-container" id="Euripides.7">
      <div class="line-character">Euripidēs</div>
      Nē lachrimā: atque istuc quicquid est, quod dolōre animum exagitat, apud amīcum expōne. Fortasse cōnsiliō illud corrigam, vel cōnsōlātiōne extenuābō, aut commūnem hanc tēcum aegritūdinem feram.
    </div>

    <div class="line-container" id="Dionysius.8">
      <div class="line-character">Diōnȳsius</div>
      Nōn possum moesticiam tibi obiicere.
    </div>

    <div class="line-container" id="Euripides.9">
      <div class="line-character">Euripidēs</div>
      Nihil est quod apud mē vereāris, quem in omnem ēventum tibi habeās prōpēnsum.
    </div>

    <div class="line-container" id="Dionysius.10">
      <div class="line-character">Diōnȳsius</div>
      Fortūna mē gravissimō dolōris vulnere percussit.
    </div>

    <div class="line-container" id="Euripides.11">
      <div class="line-character">Euripidēs</div>
      Diī malum āvertant. Quid hōc est?
    </div>

    <div class="line-container" id="Dionysius.12">
      <div class="line-character">Diōnȳsius</div>
      Matrem habeō, eheu mē miserum.
    </div>

    <div class="line-container" id="Euripides.13">
      <div class="line-character">Euripidēs</div>
      Mitte quaesō lachrimās: nē tantopere tē excruciēs.
    </div>

    <div class="line-container" id="Dionysius.14">
      <div class="line-character">Diōnȳsius</div>
      Habuī scīlicet, quae ab adolēscentiā animō ūnicē chārum mē habuit, & quidem vērissimīs amplexa affectibus, salūtāria omnia suggessit. Et nē vīvidae aetātis impetū indigna studia contrēctārem, praeceptōris nostrī cēnsūrae mē commīsit. intereā usque domī ex dīmēnsō suō suppīlāns, quō mea ocia suō maximō labōre fovēre possit: tum quod dūrior mihi pater obtigisset in omnī mānsuētūdine ac pietāte ergā fīlium nihil sibi fēcit reliquī.
    </div>

    <div class="line-container" id="Euripides.15">
      <div class="line-character">Euripidēs</div>
      Pium mātris ingenium narrās.
    </div>

    <div class="note">In margine: Dē σκυτάλη Lacōnicā. Gell. lib. 17. cap. 9.</div>

    <div class="line-container" id="Dionysius.16">
      <div class="line-character">Diōnȳsius</div>
      Eam cum anteā gravī valētūdine dēiectam moestus cognōveram, ecce tibi, trīstis offertur scytalē, quae ex aegretūdine fātō fūnctam esse docet. Hunc ego nuncium nōn possum nōn multīs lachrimīs excipere.
    </div>

    <div class="line-container" id="Euripides.17">
      <div class="line-character">Euripidēs</div>
      Et mē sānē istaec rēs ad misericordiam concitat. Deum immortālem, quam miserē comparātum est dē hūmānā vītā, quae tot fortūnae ictibus obiecta, tam fugāx est & citō peritūra, et in ipsā dulcēdine perpetuīs fermentāta amāritūdinibus.
    </div>

    <div class="line-container" id="Dionysius.18">
      <div class="line-character">Diōnȳsius</div>
      Ah simul mē ē mediō ablātum esse oportuit. Nam quam ego vītam expetam tālī parente prīvātus, quālis mihi nūlla alia erit unquam?
    </div>

    <div class="line-container" id="Euripides.19">
      <div class="line-character">Euripidēs</div>
      Nē ita animum indūcās mī Diōnȳsī, aut luctum hunc ferās inīquius: sed tē ad dolōris vehementiam ipse cōnfirmā. Scīvistī mortālem eam esse, & hāc lēge nātam, ut necessārium vītae hūmānae fīnem aliquandō sortīrētur.
    </div>

    <div class="line-container" id="Dionysius.20">
      <div class="line-character">Diōnȳsius</div>
      Nequeō parentis oblīvīscī, quae vītae mihi, fēlīcitātisque omnis fuerit autrīx.
    </div>

    <div class="line-container" id="Euripides.21">
      <div class="line-character">Euripidēs</div>
      Acerbum tibi vidērī plānissimē persuāsum habeō. AT MODERĀTĪ est hominis spem optimam in animō parāre, & adversam aerumnam cōnstanter ferre.
    </div>

    <div class="line-container" id="Dionysius.22">
      <div class="line-character">Diōnȳsius</div>
      Haud facile dissimulāmus, quod animō aegrē est.
    </div>

    <div class="line-container" id="Euripides.23">
      <div class="line-character">Euripidēs</div>
      Frūstrā certē incūsēs, quod cōnsiliō nūllō queās vītāre. Quantō igitur satius est tē dare operam, quī istam aegritūdinem dīluās, atque animum īnstituās ad commūnis sortis recordātiōnem. Parēns tua mōmentāniae vītae īnsomniīs velutī ergastulō exempta, dīvōrum sperō cōnsors existit. Vīcit mortis molestiam, quam semel, dum in hīs carceribus vītae pēnsa facimus, dēvorandam exhorrēscimus omnēs. Vīxit Chrīstō dēvōta, et quae omnia ad vītae mōrumque probitātem referret: ut grātulandum potius mihi videātur, foeminam pudīcam ex hōc mundō fātōrum sorte raptam esse, quī tantum habeat labōris et sōlicitūdinis. Bonō ergō fortīque sīs animō, nec moerōrem altius in animum trānsmitte, corporis alioquī, ingeniīque vīrēs cōnfectūrum. Quod iīs ūsūvenīre vidēmus, quī īnspērātā formīdine perculsī, in mortem īlicō concidunt. Hōc accidit, quandō natīvus calor ex omnibus membrīs ad cor ipsum refugit: cuius deinde cōpia, ceu oleum flammae immodicē superfūsum, vītam extinguit.
    </div>

    <div class="line-container" id="Dionysius.24">
      <div class="line-character">Diōnȳsius</div>
      Etiamsī hanc calamitātem aliquō modō ferre possim, quid speī mihi putās reliquum dē studiī meī commoditāte, cui pater ad rem est attentior, & quī huiusmodī sūmptūs tolerāre nōlit?
    </div>

    <div class="line-container" id="Euripides.25">
      <div class="line-character">Euripidēs</div>
      Nihil tibi ille dēfierī patiētur, quod ad honestī cultum ac studiōrum prōventum pertinēre vidēbitur: quīn omnem tibi benevolentiam accommodābit ultrō, ubi tē vīderit bonae indolis spem optimam praeferre: nec tempus in bonīs literīs īnfēlīciter posuisse.
    </div>

    <div class="line-container" id="Dionysius.26">
      <div class="line-character">Diōnȳsius</div>
      Literārum expers est, eōque inīquus studiōrum cēnsor. Tum aliā autem cūrā solicitor, nē ad novum aliquod mātrimōnium animum trādūcat, ibi ex patre mihi vītricus futūrus.
    </div>

    <div class="line-container" id="Euripides.27">
      <div class="line-character">Euripidēs</div>
      Nōn sīc futūrum est, & coepta tua honesta Chrīstus secundābit.
    </div>

    <div class="line-container" id="Dionysius.28">
      <div class="line-character">Diōnȳsius</div>
      Ita spērō equidem.
    </div>

    <div class="line-container" id="Euripides.29">
      <div class="line-character">Euripidēs</div>
      Nunc quoniam tenebrae intendunt, in urbem dīvertāmus, apud mē coenābis hodiē.
    </div>

    <div class="line-container" id="Dionysius.30">
      <div class="line-character">Diōnȳsius</div>
      Habeō tibi grātiās maximās, cum id nōn possim. Nūlla enim rēs intervenīre potest tanta, quae mihi voluptātem afferat.
    </div>

    <div class="line-container" id="Euripides.31">
      <div class="line-character">Euripidēs</div>
      Praebēbis tē inquam meae potestātī, dum hīc animī tumor resīdeat: nec sustinēbō moerōre amīcum contābēscere.
    </div>

    <div class="line-container" id="Dionysius.32">
      <div class="line-character">Diōnȳsius</div>
      Quandō sīc stat sententia, nihil recūsō.
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}
 
    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
 
    <!--Footer goes here-->
  </div>
 
   <div class="footer">
     <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
   </div>
</body>