---
title: Dialogī Aliquot - Dialogus X
subtitle: Cōnfābulātiō servōrum dē suīs hērīs
type: Colloquium
author: Ionas Philologus
collection: Dialogi Aliquot
topic:
- Daily Life
difficulty: Moderate
sequence: '010'
character_count: 2
permalink: /ionas-philologus/dialogus-x/
---
 
<!doctype html>
 
<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/style-reading.css" />
  
<script src="/scripts/headroom.min.js"></script>
    <script src="/scripts/common.js"></script>
  </head>
 
<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>
 
  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>
 
    <div class="characters">
      Persōnae:<br />
      SIMON, IACOBUS
    </div>

    <div class="line-container" id="Simon.1">
      <div class="line-character">Simon</div>
      Salvē mī Iacobe.
    </div>

    <div class="line-container" id="Iacobus.2">
      <div class="line-character">Iacobus</div>
      Ēn chārissime Simon, salvum tē esse iubeō. Benefactum, quod nōs tandem inviseris. Quō pactō domī vīvis? Satis ne ex sententiā? Ut valet tuus herus?
    </div>

    <div class="line-container" id="Simon.3">
      <div class="line-character">Simon</div>
      Omnia salva Chrīstī benignitāte. Tū quam vītam agis?
    </div>

    <div class="line-container" id="Iacobus.4">
      <div class="line-character">Iacobus</div>
      Incolumem sīc satis, sed tenuem & macerātam.
    </div>

    <div class="line-container" id="Simon.5">
      <div class="line-character">Simon</div>
      Praestat cum sospitāte pauperem vītam trādūcere, quam afflictam, etsī luxū circunfluentem.
    </div>

    <div class="line-container" id="Iacobus.6">
      <div class="line-character">Iacobus</div>
      Et ego pauper vīvere ex salūte mālō, quam dītissimus in ipsā vītā perīclitārī. Tamen dīves vīvere sine molestiā, sī dētur, potius optārem.
    </div>

    <div class="line-container" id="Simon.7">
      <div class="line-character">Simon</div>
      Istud impūnē optāre licet. Sed ut quīmus aiunt, nōn ut volumus.
    </div>

    <div class="line-container" id="Iacobus.8">
      <div class="line-character">Iacobus</div>
      Quid rērum agitur?
    </div>

    <div class="line-container" id="Simon.9">
      <div class="line-character">Simon</div>
      Apud mē nihil māgnae reī fit. Tū cum mūsīs sēdulō rem habēs.
    </div>

    <div class="line-container" id="Iacobus.10">
      <div class="line-character">Iacobus</div>
      Nōn admodum.
    </div>

    <div class="line-container" id="Simon.11">
      <div class="line-character">Simon</div>
      Ignōscēs, sī parum in tempore tua studia interturbem.
    </div>

    <div class="line-container" id="Iacobus.12">
      <div class="line-character">Iacobus</div>
      Quīn hōc precāre, ut ignōscam, quod tam īnsolēns mē interpellēs. Nam scīs tē mihi chārissimum esse, & nūllō mē tuae cōnsuētūdinis capī fastīdiō.
    </div>

    <div class="line-container" id="Simon.13">
      <div class="line-character">Simon</div>
      Nec mē quidem tuae familiāritātis poenituit unquam, quā mē tibi cum multā benevolentiā dēvinxistī: sed eā mē quam diūtissimē fruī nōn posse, id sēriō trīstor.
    </div>

    <div class="line-container" id="Iacobus.14">
      <div class="line-character">Iacobus</div>
      Quid, malum, hōc īnfortūniī est, num hinc aliō commigrātūrus?
    </div>

    <div class="line-container" id="Simon.15">
      <div class="line-character">Simon</div>
      Ēvenit herō meō iter, in Hispāniam ut īret, ad frātrem, quī iam mēnsēs quatuor vehementī morbō absumptus, mortem intereā semper expectat, & hunc herum meum eōrum omnium, quae labor ac longa vīta dedit, haerēdem cōnstituere in vōtīs habet.
    </div>

    <div class="line-container" id="Iacobus.16">
      <div class="line-character">Iacobus</div>
      Dīvitem illum, & cui plūs satis est rērum?
    </div>

    <div class="line-container" id="Simon.17">
      <div class="line-character">Simon</div>
      Dēsine, sīc vīsum est Fortūnae in miserōs nimium inīquē, & quae habentī semper superaddat.
    </div>

    <div class="line-container" id="Iacobus.18">
      <div class="line-character">Iacobus</div>
      Utinam ad mē aliquandō veniat.
    </div>

    <div class="line-container" id="Simon.19">
      <div class="line-character">Simon</div>
      Caeca est, nōn adit hominēs probōs aut doctōs.
    </div>

    <div class="line-container" id="Iacobus.20">
      <div class="line-character">Iacobus</div>
      An tū abeuntem dominum comitāberis?
    </div>

    <div class="line-container" id="Simon.21">
      <div class="line-character">Simon</div>
      Imō istīc haerēbimus aliquandiū, nec mihi remeandī spēs certa est, nisī officiō meō apud illum dēfungī velim, quī exulem mē & hospitem suīs aedibus excēpit, atque passus est, clēmentī servitūte victum, corporisque cultum merērī: quod scīlicet nec ūtile mihi, & turpe vidēbitur.
    </div>

    <div class="line-container" id="Iacobus.22">
      <div class="line-character">Iacobus</div>
      Quid autem agās aliud, quam ut eum omnī studiō amīcum servandum statuās, quī tibi autor māgnae fortūnae esse possit?
    </div>

    <div class="line-container" id="Simon.23">
      <div class="line-character">Simon</div>
      Ita quidem apud mē dēlīberātum est, atque eō animō hūc vēnī, ut nostrō amōrī, quī ā parvā cōnsuētūdine ortus, ad summam benevolentiam accrēvit, extrēmam iam manum impōnerem. Quārē grātiās quam māximās tibi habeō mī Iacobe: & hōc aurum ab amīcō accipe, praemium aliquod tuī obsequiī, nē apud tē ingrātus habear, quem tū nūllō aut officiō, aut amōre superiōrem esse sustinuistī. Et quoniam mē, dum cōram agerem, cōnsiliō iūvistī & condecorāstī disciplīnā, nunc etiam absentem & amēs & dēsīderēs precor.
    </div>

    <div class="line-container" id="Iacobus.24">
      <div class="line-character">Iacobus</div>
      Nōn patiar per tē mihi quicquam mūneris obtrūdī, ā quō maiōra accēpī, quam ut tuam hīc grātitūdinem requīrere dēbeam. Nec putō meī etiam pudōris esse, quum nihil suāve sim meritus, tālem mihi grātiam velle repositam. Sī enim tuīs studiīs obsequūtus sum unquam, aut grātificātus voluntātī, sīve mea tibi cōnsuētūdō grāta fuit, seu prōfuit industria, ea mē facere nōn tam decuit, quam nōn fēcisse mihi fuerit turpissimum: & tuī mōrēs ēlegantissimī facile mē ad omnem benevolentiam incitābant.
    </div>

    <div class="line-container" id="Simon.25">
      <div class="line-character">Simon</div>
      Haud illud exhibeō, quasi tuō meritō faciam satis, sed hīc nummus ā memoriā tibi erit, ut meī memoria tuō animō quam diūtissimē inhaereat.
    </div>

    <div class="line-container" id="Iacobus.26">
      <div class="line-character">Iacobus</div>
      Amor ille noster altius in corde meō īnsculptus est, quam ut ūllā obliviōne exterī queat. Tum animōrum συμπάθεια facit, ut nunquam possum nōn tuī meminisse.
    </div>

    <div class="line-container" id="Simon.27">
      <div class="line-character">Simon</div>
      Sine hōc mē impetrāre, & valē in omne aevum fēlīx, nostrīque vīve memor.
    </div>

    <div class="line-container" id="Iacobus.28">
      <div class="line-character">Iacobus</div>
      Iamne quaesō abitūrus?
    </div>

    <div class="line-container" id="Simon.29">
      <div class="line-character">Simon</div>
      Hōc ipsō temporis pūnctō.
    </div>

    <div class="line-container" id="Iacobus.30">
      <div class="line-character">Iacobus</div>
      Pedes ne iter ingrediēris, an eques?
    </div>

    <div class="line-container" id="Simon.31">
      <div class="line-character">Simon</div>
      Carpentō, audiō, advehēmur.
    </div>

    <div class="line-container" id="Iacobus.32">
      <div class="line-character">Iacobus</div>
      Salva rēs est. Num reī vestrae sarcinam aliquam concipitis?
    </div>

    <div class="line-container" id="Simon.33">
      <div class="line-character">Simon</div>
      Praemīsimus quōrum nōbīs ūsum fore putāmus.
    </div>

    <div class="line-container" id="Iacobus.34">
      <div class="line-character">Iacobus</div>
      Sī quam suppellectilem habēs, aut eiusmodī, quod apud mē dēpōnere cupiās, vel fidē integrā ad tuōs perferrī, nōn gravābor eam prōvinciam suscipere.
    </div>

    <div class="line-container" id="Simon.35">
      <div class="line-character">Simon</div>
      Nihil habeō, & sī quid esset, committerem id tuae fideī.
    </div>

    <div class="line-container" id="Iacobus.36">
      <div class="line-character">Iacobus</div>
      Iēsus ergō tē mihi diū servet incolumem, & nostram cōnsuētūdinem, quoad eius poteris, cole.
    </div>

    <div class="line-container" id="Simon.37">
      <div class="line-character">Simon</div>
      Faciam sēdulō.
    </div>

    <div class="line-container" id="Iacobus.38">
      <div class="line-character">Iacobus</div>
      Dē rēbus tuīs ut prīmum istūc vēneris, certiōrem mē faciēs.
    </div>

    <div class="line-container" id="Simon.39">
      <div class="line-character">Simon</div>
      Cūrābitur dīligenter.
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}
 
    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
 
    <!--Footer goes here-->
  </div>
 
   <div class="footer">
     <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
   </div>
</body>