---
title: Latine Loquor - Liber Quārtus - Colloquium Ūndēquadrāgēsimum
subtitle: "Dē suburbānā deambulātiōne. Geōrgius et Adolphus discipulī veniam impetrant eundī ambulātum, ut cēterīs lūdentibus, līberius iūcundiusque colloquantur. Deī laudandī argūmentum cultōribus eius numquam deest."
type: Colloquium
author: Schwieder
collection: Latine Loquor Liber Quartus
topic:
- Piety
- School
difficulty: Challenging
sequence: '039'
character_count: 3
permalink: /schwieder/latine-loquor-4-39/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
  <link rel="stylesheet" href="/style-reading.css" />

  <script src="/scripts/headroom.min.js"></script>
  <script src="/scripts/common.js"></script>
</head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"><b>Colloquia Latina</b></a>
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Geōrgius, Adolphus, Praeceptor.
    </div>

    <div class="line-container" id="Georgius.1">
      <div class="line-character">Geōrgius</div>
      Praeceptor, licetne pauca?
    </div>

    <div class="line-container" id="Praeceptor.2">
      <div class="line-character">Praeceptor</div>
      Loquere.
    </div>

    <div class="line-container" id="Adolphus.3">
      <div class="line-character">Adolphus</div>
      Nōs duo prōposuimus, sī tibi ita vidērētur, īre, dum cēterī lūdunt, forās ambulātum.
    </div>

    <div class="line-container" id="Praeceptor.4">
      <div class="line-character">Praeceptor</div>
      Quō vultis exīre?
    </div>

    <div class="line-container" id="Georgius.5">
      <div class="line-character">Geōrgius</div>
      In proxima suburbāna.
    </div>

    <div class="line-container" id="Praeceptor.6">
      <div class="line-character">Praeceptor</div>
      Quid autem agētis ambulantēs?
    </div>

    <div class="line-container" id="Adolphus.7">
      <div class="line-character">Adolphus</div>
      Tractābimus colloquium aliquod.
    </div>

    <div class="line-container" id="Praeceptor.8">
      <div class="line-character">Praeceptor</div>
      Sed dē bonīs et honestīs rēbus.
    </div>

    <div class="line-container" id="Georgius.9">
      <div class="line-character">Geōrgius</div>
      Haec temporis serēnitās et tam pulchra terrae faciēs praebēbunt nōbīs honestum aliquod argūmentum.
    </div>

    <div class="line-container" id="Praeceptor.10">
      <div class="line-character">Praeceptor</div>
      Numquam deest Deī laudandī māteria, sed vērīs eius cultōribus.
    </div>

    <div class="line-container" id="Adolphus.11">
      <div class="line-character">Adolphus</div>
      Numquam profectō: sed ut ad prōpositum revertāmur, permittisne nōbīs, praeceptor, extrā urbem prōdīre?
    </div>

    <div class="line-container" id="Praeceptor.12">
      <div class="line-character">Praeceptor</div>
      Nisi mihi perspecta esset vestra perpetua fidēlitās et vērus amor litterārum, numquam permitterem: praesertim, cum prāvī adulēscentēs mē saepe in hōc genere fefellērint. Vōs igitur prōdīte: deinde mātūrē ad cēnam revertīminī.
    </div>

    <h2>Ēlocūtiō</h2>
    <div class="elocutio">
      <ul>
        <li class="elocutio-entry">Prōposueram mihi īre forās ambulātum.</li>
        <li class="elocutio-entry">Caelī serēnitās invītat nōs ad deambulandum.</li>
        <li class="elocutio-entry">Quid ēgistis ambulantēs?</li>
        <li class="elocutio-entry">Tractāre rem aliquam ... nūgās tractāre.</li>
        <li class="elocutio-entry">Caelum satis serēnum est; nihil hōc caelō blandius, nihil amoēnius.</li>
        <li class="elocutio-entry">Pulchra terrae faciēs.</li>
        <li class="elocutio-entry">Praebēre argūmentum alicui ... aurēs alicui ... causam, ōs alicui, sē docilem, sē grātum.</li>
        <li class="elocutio-entry">Numquam deest Deī laudandī māteria vērīs eius cultōribus.</li>
        <li class="elocutio-entry">Revertī ad prōpositum.</li>
        <li class="elocutio-entry">Nisi perspecta esset praeceptōrī mea fidēlitās et vērus amor litterārum, nōn permīsisset mihi prōdīre extrā urbem.</li>
        <li class="elocutio-entry">Perspicere fidem alicuius ... integritātem alicuius.</li>
      </ul>
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains 'files/'" %}
    {% assign neighbors = files | where: "type", "Colloquium" | where: "author", page.author | where: "collection", page.collection | sort: "sequence" %}
    {% assign prev_page = nil %}
    {% assign next_page = nil %}
    {% assign found_current = false %}
    {% for p in neighbors %}
      {% if found_current and next_page == nil %}{% assign next_page = p %}{% endif %}
      {% if p.url == page.url %}{% assign found_current = true %}{% endif %}
      {% if found_current == false %}{% assign prev_page = p %}{% endif %}
    {% endfor %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

  <div class="footer">
    <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
  </div>
</body>