---
title: Progymnasmata Latinitatis - Prōgymnasma Sexāgēsimum Nōnum
subtitle: Observātor
type: Colloquium
author: Pontanus
topic: School Monitor, Bribery, Speaking in Class
difficulty: Moderate
sequence: "069"
character_count: 4
permalink: /pontanus/progymnasmata-liber-primus-progymnasma-sexagesimum-nonum/
---

<!DOCTYPE html>

<head>
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/style-reading.css" />
    
</head>

<body>
    <div class="navbar">
        <div class="navbar-inner">
            <a href="/" class="navbar-item btn"><b>Colloquia Latina</b></a>
            <a href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
                class="navbar-item btn">{{ page.author }}</a>
            <span class="navbar-dynamic">{{ page.title }}</span>
        </div>
    </div>
    <div style="height: 3em"></div>

    <div class="main-content">
        <h1>{{page.title}}</h1>
        <h3>{{page.subtitle}}</h3>

        <div class="characters">
            Persōnae:<br>
            Observātor, Athanāsius, Matthaeus, Bonifācius
        </div>

        <div class="line-container" id="Observator.1">
            <div class="line-character">
                Observātor
            </div>
            Vōs trēs, linguās geritis īmpēnsē līberās et expedītās: loquācitās vōbīs dominatur: meam admonitiōnem contemnitis ac prō nihilō putātis. Ecce in fābulātōrum indicem vōs referō. Sī <a href="#footnote.1"><sup>(1)</sup></a>Pēgasō velōciōrēs sītis, numquam hodiē effugiētis īnfortūnium.
        </div>

        <div class="line-container" id="Athanasius.2">
            <div class="line-character">
                Athanāsius
            </div>
            Connīvistī aliās, connīve nunc etiam, et mūtā istam mentem, rogō: tacēbō deinceps ut piscis.
        </div>

        <div class="line-container" id="Matthaeus.3">
            <div class="line-character">
                Matthaeus
            </div>
            Sī nōmina nostra in catalogum retuleris, erit mihi, quod Praeceptōrī dē tē narrem.
        </div>

        <div class="line-container" id="Observator.4">
            <div class="line-character">
                Observātor
            </div>
            Quid dīcēs?
        </div>

        <div class="line-container" id="Matthaeus.5">
            <div class="line-character">
                Matthaeus
            </div>
            Cognōscēs.
        </div>

        <div class="line-container" id="Observator.6">
            <div class="line-character">
                Observātor
            </div>
            Mīnās iactāre cuīvīs obvium est.
        </div>

        <div class="line-container" id="Matthaeus.7">
            <div class="line-character">
                Matthaeus
            </div>
            Experiēris.
        </div>

        <div class="line-container" id="Observator.8">
            <div class="line-character">
                Observātor
            </div>
            Nūllīus in mē maleficiī crīmen admīsī, cuius mē stimulet cōnscientia.
        </div>

        <div class="line-container" id="Matthaeus.9">
            <div class="line-character">
                Matthaeus
            </div>
            Sentiēs.
        </div>

        <div class="line-container" id="Observator.10">
            <div class="line-character">
                Observātor
            </div>
            Nūllum, inquam, crīmen incurrī, quā tū mē arcesās: et nōn ignōrō technās tuās.
        </div>

        <div class="line-container" id="Matthaeus.11">
            <div class="line-character">
                Matthaeus
            </div>
            Vidēbis.
        </div>

        <div class="line-container" id="Bonifacius.12">
            <div class="line-character">
                Bonifācius
            </div>
            Nē scrībe nōmen meum in tabulā, dōnābō tibi quidpiam.
        </div>

        <div class="line-container" id="Observator.13">
            <div class="line-character">
                Observātor
            </div>
            Egone ut patiar mē abs tē corrumpī mūneribus?
        </div>

        <div class="line-container" id="Bonifacius.14">
            <div class="line-character">
                Bonifācius
            </div>
            Lepidissimum est.
        </div>

        <div class="line-container" id="Observator.15">
            <div class="line-character">
                Observātor
            </div>
            Nōn cūrō.
        </div>

        <div class="line-container" id="Bonifacius.16">
            <div class="line-character">
                Bonifācius
            </div>
            Simul aspexeris, appetēs.
        </div>

        <div class="line-container" id="Observator.17">
            <div class="line-character">
                Observātor
            </div>
            Mitte nūgārī: nihil habēs quod dōnēs.
        </div>

        <div class="line-container" id="Athanasius.18">
            <div class="line-character">
                Athanāsius
            </div>
            Habet certē.
        </div>

        <div class="line-container" id="Observator.19">
            <div class="line-character">
                Observātor
            </div>
            Quīn ostendis?
        </div>

        <div class="line-container" id="Bonifacius.20">
            <div class="line-character">
                Bonifācius
            </div>
            Ecce imāgō longē venustissima: augustissima Deī māter puerum IĒSUM ulnīs sustinēns. Vidētis ut amābiliter arrīdet nōbīs dīvīnissimus atque bellissimus īnfāns?
        </div>

        <div class="line-container" id="Observator.21">
            <div class="line-character">
                Observātor
            </div>
            Hanccine datūrus es?
        </div>

        <div class="line-container" id="Bonifacius.22">
            <div class="line-character">
                Bonifācius
            </div>
            Datūrus, sī pollicēre silentium.
        </div>

        <div class="line-container" id="Observator.23">
            <div class="line-character">
                Observātor
            </div>
            Polliceor, dā.
        </div>

        <div class="line-container" id="Bonifacius.24">
            <div class="line-character">
                Bonifācius
            </div>
            Quaerēs fēlīciter ambōbus ēveniat, accipe.
        </div>

        <div class="line-container" id="Matthaeus.25">
            <div class="line-character">
                Matthaeus
            </div>
            Ō factum bene, iam tū incorruptissimē observātor nec mē, nec Athanāsium audēbis accūsāre.
        </div>

        <div class="line-container" id="Observator.26">
            <div class="line-character">
                Observātor
            </div>
            Quāprōpter nōn audērem?
        </div>

        <div class="line-container" id="Athanasius.27">
            <div class="line-character">
                Athanāsius
            </div>
            Quia nōs tē accūsārēmus, et tū pendērēs poenās nōn levēs, quod Praeceptōrī īnfīdēlis ac perfidus extitissēs.
        </div>

        <div class="line-container" id="Observator.28">
            <div class="line-character">
                Observātor
            </div>
            Īgnōscō vōbīs similiter, ut Bonifāciō.
        </div>

        <div class="line-container" id="Matthaeus.29">
            <div class="line-character">
                Matthaeus
            </div>
            Perplacet. Discēde iam hinc, observā aliōs.
        </div>

        <div class="line-container" id="Athanasius.30">
            <div class="line-character">
                Athanāsius
            </div>
            Prō, quantum bonī adeptī sumus hāc lūce, quī ab istō quidem Observātōre quoad voluērimus tūtī sīmus?
        </div>

        <div class="line-container" id="Bonifacius.31">
            <div class="line-character">
                Bonifācius
            </div>
            Quīnam?
        </div>

        <div class="line-container" id="Athanasius.32">
            <div class="line-character">
                Athanāsius
            </div>
            Sī dē frāctā lēge silentiī postulāre quemquam ē nōbīs meditābitur, obiiciēmus illī, quam abs tē accipere nōn recūsāvit ēlegantem pictūram ut sīlēret: mūtīre nōn audēbit. Nam tribus, tibi quī dōnāstī, mihi et Matthaēō testibus oculātīs plūs utique quam illī sōlī vel iūrātō crēdet Magister: periūrissimum dīcet, sī dēiērāverit.
        </div>

        <div class="line-container" id="Matthaeus.33">
            <div class="line-character">
                Matthaeus
            </div>
            Via reperta est commodissima ad ēvadenda verbera, propter istam congressiōnem nostram vidēlicet imminentia. Vah.
        </div>

        <div class="footnote" id="footnote.1">
            <a href="#Observator.1">(1)</a> <i>Pēgasō velōciōrēs:</i> Dē equō alātō, quī capite Medūsa ampūtātō ā Perseō, ex eius sanguine nātus repente prosiluerit, quōmodo eō ūsus sit Bellerophōn, Nātālis Comes Mytholog. lib.7. cap.11. et lib.9. cap.4. Fābulantur hunc eundem equum, cum terram ungulā percussisset, fontem ēlicuisse, unde ipsī nōmen inditum Pēgasus, πήγη enim fōns: quī quoniam Mūsīs cōnsecrātus est, dīcuntur illae Pēgasidēs. Īdem fōns ἱπποκρήνη, et Mūsae Hippōcrēnidēs.
        </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
    </div>

   <div class="footer">
     <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
   </div>
</body>