---
title: Progymnasmata Latinitatis - Prōgymnasma Quārtum
subtitle: Tardē Lūdum Petentēs
type: Colloquium
author: Pontanus
topic: Education, Coming Late to School, Excuses
difficulty: Moderate
sequence: "004"
character_count: 2
permalink: /pontanus/progymnasmata-liber-primus-progymnasma-quartum/
---

<!DOCTYPE html>

<head>
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/style-reading.css" />
    <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/w3.css" />
</head>

<body>
    <div class="w3-top">
        <div class="w3-bar w3-black">
            <a href="/" class="w3-bar-item w3-button w3-mobile"><b>Colloquia Latina</b></a>
            <a href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
                class="w3-bar-item w3-button w3-mobile">{{ page.author }}</a>
            <div class="w3-bar-item w3-mobile w3-center"><i>{{ page.title }}</i></div>
        </div>
    </div>
    <div style="height: 3em"></div>

    <div class="main-content">
        <h1>{{page.title}}</h1>
        <h3>{{page.subtitle}}</h3>

        <div class="characters">
            Persōnae:<br>
            Emmanuēl, Eustāchius
        </div>

        <div class="line-container" id="Emmanuel.1">
            <div class="line-character">
                Emmanuēl
            </div>
            Salvus sīs Eustāchī.
        </div>

        <div class="line-container" id="Eustachius.2">
            <div class="line-character">
                Eustāchius
            </div>
            Ō salvē Emmanuēl. Quō īre intendis?
        </div>

        <div class="line-container" id="Emmanuel.3">
            <div class="line-character">
                Emmanuēl
            </div>
            In scholam. Quō tē pedēs<a href="#footnote.1"><sup>(1)</sup></a>?
        </div>

        <div class="line-container" id="Eustachius.4">
            <div class="line-character">
                Eustāchius
            </div>
            Eōdem.
        </div>

        <div class="line-container" id="Emmanuel.5">
            <div class="line-character">
                Emmanuēl
            </div>
            Ubī librī? Ubī ātrāmentārium?
        </div>

        <div class="line-container" id="Eustachius.6">
            <div class="line-character">
                Eustāchius
            </div>
            Sub palliō et axillā gestitō.
        </div>

        <div class="line-container" id="Emmanuel.7">
            <div class="line-character">
                Emmanuēl
            </div>
            Audīstin' prīmam?
        </div>

        <div class="line-container" id="Eustachius.8">
            <div class="line-character">
                Eustāchius
            </div>
            Prīdem.
        </div>

        <div class="line-container" id="Emmanuel.9">
            <div class="line-character">
                Emmanuēl
            </div>
            Ain' tū prīdem<a href="#footnote.2"><sup>(2)</sup></a>? Vae nōbīs.
        </div>

        <div class="line-container" id="Eustachius.10">
            <div class="line-character">
                Eustāchius
            </div>
            Quid cōnfternāris? aut quid metuis?
        </div>

        <div class="line-container" id="Emmanuel.11">
            <div class="line-character">
                Emmanuēl
            </div>
            Quid metuam? quod solent sērō venientēs. Ah.
        </div>

        <div class="line-container" id="Eustachius.12">
            <div class="line-character">
                Eustāchius
            </div>
            Ego sānē probābilem excūsātiōnem addūcam.
        </div>

        <div class="line-container" id="Emmanuel.13">
            <div class="line-character">
                Emmanuēl
            </div>
            Obsecro, quam?
        </div>

        <div class="line-container" id="Eustachius.14">
            <div class="line-character">
                Eustāchius
            </div>
            Māter mē cum mandātīs ad sorōrium mīsit, cuius respōnsum renūntiandum fuit domum, et absunt illīus aedēs ā nostrīs longius: eō tardius veniō.
        </div>

        <div class="line-container" id="Emmanuel.15">
            <div class="line-character">
                Emmanuēl
            </div>
            Quid sī hanc ratiōnem tanquam commentītiam repudiet?
        </div>

        <div class="line-container" id="Eustachius.16">
            <div class="line-character">
                Eustāchius
            </div>
            Fīdūcia est id minimē factūrum. Nam mē ab huiuscemodī mendāciūnculīs temperāre nōn rārō expertus didicit.
        </div>

        <div class="line-container" id="Emmanuel.17">
            <div class="line-character">
                Emmanuēl
            </div>
            Mē miserum, malīque fātī: quid māchiner? Quid cōnfingam, cum (ut hoc aestīvum, et pōmerīdiānum tempus<a href="#footnote.3"><sup>(3)</sup></a> etiam māgnō nātū hominēs invītāre solet) somnō captus<a href="#footnote.4"><sup>(4)</sup></a> obdormīverim super librō? In extrēmō sitae sunt fortūnae meae, nec quid agam certum est.
        </div>

        <div class="line-container" id="Eustachius.18">
            <div class="line-character">
                Eustāchius
            </div>
            Sī rem ipsam ingenuē cōnfiteāre, forsitan dēlictī grātiam faciet. Quid forsitan? Certē faciet: exonerā tē metū.
        </div>

        <div class="line-container" id="Emmanuel.19">
            <div class="line-character">
                Emmanuēl
            </div>
            Obtemperābō bene monentī: abstērsistī metum. At enim ecce aliud mihi timōrem obīcit.
        </div>

        <div class="line-container" id="Eustachius.20">
            <div class="line-character">
                Eustāchius
            </div>
            Aliud? dīc quaesō.
        </div>

        <div class="line-container" id="Emmanuel.21">
            <div class="line-character">
                Emmanuēl
            </div>
            Formīdō male, nē hīc ēlāpsus, alibī in cassēs incidam.
        </div>

        <div class="line-container" id="Eustachius.22">
            <div class="line-character">
                Eustāchius
            </div>
            Ubī?
        </div>

        <div class="line-container" id="Emmanuel.23">
            <div class="line-character">
                Emmanuēl
            </div>
            Quae memoriter prōnūntianda praescrīpsit, haud teneō absolūtē.
        </div>

        <div class="line-container" id="Eustachius.24">
            <div class="line-character">
                Eustāchius
            </div>
            Suspicārī fās est, nōn tē inter prīmōs interrogātum īrī: tum ego quī secundus tibi sedeō, suggeram dissimulanter et fīdēliter.
        </div>

        <div class="line-container" id="Emmanuel.25">
            <div class="line-character">
                Emmanuēl
            </div>
            Id, amābō, adiutā mē. Summum tibi beneficium dēbuerō, hoc sī perfectum dederis: nam nunc spēs opēsque meae omnēs in tē sunt sitae.
        </div>

        <div class="line-container" id="Eustachius.26">
            <div class="line-character">
                Eustāchius
            </div>
            Ambulēmus contentius.
        </div>

        <div class="line-container" id="Emmanuel.27">
            <div class="line-character">
                Emmanuēl
            </div>
            Tam strēnuē tē cōnsequī vix possum.
        </div>

        <div class="footnote" id="footnote.1">
            <a href="#Emmanuel.3">(1)</a> <i>quō tē pedēs?</i> Virg. Eclog. 9. <i>Quō tē Moerī pedēs? An (quō via dūcit) in urbem?</i> Subaudīmus, <i>dūcunt, portant</i>, aut simile quid.
        </div>

        <div class="footnote" id="footnote.2">
            <a href="#Emmanuel.9">(2)</a> <i>ain tū prīdem?</i> "Ain' tū" et "ain' tandem" dīcere cōnsuēvimus eā dē rē interrogantēs, quae ab aliō dicta, admīrātiōne nōs affēcit. Cicer. epist. 21. lib. 9. <i>Ain' tandem? īnsānīre tibi vidēris, quod imitēre verbōrum meārum, ut scrībis, fulmina?</i> Ad Att. lib. 4. epist. 5. <i>Ain' tū? an mē exīstimās ab ūllō malle mea legī probārīque, quam ā tē?</i> Et epist. 1. lib. 6. ad famil. <i>Ain' tū? Scīpiō hīc Metellus proāvum suum nēscit cēnsōrem nōn fuisse?</i> Terent. Andr. <i>Ain' tandem? cīvis Glycērium est?</i> Hecyra. <i>Ain' tū tibi hoc incommodum ēvenisse iter?</i> Plaut. Āsināria. <i>Ain' tū meum virum hīc pōtāre?</i> Manūt. in epist. 21. lib. 9.
        </div>

        <div class="footnote" id="footnote.3">
            <a href="#Emmanuel.17">(3)</a> <i>pōmerīdiānum tempus:</i> Dē merīdiātiōne, seu somnō merīdiānō nōs quaedam disserēmus secundā volūminis tertiī, cum dē rē medicā et morbīs agēmus. Plaut. Mōstell. <i>Nōn bonus somnus est dē prandiō.</i>
        </div>

        <div class="footnote" id="footnote.4">
            <a href="#Emmanuel.17">(4)</a> <i>somnō captus:</i> Variās et ēlegantēs locūtiōnēs creat adiectīvum <i>captus</i>, per metaphoram. Exemplō sint hae, <i>captus mente</i>, prō <i>dēlīrō, captus amōre, errōre, dolīs, verbīs, voluptāte</i>. Illa dē valētūdine prostrātā, et offēnsiōne partium hūmānī corporis quam venusta sunt? <i>Captus membrīs, omnibus, captus oculīs, captus pedibus.</i> Audērem quoque dīcere, <i>captus auribus, captus manibus, captus linguā, captus nāribus</i> nōn audērem. Etiam <i>oculīs captus</i> is dīcitur, quī reī alicuius speciē captus est et allēctus, ut eam vehementer concupīscat, et habēre ārdeat. Cic. 6. in Verr. <i>Tametsī nē oculīs quidem captus in hanc fraudem tam scelerātam ac nefāriam dēcidistī.</i>
        </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
    </div>
</body>