---
title: Latine Loquor - Liber Tertius - Colloquium Prīmum
subtitle: "Praeceptum dē parentum oboedientiā refertur ad omnēs, quī nōbīs praesunt. Contentiōnēs vītandae."
type: Colloquium
author: Schwieder
collection: Latine Loquor Liber Tertius
topic:
- School
difficulty: Challenging
sequence: '001'
character_count: 2
permalink: /schwieder/latine-loquor-3-1/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
  <link rel="stylesheet" href="/style-reading.css" />

  <script src="/scripts/headroom.min.js"></script>
  <script src="/scripts/common.js"></script>
</head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"><b>Colloquia Latina</b></a>
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Albertus, Aegidius.
    </div>

    <div class="line-container" id="Albertus.1">
      <div class="line-character">Albertus</div>
      Nescīs nōs vetitōs esse submissē loquī inter nōs?
    </div>

    <div class="line-container" id="Aegidius.2">
      <div class="line-character">Aegidius</div>
      Quidnī sciam, cum praeceptor tam saepe nōbīs inculcet eius reī causās?
    </div>

    <div class="line-container" id="Albertus.3">
      <div class="line-character">Albertus</div>
      Cūr igitur modo fēcistī contrā?
    </div>

    <div class="line-container" id="Aegidius.4">
      <div class="line-character">Aegidius</div>
      Quia Robertus ita mē coeperat alloquī.
    </div>

    <div class="line-container" id="Albertus.5">
      <div class="line-character">Albertus</div>
      Quid tum? dēbuistī eum admonēre, nōn imitārī.
    </div>

    <div class="line-container" id="Aegidius.6">
      <div class="line-character">Aegidius</div>
      Dēbuī, sed tunc mihi nōn vēnit in mentem.
    </div>

    <div class="line-container" id="Albertus.7">
      <div class="line-character">Albertus</div>
      Sed interim nōtandus es.
    </div>

    <div class="line-container" id="Aegidius.8">
      <div class="line-character">Aegidius</div>
      Minimē vērō: nisi vīs esse ipsō praeceptōre sevērior.
    </div>

    <div class="line-container" id="Albertus.9">
      <div class="line-character">Albertus</div>
      Dīc mihi causam.
    </div>

    <div class="line-container" id="Aegidius.10">
      <div class="line-character">Aegidius</div>
      Quia praeceptor vetat quempiam nōtārī, quī sponte dēlictum agnōverit: modo nē tāle sit factum, quod verbō Deī interdictum sit.
    </div>

    <div class="line-container" id="Albertus.11">
      <div class="line-character">Albertus</div>
      Nōnne ā Deō praeceptum est, ut parentibus oboediāmus?
    </div>

    <div class="line-container" id="Aegidius.12">
      <div class="line-character">Aegidius</div>
      Illud est quīntum decalogī praeceptum.
    </div>

    <div class="line-container" id="Albertus.13">
      <div class="line-character">Albertus</div>
      Atquī, ut legimus in librō catēchēseōs, praeceptum illud patet lātius. Nam parentum nōmine praeceptōrēs complectitur et magistrātūs, et dēnique omnēs, quibus Deus ipse nōs subiēcit.
    </div>

    <div class="line-container" id="Aegidius.14">
      <div class="line-character">Aegidius</div>
      Nōn equidem negō, vēra esse, quae dīcis: sed malō praeceptōrem cōnsulere, quam tēcum disputāre: alioquī in maius malum mē indūcerēs, quod est contentiōnis vitium, multō magis ā praeceptōre vetitum.
    </div>

    <div class="line-container" id="Albertus.15">
      <div class="line-character">Albertus</div>
      Aequum dīcis, meminerīs igitur praeceptōrem admonēre, cum ratiōnēs ā nōbīs exigit.
    </div>

    <div class="line-container" id="Aegidius.16">
      <div class="line-character">Aegidius</div>
      Nē putāverīs mē oblītūrum: praesertim cum mea rēs agātur.
    </div>

    <h2>Ēlocūtiō</h2>
    <div class="elocutio">
      <ul>
        <li class="elocutio-entry">Vetitum est quemquam loquī.</li>
        <li class="elocutio-entry">Praeceptor vetuit prīmum nōtārī.</li>
        <li class="elocutio-entry">Pater vetuit fīlium exīre domō.</li>
        <li class="elocutio-entry">Rīdendō dīcere vērum, quid vetat? Vetuit ante brūmam aliquid novī negōtiī incipī.</li>
        <li class="elocutio-entry">Loquī submissē.</li>
        <li class="elocutio-entry">Frāter tuus semper facit contrā ... semper est contrārius; nītitur in vetitum.</li>
        <li class="elocutio-entry">Coepit mē caupō alloquī.</li>
        <li class="elocutio-entry">Admonēre aliquem.</li>
        <li class="elocutio-entry">Admonēre aliquem alicuius reī; dē aliquā rē.</li>
        <li class="elocutio-entry">Imitārī aliquem ... chīrographum alicuius ... sermōnēs hominis.</li>
        <li class="elocutio-entry">Haec rēs mihi nōn vēnit in mentem.</li>
        <li class="elocutio-entry">Hī garrientēs extemplō nōtandī sunt.</li>
        <li class="elocutio-entry">Observātor praeceptōre ipsō sevērior est.</li>
        <li class="elocutio-entry">Dīc mihi causam absentiae tuae.</li>
        <li class="elocutio-entry">Agnōscere sponte dēlictum.</li>
        <li class="elocutio-entry">Hōc verbō Deī interdictum, vetitum est.</li>
        <li class="elocutio-entry">Ā Deō praeceptum est, ut oboediāmus parentibus.</li>
        <li class="elocutio-entry">Oboedīre, mōrem gerere alicui.</li>
        <li class="elocutio-entry">Illud est quīntum, sextum decalogī praeceptum.</li>
        <li class="elocutio-entry">Praeceptum quīntum nōmine caedis etiam complectitur īram et invidiam.</li>
        <li class="elocutio-entry">Deus subiēcit nōs magistrātuī.</li>
        <li class="elocutio-entry">Cōnsulere praeceptōrem.</li>
        <li class="elocutio-entry">Cōnsulere alicui.</li>
        <li class="elocutio-entry">Indūcere in malum ... in tentātiōnem.</li>
        <li class="elocutio-entry">Vitium contentiōnibus vetitum esse omnibus liquet.</li>
        <li class="elocutio-entry">Meminerīs admonēre praeceptōrem.</li>
        <li class="elocutio-entry">Exigere ratiōnem ... pēnsiōnem ... poenam ab aliquō.</li>
        <li class="elocutio-entry">Exāctae aetātis vir ... exāctō mēnse.</li>
        <li class="elocutio-entry">Rēs mea agitur.</li>
        <li class="elocutio-entry">Tunc tua rēs agitur, pariēs cum proximus ārdet.</li>
      </ul>
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains 'files/'" %}
    {% assign neighbors = files | where: "type", "Colloquium" | where: "author", page.author | where: "collection", page.collection | sort: "sequence" %}
    {% assign prev_page = nil %}
    {% assign next_page = nil %}
    {% assign found_current = false %}
    {% for p in neighbors %}
      {% if found_current and next_page == nil %}{% assign next_page = p %}{% endif %}
      {% if p.url == page.url %}{% assign found_current = true %}{% endif %}
      {% if found_current == false %}{% assign prev_page = p %}{% endif %}
    {% endfor %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

  <div class="footer">
    <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
  </div>
</body>