---
title: Latine Loquor - Liber Tertius - Colloquium Quadrāgēsimum Septimum
subtitle: "Interrogātiūncula dē profectū ad locum et reditū ex locō."
type: Colloquium
author: Schwieder
collection: Latine Loquor Liber Tertius
topic:
- Travel
- Family & Home
difficulty: Easy
sequence: '347'
character_count: 2
permalink: /schwieder/latine-loquor-3-47/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
  <link rel="stylesheet" href="/style-reading.css" />

  <script src="/scripts/headroom.min.js"></script>
  <script src="/scripts/common.js"></script>
</head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"><b>Colloquia Latina</b></a>
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Paulus, Ioannēs.
    </div>

    <div class="line-container" id="Paulus.1">
      <div class="line-character">Paulus</div>
      Estne domī frāter tuus?
    </div>

    <div class="line-container" id="Ioannes.2">
      <div class="line-character">Ioannēs</div>
      Cūr istud rogās?
    </div>

    <div class="line-container" id="Paulus.3">
      <div class="line-character">Paulus</div>
      Pater meus voluit eum convenīre.
    </div>

    <div class="line-container" id="Ioannes.4">
      <div class="line-character">Ioannēs</div>
      Nōn est in hāc urbe.
    </div>

    <div class="line-container" id="Paulus.5">
      <div class="line-character">Paulus</div>
      Ubi igitur?
    </div>

    <div class="line-container" id="Ioannes.6">
      <div class="line-character">Ioannēs</div>
      Peregre profectus est.
    </div>

    <div class="line-container" id="Paulus.7">
      <div class="line-character">Paulus</div>
      Quandō?
    </div>

    <div class="line-container" id="Ioannes.8">
      <div class="line-character">Ioannēs</div>
      Nūdius tertius.
    </div>

    <div class="line-container" id="Paulus.9">
      <div class="line-character">Paulus</div>
      Quōnam iit?
    </div>

    <div class="line-container" id="Ioannes.10">
      <div class="line-character">Ioannēs</div>
      Lutētiam.
    </div>

    <div class="line-container" id="Paulus.11">
      <div class="line-character">Paulus</div>
      Quā iter factūrus est?
    </div>

    <div class="line-container" id="Ioannes.12">
      <div class="line-character">Ioannēs</div>
      Lugdūnō.
    </div>

    <div class="line-container" id="Paulus.13">
      <div class="line-character">Paulus</div>
      Utrum pedēs an eques iit?
    </div>

    <div class="line-container" id="Ioannes.14">
      <div class="line-character">Ioannēs</div>
      Iit equō.
    </div>

    <div class="line-container" id="Paulus.15">
      <div class="line-character">Paulus</div>
      Quandō redibit?
    </div>

    <div class="line-container" id="Ioannes.16">
      <div class="line-character">Ioannēs</div>
      Nesciō.
    </div>

    <div class="line-container" id="Paulus.17">
      <div class="line-character">Paulus</div>
      Sed quem diem cōnstituit illī pater?
    </div>

    <div class="line-container" id="Ioannes.18">
      <div class="line-character">Ioannēs</div>
      Iussit, ut hīc adesset ad vīcēsimum huius mēnsis diem.
    </div>

    <div class="line-container" id="Paulus.19">
      <div class="line-character">Paulus</div>
      Dūcat illum Deus, ac redūcat!
    </div>

    <div class="line-container" id="Ioannes.20">
      <div class="line-character">Ioannēs</div>
      Ita precor.
    </div>

    <h2>Ēlocūtiō</h2>
    <div class="elocutio">
      <ul>
        <li class="elocutio-entry">Convenīre aliquem.</li>
        <li class="elocutio-entry">Proficīscī peregre.</li>
        <li class="elocutio-entry">Quā iter factūrus est?</li>
        <li class="elocutio-entry">Dīc, quā sit iter?</li>
        <li class="elocutio-entry">Abiit eques, vel, equō.</li>
        <li class="elocutio-entry">Rediit pedēs, autocīnētō, birotā automātāriā.</li>
        <li class="elocutio-entry">Quōnam īs? ... quō dēstīnāstī iter? ... quō tendis? ... quōnam tibi iter est?</li>
        <li class="elocutio-entry">Petō domum, rūs. Concēdō Lugdūnum.</li>
        <li class="elocutio-entry">Quem pater tuus sibi cōnstituit diem reditūs?</li>
        <li class="elocutio-entry">Pater iussit, ut adessem; iussit mē adesse; ad diem vīcēsimum Octōbris.</li>
      </ul>
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains 'files/'" %}
    {% assign neighbors = files | where: "type", "Colloquium" | where: "author", page.author | where: "collection", page.collection | sort: "sequence" %}
    {% assign prev_page = nil %}
    {% assign next_page = nil %}
    {% assign found_current = false %}
    {% for p in neighbors %}
      {% if found_current and next_page == nil %}{% assign next_page = p %}{% endif %}
      {% if p.url == page.url %}{% assign found_current = true %}{% endif %}
      {% if found_current == false %}{% assign prev_page = p %}{% endif %}
    {% endfor %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

  <div class="footer">
    <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
  </div>
</body>