---
title: Latine Loquor - Liber Tertius - Colloquium Vīcēsimum
subtitle: "Benedictus ā Baldō pennam commodātō petit: hic prīmō fingit sē commodāre nōlle: deinde dōnō dat. Chrīstī praeceptum. Chrīstiānus dēbet Chrīstum praeceptōrem imitārī. Colloquendī occāsiō quaesīta per simulātiōnem."
type: Colloquium
author: Schwieder
collection: Latine Loquor Liber Tertius
topic:
- School
- Piety
difficulty: Challenging
sequence: '020'
character_count: 2
permalink: /schwieder/latine-loquor-3-20/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
  <link rel="stylesheet" href="/style-reading.css" />

  <script src="/scripts/headroom.min.js"></script>
  <script src="/scripts/common.js"></script>
</head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"><b>Colloquia Latina</b></a>
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Benedictus, Baldus.
    </div>

    <div class="line-container" id="Benedictus.1">
      <div class="line-character">Benedictus</div>
      Habēsne duās aut trēs pennās?
    </div>

    <div class="line-container" id="Baldus.2">
      <div class="line-character">Baldus</div>
      Sunt mihi tantum duae.
    </div>

    <div class="line-container" id="Benedictus.3">
      <div class="line-character">Benedictus</div>
      Dā mihi ūnam commodātō.
    </div>

    <div class="line-container" id="Baldus.4">
      <div class="line-character">Baldus</div>
      Nōn faciam.
    </div>

    <div class="line-container" id="Benedictus.5">
      <div class="line-character">Benedictus</div>
      Cūr nōn?
    </div>

    <div class="line-container" id="Baldus.6">
      <div class="line-character">Baldus</div>
      Nē abūtāris.
    </div>

    <div class="line-container" id="Benedictus.7">
      <div class="line-character">Benedictus</div>
      Meminerīs: fortasse aliquandō mē frūstrā rogābis aliquid.
    </div>

    <div class="line-container" id="Baldus.8">
      <div class="line-character">Baldus</div>
      Atquī iubet Chrīstus malum bonō compensandum.
    </div>

    <div class="line-container" id="Benedictus.9">
      <div class="line-character">Benedictus</div>
      Nōndum istud didicī.
    </div>

    <div class="line-container" id="Baldus.10">
      <div class="line-character">Baldus</div>
      Tamen discās oportet, sī cupīs esse Chrīstī discipulus.
    </div>

    <div class="line-container" id="Benedictus.11">
      <div class="line-character">Benedictus</div>
      Quid cupiō magis?
    </div>

    <div class="line-container" id="Baldus.12">
      <div class="line-character">Baldus</div>
      Disce igitur Magistrum imitārī.
    </div>

    <div class="line-container" id="Benedictus.13">
      <div class="line-character">Benedictus</div>
      Discam prōgressū temporis.
    </div>

    <div class="line-container" id="Baldus.14">
      <div class="line-character">Baldus</div>
      Praestat nunc incipere, cum per tempus licet.
    </div>

    <div class="line-container" id="Benedictus.15">
      <div class="line-character">Benedictus</div>
      Nimis urgēs, nōndum complēvī annum octāvum, ut ait māter.
    </div>

    <div class="line-container" id="Baldus.16">
      <div class="line-character">Baldus</div>
      Semper est bene agendī tempus: sed interim nē mihi, quaesō, suscēnseās. Iocābar enim, ut tē ad colloquendum invītārem tantisper, dum sumus ōtiōsī. Ecce tibi penna, eaque nōn omnīnō pessima.
    </div>

    <div class="line-container" id="Benedictus.17">
      <div class="line-character">Benedictus</div>
      Reddam tibi statim atque aliquid dēscrīpserō.
    </div>

    <div class="line-container" id="Baldus.18">
      <div class="line-character">Baldus</div>
      Nōlō mihi reddās.
    </div>

    <div class="line-container" id="Benedictus.19">
      <div class="line-character">Benedictus</div>
      Quid igitur faciam?
    </div>

    <div class="line-container" id="Baldus.20">
      <div class="line-character">Baldus</div>
      Quidquid vīs: ā mē enim tibi dōnō dātur.
    </div>

    <div class="line-container" id="Benedictus.21">
      <div class="line-character">Benedictus</div>
      Grātiam habeō maximam.
    </div>

    <h2>Ēlocūtiō</h2>
    <div class="elocutio">
      <ul>
        <li class="elocutio-entry">Sunt condiscipulō meō tantum trēs pennae.</li>
        <li class="elocutio-entry">Dā mihi pennam commodātō ... nōn abūtar illā.</li>
        <li class="elocutio-entry">Malum bonō compensandum.</li>
        <li class="elocutio-entry">Oportet discās praelēctiōnem, sī cupīs esse discipulus bonus.</li>
        <li class="elocutio-entry">Imitārī magistrum.</li>
        <li class="elocutio-entry">Prōgressū temporis ēvādet vir doctus.</li>
        <li class="elocutio-entry">Nōn licet mihi per tempus.</li>
        <li class="elocutio-entry">Tempus nōn fert, concēdit, permittit, patitur, tempus postulat, dēsīderat.</li>
        <li class="elocutio-entry">Complēvī annum vīcēsimum ... nātus sum annōs octō; explēvī, excessī annum octāvum.</li>
        <li class="elocutio-entry">Semper est bene agendī tempus.</li>
        <li class="elocutio-entry">Nimis urget nōs praeceptor ... ad studia; ad solūtiōnem urgēre.</li>
        <li class="elocutio-entry">Suscēnsēre alicui, īrāscī alicui; nē mihi suscēnsuerīs, sed īnferiōrum classium discipulīs.</li>
        <li class="elocutio-entry">Invītāre aliquem ad colloquendum Latīnē ... ad prandium, cēnam.</li>
        <li class="elocutio-entry">Uterque ōtiōsus est.</li>
        <li class="elocutio-entry">Ecce tibi penna, eaque nōn omnīnō pessima.</li>
        <li class="elocutio-entry">Reddam tibi pennam, cum aliquid dēscrīpserō.</li>
        <li class="elocutio-entry">Fac quidquid vīs.</li>
        <li class="elocutio-entry">Hic imperiālis ā mē tibi dōnō dātur.</li>
        <li class="elocutio-entry">Dō tibi librum dōnō, dōnō tibi hunc librum, dōnō tē hōc librō.</li>
      </ul>
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains 'files/'" %}
    {% assign neighbors = files | where: "type", "Colloquium" | where: "author", page.author | where: "collection", page.collection | sort: "sequence" %}
    {% assign prev_page = nil %}
    {% assign next_page = nil %}
    {% assign found_current = false %}
    {% for p in neighbors %}
      {% if found_current and next_page == nil %}{% assign next_page = p %}{% endif %}
      {% if p.url == page.url %}{% assign found_current = true %}{% endif %}
      {% if found_current == false %}{% assign prev_page = p %}{% endif %}
    {% endfor %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

  <div class="footer">
    <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
  </div>
</body>