---
title: Latine Loquor - Liber Tertius - Colloquium Sextum
subtitle: "Admonitōnem, bonam iuvenis bonus in partem bonam accipit, et grātiās habet monītōrī."
type: Colloquium
author: Schwieder
collection: Latine Loquor Liber Tertius
topic:
- Piety
- Manners & Morals
difficulty: Moderate
sequence: '306'
character_count: 2
permalink: /schwieder/latine-loquor-3-6/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
  <link rel="stylesheet" href="/style-reading.css" />

  <script src="/scripts/headroom.min.js"></script>
  <script src="/scripts/common.js"></script>
</head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"><b>Colloquia Latina</b></a>
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Frānciscus, Fēlīx.
    </div>

    <div class="line-container" id="Franciscus.1">
      <div class="line-character">Frānciscus</div>
      Quid fēcistī rēgulā meā?
    </div>

    <div class="line-container" id="Felix.2">
      <div class="line-character">Fēlīx</div>
      Relīquī in pergulā superiōre.
    </div>

    <div class="line-container" id="Franciscus.3">
      <div class="line-character">Frānciscus</div>
      Cūr eam relīquistī?
    </div>

    <div class="line-container" id="Felix.4">
      <div class="line-character">Fēlīx</div>
      Oblītus sum.
    </div>

    <div class="line-container" id="Franciscus.5">
      <div class="line-character">Frānciscus</div>
      Nōn rēctē factum: sed tū sīc ferē solēs, sī quid tibi fuerit commodātum.
    </div>

    <div class="line-container" id="Felix.6">
      <div class="line-character">Fēlīx</div>
      Piget mē neglegentiae meae.
    </div>

    <div class="line-container" id="Franciscus.7">
      <div class="line-character">Frānciscus</div>
      Nōn satis est dolēre, nisi mōrēs mūtāre velīs.
    </div>

    <div class="line-container" id="Felix.8">
      <div class="line-character">Fēlīx</div>
      Deum precābor, ut eōs mihi mūtāre velit.
    </div>

    <div class="line-container" id="Franciscus.9">
      <div class="line-character">Frānciscus</div>
      Sī sapīs: alioquī nēmō tibi posthāc commodābit.
    </div>

    <div class="line-container" id="Felix.10">
      <div class="line-character">Fēlīx</div>
      Habeō grātiam, quod mē tam amīcē monuerīs.
    </div>

    <div class="line-container" id="Franciscus.11">
      <div class="line-character">Frānciscus</div>
      Ī nunc repetītum meam rēgulam: est enim ea mihi opus ad dūcendās in chartā līneās.
    </div>

    <div class="line-container" id="Felix.12">
      <div class="line-character">Fēlīx</div>
      Nunc eō.
    </div>

    <div class="line-container" id="Franciscus.13">
      <div class="line-character">Frānciscus</div>
      Refer ad mē in cubiculum.
    </div>

    <div class="line-container" id="Felix.14">
      <div class="line-character">Fēlīx</div>
      Mox habēbis.
    </div>

    <h2>Ēlocūtiō</h2>
    <div class="elocutio">
      <ul>
        <li class="elocutio-entry">Relīquī rēgulam tuam in pergulā superiōre.</li>
        <li class="elocutio-entry">Oblīvīscī rem aliquam.</li>
        <li class="elocutio-entry">Commodāre alicui aliquid ... ūtendum dare, dare commodātō.</li>
        <li class="elocutio-entry">Piget mē neglegentiae tuae.</li>
        <li class="elocutio-entry">Mūtāre mōrēs.</li>
        <li class="elocutio-entry">Vulpēs mūtat pilōs, nōn mōrēs.</li>
        <li class="elocutio-entry">Ī petītum librōs tuōs.</li>
        <li class="elocutio-entry">Opus est mihi rēgulā ad dūcendās līneās in chartā.</li>
        <li class="elocutio-entry">Refer ad mē rēgulam.</li>
        <li class="elocutio-entry">Referre in adversāria aliquid ... in album.</li>
        <li class="elocutio-entry">Referre respōnsum alicui.</li>
        <li class="elocutio-entry">Referre in numerum bonōrum aliquem.</li>
      </ul>
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains 'files/'" %}
    {% assign neighbors = files | where: "type", "Colloquium" | where: "author", page.author | where: "collection", page.collection | sort: "sequence" %}
    {% assign prev_page = nil %}
    {% assign next_page = nil %}
    {% assign found_current = false %}
    {% for p in neighbors %}
      {% if found_current and next_page == nil %}{% assign next_page = p %}{% endif %}
      {% if p.url == page.url %}{% assign found_current = true %}{% endif %}
      {% if found_current == false %}{% assign prev_page = p %}{% endif %}
    {% endfor %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

  <div class="footer">
    <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
  </div>
</body>