---
title: Latine Loquor - Liber Tertius - Colloquium Nōnum
subtitle: "Dēsidērius Iacōbum monet, nē sit cūriōsus aliēnārum rērum percontātor. Horātius: Percontātōrem fugitō: nam garrulus īdem est: Nec retinent patulae commissa fidēliter aurēs. Exemplum in percontātōrēs."
type: Colloquium
author: Schwieder
collection: Latine Loquor Liber Tertius
topic:
- Piety
difficulty: Moderate
sequence: '309'
character_count: 2
permalink: /schwieder/latine-loquor-3-9/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
  <link rel="stylesheet" href="/style-reading.css" />

  <script src="/scripts/headroom.min.js"></script>
  <script src="/scripts/common.js"></script>
</head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"><b>Colloquia Latina</b></a>
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Dēsidērius, Iacōbus.
    </div>

    <div class="line-container" id="Desiderius.1">
      <div class="line-character">Dēsidērius</div>
      Unde venīs?
    </div>

    <div class="line-container" id="Iacobus.2">
      <div class="line-character">Iacōbus</div>
      Domō.
    </div>

    <div class="line-container" id="Desiderius.3">
      <div class="line-character">Dēsidērius</div>
      Quid agitur domī vestrae?
    </div>

    <div class="line-container" id="Iacobus.4">
      <div class="line-character">Iacōbus</div>
      Nihil tua refert.
    </div>

    <div class="line-container" id="Desiderius.5">
      <div class="line-character">Dēsidērius</div>
      Fateor: sed familiārēs sīc rogāre ferē solēmus, perinde quasi rogēmus: quōmodō valētis? Quōmodō sē vestrae rēs habent?
    </div>

    <div class="line-container" id="Iacobus.6">
      <div class="line-character">Iacōbus</div>
      Dē rē aliēnā nimium percontārī nōn decet.
    </div>

    <div class="line-container" id="Desiderius.7">
      <div class="line-character">Dēsidērius</div>
      Taceō: sed vidēris mihi prō aetāte nimis sapere.
    </div>

    <div class="line-container" id="Iacobus.8">
      <div class="line-character">Iacōbus</div>
      Nihil meum dīcō: id audīvī saepe.
    </div>

    <div class="line-container" id="Desiderius.9">
      <div class="line-character">Dēsidērius</div>
      Ego quoque nōn semel audīvī.
    </div>

    <div class="line-container" id="Iacobus.10">
      <div class="line-character">Iacōbus</div>
      Cūr ergō nōn ūteris?
    </div>

    <div class="line-container" id="Desiderius.11">
      <div class="line-character">Dēsidērius</div>
      Quia nōn semper in mentem venit.
    </div>

    <div class="line-container" id="Iacobus.12">
      <div class="line-character">Iacōbus</div>
      Immō quia tū es percontātor: quae rēs nōn sine causā datur vitiō.
    </div>

    <div class="line-container" id="Desiderius.13">
      <div class="line-character">Dēsidērius</div>
      Habeō grātiam, quod mē adeō amīcē moneās: posthāc, adiuvante Deō, cavēbō ineptus esse.
    </div>

    <div class="line-container" id="Iacobus.14">
      <div class="line-character">Iacōbus</div>
      Ita paulātim sapiēs.
    </div>

    <h2>Ēlocūtiō</h2>
    <div class="elocutio">
      <ul>
        <li class="elocutio-entry">Petrum iamiam vēnisse domō audiō.</li>
        <li class="elocutio-entry">Quid agitur domī vestrae?</li>
        <li class="elocutio-entry">Nihil tua refert.</li>
        <li class="elocutio-entry">Quod tua nihil refert, percontārī dēsine.</li>
        <li class="elocutio-entry">Percontātōrem fugitō, nam garrulus īdem est.</li>
        <li class="elocutio-entry">Quōmodō valētis?</li>
        <li class="elocutio-entry">Quōmodō rēs vestrae sē habent? Quō in statū sunt rēs vestrae?</li>
        <li class="elocutio-entry">Vidēris mihi nimis sapere ... prō aetāte tuā ...</li>
        <li class="elocutio-entry">Nihil dīcō meum.</li>
        <li class="elocutio-entry">Nōn venit mihi in mentem.</li>
        <li class="elocutio-entry">Haec rēs datur vitiō.</li>
        <li class="elocutio-entry">Cavē ineptus esse.</li>
        <li class="elocutio-entry">Cavē tibi nē sīs ineptus.</li>
      </ul>
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains 'files/'" %}
    {% assign neighbors = files | where: "type", "Colloquium" | where: "author", page.author | where: "collection", page.collection | sort: "sequence" %}
    {% assign prev_page = nil %}
    {% assign next_page = nil %}
    {% assign found_current = false %}
    {% for p in neighbors %}
      {% if found_current and next_page == nil %}{% assign next_page = p %}{% endif %}
      {% if p.url == page.url %}{% assign found_current = true %}{% endif %}
      {% if found_current == false %}{% assign prev_page = p %}{% endif %}
    {% endfor %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

  <div class="footer">
    <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
  </div>
</body>