---
title: Latine Loquor - Liber Tertius - Colloquium Septimum Decimum
subtitle: "Dīves ex occāsiōne pauperī opem pollicētur. Deus hominum spērā nōs necopīnantēs iuvat. Deus afficit animōs ad bene agendum. Deus hominum affectūs gubernat. Exemplum īnsigne cāritātis ergā pauperēs."
type: Colloquium
author: Schwieder
collection: Latine Loquor Liber Tertius
topic:
- Piety
difficulty: Challenging
sequence: '317'
character_count: 2
permalink: /schwieder/latine-loquor-3-17/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
  <link rel="stylesheet" href="/style-reading.css" />

  <script src="/scripts/headroom.min.js"></script>
  <script src="/scripts/common.js"></script>
</head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"><b>Colloquia Latina</b></a>
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Titus, Tullius.
    </div>

    <div class="line-container" id="Titus.1">
      <div class="line-character">Titus</div>
      Quid hīc sōlus cōgitās?
    </div>

    <div class="line-container" id="Tullius.2">
      <div class="line-character">Tullius</div>
      Meam dēplōrō miseriam.
    </div>

    <div class="line-container" id="Titus.3">
      <div class="line-character">Titus</div>
      Quaenam tē afficit miseria?
    </div>

    <div class="line-container" id="Tullius.4">
      <div class="line-character">Tullius</div>
      Heu! mē miserum! ecce mūtāvimus classem: nec est mihi pecūnia, unde librōs emam.
    </div>

    <div class="line-container" id="Titus.5">
      <div class="line-character">Titus</div>
      An nōn tibi dat pater?
    </div>

    <div class="line-container" id="Tullius.6">
      <div class="line-character">Tullius</div>
      Dat quidem interdum, sed parcē nimis.
    </div>

    <div class="line-container" id="Titus.7">
      <div class="line-character">Titus</div>
      Est igitur avārus?
    </div>

    <div class="line-container" id="Tullius.8">
      <div class="line-character">Tullius</div>
      Nōn sequitur.
    </div>

    <div class="line-container" id="Titus.9">
      <div class="line-character">Titus</div>
      Quid igitur impedit, quō minus tibi pecūniam suppeditet?
    </div>

    <div class="line-container" id="Tullius.10">
      <div class="line-character">Tullius</div>
      Paupertās: praetereā cum petō, mīrātur tot nōbīs opus esse librīs.
    </div>

    <div class="line-container" id="Titus.11">
      <div class="line-character">Titus</div>
      Nihil mīrum, praesertim cum sit pauper: sed interim estō animō bonō, nec tē afflīctēs, quaesō: dabō operam, ut tē iuvet pater meus: libenter enim largītur pauperibus, praesertim iīs, quōs nōvit bonārum litterārum studiōsōs esse.
    </div>

    <div class="line-container" id="Tullius.12">
      <div class="line-character">Tullius</div>
      Ō mē fēlīcem, sī tuā operā mē Deus adiūverit!
    </div>

    <div class="line-container" id="Titus.13">
      <div class="line-character">Titus</div>
      Iuvābit, spērō: sed tū interim precāre Illum dīligenter, ut meī patris animum ergā tē affectum reddat.
    </div>

    <div class="line-container" id="Tullius.14">
      <div class="line-character">Tullius</div>
      Rēctē monēs: nam, ut saepe audīvī in sacrīs ōrātiōnibus, sōlus est Deus, quī hominum animōs gubernat ac dīrigit.
    </div>

    <div class="line-container" id="Titus.15">
      <div class="line-character">Titus</div>
      Ita rēs habet.
    </div>

    <div class="line-container" id="Tullius.16">
      <div class="line-character">Tullius</div>
      Valē, mī Tite, quī mihi animum reddidistī.
    </div>

    <div class="line-container" id="Titus.17">
      <div class="line-character">Titus</div>
      Tū quoque Tullī, valē. Sed dīc mihi quaesō, quantum nummōrum tibi opus est?
    </div>

    <div class="line-container" id="Tullius.18">
      <div class="line-character">Tullius</div>
      Sī duōs habērem, abundē mihi esset in praesentiā.
    </div>

    <div class="line-container" id="Titus.19">
      <div class="line-character">Titus</div>
      Tacē, crās, ut spērō, dīvīnum auxilium sentiēs.
    </div>

    <h2>Ēlocūtiō</h2>
    <div class="elocutio">
      <ul>
        <li class="elocutio-entry">Quid cōgitās hīc sōlus?</li>
        <li class="elocutio-entry">Versantur in animō meō multae et gravēs cōgitātiōnēs.</li>
        <li class="elocutio-entry">Dēplōrō miseriam meam.</li>
        <li class="elocutio-entry">Futūrās mēcum commentor miseriās.</li>
        <li class="elocutio-entry">Afficere animum alicuius ... honōre aliquem, ignōminiā, poenā alicui.</li>
        <li class="elocutio-entry">Quaenam miseria afficit tē?</li>
        <li class="elocutio-entry">Mūtāre classem; brevī ego et Christophorus mūtābimus classem.</li>
        <li class="elocutio-entry">Nōn est mihi pecūnia, unde emam librōs.</li>
        <li class="elocutio-entry">Dās mihi nimis parcē.</li>
        <li class="elocutio-entry">Homō avārus, tenāx.</li>
        <li class="elocutio-entry">Quid impedit, quō minus hōc pater faciat?</li>
        <li class="elocutio-entry">Suppedītāre pecūniam.</li>
        <li class="elocutio-entry">Suppedītāre dē suīs bonīs vel facultātibus alicui aliquid, sūmptūs alicui.</li>
        <li class="elocutio-entry">Paupertās dūrum onus.</li>
        <li class="elocutio-entry">Pauper, egenus, tenuis, paupertās, pauperiēs, tenuitās, angustiae reī familiāris, domestica difficultās, inopia, egestās, penūria, indigentia.</li>
        <li class="elocutio-entry">Pater mīrātur tot nōbīs opus esse librīs.</li>
        <li class="elocutio-entry">Mīror neglegentiam tuam.</li>
        <li class="elocutio-entry">Mīror tē nōndum prōmōtum esse ad ...</li>
        <li class="elocutio-entry">Est pauperior Petrō; pedem ubi pōnat nōn habet.</li>
        <li class="elocutio-entry">Esse bonō animō.</li>
        <li class="elocutio-entry">Afflictāre sē.</li>
        <li class="elocutio-entry">Dabō operam, ut pater meus iuvet tē.</li>
        <li class="elocutio-entry">Largīrī libenter pauperibus.</li>
        <li class="elocutio-entry">Largīrī ex aliēnō ... dē suō.</li>
        <li class="elocutio-entry">Studiōsus bonārum litterārum.</li>
        <li class="elocutio-entry">Precābor Deum, ut patris meī animum ergā mē affectum reddat.</li>
        <li class="elocutio-entry">Animum habet ergā mē affectum.</li>
        <li class="elocutio-entry">Singulāris illius est in mē benevolentia.</li>
        <li class="elocutio-entry">Audīvī in contiōne ... ex patre.</li>
        <li class="elocutio-entry">Deus sōlus hominum animōs gubernat.</li>
        <li class="elocutio-entry">Ita rēs habet, est ut dīcō; certum, explōrātum est mihi; explōrātum habeō.</li>
        <li class="elocutio-entry">Reddere animum alicui.</li>
        <li class="elocutio-entry">Quantum nummōrum opus est tibi? ... tribus; ūnō obolō.</li>
        <li class="elocutio-entry">Sentīre auxilium dīvīnum.</li>
      </ul>
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains 'files/'" %}
    {% assign neighbors = files | where: "type", "Colloquium" | where: "author", page.author | where: "collection", page.collection | sort: "sequence" %}
    {% assign prev_page = nil %}
    {% assign next_page = nil %}
    {% assign found_current = false %}
    {% for p in neighbors %}
      {% if found_current and next_page == nil %}{% assign next_page = p %}{% endif %}
      {% if p.url == page.url %}{% assign found_current = true %}{% endif %}
      {% if found_current == false %}{% assign prev_page = p %}{% endif %}
    {% endfor %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

  <div class="footer">
    <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
  </div>
</body>