---
title: "Colloquiōrum Puerīlium Fōrmulae — Othōnius et Theodorīcus"
subtitle: "Occursus — Natātiō"
type: Colloquium
author: Crocus
collection: "Colloquiōrum Puerīlium Fōrmulae"
topic:
- School
- Boys
- Netherlands
difficulty: Moderate
sequence: '004'
character_count: 2
permalink: /crocus/othonius-theodoricus/
source_pages: p21–p22
---

<!doctype html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
  <link rel="stylesheet" href="/style-reading.css" />
  <script src="/scripts/headroom.min.js"></script>
  <script src="/scripts/common.js"></script>
</head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"><b>Colloquia Latina</b></a>
      <a href="{{ site.baseurl }}/crocus/" class="navbar-item btn">Crocus</a>
      <span class="navbar-dynamic">{{page.title}}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Othōnius, Theodorīcus
    </div>

    <div class="line-header"><b>OTHŌNIUS ET THEODORĪCUS.</b></div>
    <div class="line-container" id="othonius.1">
      <div class="line-character">Othonius</div>
      Ad forēs auscultātō Syrisce, &amp; serva domum, nē quō abeās longius ab aedibus. Audīn'? quid dīcam? aut intrō abī, atque occlūde ostium. Sī quis mē quaeret, modo isse dīcitō ad portum. Sed per sinum videō, bene sit tibi bone vir.
    </div>
    <div class="line-container" id="theodoricus.2">
      <div class="line-character">Theodoricus</div>
      Et tibi melius, at ubi is est bonus vir? quī is est?
    </div>
    <div class="line-container" id="othonius.3">
      <div class="line-character">Othonius</div>
      Tū.
    </div>
    <div class="line-container" id="theodoricus.4">
      <div class="line-character">Theodoricus</div>
      Tūne is?
    </div>
    <div class="line-container" id="othonius.5">
      <div class="line-character">Othonius</div>
      Sī negās, negō. Sed valēsne?
    </div>
    <div class="line-container" id="theodoricus.6">
      <div class="line-character">Theodoricus</div>
      Sī tū valēs, ego valeō, grātia deo.
    </div>
    <div class="line-container" id="othonius.7">
      <div class="line-character">Othonius</div>
      Ut valēs?
    </div>
    <div class="line-container" id="theodoricus.8">
      <div class="line-character">Theodoricus</div>
      Nōn male.
    </div>
    <div class="line-container" id="othonius.9">
      <div class="line-character">Othonius</div>
      Ita volō. Libēns istud audiō, &amp; superīs agō grātiās. Precor ut sit perpetuum. Faxit Deus, ut sit diūturnum.
    </div>
    <div class="line-container" id="theodoricus.10">
      <div class="line-character">Theodoricus</div>
      Ita fīat.
    </div>
    <div class="line-container" id="othonius.11">
      <div class="line-character">Othonius</div>
      Quōnam itūrus? quō pergis? quō properās?
    </div>
    <div class="line-container" id="theodoricus.12">
      <div class="line-character">Theodoricus</div>
      Quō tū?
    </div>
    <div class="line-container" id="othonius.13">
      <div class="line-character">Othonius</div>
      Dīc tū, prior ego rogāvī.
    </div>
    <div class="line-container" id="theodoricus.14">
      <div class="line-character">Theodoricus</div>
      Ego hinc haud longē eō.
    </div>
    <div class="line-container" id="othonius.15">
      <div class="line-character">Othonius</div>
      Et quidem ego haud longē.
    </div>
    <div class="line-container" id="theodoricus.16">
      <div class="line-character">Theodoricus</div>
      Quō ergō?
    </div>
    <div class="line-container" id="othonius.17">
      <div class="line-character">Othonius</div>
      Volō prius ex tē ⟦scīre⟧, quin tū ūnō verbō dīc quod tē rogō.
    </div>
    <div class="line-container" id="theodoricus.18">
      <div class="line-character">Theodoricus</div>
      Quōcunque pedēs ferant, quō mē via dūcat. Num tū nunc es certē ⟦or⟧? obeō negōciī quiddam, domum eō, in templum, in forum.
    </div>
    <div class="line-container" id="othonius.19">
      <div class="line-character">Othonius</div>
      Quid eō?
    </div>
    <div class="line-container" id="theodoricus.20">
      <div class="line-character">Theodoricus</div>
      Quid ad tē pertinet? ut sacrum audiam, ut D. Martīnum Niuenium conveniam.
    </div>
    <div class="line-container" id="othonius.21">
      <div class="line-character">Othonius</div>
      Num quid sēriae reī est?
    </div>
    <div class="line-container" id="theodoricus.22">
      <div class="line-character">Theodoricus</div>
      Nōn est, minimē.
    </div>
    <div class="line-container" id="othonius.23">
      <div class="line-character">Othonius</div>
      Ecquid cōnstitūtum cum illō habēs?
    </div>
    <div class="line-container" id="theodoricus.24">
      <div class="line-character">Theodoricus</div>
      Nihil equidem.
    </div>
    <div class="line-container" id="othonius.25">
      <div class="line-character">Othonius</div>
      Visāmus igitur ad portum, nisi tibi incommodum est, sī vacat.
    </div>
    <div class="line-container" id="theodoricus.26">
      <div class="line-character">Theodoricus</div>
      Imò est commodum, vacat, sum nunc maximē vacuus.
    </div>
    <div class="line-container" id="othonius.27">
      <div class="line-character">Othonius</div>
      Audīvī frequentēs crepitūs tormentōrum ferreōrum, fortassis appellunt nāvēs. Utrum māvīs ut in arcem eāmus, an in novum pontem?
    </div>
    <div class="line-container" id="theodoricus.28">
      <div class="line-character">Theodoricus</div>
      Utrum vīs, mea nihil refert.
    </div>
    <div class="line-container" id="othonius.29">
      <div class="line-character">Othonius</div>
      In arcem, inde commodissimē spectābimus.
    </div>
    <div class="line-container" id="theodoricus.30">
      <div class="line-character">Theodoricus</div>
      Ut vidētur. Sed respice ad laevam, nōnne ex adversō caelum atrā nūbe obductum vidēs?
    </div>
    <div class="line-container" id="othonius.31">
      <div class="line-character">Othonius</div>
      Quid tum? In umbrā igitur ambulābimus.
    </div>
    <div class="line-container" id="theodoricus.32">
      <div class="line-character">Theodoricus</div>
      Et ventus invalescit, imber īnstat, pluvia impendet. Concēdāmus sub tēctum hoc proximum.
    </div>
    <div class="line-container" id="othonius.33">
      <div class="line-character">Othonius</div>
      Quid? num ē sale factī sumus? mox ⟦abasserit⟧ pluvia.
    </div>
    <div class="line-container" id="theodoricus.34">
      <div class="line-character">Theodoricus</div>
      Ah, mōrem mihi gere.
    </div>
    <div class="line-container" id="othonius.35">
      <div class="line-character">Othonius</div>
      Fiat ex tuā sententiā, tametsī nihil necesse est, mōs gerātur tibi.
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains 'files/'" %}
    {% assign neighbors = files | where: "type", "Colloquium" | where: "author", page.author | where: "collection", page.collection | sort: "sequence" %}
    {% assign prev_page = nil %}
    {% assign next_page = nil %}
    {% assign found_current = false %}
    {% for p in neighbors %}
      {% if found_current and next_page == nil %}{% assign next_page = p %}{% endif %}
      {% if p.url == page.url %}{% assign found_current = true %}{% endif %}
      {% if found_current == false %}{% assign prev_page = p %}{% endif %}
    {% endfor %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %}
      {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

  <div class="footer">
    <p>ColloquiaLatina.org - Copyright &copy; 2025 Jacob Terneus</p>
  </div>
</body>
