---
title: "Colloquiōrum Puerīlium Fōrmulae — Gisbertus et Petrus"
subtitle: "Festīnātiō"
type: Colloquium
author: Crocus
collection: "Colloquiōrum Puerīlium Fōrmulae"
topic:
- School
- Boys
- Netherlands
difficulty: Moderate
sequence: '012'
character_count: 2
permalink: /crocus/gisbertus-petrus/
source_pages: p37–p38
---

<!doctype html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
  <link rel="stylesheet" href="/style-reading.css" />
  <script src="/scripts/headroom.min.js"></script>
  <script src="/scripts/common.js"></script>
</head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"><b>Colloquia Latina</b></a>
      <a href="{{ site.baseurl }}/crocus/" class="navbar-item btn">Crocus</a>
      <span class="navbar-dynamic">{{page.title}}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Gisbertus, Petrus
    </div>

    <div class="line-header"><b>GISBERTUS ET PETRUS.</b></div>
    <div class="line-container" id="gisbertus.1">
      <div class="line-character">Gisbertus</div>
      Heus Petre quid cessās? tū semper in mōrā es.
    </div>
    <div class="line-container" id="petrus.2">
      <div class="line-character">Petrus</div>
      Iam ad tē veniam.
    </div>
    <div class="line-container" id="gisbertus.3">
      <div class="line-character">Gisbertus</div>
      Quandō isthuc erit, ad Calendās graecās?
    </div>
    <div class="line-container" id="petrus.4">
      <div class="line-character">Petrus</div>
      Imò mox.
    </div>
    <div class="line-container" id="gisbertus.5">
      <div class="line-character">Gisbertus</div>
      Age, satis morārum est, quur cessāstī tam diū?
    </div>
    <div class="line-container" id="petrus.6">
      <div class="line-character">Petrus</div>
      Nōn equidem cessāvī.
    </div>
    <div class="line-container" id="gisbertus.7">
      <div class="line-character">Gisbertus</div>
      Nōn? atquī expectāvī tē ferē sēmihōram.
    </div>
    <div class="line-container" id="petrus.8">
      <div class="line-character">Petrus</div>
      Ohe, vix sunt sex minūta.
    </div>
    <div class="line-container" id="gisbertus.9">
      <div class="line-character">Gisbertus</div>
      Eāmus dum est tempus, abit diēs, &amp; perlongē est, ōcyus properandum est.
    </div>
    <div class="line-container" id="petrus.10">
      <div class="line-character">Petrus</div>
      In mē nihil est mōrae.
    </div>
    <div class="line-container" id="gisbertus.11">
      <div class="line-character">Gisbertus</div>
      Movē vērō ōcyus tē.
    </div>
    <div class="line-container" id="petrus.12">
      <div class="line-character">Petrus</div>
      Moveō.
    </div>
    <div class="line-container" id="gisbertus.13">
      <div class="line-character">Gisbertus</div>
      Videō, sed nihil prōmovēs, nimium lentus es, propterea propere.
    </div>
    <div class="line-container" id="petrus.14">
      <div class="line-character">Petrus</div>
      Nē quid nimis aiunt, quid malum tam properās?
    </div>
    <div class="line-container" id="gisbertus.15">
      <div class="line-character">Gisbertus</div>
      Opus est.
    </div>
    <div class="line-container" id="petrus.16">
      <div class="line-character">Petrus</div>
      Placidē, nēmō nōs īnsequitur, nēmō festīnāre compellit.
    </div>
    <div class="line-container" id="gisbertus.17">
      <div class="line-character">Gisbertus</div>
      Tū nunc Callippidem agis, testūdō mihi vidēris.
    </div>
    <div class="line-container" id="petrus.18">
      <div class="line-character">Petrus</div>
      Nōn queō ōcyus, ita dēfessus sum, lassus iam sum, tū, sī properās, praecurre, cōnsequar iam tē.
    </div>
    <div class="line-container" id="gisbertus.19">
      <div class="line-character">Gisbertus</div>
      Nōn cōgitās hinc longius abesse?
    </div>
    <div class="line-container" id="petrus.20">
      <div class="line-character">Petrus</div>
      Nōn cōgitās diēs iam esse longiōrēs?
    </div>
    <div class="line-container" id="gisbertus.21">
      <div class="line-character">Gisbertus</div>
      Festīnātō opus est.
    </div>
    <div class="line-container" id="petrus.22">
      <div class="line-character">Petrus</div>
      Quis nōs impellit?
    </div>
    <div class="line-container" id="gisbertus.23">
      <div class="line-character">Gisbertus</div>
      Metuō nē sērō veniāmus.
    </div>
    <div class="line-container" id="petrus.24">
      <div class="line-character">Petrus</div>
      Nē metuās nihil perīculī est, nihil est quod vereāre, ista quidem dē rē iubeō tē secūrum esse, veniēmus satis tempori, nōn est quod tantopere festīnēs, tempestīvē satis aderis, nē nimium properēs, aderis in tempore, modo quārta praeteritā est.
    </div>
    <div class="line-container" id="gisbertus.25">
      <div class="line-character">Gisbertus</div>
      Scīsne hoc certō? satīne scīs isthuc?
    </div>
    <div class="line-container" id="petrus.26">
      <div class="line-character">Petrus</div>
      Oh, Quīn egomet audīvī.
    </div>
    <div class="line-container" id="gisbertus.27">
      <div class="line-character">Gisbertus</div>
      Atquī quod certum reddere possīs, stultum est incertum mālle.
    </div>
    <div class="line-container" id="petrus.28">
      <div class="line-character">Petrus</div>
      Hoc nihil est Gisberte, nī mātūrē satis adsumus, culpam omnem in mē cōnfertō, quid aliud vīs tibi? quid vīs amplius?
    </div>
    <div class="line-container" id="gisbertus.29">
      <div class="line-character">Gisbertus</div>
      Nae tū haud surdō isthuc dīxistī, meminerō &amp; faciam, id quidem fīet, certum est ita facere.
    </div>
    <div class="line-container" id="petrus.30">
      <div class="line-character">Petrus</div>
      Liceat.
    </div>
    <div class="line-container" id="gisbertus.31">
      <div class="line-character">Gisbertus</div>
      Nē quid accūsandus sīs vidē.
    </div>
    <div class="line-container" id="petrus.32">
      <div class="line-character">Petrus</div>
      Quiescē, nē time, taceā modo, ego viderō.
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains 'files/'" %}
    {% assign neighbors = files | where: "type", "Colloquium" | where: "author", page.author | where: "collection", page.collection | sort: "sequence" %}
    {% assign prev_page = nil %}
    {% assign next_page = nil %}
    {% assign found_current = false %}
    {% for p in neighbors %}
      {% if found_current and next_page == nil %}{% assign next_page = p %}{% endif %}
      {% if p.url == page.url %}{% assign found_current = true %}{% endif %}
      {% if found_current == false %}{% assign prev_page = p %}{% endif %}
    {% endfor %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %}
      {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

  <div class="footer">
    <p>ColloquiaLatina.org - Copyright &copy; 2025 Jacob Terneus</p>
  </div>
</body>
