---
title: "Colloquiōrum Puerīlium Fōrmulae — Petrus, Ioannes, Paulus"
subtitle: "Rixa"
type: Colloquium
author: Crocus
collection: "Colloquiōrum Puerīlium Fōrmulae"
topic:
- School
- Boys
- Netherlands
difficulty: Moderate
sequence: '017'
character_count: 3
permalink: /crocus/petrus-ioannes-paulus/
source_pages: p45–p47
---

<!doctype html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
  <link rel="stylesheet" href="/style-reading.css" />
  <script src="/scripts/headroom.min.js"></script>
  <script src="/scripts/common.js"></script>
</head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"><b>Colloquia Latina</b></a>
      <a href="{{ site.baseurl }}/crocus/" class="navbar-item btn">Crocus</a>
      <span class="navbar-dynamic">{{page.title}}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Petrus, Ioannes, Paulus
    </div>

    <div class="line-header"><b>PETRUS ET IOANNES, PAULUS.</b></div>
    <div class="line-container" id="petrus.1">
      <div class="line-character">Petrus</div>
      Ioannes quaesō ut ōres mihi à praeceptōre veniam obeundī negōciī.
    </div>
    <div class="line-container" id="ioannes.2">
      <div class="line-character">Iōannēs</div>
      Quodnam?
    </div>
    <div class="line-container" id="petrus.3">
      <div class="line-character">Petrus</div>
      Pater mihi hunc pannum ad sartōrem dēferendum dedit.
    </div>
    <div class="line-container" id="ioannes.4">
      <div class="line-character">Iōannēs</div>
      Errāstī, vestiārium aut sarcinātōrem debuistī dīcere, addisce igitur.
    </div>
    <div class="line-container" id="petrus.5">
      <div class="line-character">Petrus</div>
      Tūn' mē vīs corrigere quī ipse peccāstī? disce enim, nōn addisce, dictum oportuit.
    </div>
    <div class="line-container" id="ioannes.6">
      <div class="line-character">Iōannēs</div>
      Imò addisce, quantī vīs ponere?
    </div>
    <div class="line-container" id="petrus.7">
      <div class="line-character">Petrus</div>
      Rursum peccāstī, ausim dēponere pignus, vel, quid audes dēpōnere? dīcendum erat.
    </div>
    <div class="line-container" id="ioannes.8">
      <div class="line-character">Iōannēs</div>
      Imò hoc.
    </div>
    <div class="line-container" id="petrus.9">
      <div class="line-character">Petrus</div>
      Imò illud.
    </div>
    <div class="line-container" id="ioannes.10">
      <div class="line-character">Iōannēs</div>
      Hei mihi, quid hoc est reī? verbis nōn manibus contendendum nōbīs est.
    </div>
    <div class="line-container" id="petrus.11">
      <div class="line-character">Petrus</div>
      Hem tibi.
    </div>
    <div class="line-container" id="ioannes.12">
      <div class="line-character">Iōannēs</div>
      Obsecrō.
    </div>
    <div class="line-container" id="petrus.13">
      <div class="line-character">Petrus</div>
      Sīc datur.
    </div>
    <div class="line-container" id="ioannes.14">
      <div class="line-character">Iōannēs</div>
      Heu mē miserum, hei hoi.
    </div>
    <div class="line-container" id="petrus.15">
      <div class="line-character">Petrus</div>
      I nunciam.
    </div>
    <div class="line-container" id="ioannes.16">
      <div class="line-character">Iōannēs</div>
      Quid tibi tantum malī fēcī? quid dē tē tantum meruī? quid tē offendī? quur mē verberās?
    </div>
    <div class="line-container" id="petrus.17">
      <div class="line-character">Petrus</div>
      Lubet, ac parum abest quīn tē in mediā viā prōvolvam in lutō.
    </div>
    <div class="line-container" id="ioannes.18">
      <div class="line-character">Iōannēs</div>
      Certē peiōrem tē nōvī nēminem.
    </div>
    <div class="line-container" id="petrus.19">
      <div class="line-character">Petrus</div>
      Eia, tē ipsum īnspice, ut tū es item omnēs esse cēnsēs, dē tē coniectūram facis, aliōrum animōs ex tuo mētiris, aliōs omnēs ex tuo ingeniō iūdicās.
    </div>
    <div class="line-container" id="ioannes.20">
      <div class="line-character">Iōannēs</div>
      Tibi à mē nulla orta est iniūria, nihil mihi tēcum erit amplius, neque adeō impūne habēbis, nōn impūne ferēs, haud sīc auferēs.
    </div>
    <div class="line-container" id="petrus.21">
      <div class="line-character">Petrus</div>
      Vērum?
    </div>
    <div class="line-container" id="ioannes.22">
      <div class="line-character">Iōannēs</div>
      Iam ad praeceptōrem dēferam.
    </div>
    <div class="line-container" id="petrus.23">
      <div class="line-character">Petrus</div>
      Quid tū posteā?
    </div>
    <div class="line-container" id="ioannes.24">
      <div class="line-character">Iōannēs</div>
      sentiēs.
    </div>
    <div class="line-container" id="petrus.25">
      <div class="line-character">Petrus</div>
      Obsecrō nē faciās, sit pax inter nōs, nihil prōmovēris, iam accūsandō īnfectum fierī nōn potest.
    </div>
    <div class="line-container" id="ioannes.26">
      <div class="line-character">Iōannēs</div>
      Tamen hoc agam.
    </div>
    <div class="line-container" id="petrus.27">
      <div class="line-character">Petrus</div>
      Nē quid ferōciter ô praeclāre, minue vērō īram.
    </div>
    <div class="line-container" id="ioannes.28">
      <div class="line-character">Iōannēs</div>
      Sine.
    </div>
    <div class="line-container" id="petrus.29">
      <div class="line-character">Petrus</div>
      Sī tū mē detuleris dīminuam tibi caput, unguibus tibi in oculōs involābo, faciam ut dum vīvās meminerīs semper meī, ita ōrnātum reddam, tē ipse ut nōn nōverīs, satis hoc tibi est, nōn dīco amplius.
    </div>
    <div class="line-container" id="ioannes.30">
      <div class="line-character">Iōannēs</div>
      At ego efficiam, ut contineās posthāc, sī sapies, manus.
    </div>
    <div class="line-container" id="petrus.31">
      <div class="line-character">Petrus</div>
      Tū quod in rem sit tuam facitō, ego pergam quō coepi.
    </div>
    <div class="line-container" id="ioannes.32">
      <div class="line-character">Iōannēs</div>
      I sānē, nōn gaudēbis factō, mala mens malus animus. Proh dīvum atque hominum fidem, hoc est cōndiscipulum esse? aut hoc omnīnō est Christiānum esse? sī Ethnicus aut Iūdaeus esset quī faceret illīberālius? hominī miserō quī referīre nōn audēbam plūs sexcentōs colaphōs īnfrēgit mihi.
    </div>
    <div class="line-container" id="paulus.33">
      <div class="line-character">Paulus</div>
      Quid tēcum stomachāre Ioānnes? Quid plōrās?
    </div>
    <div class="line-container" id="ioannes.34">
      <div class="line-character">Iōannēs</div>
      Mīrum nī cantem.
    </div>
    <div class="line-container" id="paulus.35">
      <div class="line-character">Paulus</div>
      Quid factum est?
    </div>
    <div class="line-container" id="ioannes.36">
      <div class="line-character">Iōannēs</div>
      Rogās? calcearium quī prīdem commigrāvit in hanc ⟦viānam⟧ nōstī?
    </div>
    <div class="line-container" id="paulus.37">
      <div class="line-character">Paulus</div>
      Nōmine duntaxat, dē facie nōn nōvī.
    </div>
    <div class="line-container" id="ioannes.38">
      <div class="line-character">Iōannēs</div>
      Quid eius fīlium? opīnor eum nōn nōsse tē, neque enim diū est quod coepit frequentāre lūdum nostrum literārium.
    </div>
    <div class="line-container" id="paulus.39">
      <div class="line-character">Paulus</div>
      Imò probe tanquam tē, is mē proximīs scholārum feriīs lūsū prohibuit.
    </div>
    <div class="line-container" id="ioannes.40">
      <div class="line-character">Iōannēs</div>
      Idem pugnis mē ūsque occīdit.
    </div>
    <div class="line-container" id="paulus.41">
      <div class="line-character">Paulus</div>
      Quid narrās? quid ego audiō?
    </div>
    <div class="line-container" id="ioannes.42">
      <div class="line-character">Iōannēs</div>
      Nihil pepercit.
    </div>
    <div class="line-container" id="paulus.43">
      <div class="line-character">Paulus</div>
      Adeōne quaesō inhūmāniter.
    </div>
    <div class="line-container" id="ioannes.44">
      <div class="line-character">Iōannēs</div>
      Sīc est factum.
    </div>
    <div class="line-container" id="paulus.45">
      <div class="line-character">Paulus</div>
      Sed isthuc quīnam ēvēnit?
    </div>
    <div class="line-container" id="ioannes.46">
      <div class="line-character">Iōannēs</div>
      Nesciō nisi quod sīc forsan erat in fatīs mihi.
    </div>
    <div class="line-container" id="paulus.47">
      <div class="line-character">Paulus</div>
      Quam dūdum isthuc, aut ubi?
    </div>
    <div class="line-container" id="ioannes.48">
      <div class="line-character">Iōannēs</div>
      Modo admodum, hīc ante ostium, vidē ut colaphīs tuber est tōtum caput.
    </div>
    <div class="line-container" id="paulus.49">
      <div class="line-character">Paulus</div>
      Doleō vicem tuam, dūrum sed levius fit patientiā quicquid corrigere est nefās.
    </div>
    <div class="line-container" id="ioannes.50">
      <div class="line-character">Iōannēs</div>
      Belle narrās, facile tu isthuc sine molestiā fābulāre sed interim mihi dolet.
    </div>
    <div class="line-container" id="paulus.51">
      <div class="line-character">Paulus</div>
      Quid faciās? plōrābis? quod assequeris, num lachrymīs dolor levātur? proinde illud fac cōgitēs quemadmodum nōs docuit magister ex Platōne. Satius est accipere quàm facere iniuriam.
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains 'files/'" %}
    {% assign neighbors = files | where: "type", "Colloquium" | where: "author", page.author | where: "collection", page.collection | sort: "sequence" %}
    {% assign prev_page = nil %}
    {% assign next_page = nil %}
    {% assign found_current = false %}
    {% for p in neighbors %}
      {% if found_current and next_page == nil %}{% assign next_page = p %}{% endif %}
      {% if p.url == page.url %}{% assign found_current = true %}{% endif %}
      {% if found_current == false %}{% assign prev_page = p %}{% endif %}
    {% endfor %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %}
      {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

  <div class="footer">
    <p>ColloquiaLatina.org - Copyright &copy; 2025 Jacob Terneus</p>
  </div>
</body>
