---
title: "Colloquiōrum Puerīlium Fōrmulae — Nicolaus et Cornēlius"
subtitle: "Scholastica"
type: Colloquium
author: Crocus
collection: "Colloquiōrum Puerīlium Fōrmulae"
topic:
- School
- Boys
- Netherlands
difficulty: Moderate
sequence: '022'
character_count: 2
permalink: /crocus/nicolaus-cornelius/
source_pages: p53–p55
---

<!doctype html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
  <link rel="stylesheet" href="/style-reading.css" />
  <script src="/scripts/headroom.min.js"></script>
  <script src="/scripts/common.js"></script>
</head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"><b>Colloquia Latina</b></a>
      <a href="{{ site.baseurl }}/crocus/" class="navbar-item btn">Crocus</a>
      <span class="navbar-dynamic">{{page.title}}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Nicolaus, Cornēlius
    </div>

    <div class="line-header"><b>NICOLAUS ET CORNĒLIUS.</b></div>
    <div class="line-container" id="nicolaus.1">
      <div class="line-character">Nicolāus</div>
      Ō Faustum &amp; foelīcem hunc diem.
    </div>
    <div class="line-container" id="cornelius.2">
      <div class="line-character">Cornēlius</div>
      Nicolāe adēs, audī paucīs, resiste.
    </div>
    <div class="line-container" id="nicolaus.3">
      <div class="line-character">Nicolāus</div>
      Ō Cornelī mi opportūne, optimē tē mihi offers, nēmō est quem mālle omnium, tē mihi ipsum exoptābam darī.
    </div>
    <div class="line-container" id="cornelius.4">
      <div class="line-character">Cornēlius</div>
      Quid novae reī est? quid est quod sīc gestīs? quid tam laetus es? narra isthuc quaesō quid sit.
    </div>
    <div class="line-container" id="nicolaus.5">
      <div class="line-character">Nicolāus</div>
      Nūntium affero tibi laetissimum futūrum.
    </div>
    <div class="line-container" id="cornelius.6">
      <div class="line-character">Cornēlius</div>
      Narra obsecrō, quaesō tē ut narrēs.
    </div>
    <div class="line-container" id="nicolaus.7">
      <div class="line-character">Nicolāus</div>
      Orbilius noster peregre profectūrus est.
    </div>
    <div class="line-container" id="cornelius.8">
      <div class="line-character">Cornēlius</div>
      Ain' tū?
    </div>
    <div class="line-container" id="nicolaus.9">
      <div class="line-character">Nicolāus</div>
      Sīc est.
    </div>
    <div class="line-container" id="cornelius.10">
      <div class="line-character">Cornēlius</div>
      Dic sodēs, dīc vērum.
    </div>
    <div class="line-container" id="nicolaus.11">
      <div class="line-character">Nicolāus</div>
      Dīxī.
    </div>
    <div class="line-container" id="cornelius.12">
      <div class="line-character">Cornēlius</div>
      Bonan' fidē?
    </div>
    <div class="line-container" id="nicolaus.13">
      <div class="line-character">Nicolāus</div>
      Bona hercle, nōn mihi crēdis? adeòn' parva mihi apud tē est fidēs?
    </div>
    <div class="line-container" id="cornelius.14">
      <div class="line-character">Cornēlius</div>
      Hariolāre.
    </div>
    <div class="line-container" id="nicolaus.15">
      <div class="line-character">Nicolāus</div>
      Nōn id dīcas sī faciās quod ego, postrēmo patiar mihi dēcīdī collum sī falsum dīco.
    </div>
    <div class="line-container" id="cornelius.16">
      <div class="line-character">Cornēlius</div>
      Deus sum sī hoc ita est.
    </div>
    <div class="line-container" id="nicolaus.17">
      <div class="line-character">Nicolāus</div>
      Vērum reperiēs, sine bīduum hoc praetereat modo.
    </div>
    <div class="line-container" id="cornelius.18">
      <div class="line-character">Cornēlius</div>
      Num mē lūdis? iocō dīcis an sēriō? iocāre, lūdis mē fortasse.
    </div>
    <div class="line-container" id="nicolaus.19">
      <div class="line-character">Nicolāus</div>
      Iocārī tibi videor? lūdere mē putās? mē vidē.
    </div>
    <div class="line-container" id="cornelius.20">
      <div class="line-character">Cornēlius</div>
      Obsecrō nē mē in laetitiā frustrā coniciās.
    </div>
    <div class="line-container" id="nicolaus.21">
      <div class="line-character">Nicolāus</div>
      Ego isthuc facerem? ecquid mihi lucrī sit sī mentiar?
    </div>
    <div class="line-container" id="cornelius.22">
      <div class="line-character">Cornēlius</div>
      Sed quī scīs?
    </div>
    <div class="line-container" id="nicolaus.23">
      <div class="line-character">Nicolāus</div>
      Sciō.
    </div>
    <div class="line-container" id="cornelius.24">
      <div class="line-character">Cornēlius</div>
      Unde scīs?
    </div>
    <div class="line-container" id="nicolaus.25">
      <div class="line-character">Nicolāus</div>
      Certō sciō.
    </div>
    <div class="line-container" id="cornelius.26">
      <div class="line-character">Cornēlius</div>
      Quo indiciō, quī crēdam ita esse?
    </div>
    <div class="line-container" id="nicolaus.27">
      <div class="line-character">Nicolāus</div>
      Nōn expedit dīcere, nōn opus est dictō.
    </div>
    <div class="line-container" id="cornelius.28">
      <div class="line-character">Cornēlius</div>
      At sciō mihi opus est.
    </div>
    <div class="line-container" id="nicolaus.29">
      <div class="line-character">Nicolāus</div>
      Promittis silentium?
    </div>
    <div class="line-container" id="cornelius.30">
      <div class="line-character">Cornēlius</div>
      Quasi nōn nōrimus nōs inter nōs.
    </div>
    <div class="line-container" id="nicolaus.31">
      <div class="line-character">Nicolāus</div>
      Sī mihi fidem dās tē tacitūrum dīcam.
    </div>
    <div class="line-container" id="cornelius.32">
      <div class="line-character">Cornēlius</div>
      Dō fidem.
    </div>
    <div class="line-container" id="nicolaus.33">
      <div class="line-character">Nicolāus</div>
      Certam?
    </div>
    <div class="line-container" id="cornelius.34">
      <div class="line-character">Cornēlius</div>
      Certissimam crede inquam mihi.
    </div>
    <div class="line-container" id="nicolaus.35">
      <div class="line-character">Nicolāus</div>
      Dīcam in aurem.
    </div>
    <div class="line-container" id="cornelius.36">
      <div class="line-character">Cornēlius</div>
      Quid opus? cum nullus sit in propinquo quī nōs exaudiat.
    </div>
    <div class="line-container" id="nicolaus.37">
      <div class="line-character">Nicolāus</div>
      Ita mos est, admovē aurem.
    </div>
    <div class="line-container" id="cornelius.38">
      <div class="line-character">Cornēlius</div>
      Age inepte.
    </div>
    <div class="line-container" id="nicolaus.39">
      <div class="line-character">Nicolāus</div>
      Nōn sīgnī sat est? ex hoc coniectūra facile fit.
    </div>
    <div class="line-container" id="cornelius.40">
      <div class="line-character">Cornēlius</div>
      Opinor magnum sīgnum.
    </div>
    <div class="line-container" id="nicolaus.41">
      <div class="line-character">Nicolāus</div>
      Opinor narrās? nōn rectē accipis, certa rēs est.
    </div>
    <div class="line-container" id="cornelius.42">
      <div class="line-character">Cornēlius</div>
      Faxit Deus, nē tū mihi ⟦albūm apud portas nuncium⟧, voluptātem magnam mihi nunciēs, optā ergo quidvīs tibi.
    </div>
    <div class="line-container" id="nicolaus.43">
      <div class="line-character">Nicolāus</div>
      Quid sī optābo?
    </div>
    <div class="line-container" id="cornelius.44">
      <div class="line-character">Cornēlius</div>
      Deum ōrāto ut eius tibi faciat cōpiam.
    </div>
    <div class="line-container" id="nicolaus.45">
      <div class="line-character">Nicolāus</div>
      Rides?
    </div>
    <div class="line-container" id="cornelius.46">
      <div class="line-character">Cornēlius</div>
      Vtinam ita quidem detineātur ut mense hoc perpetuo nequeat huc recurrere.
    </div>
    <div class="line-container" id="nicolaus.47">
      <div class="line-character">Nicolāus</div>
      Ita velim. Ego interim dum tyrannus aberit noster, nunc pilā, nunc saltū, nunc alio atque alio lūsū mē oblectāre cōnstituī, atque animō obsequi, quid tu ais?
    </div>
    <div class="line-container" id="cornelius.48">
      <div class="line-character">Cornēlius</div>
      Sānē cēnseo: Sed ut diei tempus est in lūdum properāre oportet, vidētur tempus esse ut scholam repetāmus, iam tempus arbitror eundī in lūdum, quī nōn adfuerit ante pulsātiōnem fīnītām, mulctābitur sextā drachmae parte.
    </div>
    <div class="line-container" id="nicolaus.49">
      <div class="line-character">Nicolāus</div>
      Vtinam domī sim, urget mē ventris onus, cōgor adīre latrīnam, quōta hora est? iamne quinta sonuit?
    </div>
    <div class="line-container" id="cornelius.50">
      <div class="line-character">Cornēlius</div>
      Nōn audīvī campānae sonum, vērum haud opinor, suspicor haud longē quintā abesse, īnstat nī fallor.
    </div>
    <div class="line-container" id="nicolaus.51">
      <div class="line-character">Nicolāus</div>
      Possumne intereā mē domum cōnferre, atque etiam redīre mē rursum tempori?
    </div>
    <div class="line-container" id="cornelius.52">
      <div class="line-character">Cornēlius</div>
      Sī properāre volēs, sed interim nōn opperiar tē, longum esset mē expectāre dum redeās.
    </div>
    <div class="line-container" id="nicolaus.53">
      <div class="line-character">Nicolāus</div>
      I sānē prae, iam ego sequar.
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains 'files/'" %}
    {% assign neighbors = files | where: "type", "Colloquium" | where: "author", page.author | where: "collection", page.collection | sort: "sequence" %}
    {% assign prev_page = nil %}
    {% assign next_page = nil %}
    {% assign found_current = false %}
    {% for p in neighbors %}
      {% if found_current and next_page == nil %}{% assign next_page = p %}{% endif %}
      {% if p.url == page.url %}{% assign found_current = true %}{% endif %}
      {% if found_current == false %}{% assign prev_page = p %}{% endif %}
    {% endfor %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %}
      {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

  <div class="footer">
    <p>ColloquiaLatina.org - Copyright &copy; 2025 Jacob Terneus</p>
  </div>
</body>
