---
title: "Colloquiōrum Puerīlium Fōrmulae — Arnoldus, Bernardus, Theodoricus, Martinus"
subtitle: "Feriendī pīlā — Clāvā plumbātā"
type: Colloquium
author: Crocus
collection: "Colloquiōrum Puerīlium Fōrmulae"
topic:
- School
- Boys
- Netherlands
difficulty: Moderate
sequence: '024'
character_count: 4
permalink: /crocus/arnoldus-bernardus-theodoricus-martinus/
source_pages: p59–p65
---

<!doctype html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
  <link rel="stylesheet" href="/style-reading.css" />
  <script src="/scripts/headroom.min.js"></script>
  <script src="/scripts/common.js"></script>
</head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"><b>Colloquia Latina</b></a>
      <a href="{{ site.baseurl }}/crocus/" class="navbar-item btn">Crocus</a>
      <span class="navbar-dynamic">{{page.title}}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Arnoldus, Bernardus, Theodoricus, Martinus
    </div>

    <div class="line-header"><b>ARNOLDVS, BERNARDVS,</b></div>
    <div class="line-raw">Theodoricus, Martinus.</div>
    <div class="line-container" id="bernardus.1">
      <div class="line-character">Bernardus</div>
      Prōdiī hodiē in fōrum, clāvam ex sententiā nactus sum lentam iuxtā ac commodam.
    </div>
    <div class="line-container" id="arnoldus.2">
      <div class="line-character">Arnoldus</div>
      Quantī tandem?
    </div>
    <div class="line-container" id="bernardus.3">
      <div class="line-character">Bernardus</div>
      Nīmiō, dimidiō propē cārius quam revendere possim.
    </div>
    <div class="line-container" id="arnoldus.4">
      <div class="line-character">Arnoldus</div>
      Huī, tantī? Satinne sānus? Sobrīus? Sānusne es?
    </div>
    <div class="line-container" id="bernardus.5">
      <div class="line-character">Bernardus</div>
      Equidem arbitror, sīc sum ut vidēs, sed nōn videor vidisse meliōre, ac quandō iam negōciī nihil est, sūdum est, age lubet tēcum certāre pīlā clāvāriā, quāvis in hōc ⟦artāmine⟧ mē tibi imparem esse nōn ⟦nefam⟧.
    </div>
    <div class="line-container" id="arnoldus.6">
      <div class="line-character">Arnoldus</div>
      Irridēs mē.
    </div>
    <div class="line-container" id="bernardus.7">
      <div class="line-character">Bernardus</div>
      Nōn hercle verō, vērum dīcō, itūrus [sum;] nē quō
    </div>
    <div class="line-raw">⟦piam?⟧</div>
    <div class="line-container" id="bernardus.8">
      <div class="line-character">Bernardus</div>
      Vbi pater est tuus?
    </div>
    <div class="line-container" id="arnoldus.9">
      <div class="line-character">Arnoldus</div>
      Ex urbe profectus est.
    </div>
    <div class="line-container" id="bernardus.10">
      <div class="line-character">Bernardus</div>
      Quid igitur? Quod tē ōrō: ⟦inē⟧ grauāre; est commodum, nōn est tibi causa cūr recūsēs.
    </div>
    <div class="line-container" id="arnoldus.11">
      <div class="line-character">Arnoldus</div>
      Vērum est mihi clāvā plus quam fīculnā.
    </div>
    <div class="line-container" id="bernardus.12">
      <div class="line-character">Bernardus</div>
      Nihil refert, vel mea ūteris sī volēs, vel tuā.
    </div>
    <div class="line-container" id="arnoldus.13">
      <div class="line-character">Arnoldus</div>
      Nōn ausim tibi recūsāre.
    </div>
    <div class="line-container" id="bernardus.14">
      <div class="line-character">Bernardus</div>
      Dēamō tē, quid commorāmur?
    </div>
    <div class="line-container" id="arnoldus.15">
      <div class="line-character">Arnoldus</div>
      Sōlī sumus, ⟦acersāmus⟧ ūnum aut alterum ē sodālibus nostrīs, alioquī friget lūdus.
    </div>
    <div class="line-container" id="bernardus.16">
      <div class="line-character">Bernardus</div>
      Probe loqueris, dīc quōs velīs.
    </div>
    <div class="line-container" id="arnoldus.17">
      <div class="line-character">Arnoldus</div>
      Theodoricum ac Martīnum.
    </div>
    <div class="line-container" id="bernardus.18">
      <div class="line-character">Bernardus</div>
      ⟦Placem⟧, sed tute eōs adeās, grauius erit tuum ūnum verbum ad hāc rem quam centum mea.
    </div>
    <div class="line-container" id="arnoldus.19">
      <div class="line-character">Arnoldus</div>
      Vt domī sint, metuō; sed vīsam. Tū hīc nōs ūsque opperiāris.
    </div>
    <div class="line-container" id="bernardus.20">
      <div class="line-character">Bernardus</div>
      Maximē.
    </div>
    <div class="line-container" id="arnoldus.21">
      <div class="line-character">Arnoldus</div>
      Eō. Salūtāre iubeō lepidissima capita.
    </div>
    <div class="line-container" id="theodoricus.22">
      <div class="line-character">Theodoricus</div>
      Quid sī nōlumus?
    </div>
    <div class="line-container" id="arnoldus.23">
      <div class="line-character">Arnoldus</div>
      Per mē quidem aegrōtāre etiam, sī libet, licet.
    </div>
    <div class="line-container" id="theodoricus.24">
      <div class="line-character">Theodoricus</div>
      Bona verba! Quid vēnis?
    </div>
    <div class="line-container" id="arnoldus.25">
      <div class="line-character">Arnoldus</div>
      Vt ūnā mēcum eātis.
    </div>
    <div class="line-container" id="theodoricus.26">
      <div class="line-character">Theodoricus</div>
      Quid nescis ipse viam?
    </div>
    <div class="line-container" id="arnoldus.27">
      <div class="line-character">Arnoldus</div>
      Veniō hūc ōrātūrus ut nobīscum lūdātis clāvā plumbātā; ego vōbīs ostendam nimis bellum, atque ut esse maximē optābitīs locum. Volō inquam, volō inquam fierī, nōn omittam quīn eātis.
    </div>
    <div class="line-container" id="theodoricus.28">
      <div class="line-character">Theodoricus</div>
      Vt violentus es.
    </div>
    <div class="line-container" id="arnoldus.29">
      <div class="line-character">Arnoldus</div>
      Fierī aliter nōn potest.
    </div>
    <div class="line-container" id="theodoricus.30">
      <div class="line-character">Theodoricus</div>
      Quid agimus, īmus nē, Martīne?
    </div>
    <div class="line-container" id="martinus.31">
      <div class="line-character">Martīnus</div>
      An mē vatem esse crēdis ut nōrim quid maximē collubitum animō sit tuō?
    </div>
    <div class="line-container" id="theodoricus.32">
      <div class="line-character">Theodoricus</div>
      Mitte iocōs. Īmus an nōn?
    </div>
    <div class="line-container" id="martinus.33">
      <div class="line-character">Martīnus</div>
      Cēnseō.
    </div>
    <div class="line-container" id="arnoldus.34">
      <div class="line-character">Arnoldus</div>
      Rēctē facitis, grātiam habeō maximam.
    </div>
    <div class="line-container" id="theodoricus.35">
      <div class="line-character">Theodoricus</div>
      Vereor nē idem ūsū veniat nōbīs quod nūper.
    </div>
    <div class="line-container" id="arnoldus.36">
      <div class="line-character">Arnoldus</div>
      Nōn fiet, in mediō omnibus palma est posita.
    </div>
    <div class="line-container" id="bernardus.37">
      <div class="line-character">Bernardus</div>
      Grātum est quod vēnistis, date singulōs cultrōs ad sortītiōnem. Age quod sit mihi bonum atque commodum, que-
    </div>
    <div class="line-raw">que quidem rēs mihi vertat bene, quod mihi bene vertat.</div>
    <div class="line-container" id="martinus.38">
      <div class="line-character">Martīnus</div>
      Vērum Hercle verbum illud est: Semper similem dūcat Deus ad similem.
    </div>
    <div class="line-container" id="theodoricus.39">
      <div class="line-character">Theodoricus</div>
      At porrō rēctē spērō; habē modo bonum animum, aliquid fiet, adiuvābere ā mē, nōlī metuere, bonō animō es, isthāc quidem ex parte sēcūrus estō, bene erit, rēctē erit, quod ego quantum in mē erit enitar &amp; contendam.
    </div>
    <div class="line-container" id="martinus.40">
      <div class="line-character">Martīnus</div>
      Scīlicet, quod fors fert, ferendum est.
    </div>
    <div class="line-container" id="theodoricus.41">
      <div class="line-character">Theodoricus</div>
      Aliqua fortūna fuerit adiūtrīx nōbīs.
    </div>
    <div class="line-container" id="martinus.42">
      <div class="line-character">Martīnus</div>
      At tū mihi semper inauspiātus es.
    </div>
    <div class="line-container" id="theodoricus.43">
      <div class="line-character">Theodoricus</div>
      At nunc auspicātus erō.
    </div>
    <div class="line-container" id="martinus.44">
      <div class="line-character">Martīnus</div>
      Nōn spērō.
    </div>
    <div class="line-container" id="theodoricus.45">
      <div class="line-character">Theodoricus</div>
      Insperāta accidunt saepius quam spērēs.
    </div>
    <div class="line-container" id="bernardus.46">
      <div class="line-character">Bernardus</div>
      Superest ut fodiāmus scrobiculum.
    </div>
    <div class="line-container" id="arnoldus.47">
      <div class="line-character">Arnoldus</div>
      Cēdō cultellum.
    </div>
    <div class="line-container" id="martinus.48">
      <div class="line-character">Martīnus</div>
      Accipe, sed aciem retūdas cave.
    </div>
    <div class="line-container" id="arnoldus.49">
      <div class="line-character">Arnoldus</div>
      Huī, quam est acūtus! Tam elegantem hunc quaesō?
    </div>
    <div class="line-container" id="bernardus.50">
      <div class="line-character">Bernardus</div>
      Bonus est, sed similis malus est.
    </div>
    <div class="line-container" id="theodoricus.51">
      <div class="line-character">Theodoricus</div>
      Malus malum reperit, dominī similis est; similēs habent lābra lactūcās.
    </div>
    <div class="line-container" id="martinus.52">
      <div class="line-character">Martīnus</div>
      Facētē dīcis; pār pārī referam ubī erit commodum, faenerātum isthūc tibi pulchrē diēs.
    </div>
    <div class="line-container" id="arnoldus.53">
      <div class="line-character">Arnoldus</div>
      Eia, quid stātis? Satis iam verbōrum est, quid tempus teritis? quid verba hīc facitis? age dum, expedīte vīrēs, lūdite bonīs avibus: Bernarde, nē nugāre.
    </div>
    <div class="line-container" id="bernardus.54">
      <div class="line-character">Bernardus</div>
      Abscēdite hinc paululum, hoc bene fit.
    </div>
    <div class="line-container" id="theodoricus.55">
      <div class="line-character">Theodoricus</div>
      Benē sanē.
      <div class="line-poetry">
        [MARTINVS:] Quid caput scalpis?
      </div>
    </div>
    <div class="line-container" id="bernardus.56">
      <div class="line-character">Bernardus</div>
      Male factum, ō sī infectum fierī possit.
    </div>
    <div class="line-container" id="theodoricus.57">
      <div class="line-character">Theodoricus</div>
      Nōn capitis rēs agitur, sed pecūniae. Lūdere sī rēctē nescīs, dēcēde perītīs, abī, dā locum eī quī sciat, dā locum meliōribus.
    </div>
    <div class="line-container" id="bernardus.58">
      <div class="line-character">Bernardus</div>
      Obtun[dis?] Mē vīs dēspicere, sus Minervam?
    </div>
    <div class="line-container" id="theodoricus.59">
      <div class="line-character">Theodoricus</div>
      Atquī is-
    </div>
    <div class="line-raw">thūc malī est.</div>
    <div class="line-container" id="bernardus.60">
      <div class="line-character">Bernardus</div>
      Omnibus amiās quod mihi est, ⟦capiō, ex⟧ sē idem.
    </div>
    <div class="line-container" id="theodoricus.61">
      <div class="line-character">Theodoricus</div>
      Benignē dīcis, atquī nōn convenit amīcī malīs illūdere.
    </div>
    <div class="line-container" id="bernardus.62">
      <div class="line-character">Bernardus</div>
      At solātī genus est sōdum habēre miseriae.
    </div>
    <div class="line-container" id="theodoricus.63">
      <div class="line-character">Theodoricus</div>
      Heus, Martīne, ecquid audīstī? Tribus verbīs tē volō.
    </div>
    <div class="line-container" id="martinus.64">
      <div class="line-character">Martīnus</div>
      Vel trecentīs.
    </div>
    <div class="line-container" id="arnoldus.65">
      <div class="line-character">Arnoldus</div>
      Palam, agite, nōlumus sussurrōs fierī.
    </div>
    <div class="line-container" id="martinus.66">
      <div class="line-character">Martīnus</div>
      Teneō.
    </div>
    <div class="line-container" id="theodoricus.67">
      <div class="line-character">Theodoricus</div>
      Vidē etiam atque etiam.
    </div>
    <div class="line-container" id="martinus.68">
      <div class="line-character">Martīnus</div>
      Factum putā.
    </div>
    <div class="line-container" id="theodoricus.69">
      <div class="line-character">Theodoricus</div>
      Virum tē praestā, praebe tē virum.
    </div>
    <div class="line-container" id="martinus.70">
      <div class="line-character">Martīnus</div>
      Aliud cūrā.
    </div>
    <div class="line-container" id="bernardus.71">
      <div class="line-character">Bernardus</div>
      Age, sī quid agis, Martīne, nē longum faciās.
    </div>
    <div class="line-container" id="theodoricus.72">
      <div class="line-character">Theodoricus</div>
      Probe, isthūc bene, dēamō tē.
    </div>
    <div class="line-container" id="bernardus.73">
      <div class="line-character">Bernardus</div>
      Huī, perbenē.
    </div>
    <div class="line-container" id="theodoricus.74">
      <div class="line-character">Theodoricus</div>
      Imō nōn potuit melius.
    </div>
    <div class="line-container" id="arnoldus.75">
      <div class="line-character">Arnoldus</div>
      Equidem pīlam ē cōnspectū amīsī meō.
    </div>
    <div class="line-container" id="bernardus.76">
      <div class="line-character">Bernardus</div>
      Nōn longē hinc abesse oportet, en tibi, ⟦caam⟧ haud procul ā tē, nōn vidēs quod ante pedēs est?
    </div>
    <div class="line-container" id="arnoldus.77">
      <div class="line-character">Arnoldus</div>
      Vbī?
    </div>
    <div class="line-container" id="bernardus.78">
      <div class="line-character">Bernardus</div>
      Ad laevam manum, nunc lūde.
    </div>
    <div class="line-container" id="martinus.79">
      <div class="line-character">Martīnus</div>
      Euge, Arnoldus aberrāvit ā pīlā, satis prōcēdit, pulchrē haec confertur ratis.
    </div>
    <div class="line-container" id="theodoricus.80">
      <div class="line-character">Theodoricus</div>
      Perdidistī iūs nunc feriendī.
    </div>
    <div class="line-container" id="arnoldus.81">
      <div class="line-character">Arnoldus</div>
      Nōn repugnō, sed praedictum oportuit.
    </div>
    <div class="line-container" id="bernardus.82">
      <div class="line-character">Bernardus</div>
      Quam bellē verō abs tē factum? Fēcistī probē, sī tibi desunt oculī, rogā ūtendōs forīs.
    </div>
    <div class="line-container" id="arnoldus.83">
      <div class="line-character">Arnoldus</div>
      Sardam in posterum errātum hoc.
    </div>
    <div class="line-container" id="bernardus.84">
      <div class="line-character">Bernardus</div>
      Sardiēs.
    </div>
    <div class="line-container" id="arnoldus.85">
      <div class="line-character">Arnoldus</div>
      Cavēbō, nōluī dīcere.
    </div>
    <div class="line-container" id="bernardus.86">
      <div class="line-character">Bernardus</div>
      Nempe ut modō.
    </div>
    <div class="line-container" id="arnoldus.87">
      <div class="line-character">Arnoldus</div>
      Imō melius spērō.
    </div>
    <div class="line-container" id="bernardus.88">
      <div class="line-character">Bernardus</div>
      Nihil est dictū facilius, prōclīve dictū.
    </div>
    <div class="line-container" id="arnoldus.89">
      <div class="line-character">Arnoldus</div>
      Manibus pedibusque obnīxē omnia faciam, quid aliud vīs tibi?
    </div>
    <div class="line-container" id="bernardus.90">
      <div class="line-character">Bernardus</div>
      Sī quidem hoc fit.
    </div>
    <div class="line-container" id="arnoldus.91">
      <div class="line-character">Arnoldus</div>
      Sī quidem, experiundō sciēs.
    </div>
    <div class="line-container" id="bernardus.92">
      <div class="line-character">Bernardus</div>
      Vtinam nunc mihi scrobem assequī contingat, facile hunc lūdum vīcerō.
    </div>
    <div class="line-container" id="theodoricus.93">
      <div class="line-character">Theodoricus</div>
      Quīn optās ūnā operā olympia ut vincās? Tantundem acēptūrus ex votō.
    </div>
    <div class="line-container" id="bernardus.94">
      <div class="line-character">Bernardus</div>
      Licet spērāre.
    </div>
    <div class="line-container" id="theodoricus.95">
      <div class="line-character">Theodoricus</div>
      Et fallī licet.
    </div>
    <div class="line-container" id="bernardus.96">
      <div class="line-character">Bernardus</div>
      Hoc vidē, aliqua mala crux semper est quae obsistet mihi.
    </div>
    <div class="line-container" id="theodoricus.97">
      <div class="line-character">Theodoricus</div>
      Videō atque ⟦aspidō⟧ lubens.
    </div>
    <div class="line-container" id="bernardus.98">
      <div class="line-character">Bernardus</div>
      Est tamen ictus nōn paenitendus, satis placet, haud mūtō factum.
    </div>
    <div class="line-container" id="theodoricus.99">
      <div class="line-character">Theodoricus</div>
      At ego spērō praevertātur.
    </div>
    <div class="line-container" id="bernardus.100">
      <div class="line-character">Bernardus</div>
      Nisī spēs tē fallat.
    </div>
    <div class="line-container" id="theodoricus.101">
      <div class="line-character">Theodoricus</div>
      Dīxī in hōc fore; nihil mē fefellit, atque adeō nōn multum ā scrobē absum.
    </div>
    <div class="line-container" id="bernardus.102">
      <div class="line-character">Bernardus</div>
      Arnolde, nunc scītō sī quid potēs, fac sīs nunc prōmissa appāreant.
    </div>
    <div class="line-container" id="arnoldus.103">
      <div class="line-character">Arnoldus</div>
      Faciam ita ut vīs, dabō equidem operam.
    </div>
    <div class="line-container" id="bernardus.104">
      <div class="line-character">Bernardus</div>
      Frūgī es, cūrāstī probē; isthūc rēctē nunc ego tē laudō.
    </div>
    <div class="line-container" id="theodoricus.105">
      <div class="line-character">Theodoricus</div>
      Heu, scrobem angustum!
    </div>
    <div class="line-container" id="arnoldus.106">
      <div class="line-character">Arnoldus</div>
      Quī quidem videat parum, sed quid tū incaeptas? Quidnam tū parās?
    </div>
    <div class="line-container" id="theodoricus.107">
      <div class="line-character">Theodoricus</div>
      Potior est quī prior vēnit.
    </div>
    <div class="line-container" id="bernardus.108">
      <div class="line-character">Bernardus</div>
      Ad Martīnum redit ōrdō.
    </div>
    <div class="line-container" id="theodoricus.109">
      <div class="line-character">Theodoricus</div>
      At ego vicē eius obierō.
    </div>
    <div class="line-container" id="bernardus.110">
      <div class="line-character">Bernardus</div>
      Haud mōris hoc; obseruet suam quisque vicem. Martīne, adēs, properā.
    </div>
    <div class="line-container" id="martinus.111">
      <div class="line-character">Martīnus</div>
      Quid properābō?
    </div>
    <div class="line-container" id="bernardus.112">
      <div class="line-character">Bernardus</div>
      Lūdere, age quaesō, nimium lentus es.
    </div>
    <div class="line-container" id="martinus.113">
      <div class="line-character">Martīnus</div>
      Theodorīce, quid agam incertum est mihi; tū quid faciam praescrībe, quid mihi nunc es auctor ut faciam, praemōnstrā quid fierī velīs; quid agō?
    </div>
    <div class="line-container" id="theodoricus.114">
      <div class="line-character">Theodoricus</div>
      Quid agās? Rēctā scrobem pete.
    </div>
    <div class="line-container" id="martinus.115">
      <div class="line-character">Martīnus</div>
      Ita nē suādēs?
    </div>
    <div class="line-container" id="theodoricus.116">
      <div class="line-character">Theodoricus</div>
      Ita.
    </div>
    <div class="line-container" id="martinus.117">
      <div class="line-character">Martīnus</div>
      Cupiō sī queam, sī possim, sī velim; equidem cupiam, vērum vereor nē rēs in dīversum exeat.
    </div>
    <div class="line-container" id="theodoricus.118">
      <div class="line-character">Theodoricus</div>
      Hāc pergitō, perfacilē poteris.
    </div>
    <div class="line-container" id="martinus.119">
      <div class="line-character">Martīnus</div>
      Equidem experior; iactābō aleam, fortūnam experiar, perīclitābor fortūnam.
    </div>
    <div class="line-container" id="theodoricus.120">
      <div class="line-character">Theodoricus</div>
      Satē potest fierī nihil facilius.
    </div>
    <div class="line-container" id="martinus.121">
      <div class="line-character">Martīnus</div>
      Crēdō ita vidērī tibi.
    </div>
    <div class="line-container" id="theodoricus.122">
      <div class="line-character">Theodoricus</div>
      Quid tū ūsque adeō? Nē piger es aut crassus ut nōn poplite flexō lūdere nōrīs?
    </div>
    <div class="line-container" id="martinus.123">
      <div class="line-character">Martīnus</div>
      Vtinam Crassus essem ille dīves; sed tantunde ⟦prōsearō⟧ sī prōcumbam. Sine mē meō agere modō.
    </div>
    <div class="line-container" id="arnoldus.124">
      <div class="line-character">Arnoldus</div>
      Rīdiculum caput, homō suāvis, quid agis? Ēhō tū, impudēns! Heus tibi dīcō: nē tū homō ineptus es, fātuus tū es quidem.
    </div>
    <div class="line-container" id="martinus.125">
      <div class="line-character">Martīnus</div>
      Sīc so-
    </div>
    <div class="line-raw">leō. ⟦Plēbī sātum nōn aeque fātum est⟧.</div>
    <div class="line-container" id="arnoldus.126">
      <div class="line-character">Arnoldus</div>
      Iocāre, at parum lēgitimē lūdis.
    </div>
    <div class="line-container" id="martinus.127">
      <div class="line-character">Martīnus</div>
      Nē dīxeris isthūc.
    </div>
    <div class="line-container" id="arnoldus.128">
      <div class="line-character">Arnoldus</div>
      Nē scīveris tū, ego nōn dīxerō.
    </div>
    <div class="line-container" id="martinus.129">
      <div class="line-character">Martīnus</div>
      Tunc mihi praeirē conāris?
    </div>
    <div class="line-container" id="arnoldus.130">
      <div class="line-character">Arnoldus</div>
      At ita nē tandem, sī dīvis placet, dūcere pīlam oportet, nōn mē fallent artēs tuae, haud faciēs nē[c] sinam, nōn pattar, iniūrium est.
    </div>
    <div class="line-container" id="martinus.131">
      <div class="line-character">Martīnus</div>
      Tū facis, mē vetās? Dē tē exemplum capiō.
    </div>
    <div class="line-container" id="arnoldus.132">
      <div class="line-character">Arnoldus</div>
      Pudet nihil; saltem sī pudōris egēs, sūmās mūtuam.
    </div>
    <div class="line-container" id="martinus.133">
      <div class="line-character">Martīnus</div>
      Tamen proximē scrobem sum.
    </div>
    <div class="line-container" id="arnoldus.134">
      <div class="line-character">Arnoldus</div>
      Satinne id est? Audēās idem dēnuō.
    </div>
    <div class="line-container" id="bernardus.135">
      <div class="line-character">Bernardus</div>
      Nunc nostrāe partī timeō; abscēdite paululum, ā lūce absis, nē mihi ā lūce obstēs, concēde isthūc paululum.
    </div>
    <div class="line-container" id="arnoldus.136">
      <div class="line-character">Arnoldus</div>
      Quid agēs?
    </div>
    <div class="line-container" id="bernardus.137">
      <div class="line-character">Bernardus</div>
      Quid vīs, nisi ut in scrobem propellam?
    </div>
    <div class="line-container" id="arnoldus.138">
      <div class="line-character">Arnoldus</div>
      Sanē benē, sī quidem potēs.
    </div>
    <div class="line-container" id="bernardus.139">
      <div class="line-character">Bernardus</div>
      Iactenda est alea.
    </div>
    <div class="line-container" id="arnoldus.140">
      <div class="line-character">Arnoldus</div>
      Ita necessū[m] est; factō est opus, ut quimus aiunt, quandō ut volumus nōn licet. Perge igitur ac faelīciter lūdās, age cīrcumspectē.
    </div>
    <div class="line-container" id="bernardus.141">
      <div class="line-character">Bernardus</div>
      Actum est, nihil succēdet.
    </div>
    <div class="line-container" id="arnoldus.142">
      <div class="line-character">Arnoldus</div>
      Haud male lūsistī; vērum nōn fauet nostrae partī Fortūna.
    </div>
    <div class="line-container" id="theodoricus.143">
      <div class="line-character">Theodoricus</div>
      Dīvī nōs respiciunt, vīcimus.
    </div>
    <div class="line-container" id="bernardus.144">
      <div class="line-character">Bernardus</div>
      Sciō tē bona esse voce; nē clāmā.
    </div>
    <div class="line-container" id="theodoricus.145">
      <div class="line-character">Theodoricus</div>
      Euge, euge! Lepidē prōcēdit ex sententiā; vīcimus duōs lūdōs.
    </div>
    <div class="line-container" id="bernardus.146">
      <div class="line-character">Bernardus</div>
      Vestrī nunc ventī valde secundī sunt, nōn diū futūrī spērō.
    </div>
    <div class="line-container" id="theodoricus.147">
      <div class="line-character">Theodoricus</div>
      Ēmungēmus vōs probē hodiē; caprae quod dīcitur ad fēstum vēnistis.
    </div>
    <div class="line-container" id="bernardus.148">
      <div class="line-character">Bernardus</div>
      Reddētis spērō mox πάντα περὶ πάντων. Quondam etiam victīs redit in praecordia virtūs; cavēte nē ventus nāvem deferat.
    </div>
    <div class="line-container" id="theodoricus.149">
      <div class="line-character">Theodoricus</div>
      Vīcimus trēs.
    </div>
    <div class="line-container" id="bernardus.150">
      <div class="line-character">Bernardus</div>
      Atat, dēmittō auriculās ut inīquē sortis asellus; rem omnem hodiē semel perditūrus videor.
    </div>
    <div class="line-container" id="theodoricus.151">
      <div class="line-character">Theodoricus</div>
      Quae nocent docent.
    </div>
    <div class="line-container" id="bernardus.152">
      <div class="line-character">Bernardus</div>
      At mihi nōn discrē tantī; domī mānsisse māllem, haccine causā eram tanto-
    </div>
    <div class="line-raw">pere lūdendī cupidus? Ergō praedium ob stultitiam ferō, atque hoc cōnfiteor mihi iūre obtigisse.</div>
    <div class="line-container" id="theodoricus.153">
      <div class="line-character">Theodoricus</div>
      Nūllus ubique potest faelīcī lūdere dextrā; at sān, quid faciās? Fātum tibi cōnsilium habeō.
    </div>
    <div class="line-container" id="bernardus.154">
      <div class="line-character">Bernardus</div>
      Quōdnam? Respondē.
    </div>
    <div class="line-container" id="theodoricus.155">
      <div class="line-character">Theodoricus</div>
      Mī Damō ōrātō, talentum tibi ut det aureum.
    </div>
    <div class="line-container" id="bernardus.156">
      <div class="line-character">Bernardus</div>
      Etiam rīdēs?
    </div>
    <div class="line-container" id="theodoricus.157">
      <div class="line-character">Theodoricus</div>
      Cūr plōrēs?
    </div>
    <div class="line-container" id="bernardus.158">
      <div class="line-character">Bernardus</div>
      Equidem sī per aliōs plus perdidissem, minus aegre esset.
    </div>
    <div class="line-container" id="theodoricus.159">
      <div class="line-character">Theodoricus</div>
      Quīn sī perdere videō tē, ex[e]mplō dolet.
    </div>
    <div class="line-container" id="bernardus.160">
      <div class="line-character">Bernardus</div>
      Mihi quidem.
    </div>
    <div class="line-container" id="theodoricus.161">
      <div class="line-character">Theodoricus</div>
      Acūtē tētigistī, rēctē coniectās.
    </div>
    <div class="line-container" id="bernardus.162">
      <div class="line-character">Bernardus</div>
      Prōximus hodiē pulchrē, Arnolde, dēsināmus, coepit mē huius lūdī sādetās.
    </div>
    <div class="line-container" id="theodoricus.163">
      <div class="line-character">Theodoricus</div>
      Iam ad lūbet sāt prīmum.
    </div>
    <div class="line-container" id="bernardus.164">
      <div class="line-character">Bernardus</div>
      Vērum dum praestat indīcere lūdum.
    </div>
    <div class="line-container" id="theodoricus.165">
      <div class="line-character">Theodoricus</div>
      Facis ut aliās rēs solēs, ut tuus est mōs.
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains 'files/'" %}
    {% assign neighbors = files | where: "type", "Colloquium" | where: "author", page.author | where: "collection", page.collection | sort: "sequence" %}
    {% assign prev_page = nil %}
    {% assign next_page = nil %}
    {% assign found_current = false %}
    {% for p in neighbors %}
      {% if found_current and next_page == nil %}{% assign next_page = p %}{% endif %}
      {% if p.url == page.url %}{% assign found_current = true %}{% endif %}
      {% if found_current == false %}{% assign prev_page = p %}{% endif %}
    {% endfor %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %}
      {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

  <div class="footer">
    <p>ColloquiaLatina.org - Copyright &copy; 2025 Jacob Terneus</p>
  </div>
</body>
