---
title: Colloquia Scholastica - Liber Quartus - Colloquium Tricesimum Quintum
subtitle:
type: Colloquium
author: Corderius
collection: Colloquia Scholastica Liber Quartus
topic: Waking Up
difficulty: Moderate
sequence: "224"
character_count: 2
permalink: /corderius/colloquia-scholastica-liber-quartus-colloquium-tricesimum-quintum/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-reading.css" />
  <link rel="stylesheet" href="/style-common.css" />
  <link rel="stylesheet" href="/w3.css" />
</head>

<body>
  <div class="w3-top">
    <div class="w3-bar w3-black">
      <a href="/" class="w3-bar-item w3-button w3-mobile"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="w3-bar-item w3-button w3-mobile"
        >{{ page.author }}</a
      >
      <div class="w3-bar-item w3-mobile w3-center"><i>{{ page.title }}</i></div>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Magister, Hypodidascalus
    </div>

    <div class="line-container" id="Magister.1">
      <div class="line-character">Magister</div>
      Quid? quod hīsce diēbus inter nōs ēgerāmus satisne cōgitāstī?
    </div>

    <div class="line-container" id="Hypodidascalus.2">
      <div class="line-character">Hypodidascalus</div>
      Etiam atque etiam cōgitāvī.
    </div>

    <div class="line-container" id="Magister.3">
      <div class="line-character">Magister</div>
      Ecquid placet tibi conditiō, quam obtulī?
    </div>

    <div class="line-container" id="Hypodidascalus.4">
      <div class="line-character">Hypodidascalus</div>
      Maximē.
    </div>

    <div class="line-container" id="Magister.5">
      <div class="line-character">Magister</div>
      Quid mēnsa, seu convictus?
    </div>

    <div class="line-container" id="Hypodidascalus.6">
      <div class="line-character">Hypodidascalus</div>
      Nihil in eā rē dēsīderō.
    </div>

    <div class="line-container" id="Magister.7">
      <div class="line-character">Magister</div>
      Quid restat igitur?
    </div>

    <div class="line-container" id="Hypodidascalus.8">
      <div class="line-character">Hypodidascalus</div>
      Ut (sī tibi nōn molestum est) praescrībās mihi quās operās ā mē tibi
      praestārī velīs.
    </div>

    <div class="line-container" id="Magister.9">
      <div class="line-character">Magister</div>
      Id vērō est aequissimum: accipe igitur praecipua officiī tuī capita;
      quōrum hoc prīmum est:
      <br />
      Quotīdiē manē dīligenter cūrāre, ut omnēs domesticī meī discipulī mātūrē
      cubitū surgant prō ratiōne temporis, cum hȳbernī, tum aestīvī: ubi
      surrēxerint, ea cūrent, quae ad cultum et munditiem corporis pertinent:
      postrēmō, ut adsint prīvātae nostrae precātiōnī.
      <br />
      Secundum, Ter quotīdiē in aulam dēdūcere, māne scīlicet, et ante hōram
      ūndecimam ac tertiam pōmerīdiānam. Illīc (nisi egomet aderō) expectāre,
      dōnec aliquis ex doctōribus adfuerit; intereā cūrāre recitandōs catalogōs,
      et precātiōnem dīcendam: item observāre sēdulō, num quis ex ipsīs
      doctōribus absit ab audītōriō suō; sī quis aberit, mihi statim renūntiāre,
      aut eius partēs agere.
      <br />
      Tertium, Manēre cum puerīs domesticīs, quotiēs nōn docentur in scholīs;
      intereā minōrēs ad lēctiōnem et scrīptūram īnstruere; caeterōrumque
      repetītiōnēs audīre, quantum tempus et opportūnitās patiētur: omnēs
      dēnique in officiō retinēre, admonēre, arguere, obiūrgāre, virgīs etiam,
      ubi opus fuerit, castīgāre.
      <br />
      Quārtum, Fēriātīs diēbus eōs ad sacrās conciōnēs ōrdine dēdūcere, ac domum
      similiter redūcere.
      <br />
      Quīntum, Quotiēs lūdere permissum erit, subinde observāre; nē quid praeter
      officium et bonōs mōrēs vel factīs vel dictīs admittant.
      <br />
      Sextum, Suppeditāre illīs ex pecūniā quam tibi in manūs dabō, chartam,
      pennās, ātrāmentum, et alia quaedam duntaxat parvī pretiī necessāria;
      eaque omnia in expēnsōrum cōdicem referre. Id autem Mercuriī et Sabbatī
      potissimum diēbus fierī solet.
      <br />
      Septimum, Quae ad eōrum librōs, vestīmenta, et cūram corporis pertinēbunt
      nōn negligere; hoc est, interdum ab illīs librōrum et vestīmentōrum
      ratiōnem exigere, valētūdinis et cultūs corporis ratiōnem habēre, et alia
      eiusmodī (in puerīs praesertim minōribus) cūranda et observanda.
      <br />
      Octāvum, Docēre puerōs tum in classe meā, tum in caeterīs, praeter trēs
      superiōrēs; sīquandō necessitās postulābit.
      <br />
      Nōnum, Interdum (sī opus fuerit) mē, et domī et foris in prīvātīs negōtiīs
      adiuvāre. Hāctenus audīstī quae mihi abs tē praestārī velim officia,
      quaeque etiam ab aliīs domesticīs hypodidascalīs exigere soleam. Eōrum
      tamen omnium adeō sevērus exāctor fuerō, quīn ipse, quotiēs per ōtium
      licēbit, aliqua tibi remittam, in quibus ego quasi vicāriī partēs agam.
      Intellextin’ haec omnia?
    </div>

    <div class="line-container" id="Hypodidascalus.10">
      <div class="line-character">Hypodidascalus</div>
      Ego vērō dīligenter omnia; sed ūnum tē ōrō; ut, ad memoriam renovandam,
      dēs mihi eōrum commentāriolum, et simul cōgitandī ac dēlīberandī spatium.
    </div>

    <div class="line-container" id="Magister.11">
      <div class="line-character">Magister</div>
      Quantum temporis postulās?
    </div>

    <div class="line-container" id="Hypodidascalus.12">
      <div class="line-character">Hypodidascalus</div>
      Diem ūnum nātūrālem.
    </div>

    <div class="line-container" id="Magister.13">
      <div class="line-character">Magister</div>
      Ego vērō duōs integrōs dabō. Intereā (ut coepistī) nūllō tuō sūmptū nōbīs
      pergēs convīvere et commorārī tam līberē, quam sī essēs domī tuae.
    </div>

    <div class="line-container" id="Hypodidascalus.14">
      <div class="line-character">Hypodidascalus</div>
      Istud nōn sine Hūmānitāte facis; quō fit, ut maiōre beneficiō mē
      dēvinciās.
    </div>

    <div class="line-container" id="Magister.15">
      <div class="line-character">Magister</div>
      Habēbis ā prandiō quod requīris commentārium, cum prīmum meā tibi manū
      cōnscrīpserō.
    </div>

    <div class="line-container" id="Hypodidascalus.16">
      <div class="line-character">Hypodidascalus</div>
      Quid sī mihi dictārēs?
    </div>

    <div class="line-container" id="Magister.17">
      <div class="line-character">Magister</div>
      Mālim egomet scrībere, nē quid forte inter dictandum excīdat.
    </div>

    <div class="line-container" id="Hypodidascalus.18">
      <div class="line-character">Hypodidascalus</div>
      Ut libet.
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>
</body>
