---
title: Colloquia Scholastica - Liber Prīmus - Colloquium Unum et Vicesimum
subtitle:
type: Colloquium
author: Corderius
collection: Colloquia Scholastica Liber Primus
topic: Waking Up
difficulty: Moderate
sequence: "021"
character_count: 2
permalink: /corderius/colloquia-scholastica-liber-primus-colloquium-unum-et-vicesimum/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-reading.css" />
  <link rel="stylesheet" href="/style-common.css" />
  <link rel="stylesheet" href="/w3.css" />
</head>

<body>
  <div class="w3-top">
    <div class="w3-bar w3-black">
      <a href="/" class="w3-bar-item w3-button w3-mobile"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="w3-bar-item w3-button w3-mobile"
        >{{ page.author }}</a
      >
      <div class="w3-bar-item w3-mobile w3-center"><i>{{ page.title }}</i></div>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Dāmōn, Audāx
    </div>

    <div class="line-container" id="Damon.1">
      <div class="line-character">Dāmōn</div>
      Vīsne mihi dēscrībere praelēctiōnem?
    </div>

    <div class="line-container" id="Audax.2">
      <div class="line-character">Audāx</div>
      Cūr nōn habēs?
    </div>

    <div class="line-container" id="Damon.3">
      <div class="line-character">Dāmōn</div>
      Quia hesternō diē fuī occupātus.
    </div>

    <div class="line-container" id="Audax.4">
      <div class="line-character">Audāx</div>
      Accipe librum meum, et dēscrībe.
    </div>

    <div class="line-container" id="Damon.5">
      <div class="line-character">Dāmōn</div>
      Nōn ignōrās mē lentius scrībere: et tū citius tōtum dēscrīpseris, quam ego
      quātuor aut quīnque versiculōs.
    </div>

    <div class="line-container" id="Audax.6">
      <div class="line-character">Audāx</div>
      Quaere tibi alium scrīptōrem; nunc ego tibi nōn possum dare operam.
    </div>

    <div class="line-container" id="Damon.7">
      <div class="line-character">Dāmōn</div>
      Cūr nōn?
    </div>

    <div class="line-container" id="Audax.8">
      <div class="line-character">Audāx</div>
      Est mihi aliud negōtium, īdemque pernecessārium.
    </div>

    <div class="line-container" id="Damon.9">
      <div class="line-character">Dāmōn</div>
      Nōlō tē urgēre, nec possum quidem: sed saltem commodā tuum cōdicem.
    </div>

    <div class="line-container" id="Audax.10">
      <div class="line-character">Audāx</div>
      Accipe; ūtere ut libet, modo nē abūtāre. Nihil est quod hīc vereāris.
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>
</body>
