---
title: Colloquia Scholastica - Liber Prīmus - Colloquium Sexagesimum Tertium
subtitle:
type: Colloquium
author: Corderius
collection: Colloquia Scholastica Liber Primus
topic: Waking Up
difficulty: Moderate
sequence: "063"
character_count: 2
permalink: /corderius/colloquia-scholastica-liber-primus-colloquium-sexagesimum-tertium/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/style-reading.css" />
  
</head>

<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Mārcus, Aarōn
    </div>

    <div class="line-container" id="Marcus.1">
      <div class="line-character">Mārcus</div>
      Miseret mē tuī.
    </div>

    <div class="line-container" id="Aaron.2">
      <div class="line-character">Aarōn</div>
      Quid ita?
    </div>

    <div class="line-container" id="Marcus.3">
      <div class="line-character">Mārcus</div>
      Quod pennā tuā tam miserē abūtāris.
    </div>

    <div class="line-container" id="Aaron.4">
      <div class="line-character">Aarōn</div>
      Quōmodo abūtor?
    </div>

    <div class="line-container" id="Marcus.5">
      <div class="line-character">Mārcus</div>
      Quia pessimē tractās eam in acuendō.
    </div>

    <div class="line-container" id="Aaron.6">
      <div class="line-character">Aarōn</div>
      Nōn est culpa mea, nē quid errēs.
    </div>

    <div class="line-container" id="Marcus.7">
      <div class="line-character">Mārcus</div>
      Cuius igitur?
    </div>

    <div class="line-container" id="Aaron.8">
      <div class="line-character">Aarōn</div>
      Scalpellī meī, cuius aciēs obtūsa est.
    </div>

    <div class="line-container" id="Marcus.9">
      <div class="line-character">Mārcus</div>
      Scalpellum in culpā nōn est, sed tū ipse.
    </div>

    <div class="line-container" id="Aaron.10">
      <div class="line-character">Aarōn</div>
      Cūr istud dīcis?
    </div>

    <div class="line-container" id="Marcus.11">
      <div class="line-character">Mārcus</div>
      Quia dēbuistī vel scalpellum tuum acuere, vel aliud alicunde rogāre
      commodātō, saltem ad praesēns negōtium.
    </div>

    <div class="line-container" id="Aaron.12">
      <div class="line-character">Aarōn</div>
      Nōn audeō petere.
    </div>

    <div class="line-container" id="Marcus.13">
      <div class="line-character">Mārcus</div>
      Quid timēs?
    </div>

    <div class="line-container" id="Aaron.14">
      <div class="line-character">Aarōn</div>
      Nē mihi dēnegētur.
    </div>

    <div class="line-container" id="Marcus.15">
      <div class="line-character">Mārcus</div>
      Ecce tibi meum.
    </div>

    <div class="line-container" id="Aaron.16">
      <div class="line-character">Aarōn</div>
      Grātiās agō.
    </div>

    <div class="line-container" id="Marcus.17">
      <div class="line-character">Mārcus</div>
      Ūtere quantum volēs, sed rēctē.
    </div>

    <div class="line-container" id="Aaron.18">
      <div class="line-character">Aarōn</div>
      Sciēns nōn abūtar.
    </div>

    <div class="line-container" id="Marcus.19">
      <div class="line-character">Mārcus</div>
      Nec sīs posthāc tam verēcundus in petendō.
    </div>

    <div class="line-container" id="Aaron.20">
      <div class="line-character">Aarōn</div>
      Sīc est ingenium meum; soleō libentius dare quam petere.
    </div>

    <div class="line-container" id="Marcus.21">
      <div class="line-character">Mārcus</div>
      Utinam multī essent tuī similēs. Sed tamen ‘quī libenter dat beneficium,
      is petere quoque līberē potest’. Sed ego tē nimis dētineō; perfice quod
      coeperās.
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

   <div class="footer">
     <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
   </div>
</body>
