---
title: Colloquia Scholastica - Liber Prīmus - Colloquium Vicesimum
subtitle:
type: Colloquium
author: Corderius
collection: Colloquia Scholastica Liber Primus
topic: Waking Up
difficulty: Moderate
sequence: "020"
character_count: 2
permalink: /corderius/colloquia-scholastica-liber-primus-colloquium-vicesimum/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/style-reading.css" />
  
</head>

<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Titus, Valerius
    </div>

    <div class="line-container" id="Titus.1">
      <div class="line-character">Titus</div>
      Cūr nōn scrībis?
    </div>

    <div class="line-container" id="Valerius.2">
      <div class="line-character">Valerius</div>
      Quia nōn libet.
    </div>

    <div class="line-container" id="Titus.3">
      <div class="line-character">Titus</div>
      Atquī praeceptor iusserat.
    </div>

    <div class="line-container" id="Valerius.4">
      <div class="line-character">Valerius</div>
      Sciō: sed est mihi aliquid legendum prius; praetereā, nihil habeō quod
      nunc scrībam.
    </div>

    <div class="line-container" id="Titus.5">
      <div class="line-character">Titus</div>
      Ō sī vellēs mihi scrībere!
    </div>

    <div class="line-container" id="Valerius.6">
      <div class="line-character">Valerius</div>
      Quidnam?
    </div>

    <div class="line-container" id="Titus.7">
      <div class="line-character">Titus</div>
      Habeō dēscrībenda dictāta praeceptōris.
    </div>

    <div class="line-container" id="Valerius.8">
      <div class="line-character">Valerius</div>
      Quae dictāta?
    </div>

    <div class="line-container" id="Titus.9">
      <div class="line-character">Titus</div>
      In Cicerōnis Epistolās.
    </div>

    <div class="line-container" id="Valerius.10">
      <div class="line-character">Valerius</div>
      Libenter dēscrībam tibi: sed exspectā fēriārum diem proximum.
    </div>

    <div class="line-container" id="Titus.11">
      <div class="line-character">Titus</div>
      Exspectābō igitur: sed nē fallās, quaesō.
    </div>

    <div class="line-container" id="Valerius.12">
      <div class="line-character">Valerius</div>
      Nec sciēns, nec volēns fallam.
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

   <div class="footer">
     <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
   </div>
</body>
