---
title: Colloquia Familiaria - Colloquium Quadrāgēsimum Quīntum
subtitle: Πτωχολογία
type: Colloquium
author: Erasmus
collection: Colloquia Familiaria
topic: Beggars' Talk
difficulty: Advanced
sequence: "045"
character_count: 2
permalink: /erasmus/colloquia-familiaria-ptochologia/
---

<!DOCTYPE html>

<head>
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/style-reading.css" />
    <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/w3.css" />
</head>

<body>
    <div class="w3-top">
        <div class="w3-bar w3-black">
            <a href="/" class="w3-bar-item w3-button w3-mobile"><b>Colloquia Latina</b></a>
            <a href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
                class="w3-bar-item w3-button w3-mobile">{{ page.author }}</a>
            <div class="w3-bar-item w3-mobile w3-center"><i>{{ page.title }}</i></div>
        </div>
    </div>
    <div style="height: 3em"></div>

    <div class="main-content">
        <h1>{{page.title}}</h1><a href="#footnote.1"><sup>(1)</sup></a>
        <h3>{{page.subtitle}}</h3>

        <div class="characters">
            Persōnae:<br>
            Īridēs<a href="#footnote.2"><sup>(2)</sup></a>, Misopōnus
        </div>

        <div class="line-container" id="Irides.1">
            <div class="line-character">
                Īridēs
            </div>
            Quam ego hūc novam avem videō advolāre? Agnōscō faciēm, sed vestis nōn convenit. Aut ego prōrsus hallūcinor, aut hīc est Misopōnus.<a href="#footnote.3"><sup>(3)</sup></a> Audendum est: compellābō hominem, quamlibet pannōsus. Salvē, Misopōne.
        </div>

        <div class="line-container" id="Misoponus.2">
            <div class="line-character">
                Misopōnus
            </div>
            Īridem videō.
        </div>

        <div class="line-container" id="Irides.3">
            <div class="line-character">
                Īridēs
            </div>
            Salvē, Misopōne.
        </div>

        <div class="line-container" id="Misoponus.4">
            <div class="line-character">
                Misopōnus
            </div>
            Tacē, inquam.
        </div>

        <div class="line-container" id="Irides.5">
            <div class="line-character">
                Īridēs
            </div>
            Quid? an salvēre nōn vīs?
        </div>

        <div class="line-container" id="Misoponus.6">
            <div class="line-character">
                Misopōnus
            </div>
            Nōn, istō quidem nōmine.
        </div>

        <div class="line-container" id="Irides.7">
            <div class="line-character">
                Īridēs
            </div>
            Quid accidit? an nōn es īdem, quī fuerās? An cum veste mūtātur et nōmen?
        </div>

        <div class="line-container" id="Misoponus.8">
            <div class="line-character">
                Misopōnus
            </div>
            Nōn; sed vetus receptum est.
        </div>

        <div class="line-container" id="Irides.9">
            <div class="line-character">
                Īridēs
            </div>
            Quis tum erās?
        </div>

        <div class="line-container" id="Misoponus.10">
            <div class="line-character">
                Misopōnus
            </div>
            Apitius.
        </div>

        <div class="line-container" id="Irides.11">
            <div class="line-character">
                Īridēs
            </div>
            Nē tē pudeat veteris sodālis, sī quid meliōris obtigit fortūnae: nōn diū est, quod erās ōrdinis nostrī.
        </div>

        <div class="line-container" id="Misoponus.12">
            <div class="line-character">
                Misopōnus
            </div>
            Concēde hūc sōdēs, et audiēs rem omnem. Nōn pudet ōrdinis vestrī, sed pudet prīmī ōrdinis.
        </div>

        <div class="line-container" id="Irides.13">
            <div class="line-character">
                Īridēs
            </div>
            Quem ōrdinem narrās? Franciscānōrum?
        </div>

        <div class="line-container" id="Misoponus.14">
            <div class="line-character">
                Misopōnus
            </div>
            Nēquāquam, ō bone, sed dēcoctōrum.
        </div>

        <div class="line-container" id="Irides.15">
            <div class="line-character">
                Īridēs
            </div>
            Nae tū istīus ōrdinis sodālēs habēs quam plūrimōs.
        </div>

        <div class="line-container" id="Misoponus.16">
            <div class="line-character">
                Misopōnus
            </div>
            Eram rē lautā; prōdēgī strēnuē; ubi rēs dēfēcit, nūllus agnōscēbat Apitium. Profūgī pudōre, vertī mē ad vestrum collēgium: hoc maluī, quam fodere.
        </div>

        <div class="line-container" id="Irides.17">
            <div class="line-character">
                Īridēs
            </div>
            Sapuistī. Sed unde subitō novus nitor corporis? Nam dē veste mūtātā nōn perinde mīror.
        </div>

        <div class="line-container" id="Misoponus.18">
            <div class="line-character">
                Misopōnus
            </div>
            Quam ob rem?
        </div>

        <div class="line-container" id="Irides.19">
            <div class="line-character">
                Īridēs
            </div>
            Quia Dea Laverna<a href="#footnote.4"><sup>(4)</sup></a> multōs subitō dītat.
        </div>

        <div class="line-container" id="Misoponus.20">
            <div class="line-character">
                Misopōnus
            </div>
            An suspicāris, mē fūrtō parāsse rem?
        </div>

        <div class="line-container" id="Irides.21">
            <div class="line-character">
                Īridēs
            </div>
            Hoc fortassis ignāvius. Rapīnā igitur.
        </div>

        <div class="line-container" id="Misoponus.22">
            <div class="line-character">
                Misopōnus
            </div>
            Nōn, per vestram Peniam<a href="#footnote.5"><sup>(5)</sup></a>, neque fūrtō, neque rapīnā. Sed dē nitōre corporis prius expediam, quod tibi vidētur mīrābilius.
        </div>

        <div class="line-container" id="Irides.23">
            <div class="line-character">
                Īridēs
            </div>
            Nam apud nōs erās tōtus ulcerōsus.
        </div>

        <div class="line-container" id="Misoponus.24">
            <div class="line-character">
                Misopōnus
            </div>
            Nīmīrum sum ūsus amīcissimō medicō.
        </div>

        <div class="line-container" id="Irides.25">
            <div class="line-character">
                Īridēs
            </div>
            Quōnam?
        </div>

        <div class="line-container" id="Misoponus.26">
            <div class="line-character">
                Misopōnus
            </div>
            Nōn aliō quam mē ipsō, nisi sī quem arbitrāris mihi mē ipsō amīciōrem.
        </div>

        <div class="line-container" id="Irides.27">
            <div class="line-character">
                Īridēs
            </div>
            Atquī nesciēbam, tē callēre rem medicam antehāc.
        </div>

        <div class="line-container" id="Misoponus.28">
            <div class="line-character">
                Misopōnus
            </div>
            Tōtum illum ōrnātum ipse pīgmentīs affīxeram, thūre, sulphure, rēsīnā, vīscō, linteīs, cruōre. Ubi vīsum est, quod affīxeram, dētrāxī.
        </div>

        <div class="line-container" id="Irides.29">
            <div class="line-character">
                Īridēs
            </div>
            Ō impostōrem! nihil tē vidēbātur miserābilius. Poterās in tragoediā sustinēre persōnam Iob.
        </div>

        <div class="line-container" id="Misoponus.30">
            <div class="line-character">
                Misopōnus
            </div>
            Sīc tum ferēbat egestās; quamquam fortūna nōnnumquam et cutem mūtāre solet.
        </div>

        <div class="line-container" id="Irides.31">
            <div class="line-character">
                Īridēs
            </div>
            Dīc igitur dē fortūnā. Repertus est thēsaurus aliquis?
        </div>

        <div class="line-container" id="Misoponus.32">
            <div class="line-character">
                Misopōnus
            </div>
            Nōn; sed repertus est quaestus vestrō paulō commodior.
        </div>

        <div class="line-container" id="Irides.33">
            <div class="line-character">
                Īridēs
            </div>
            Quī potuistī facere quaestum, quum nōn suppeteret sors?
        </div>

        <div class="line-container" id="Misoponus.34">
            <div class="line-character">
                Misopōnus
            </div>
            Artem quaevīs terra alit.
        </div>

        <div class="line-container" id="Irides.35">
            <div class="line-character">
                Īridēs
            </div>
            Intellegō. Dīcis artem incīdendī loculōs.
        </div>

        <div class="line-container" id="Misoponus.36">
            <div class="line-character">
                Misopōnus
            </div>
            Bona verba. Dīcō artem alcūmisticam.
        </div>

        <div class="line-container" id="Irides.37">
            <div class="line-character">
                Īridēs
            </div>
            Vix quīndecim diēs sunt, quod nōs relīquistī, et artem assecūtus es, quam aliī vix multīs annīs perdiscunt?
        </div>

        <div class="line-container" id="Misoponus.38">
            <div class="line-character">
                Misopōnus
            </div>
            Nactus sum viam compendiāriam.
        </div>

        <div class="line-container" id="Irides.39">
            <div class="line-character">
                Īridēs
            </div>
            Quam, obsecro?
        </div>

        <div class="line-container" id="Misoponus.40">
            <div class="line-character">
                Misopōnus
            </div>
            Ars vestra cōnflāverat mihi quattuor ferme aureōs; bonā quādam fortūnā incidī in veterem congerrōnem, quī nihilō fēlīcius rem administrārat quam ego. Compōtābāmus: coepit, ut fit, narrāre suās fortūnās: pacīscor hāc lēge, ut ille biberet immūnis, mihi commūnicāret artem. Commūnicāvit bonā fidē: ea nunc vectīgal est mihi.
        </div>

        <div class="line-container" id="Irides.41">
            <div class="line-character">
                Īridēs
            </div>
            Nōn licet discere?
        </div>

        <div class="line-container" id="Misoponus.42">
            <div class="line-character">
                Misopōnus
            </div>
            Tibi vel grātīs impartiam ob prīstinum sodālitium. Scīs nusquam nōn invenīrī plūrimōs hūius artis avidissimōs.
        </div>

        <div class="line-container" id="Irides.43">
            <div class="line-character">
                Īridēs
            </div>
            Audīvī, et crēdō.
        </div>

        <div class="line-container" id="Misoponus.44">
            <div class="line-character">
                Misopōnus
            </div>
            In hōrum familiāritātem quācunque occāsiōne memet īnsinuō; iactō artem. Ubi sēnserō lārum<a href="#footnote.6"><sup>(6)</sup></a> hiantem, ēscam<a href="#footnote.7"><sup>(7)</sup></a> parō.
        </div>

        <div class="line-container" id="Irides.45">
            <div class="line-character">
                Īridēs
            </div>
            Quō pactō?
        </div>

        <div class="line-container" id="Misoponus.46">
            <div class="line-character">
                Misopōnus
            </div>
            Ultrō eōs moneō, nē temerē crēdant ēius artis professōribus. Nam plērōsque esse impostōrēs, id agentēs praestigiīs suīs, ut exhauriant loculōs incautōrum.
        </div>

        <div class="line-container" id="Irides.47">
            <div class="line-character">
                Īridēs
            </div>
            Istuc prooemīi parum accommodum tuō negōtiō.
        </div>

        <div class="line-container" id="Misoponus.48">
            <div class="line-character">
                Misopōnus
            </div>
            Immō illud etiam addō, nē quid mihi ipsī crēdant, nī rem certam oculīs ac manibus dēprehenderint.
        </div>

        <div class="line-container" id="Irides.49">
            <div class="line-character">
                Īridēs
            </div>
            Mīram artis fīdūciam mihi narrās.
        </div>

        <div class="line-container" id="Misoponus.50">
            <div class="line-character">
                Misopōnus
            </div>
            Iubeō illōs adesse, dum perāgitur metamorphōsis: iubeō attentōs esse: quōque minus dubitent, iubeō ut ipsī manibus rem omnem peragant, mē procul spectante nec digitum admovente: liquefactam mātēriam iubeō ut pūrgent ipsī, aut aurificī pūrgandam dēferant: praedīcō quantum argentī aurīve sit ēliquandum: dēnique quod ēliquātum est, iubeō ut plūribus aurificibus dēferant ad Lȳdium lapidem<a href="#footnote.8"><sup>(8)</sup></a> explōrandum. Reperiunt pondus praedīctum, reperiunt pūrgātissimum aurum aut argentum: nihil enim refert, nisi quod minōre perīculō mihi quidem rēs tentātur in argentō.
        </div>

        <div class="line-container" id="Irides.51">
            <div class="line-character">
                Īridēs
            </div>
            Proinde nihil habet ars tua fūcī.
        </div>

        <div class="line-container" id="Misoponus.52">
            <div class="line-character">
                Misopōnus
            </div>
            Immō merus fūcus est.
        </div>

        <div class="line-container" id="Irides.53">
            <div class="line-character">
                Īridēs
            </div>
            Nōndum videō praestigium.
        </div>

        <div class="line-container" id="Misoponus.54">
            <div class="line-character">
                Misopōnus
            </div>
            Faxō ut videās. Prīmum pacīscor dē mercēde; eam nōlō mihi numerārī, nisi prius ēditō artis experīmentō. Trādō illīs pulvisculum, quasi hūius vī cōnficiātur tōtum negōtium. Ratiōnem cōnficiendī pulveris nōn commūnicō, nisi māgnā mercēde redēmerint. Exigō iūsiūrandum, nē prōferant arcānum artis intrā sex mēnsēs cuiquam mortālium aut immortālium.
        </div>

        <div class="line-container" id="Irides.55">
            <div class="line-character">
                Īridēs
            </div>
            Nōndum audiō fūcum.
        </div>

        <div class="line-container" id="Misoponus.56">
            <div class="line-character">
                Misopōnus
            </div>
            Fūcus omnis est in ūnō carbōne in hoc parātō. Excavō carbōnem; in eum īnserō liquefactum argentum, quantum praedīcō reddendum: post īnfūsum pulverem sīc īnstruō vās, ut nōn sōlum īnfernē et ā lateribus cingātur prūnīs, vērum etiam supernē: persuādeō, hoc esse artis. Inter carbonēs, quī supernē impōnuntur, ūnum admīsceō, quī tegit argentum aut aurum. Id vī calōris liquefactum dēfluit in reliquam mātēriam, quae liquēscit, puta stannum, aut aes: repūrgātiōne factā invenitur quod admixtum est.
        </div>

        <div class="line-container" id="Irides.57">
            <div class="line-character">
                Īridēs
            </div>
            Ars expedīta: sed quōmodō fallīs, sī alter rem agat suīs manibus?
        </div>

        <div class="line-container" id="Misoponus.58">
            <div class="line-character">
                Misopōnus
            </div>
            Quum is mē praescrībente perfēcit omnia, priusquam moveātur vās alcūmisticum, accēdō tandem, et circumspiciō, nē quid forte sit omissum. Aiō mihi vidērī supernē deesse ūnum atque alterum carbōnem: clam appōnō meum; fingō, mē eum tollere ex acervō reliquōrum, at illīc ante sīc positum, ut nūllī possit agnōscī, et illum fallere, tollō.
        </div>

        <div class="line-container" id="Irides.59">
            <div class="line-character">
                Īridēs
            </div>
            Cēterum quum illīs absque tē perīculum facientibus nōn succēdit, quid adfers?
        </div>

        <div class="line-container" id="Misoponus.60">
            <div class="line-character">
                Misopōnus
            </div>
            Mihi nihil est perīculī, iam numerātā pecūniā. Aliquid comminīscor, aut ollam fuisse īnsinceram, aut carbonēs vitiōsōs, aut ignem parum scītē temperātum. Dēnique pars est artis, quam profiteor, nōn diū haerēre in eōdem locō.
        </div>

        <div class="line-container" id="Irides.61">
            <div class="line-character">
                Īridēs
            </div>
            An tantus est prōventus istīus artis, ut tē possit alere?
        </div>

        <div class="line-container" id="Misoponus.62">
            <div class="line-character">
                Misopōnus
            </div>
            Et quidem splendidē: posthāc tū quoque, sī sapīs, relinquēs istam miseriam, et nostrō accēdēs ōrdinī.
        </div>

        <div class="line-container" id="Irides.63">
            <div class="line-character">
                Īridēs
            </div>
            Immō citius illud agam, ut tē revōcem in nostrum ōrdinem.
        </div>

        <div class="line-container" id="Misoponus.64">
            <div class="line-character">
                Misopōnus
            </div>
            Ut volēns repetam, quod semel effūgī, ac dēseram bonum, quod invēnī?
        </div>

        <div class="line-container" id="Irides.65">
            <div class="line-character">
                Īridēs
            </div>
            Habet hoc nostra professiō, dulcēscit assuētūdine. Proinde quum multī sint, quī dēficiant ab īnstitūtō Franciscī aut Benēdictī; quem umquam vīdistī, quī diūtius versātus in ōrdine nostrō dēfēcerit? Nam tam paucīs mēnsibus vix gustāre poterās, quid esset mendīcitās.
        </div>

        <div class="line-container" id="Misoponus.66">
            <div class="line-character">
                Misopōnus
            </div>
            Is gustus mē docuit, esse rem omnium miserrimam.
        </div>

        <div class="line-container" id="Irides.67">
            <div class="line-character">
                Īridēs
            </div>
            Cūr igitur nēmō dēficit?
        </div>

        <div class="line-container" id="Misoponus.68">
            <div class="line-character">
                Misopōnus
            </div>
            Fortasse quia nātūrā miserī sunt.
        </div>

        <div class="line-container" id="Irides.69">
            <div class="line-character">
                Īridēs
            </div>
            Ego hanc miseriam nē cum rēgum quidem fortūnā commūtārim. Nihil enim rēgnō similius, quam mendīcitās.
        </div>

        <div class="line-container" id="Misoponus.70">
            <div class="line-character">
                Misopōnus
            </div>
            Quid ego audiō? nihil nīvī similius, quam carbō.
        </div>

        <div class="line-container" id="Irides.71">
            <div class="line-character">
                Īridēs
            </div>
            Dīc mihi, quā rē potissimum beātī sunt rēgēs?
        </div>

        <div class="line-container" id="Misoponus.72">
            <div class="line-character">
                Misopōnus
            </div>
            Quia faciunt, quod animō collubitum est.
        </div>

        <div class="line-container" id="Irides.73">
            <div class="line-character">
                Īridēs
            </div>
            Ista lībertās, quā nihil suāvius, nēminī rēgum magis adest, quam nōbīs. Nec dubitō, quīn multī rēgēs sint, quī nōbīs invideant. Sīve bellum est, sīve pāx, nōs tūtō vīvimus: nōn dēscrībimur ad mīlitiam, nōn vocāmur ad mūnia pūblica, nōn cēnsēmur:<a href="#footnote.9"><sup>(9)</sup></a> quum populus expīlātur exāctiōnibus, nūllus inquīrit in vītam nostram: sī quid admissum est etiam ātrōcius, quis dignētur in iūs vocāre mendicum? Etiam sī pulsāmus hominem, pudet pūgnāre cum mendicō. Rēgibus nec in pāce nec in bellō licet suāviter agere; et quō maiōrēs sunt, hoc plūrēs metuunt. Nōs, velutī deō sacrōs, etiam religiōne quādam metuit vulgus offendere.
        </div>

        <div class="line-container" id="Misoponus.74">
            <div class="line-character">
                Misopōnus
            </div>
            Sed interim sordēscitis in pannīs et cāsulīs.
        </div>

        <div class="line-container" id="Irides.75">
            <div class="line-character">
                Īridēs
            </div>
            Quid ista faciunt ad vēram fēlīcitātem? Extra hominem sunt, quae narrās. Hīs pannīs dēbēmus nostram fēlīcitātem.
        </div>

        <div class="line-container" id="Misoponus.76">
            <div class="line-character">
                Misopōnus
            </div>
            At vereor nē vōbīs brevī peritūra sit fēlīcitātis ipsius bona pars.
        </div>

        <div class="line-container" id="Irides.77">
            <div class="line-character">
                Īridēs
            </div>
            Quī sīc?
        </div>

        <div class="line-container" id="Misoponus.78">
            <div class="line-character">
                Misopōnus
            </div>
            Quia iam hoc mussant cīvitātēs, nē mendicīs līberum sit quō libet ēvagārī, sed ūnaquaeque cīvitās suōs alat mendicōs, et in hīs quī valent, adigantur ad labōrem.
        </div>

        <div class="line-container" id="Irides.79">
            <div class="line-character">
                Īridēs
            </div>
            Cūr hoc moliuntur?
        </div>

        <div class="line-container" id="Misoponus.80">
            <div class="line-character">
                Misopōnus
            </div>
            Quia comperiunt, ingentia facīnora sub mendīcitātis praetextū perpetrārī; deinde nōn minimam perniciem ex vestrō ōrdine nāscī.
        </div>

        <div class="line-container" id="Irides.81">
            <div class="line-character">
                Īridēs
            </div>
            Istīusmodī fābulās frequenter audīvī. Id fiet ad Calendās Graecās.
        </div>

        <div class="line-container" id="Misoponus.82">
            <div class="line-character">
                Misopōnus
            </div>
            Fortasse citius, quam vellēs.
        </div>

        <h3>Footnotes</h3>

        <div class="footnote" id="footnote.1">
            <a href="#Irides.1">(1)</a>. Id est, sermō dē mendicīs.
        </div>

        <div class="footnote" id="footnote.2">
            <a href="#Irides.1">(1)</a>. <em>Īridēs</em>: Velut Īrī fīlius quem mendicum indūcit Ulyssēs.
        </div>

        <div class="footnote" id="footnote.3">
            <a href="#Irides.1">(2)</a>. <em>Misopōnus</em>: Ōsor labōrum.
        </div>

        <div class="footnote" id="footnote.4">
            <a href="#Irides.19">(3)</a>. <em>Laverna</em>: Dea fūrum.
        </div>

        <div class="footnote" id="footnote.5">
            <a href="#Misoponus.22">(4)</a>. <em>Peniam</em>: Paupertās Dea apud Aristophanem.
        </div>

        <div class="footnote" id="footnote.6">
            <a href="#Misoponus.44">(5)</a>. <em>Lārum</em>: Vide prōverbium, Lārus hiāns.
        </div>

        <div class="footnote" id="footnote.7">
            <a href="#Misoponus.44">(6)</a>. <em>Ēscam</em>: Esca, δέλεαρ, quae capiuntur piscēs et avēs.
        </div>

        <div class="footnote" id="footnote.8">
            <a href="#Misoponus.50">(7)</a>. <em>Lȳdium lapidem</em>: Lȳdius lapis vocātur cotīcula quae explōrant aurum.
        </div>

        <div class="footnote" id="footnote.9">
            <a href="#Irides.73">(8)</a>. <em>Cēnsēmur</em>: Unde et cēnsus dīcitur, quum numerātīs singulīs ac facultātibus aestimātīs, indīcitur exāctiō.
        </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
    </div>
</body>