---
title: Colloquia Scholastica - Liber Secundus - Colloquium Vicesimum Quintum
subtitle:
type: Colloquium
author: Corderius
collection: Colloquia Scholastica Liber Secundus
topic: Waking Up
difficulty: Moderate
sequence: "100"
character_count: 2
permalink: /corderius/colloquia-scholastica-liber-secundus-colloquium-vicesimum-quintum/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/style-reading.css" />
  
</head>

<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Fontetius, Curtētus
    </div>

    <div class="line-container" id="Fontetius.1">
      <div class="line-character">Fontetius</div>
      Quandō reditūrus est Blasius?
    </div>

    <div class="line-container" id="Curtetus.2">
      <div class="line-character">Curtētus</div>
      Nōn certō sciō; fortasse diē crāstinō: sed cūr istud rogās?
    </div>

    <div class="line-container" id="Fontetius.3">
      <div class="line-character">Fontetius</div>
      Quia sēcum abstulit catalogum, et praeceptor īrāscētur, sī nēmō sit quī
      recitet.
    </div>

    <div class="line-container" id="Curtetus.4">
      <div class="line-character">Curtētus</div>
      Relinque mihi istam cūram: habeō catalogī exemplum.
    </div>

    <div class="line-container" id="Fontetius.5">
      <div class="line-character">Fontetius</div>
      Recitābis igitur?
    </div>

    <div class="line-container" id="Curtetus.6">
      <div class="line-character">Curtētus</div>
      Recitābō.
    </div>

    <div class="line-container" id="Fontetius.7">
      <div class="line-character">Fontetius</div>
      Bene faciēs, et noster Blasius referet grātiam; sīquā sē offeret occāsiō.
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

   <div class="footer">
     <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
   </div>
</body>
