---
title: Colloquia Scholastica - Liber Secundus - Colloquium Quinquagesimum Sextum
subtitle:
type: Colloquium
author: Corderius
collection: Colloquia Scholastica Liber Secundus
topic: Waking Up
difficulty: Moderate
sequence: "131"
character_count: 2
permalink: /corderius/colloquia-scholastica-liber-secundus-colloquium-quinquagesimum-sextum/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/style-reading.css" />
  
</head>

<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Stratānus, Theobaldus
    </div>

    <div class="line-container" id="Stratanus.1">
      <div class="line-character">Stratānus</div>
      Quae sunt arborēs in hortō vestrō?
    </div>

    <div class="line-container" id="Theobaldus.2">
      <div class="line-character">Theobaldus</div>
      Hortum habēmus suburbānum, in quō sunt olera, quibus vēscimur quotīdiē;
      praetereā sunt in fundō nostrō bīnī hortī variīs arboribus cōnsitī.
    </div>

    <div class="line-container" id="Stratanus.3">
      <div class="line-character">Stratānus</div>
      In hortō quae sunt olera?
    </div>

    <div class="line-container" id="Theobaldus.4">
      <div class="line-character">Theobaldus</div>
      Dē hōc māter melius respondēre posset. Nam illīc saepe versātur aut
      serendī causā, aut sarriendī, aut aliquid colligendī.
    </div>

    <div class="line-container" id="Stratanus.5">
      <div class="line-character">Stratānus</div>
      Sed tamen dīc mihi aliquot olerum nōmina.
    </div>

    <div class="line-container" id="Theobaldus.6">
      <div class="line-character">Theobaldus</div>
      Parum prōdesset nōmina tibi recēnsēre, nisi rēs ipsās vidērēs: quīn eāmus
      in rem praesentem.
    </div>

    <div class="line-container" id="Stratanus.7">
      <div class="line-character">Stratānus</div>
      Potes īre quandō libet?
    </div>

    <div class="line-container" id="Theobaldus.8">
      <div class="line-character">Theobaldus</div>
      Possum quidem, mātre permittente.
    </div>

    <div class="line-container" id="Stratanus.9">
      <div class="line-character">Stratānus</div>
      Fac amābō permittat; sed eā lēge ut mē tibi comitem assūmās.
    </div>

    <div class="line-container" id="Theobaldus.10">
      <div class="line-character">Theobaldus</div>
      Id facillimē fīet; tantum hīc mē exspectēs: mox redierō.
    </div>

    <div class="line-container" id="Stratanus.11">
      <div class="line-character">Stratānus</div>
      Quid sī ea domī nōn est?
    </div>

    <div class="line-container" id="Theobaldus.12">
      <div class="line-character">Theobaldus</div>
      Tamen hoc tibi renūnciābō.
    </div>

    <div class="line-container" id="Stratanus.13">
      <div class="line-character">Stratānus</div>
      Bene vertat Deus.
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

   <div class="footer">
     <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
   </div>
</body>
