---
title: Colloquia Scholastica - Liber Secundus - Colloquium Quinquagesimum Tertium
subtitle:
type: Colloquium
author: Corderius
collection: Colloquia Scholastica Liber Secundus
topic: Waking Up
difficulty: Moderate
sequence: "128"
character_count: 2
permalink: /corderius/colloquia-scholastica-liber-secundus-colloquium-quinquagesimum-tertium/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/style-reading.css" />
  
</head>

<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Dionȳsius, Guilielmus
    </div>

    <div class="line-container" id="Dionysius.1">
      <div class="line-character">Dionȳsius</div>
      Grātulor tibi reditum, Guilielme: quandō redistī rūre?
    </div>

    <div class="line-container" id="Guilielmus.2">
      <div class="line-character">Guilielmus</div>
      Heri post merīdiem.
    </div>

    <div class="line-container" id="Dionysius.3">
      <div class="line-character">Dionȳsius</div>
      Quid māter?
    </div>

    <div class="line-container" id="Guilielmus.4">
      <div class="line-character">Guilielmus</div>
      Quemadmodum illa mē sēcum dūxerat, ita redūxit.
    </div>

    <div class="line-container" id="Dionysius.5">
      <div class="line-character">Dionȳsius</div>
      Nōnne venit in equō?
    </div>

    <div class="line-container" id="Guilielmus.6">
      <div class="line-character">Guilielmus</div>
      Et quidem tolūtāriō.
    </div>

    <div class="line-container" id="Dionysius.7">
      <div class="line-character">Dionȳsius</div>
      Tū vērō?
    </div>

    <div class="line-container" id="Guilielmus.8">
      <div class="line-character">Guilielmus</div>
      Quid rogās? eram illī ā pedibus.
    </div>

    <div class="line-container" id="Dionysius.9">
      <div class="line-character">Dionȳsius</div>
      Nōn tibi fuit molestus labor itineris?
    </div>

    <div class="line-container" id="Guilielmus.10">
      <div class="line-character">Guilielmus</div>
      Nūlla mihi fuit via difficilis, adeō erat iūcunda in urbem reditiō. Quid
      quaeris? Nōluissem eques venīre.
    </div>

    <div class="line-container" id="Dionysius.11">
      <div class="line-character">Dionȳsius</div>
      Quantum distat hinc villa vestra?
    </div>

    <div class="line-container" id="Guilielmus.12">
      <div class="line-character">Guilielmus</div>
      Quātuor milliāribus, iīsque nōn admodum longīs.
    </div>

    <div class="line-container" id="Dionysius.13">
      <div class="line-character">Dionȳsius</div>
      Sed iam satis dē reditū: nunc aliud agāmus. Fuistīne memor prōmissī tuī?
      num redistī vacuus?
    </div>

    <div class="line-container" id="Guilielmus.14">
      <div class="line-character">Guilielmus</div>
      Attulī ūvārum quantum potuī.
    </div>

    <div class="line-container" id="Dionysius.15">
      <div class="line-character">Dionȳsius</div>
      Quantum igitur?
    </div>

    <div class="line-container" id="Guilielmus.16">
      <div class="line-character">Guilielmus</div>
      Quasillum.
    </div>

    <div class="line-container" id="Dionysius.17">
      <div class="line-character">Dionȳsius</div>
      Hui! quasillum? tibi igitur ūnī.
    </div>

    <div class="line-container" id="Guilielmus.18">
      <div class="line-character">Guilielmus</div>
      Īmō nōbīs duōbus.
    </div>

    <div class="line-container" id="Dionysius.19">
      <div class="line-character">Dionȳsius</div>
      Quid duōbus tantillum?
    </div>

    <div class="line-container" id="Guilielmus.20">
      <div class="line-character">Guilielmus</div>
      Nōn poteram ferre amplius prō vīribus corpusculī meī. Quod sī rōbustus
      essem, asinī onus asportāssem; māter enim facile permittēbat.
    </div>

    <div class="line-container" id="Dionysius.21">
      <div class="line-character">Dionȳsius</div>
      Quam vellem adfuisse!
    </div>

    <div class="line-container" id="Guilielmus.22">
      <div class="line-character">Guilielmus</div>
      Ego et māter tē plūrimum dēsīderāvimus. Sed ēsto animō bonō, ea relīquit
      famulum rūrī, quī amplissimā corbe onustus veniet: tum illa tibi dabit
      affatim.
    </div>

    <div class="line-container" id="Dionysius.23">
      <div class="line-character">Dionȳsius</div>
      Aha, nunc optāta loqueris, mī Guilielme.
    </div>

    <div class="line-container" id="Guilielmus.24">
      <div class="line-character">Guilielmus</div>
      Eāmus domum ad nōs, vidēbis quasillum nostrum adhūc (ut spērō) integrum.
    </div>

    <div class="line-container" id="Dionysius.25">
      <div class="line-character">Dionȳsius</div>
      Ō lepidum caput! nam et cupiēbam īre salūtātum mātrem tuam mihi
      chārissimam.
    </div>

    <div class="line-container" id="Guilielmus.26">
      <div class="line-character">Guilielmus</div>
      Profectō illī grātissimum fēceris.
    </div>

    <div class="line-container" id="Dionysius.27">
      <div class="line-character">Dionȳsius</div>
      Eāmus igitur.
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

   <div class="footer">
     <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
   </div>
</body>
