---
title: Colloquia Scholastica - Liber Secundus - Colloquium Duodecimum
subtitle:
type: Colloquium
author: Corderius
collection: Colloquia Scholastica Liber Secundus
topic: Waking Up
difficulty: Moderate
sequence: "087"
character_count: 2
permalink: /corderius/colloquia-scholastica-liber-secundus-colloquium-duodecimum/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/style-reading.css" />
  
</head>

<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Cleophilus, Melchisedech
    </div>

    <div class="line-container" id="Cleophilus.1">
      <div class="line-character">Cleophilus</div>
      Ecquid habēs nōvī?
    </div>

    <div class="line-container" id="Melchisedech.2">
      <div class="line-character">Melchisedech</div>
      Accēpī līterās ā patre, quī Lugdūnī habitat.
    </div>

    <div class="line-container" id="Cleophilus.3">
      <div class="line-character">Cleophilus</div>
      Quandō accēpistī?
    </div>

    <div class="line-container" id="Melchisedech.4">
      <div class="line-character">Melchisedech</div>
      Heri sub noctem.
    </div>

    <div class="line-container" id="Cleophilus.5">
      <div class="line-character">Cleophilus</div>
      Quis attulit?
    </div>

    <div class="line-container" id="Melchisedech.6">
      <div class="line-character">Melchisedech</div>
      Piscārius.
    </div>

    <div class="line-container" id="Cleophilus.7">
      <div class="line-character">Cleophilus</div>
      Quidnam intellēxistī ex istīs līterīs?
    </div>

    <div class="line-container" id="Melchisedech.8">
      <div class="line-character">Melchisedech</div>
      Omnia bene illīc habēre, quod ad Ēvangelium pertinet.
    </div>

    <div class="line-container" id="Cleophilus.9">
      <div class="line-character">Cleophilus</div>
      Vērane praedicās?
    </div>

    <div class="line-container" id="Melchisedech.10">
      <div class="line-character">Melchisedech</div>
      Exspectā, līterās ipsās ostendam tibi ā prandiō.
    </div>

    <div class="line-container" id="Cleophilus.11">
      <div class="line-character">Cleophilus</div>
      Est profectō quod nostrīs frātribus grātulēmur.
    </div>

    <div class="line-container" id="Melchisedech.12">
      <div class="line-character">Melchisedech</div>
      Scīlicet, quodque Deō nostrō grātiās maximās agāmus.
    </div>

    <div class="line-container" id="Cleophilus.13">
      <div class="line-character">Cleophilus</div>
      Id quidem praestāre dēbēmus omnī tempore; sed nunc maximē, cum audīmus ea
      quae ad glōriam eius prae pertinent.
    </div>

    <div class="line-container" id="Melchisedech.14">
      <div class="line-character">Melchisedech</div>
      Utinam hoc semper habeāmus in memoriā.
    </div>

    <div class="line-container" id="Cleophilus.15">
      <div class="line-character">Cleophilus</div>
      Commūnicābis igitur mēcum tuās līterās?
    </div>

    <div class="line-container" id="Melchisedech.16">
      <div class="line-character">Melchisedech</div>
      Ut prōmīsī.
    </div>

    <div class="line-container" id="Cleophilus.17">
      <div class="line-character">Cleophilus</div>
      Ergō post prandium.
    </div>

    <div class="line-container" id="Melchisedech.18">
      <div class="line-character">Melchisedech</div>
      Etiam dubitās?
    </div>

    <div class="line-container" id="Cleophilus.19">
      <div class="line-character">Cleophilus</div>
      Intereā valē.
    </div>

    <div class="line-container" id="Melchisedech.20">
      <div class="line-character">Melchisedech</div>
      Valē, et salvē, Cleophile.
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

   <div class="footer">
     <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
   </div>
</body>
