---
title: Colloquia Scholastica - Liber Secundus - Colloquium Unum et Quinquagesimum
subtitle:
type: Colloquium
author: Corderius
collection: Colloquia Scholastica Liber Secundus
topic: Waking Up
difficulty: Moderate
sequence: "126"
character_count: 2
permalink: /corderius/colloquia-scholastica-liber-secundus-colloquium-unum-et-quinquagesimum/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/style-reading.css" />
  
</head>

<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Sylvius, Lūdovīcus
    </div>

    <div class="line-container" id="Sylvius.1">
      <div class="line-character">Sylvius</div>
      Quid trīstis es, Lūdovīce?
    </div>

    <div class="line-container" id="Ludovicus.2">
      <div class="line-character">Lūdovīcus</div>
      Aegrōtō.
    </div>

    <div class="line-container" id="Sylvius.3">
      <div class="line-character">Sylvius</div>
      Quid morbī est?
    </div>

    <div class="line-container" id="Ludovicus.4">
      <div class="line-character">Lūdovīcus</div>
      Nesciō.
    </div>

    <div class="line-container" id="Sylvius.5">
      <div class="line-character">Sylvius</div>
      Sed tamen estne gravis morbus?
    </div>

    <div class="line-container" id="Ludovicus.6">
      <div class="line-character">Lūdovīcus</div>
      Nōn admodum, grātia Deō.
    </div>

    <div class="line-container" id="Sylvius.7">
      <div class="line-character">Sylvius</div>
      Quidnam tibi dolet?
    </div>

    <div class="line-container" id="Ludovicus.8">
      <div class="line-character">Lūdovīcus</div>
      Caput.
    </div>

    <div class="line-container" id="Sylvius.9">
      <div class="line-character">Sylvius</div>
      Quid? tōtumne caput?
    </div>

    <div class="line-container" id="Ludovicus.10">
      <div class="line-character">Lūdovīcus</div>
      Nōn certē.
    </div>

    <div class="line-container" id="Sylvius.11">
      <div class="line-character">Sylvius</div>
      Quid ergō? utrum sinciput, an occiput?
    </div>

    <div class="line-container" id="Ludovicus.12">
      <div class="line-character">Lūdovīcus</div>
      Haec pars anterior.
    </div>

    <div class="line-container" id="Sylvius.13">
      <div class="line-character">Sylvius</div>
      Est ergō sinciput.
    </div>

    <div class="line-container" id="Ludovicus.14">
      <div class="line-character">Lūdovīcus</div>
      Quid igitur faciam?
    </div>

    <div class="line-container" id="Sylvius.15">
      <div class="line-character">Sylvius</div>
      Quiēsce; bene mox sānus eris. Sīc enim ā mātre accēpī, Nūllum esse
      praesentius remedium capitis dolōribus quam quiētem.
    </div>

    <div class="line-container" id="Ludovicus.16">
      <div class="line-character">Lūdovīcus</div>
      Atquī sunt variī morbī capitis.
    </div>

    <div class="line-container" id="Sylvius.17">
      <div class="line-character">Sylvius</div>
      Et varia fortasse remedia: sed quid est facilius quam id tentāre quod dīxī
      tibi?
    </div>

    <div class="line-container" id="Ludovicus.18">
      <div class="line-character">Lūdovīcus</div>
      Experīrī quidem nihil (ut spērō) nocēbit: sed ubi quiēscam?
    </div>

    <div class="line-container" id="Sylvius.19">
      <div class="line-character">Sylvius</div>
      Domī vestrae, in lectō.
    </div>

    <div class="line-container" id="Ludovicus.20">
      <div class="line-character">Lūdovīcus</div>
      Māter nōn sinet.
    </div>

    <div class="line-container" id="Sylvius.21">
      <div class="line-character">Sylvius</div>
      Īmō, sī dīxeris tē aegrōtāre.
    </div>

    <div class="line-container" id="Ludovicus.22">
      <div class="line-character">Lūdovīcus</div>
      Atquī mē putābit simulāre.
    </div>

    <div class="line-container" id="Sylvius.23">
      <div class="line-character">Sylvius</div>
      Fierī potest: sed quid dubitās perīculum facere?
    </div>

    <div class="line-container" id="Ludovicus.24">
      <div class="line-character">Lūdovīcus</div>
      Bonum cōnsilium.
    </div>

    <div class="line-container" id="Sylvius.25">
      <div class="line-character">Sylvius</div>
      Ūtēre, sī vīs.
    </div>

    <div class="line-container" id="Ludovicus.26">
      <div class="line-character">Lūdovīcus</div>
      Faciam profectō.
    </div>

    <div class="line-container" id="Sylvius.27">
      <div class="line-character">Sylvius</div>
      Enimvērō, sī sapis.
    </div>

    <div class="line-container" id="Ludovicus.28">
      <div class="line-character">Lūdovīcus</div>
      Sed ūnum restat.
    </div>

    <div class="line-container" id="Sylvius.29">
      <div class="line-character">Sylvius</div>
      Quid est?
    </div>

    <div class="line-container" id="Ludovicus.30">
      <div class="line-character">Lūdovīcus</div>
      Impetranda ā praeceptōre venia.
    </div>

    <div class="line-container" id="Sylvius.31">
      <div class="line-character">Sylvius</div>
      Adī, et pete.
    </div>

    <div class="line-container" id="Ludovicus.32">
      <div class="line-character">Lūdovīcus</div>
      Quid sī nōlit dare?
    </div>

    <div class="line-container" id="Sylvius.33">
      <div class="line-character">Sylvius</div>
      Īmō facillimē.
    </div>

    <div class="line-container" id="Ludovicus.34">
      <div class="line-character">Lūdovīcus</div>
      Quī scīs istud?
    </div>

    <div class="line-container" id="Sylvius.35">
      <div class="line-character">Sylvius</div>
      Quia satis est crēdulus nōbīs, nisi quī aliquotiēs illum fefellērunt.
    </div>

    <div class="line-container" id="Ludovicus.36">
      <div class="line-character">Lūdovīcus</div>
      Nunquam sciēns illum fefellī.
    </div>

    <div class="line-container" id="Sylvius.37">
      <div class="line-character">Sylvius</div>
      Ītō igitur fīdenter.
    </div>

    <div class="line-container" id="Ludovicus.38">
      <div class="line-character">Lūdovīcus</div>
      Nunc eō.
    </div>

    <div class="line-container" id="Sylvius.39">
      <div class="line-character">Sylvius</div>
      Sed heus, prius meditāre quid sīs dictūrus, nē forte loquendō haereās.
    </div>

    <div class="line-container" id="Ludovicus.40">
      <div class="line-character">Lūdovīcus</div>
      Bene monēs; nōn accēdam imparātus.
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

   <div class="footer">
     <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
   </div>
</body>
