---
layout: default
title: Authors
---

<h1>Auctores</h1>

<p>
Ecce, elige auctorem:
</p>

{% assign authors = site.pages.authors %}
{% for author in authors %}
<li><a href="{{ site.baseurl }}/pages/authors/author">{{ page.title }}</a></li>
{% endfor %}


<!-- Debug output
<h2>Debug Information</h2>
<pre>
{% for doc in site.colloquia %}
  Title: {{ doc.title }} - Author: {{ doc.author }}
{% else %}
  No documents found in colloquia collection.
{% endfor %}
</pre>

Authors list -->
<!-- <ul>
{% assign authors = site.colloquia.docs | map: 'author' | uniq | sort %}
{% for author in authors %}
  {% if author %}
    <li><a href="{{ site.baseurl }}/author/{{ author | slugify }}">{{ author }}</a></li>
  {% endif %}
{% endfor %}
</ul> -->


