---
title: Latine Loquor - Liber Quīntus - Colloquium Vīcēsimum Sextum
subtitle: "Dē quōdam convīviō. Quī convīvae, quae ferculōrum varietās et cōpia, quī ōrdō fuerit, etc. Notātur obiter convīviōrum luxus. Obiūrgātur ipse convīvātor dē luxū."
type: Colloquium
author: Schwieder
collection: Latine Loquor Liber Quintus
topic:
- Meals & Food
difficulty: Challenging
sequence: '026'
character_count: 2
permalink: /schwieder/latine-loquor-5-26/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
  <link rel="stylesheet" href="/style-reading.css" />

  <script src="/scripts/headroom.min.js"></script>
  <script src="/scripts/common.js"></script>
</head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"><b>Colloquia Latina</b></a>
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Remīgius, Stēphanus.
    </div>

    <div class="line-container" id="Remigius.1">
      <div class="line-character">Remīgius</div>
      Quid est, quod hodiē tam citō ā patruō redierīs, praesertim cum fuerit convīvium?
    </div>

    <div class="line-container" id="Stephanus.2">
      <div class="line-character">Stēphanus</div>
      Quid illīc facerem diūtius?
    </div>

    <div class="line-container" id="Remigius.3">
      <div class="line-character">Remīgius</div>
      Cēnam dēbuistī exspectāre, ut ēderēs dē prandiī reliquiīs.
    </div>

    <div class="line-container" id="Stephanus.4">
      <div class="line-character">Stēphanus</div>
      Satis ēderam in prandiō. Praetereā iussit patruus, ut domum redūcerem praeceptōrem, quem ego ad convīvium dēdūxeram.
    </div>

    <div class="line-container" id="Remigius.5">
      <div class="line-character">Remīgius</div>
      Quid frāter tuus patruēlis? cūr in lūdum vōbīscum nōn rediit?
    </div>

    <div class="line-container" id="Stephanus.6">
      <div class="line-character">Stēphanus</div>
      Ā mātre retentus est ūnum aut alterum diem.
    </div>

    <div class="line-container" id="Remigius.7">
      <div class="line-character">Remīgius</div>
      Quam ob rem?
    </div>

    <div class="line-container" id="Stephanus.8">
      <div class="line-character">Stēphanus</div>
      Ut eī resarciantur vestīmenta.
    </div>

    <div class="line-container" id="Remigius.9">
      <div class="line-character">Remīgius</div>
      Haec est mulierum cūra. Sed age, quoniam nunc ōtiōsī sumus, narrā mihi, quaesō, aliquid dē convīviō.
    </div>

    <div class="line-container" id="Stephanus.10">
      <div class="line-character">Stēphanus</div>
      Quid dē illō scīre cupīs?
    </div>

    <div class="line-container" id="Remigius.11">
      <div class="line-character">Remīgius</div>
      Prīmum, quī convīvae fuerint: deinde quam lautum et opipārum convīvium.
    </div>

    <div class="line-container" id="Stephanus.12">
      <div class="line-character">Stēphanus</div>
      Convīvae fuērunt hī praecipuī: quattuor praefectī, alter ā praefectō urbis et aliī duo prīmae notae ē senātōrum numerō.
    </div>

    <div class="line-container" id="Remigius.13">
      <div class="line-character">Remīgius</div>
      Nostine?
    </div>

    <div class="line-container" id="Stephanus.14">
      <div class="line-character">Stēphanus</div>
      Dē faciē quidem, sed eōrum nōn teneō nōmina.
    </div>

    <div class="line-container" id="Remigius.15">
      <div class="line-character">Remīgius</div>
      Nūllīne praetereā?
    </div>

    <div class="line-container" id="Stephanus.16">
      <div class="line-character">Stēphanus</div>
      Duo item ex patruī meī familiāribus.
    </div>

    <div class="line-container" id="Remigius.17">
      <div class="line-character">Remīgius</div>
      Quotus accumbēbat praeceptor?
    </div>

    <div class="line-container" id="Stephanus.18">
      <div class="line-character">Stēphanus</div>
      Quotus esset, nōn observāvī: sed erat in mediā ferē mēnsā ē contrāriā parte patruī meī.
    </div>

    <div class="line-container" id="Remigius.19">
      <div class="line-character">Remīgius</div>
      Tū vērō?
    </div>

    <div class="line-container" id="Stephanus.20">
      <div class="line-character">Stēphanus</div>
      Hem! ineptē, quī istud rogēs! Egone homunciō cum tantīs virīs epulārer? Satis hōc mihi honōrificum fuit, quod ministrārem.
    </div>

    <div class="line-container" id="Remigius.21">
      <div class="line-character">Remīgius</div>
      Nūllaene erant mulierēs?
    </div>

    <div class="line-container" id="Stephanus.22">
      <div class="line-character">Stēphanus</div>
      Nūllae, praeter uxōrem patruī, quae quidem sedēbat in mēnsā extrēmā.
    </div>

    <div class="line-container" id="Remigius.23">
      <div class="line-character">Remīgius</div>
      Quid ita tam remōta?
    </div>

    <div class="line-container" id="Stephanus.24">
      <div class="line-character">Stēphanus</div>
      Sīc voluit ipsa, ut identidem commodius surgeret: propter ōrdinem ministeriī.
    </div>

    <div class="line-container" id="Remigius.25">
      <div class="line-character">Remīgius</div>
      Quid fīlius?
    </div>

    <div class="line-container" id="Stephanus.26">
      <div class="line-character">Stēphanus</div>
      Iūxtā mātrem assidēbat.
    </div>

    <div class="line-container" id="Remigius.27">
      <div class="line-character">Remīgius</div>
      Habeō dē convīvīs; nunc exspectō dē convīviō.
    </div>

    <div class="line-container" id="Stephanus.28">
      <div class="line-character">Stēphanus</div>
      Onus mihi valdē māgnum impōnīs ac difficile māximē propter memoriam, sed quandō, ut dīxistī, plūsculum ōtiī nāctī sumus hōc postmerīdiānō tempore, dabō equidem operam, ut aliquā ex parte expleam dēsīderium tuum.
    </div>

    <div class="line-container" id="Remigius.29">
      <div class="line-character">Remīgius</div>
      Pergrātum mihi fēcerīs.
    </div>

    <div class="line-container" id="Stephanus.30">
      <div class="line-character">Stēphanus</div>
      Eā tamen lēge, ut pār parī referās, sī quandō dābitur occāsiō.
    </div>

    <div class="line-container" id="Remigius.31">
      <div class="line-character">Remīgius</div>
      Dē hōc nihil est, quod dubitēs; incipe.
    </div>

    <div class="line-container" id="Stephanus.32">
      <div class="line-character">Stēphanus</div>
      At ego intereā sedēre volō, quia longa est nārrātiō.
    </div>

    <div class="line-container" id="Remigius.33">
      <div class="line-character">Remīgius</div>
      Eāmus sub pergulam, ut in umbrā commodius fābulēmur.
    </div>

    <div class="line-container" id="Stephanus.34">
      <div class="line-character">Stēphanus</div>
      Audī nunc iam.
    </div>

    <div class="line-container" id="Remigius.35">
      <div class="line-character">Remīgius</div>
      Quia, ut ais, longa est nārrātiō, dīc mihi prīmum, quotā hōrā accubitum est?
    </div>

    <div class="line-container" id="Stephanus.36">
      <div class="line-character">Stēphanus</div>
      Ferē decima.
    </div>

    <div class="line-container" id="Remigius.37">
      <div class="line-character">Remīgius</div>
      Quotā surrēctum?
    </div>

    <div class="line-container" id="Stephanus.38">
      <div class="line-character">Stēphanus</div>
      Paulō ante merīdiem.
    </div>

    <div class="line-container" id="Remigius.39">
      <div class="line-character">Remīgius</div>
      Sedēbantne omnēs commodē?
    </div>

    <div class="line-container" id="Stephanus.40">
      <div class="line-character">Stēphanus</div>
      Commodissimē.
    </div>

    <div class="line-container" id="Remigius.41">
      <div class="line-character">Remīgius</div>
      Nunc ad rem aggredere.
    </div>

    <div class="line-container" id="Stephanus.42">
      <div class="line-character">Stēphanus</div>
      Accipe igitur prōmulsīdem.
    </div>

    <div class="line-container" id="Remigius.43">
      <div class="line-character">Remīgius</div>
      Appōne cum volēs.
    </div>

    <div class="line-container" id="Stephanus.44">
      <div class="line-character">Stēphanus</div>
      In prīmīs apposita sunt tenella crūstula mellīta operis pīstōriī cum arōmātitē.
    </div>

    <div class="line-container" id="Remigius.45">
      <div class="line-character">Remīgius</div>
      Optimum sānē exōrdium, et ad conciliandōs animōs aptissimum.
    </div>

    <div class="line-container" id="Stephanus.46">
      <div class="line-character">Stēphanus</div>
      Omitte, quaesō, istās interpellātiōnēs, nē mihi perturbētur memoria.
    </div>

    <div class="line-container" id="Remigius.47">
      <div class="line-character">Remīgius</div>
      Posthāc nōn interpellābō, nisi quid opus erit requīrere.
    </div>

    <div class="line-container" id="Stephanus.48">
      <div class="line-character">Stēphanus</div>
      Secūtae sunt pernae salītae, hilla īnfūmāta, lūcānicae linguae būbulae, sāle quoque et fūmō indūrātae. Atque haec ad excitandam appetentiam, et sitim acuendam.
    </div>

    <div class="line-container" id="Remigius.49">
      <div class="line-character">Remīgius</div>
      Quasi vērō nōn satis acuātur sōlis aestū et fervōre.
    </div>

    <div class="line-container" id="Stephanus.50">
      <div class="line-character">Stēphanus</div>
      Sīc doctī solent facere convīvātōrēs.
    </div>

    <div class="line-container" id="Remigius.51">
      <div class="line-character">Remīgius</div>
      Istaec audiō libenter: praesertim cum exprimās omnia propriīs et significantibus verbīs. Perge porrō.
    </div>

    <div class="line-container" id="Stephanus.52">
      <div class="line-character">Stēphanus</div>
      Eōdem ōrdine interposita sunt acētāria ē lactūcīs capitātīs, ovium intestīna frīxa, minūtālia ex vitulīnā cum ōvōrum vitellīs integrīs. Et haec hāctenus dē praelūdiīs, quī missus prīmus fuit.
    </div>

    <div class="line-container" id="Remigius.53">
      <div class="line-character">Remīgius</div>
      Nihil interim bibitum est?
    </div>

    <div class="line-container" id="Stephanus.54">
      <div class="line-character">Stēphanus</div>
      Indigna homine quaestiō. Quis enim vīnō hīc parceret? vix trēs, et quidem strēnuissimī, fundendīs pōtibus sufficiēbāmus. Sed dē pōtibus agam posterius: sine mē cibōs expedīre.
    </div>

    <div class="line-container" id="Remigius.55">
      <div class="line-character">Remīgius</div>
      Age, sinō.
    </div>

    <div class="line-container" id="Stephanus.56">
      <div class="line-character">Stēphanus</div>
      In secundō missū haec ferē fuērunt: artocreās, pullī gallīnāceī ēlīxī cum lactūcīs, būbula, vervēcīna, vitulīna, suilla recēns salsa, iūs carnium cum ōvōrum vitellīs, crocō, et omphaciō suāvissimē condītum, aliquot item iūscula ex oleribus.
    </div>

    <div class="line-container" id="Remigius.57">
      <div class="line-character">Remīgius</div>
      Hīc plūs opīnor ablātum, quam ēsum fuisse: quia scīlicet assa exspectābantur.
    </div>

    <div class="line-container" id="Stephanus.58">
      <div class="line-character">Stēphanus</div>
      Vix mēnsam attigerant, cum illa tollere iussī sumus. Veniō igitur ad tertium missum, in quō assa haec fuērunt expōsita: pullī gallīnāceī, pullī columbīnī, anserculī fartilēs, et sūculae, item cunīculī, armī vervēcīnī, postrēmō ferīna duōrum generum, opere pīstōriō incrūstāta.
    </div>

    <div class="line-container" id="Remigius.59">
      <div class="line-character">Remīgius</div>
      Quid praetereā?
    </div>

    <div class="line-container" id="Stephanus.60">
      <div class="line-character">Stēphanus</div>
      Quid? hem, paene praetermīsī, duae perdicēs interiectae cum lepusculō, fabae viridēs frīxae, et pīsa cocta cum siliquīs.
    </div>

    <div class="line-container" id="Remigius.61">
      <div class="line-character">Remīgius</div>
      Nihilne piscium?
    </div>

    <div class="line-container" id="Stephanus.62">
      <div class="line-character">Stēphanus</div>
      In tempore admonēs. Erat tructa ingēns, quae dīvīsa fuerat in partēs quattuor, praeter caudam, praegrandis item lūcius ad eundem modum quadripartītus. Taceō minūtōs piscēs, et mediōcrēs, partim ēlīxōs, partim assātōs aut frīxōs, item cancrōs fluviātilēs, māgnō omnia numerō: Sed haec magis ad ostentātiōnem, quam ad necessitātem: dē iīs enim ferē nihil gustātum est.
    </div>

    <div class="line-container" id="Remigius.63">
      <div class="line-character">Remīgius</div>
      Ūnum mihi vidēris praetermīsisse.
    </div>

    <div class="line-container" id="Stephanus.64">
      <div class="line-character">Stēphanus</div>
      Quid est?
    </div>

    <div class="line-container" id="Remigius.65">
      <div class="line-character">Remīgius</div>
      Nūllīne erant intinctūs?
    </div>

    <div class="line-container" id="Stephanus.66">
      <div class="line-character">Stēphanus</div>
      Immō singulīs propemodum ferculīs addita erant scītissimī sapōris embammata, quae coquus ipse mīrō artificiō concinnaverat. Nec vērō dēfuēre cappārī in oleō et ācētō, māla citrea, olīvae condītīvae cum suā mūriā, ācētum rosāceum, et sūcus oxalidis.
    </div>

    <div class="line-container" id="Remigius.67">
      <div class="line-character">Remīgius</div>
      Ō quot et quanta gulae irrītāmenta!
    </div>

    <div class="line-container" id="Stephanus.68">
      <div class="line-character">Stēphanus</div>
      Adde etiam corporis et animī impedīmenta.
    </div>

    <div class="line-container" id="Remigius.69">
      <div class="line-character">Remīgius</div>
      Sed quis quaesō fuit ultimus āctus fābulae?
    </div>

    <div class="line-container" id="Stephanus.70">
      <div class="line-character">Stēphanus</div>
      Tandem cum iam nec carnēs nec piscēs ūllus ēderet, iubet patruus appōnī bellāria: in quibus haec fuērunt praecipua: cāseus recēns pinguissimus, itemque vetus multiplex, scrīblītae, placentae, oryza in lacte cocta, et saccharō bene condīta, persica praecocia, fīcus, cerasa, ūvae passae, tragēmata serōtīna, salgama multōrum generum, et alia, quae nunc mihi nōn occurrunt. Tanta dēnique fuit omnium esculentōrum afflūentia, ut mēnsa ipsa vix sustinēret. Quid quaerīs? quater aut quīnquiēs mūtātī sunt orbēs et quadrulae, cibōs crassōs et dūriōrēs māgnā ex parte integrōs in culīnam rettulimus: adeō paucī attigērunt propter dēlicātiōrum abundantiam et dīversitātem.
    </div>

    <div class="line-container" id="Remigius.71">
      <div class="line-character">Remīgius</div>
      Quid cōnfert tanta cibāriōrum abundantia et dīversitās?
    </div>

    <div class="line-container" id="Stephanus.72">
      <div class="line-character">Stēphanus</div>
      Ad gravandum stomachum, et morbōs complūrēs generandōs. Sed quid agās? sīc ferē hōc tempore vīvitur.
    </div>

    <div class="line-container" id="Remigius.73">
      <div class="line-character">Remīgius</div>
      Quī tālibus virīs convīvia faciunt, certāre videntur dē cōpiā, dē apparātū, dē splendōre et lautitā.
    </div>

    <div class="line-container" id="Stephanus.74">
      <div class="line-character">Stēphanus</div>
      Et tamen exstant inter huius urbis lēgēs quaedam, ut audīvī, sūmptuāriae.
    </div>

    <div class="line-container" id="Remigius.75">
      <div class="line-character">Remīgius</div>
      Silent lēgēs inter convīvia, ut obiter ē Cicerōne dētorqueāmus aliquid.
    </div>

    <div class="line-container" id="Stephanus.76">
      <div class="line-character">Stēphanus</div>
      An putās omnēs convīvās illā sumptuum immānitāte dēlectārī?
    </div>

    <div class="line-container" id="Remigius.77">
      <div class="line-character">Remīgius</div>
      Nōn putō, nisi forte sint lurcōnēs, aut asōtī, aut Apiciānī, ut ita dīcam, ventricolae. Cēterum quid est in causā?
    </div>

    <div class="line-container" id="Stephanus.78">
      <div class="line-character">Stēphanus</div>
      Rogās? convīvātōrum nōn modō stultitia, sed etiam īnsānia.
    </div>

    <div class="line-container" id="Remigius.79">
      <div class="line-character">Remīgius</div>
      Māxima pars hominum morbō iactātur eōdem, ut ait Horātius.
    </div>

    <div class="line-container" id="Stephanus.80">
      <div class="line-character">Stēphanus</div>
      Sed nōs hanc cēnsūram omittāmus, iūxtā prōverbium: Nē sūtor, etc.
    </div>

    <div class="line-container" id="Remigius.81">
      <div class="line-character">Remīgius</div>
      Redeāmus ad prōpositum. Quāle vīnum appositum est?
    </div>

    <div class="line-container" id="Stephanus.82">
      <div class="line-character">Stēphanus</div>
      Sī dē colōre quaerīs, album, nigrum, fulvum, sanguineum: dēque singulīs colōribus vīna multiplicia; sī dē bonitāte, omnia ferē generōsissima: sed imprīmīs commendābant illud vīnī genus ex Burgundiā.
    </div>

    <div class="line-container" id="Remigius.83">
      <div class="line-character">Remīgius</div>
      Unde hōc petēbātur?
    </div>

    <div class="line-container" id="Stephanus.84">
      <div class="line-character">Stēphanus</div>
      Ē patruī cellā vīnāriā.
    </div>

    <div class="line-container" id="Remigius.85">
      <div class="line-character">Remīgius</div>
      Habetne multum eiusmodī?
    </div>

    <div class="line-container" id="Stephanus.86">
      <div class="line-character">Stēphanus</div>
      Duo dōlia vīnī helvolī: duo item albī limpidissimī.
    </div>

    <div class="line-container" id="Remigius.87">
      <div class="line-character">Remīgius</div>
      Quis fuit prandiī exitus?
    </div>

    <div class="line-container" id="Stephanus.88">
      <div class="line-character">Stēphanus</div>
      Ubi videt patruus convīvās omnēs paene dēfessōs ēdendō, bibendō, colloquendō, tunc vīnum fundī iubet singulīs; omnēs ad extrēmum pōtum invītat: ipse vērō patruus clārā vōce agit grātiās ūniversō coetui: tandem prīmus praefectus, convīvārum nōmine, satis accūrātō sermōne pūblicās agit convīvātōrī grātiās: simul obiūrgat eum, quod tam magnificō et sūmptuōsō apparātū convīvātus fuerit. Immō, inquit patruus, mihi quaesō ignōscite, quod vōs prō dignitāte nōn satis ampliter tractāverim. Hīs dictīs: surgunt ē mēnsā omnēs: māgna pars valēdictō statim discēdit: cēterī manent, stantēs et colloquentēs in trīclīniō.
    </div>

    <div class="line-container" id="Remigius.89">
      <div class="line-character">Remīgius</div>
      Quid vōs intereā, quī ministrāverātis ad mēnsam?
    </div>

    <div class="line-container" id="Stephanus.90">
      <div class="line-character">Stēphanus</div>
      In culīnam ad prandium nōs recēpimus: corpus illīc ōtiōsē et ex animī sententiā cūrāvimus.
    </div>

    <div class="line-container" id="Remigius.91">
      <div class="line-character">Remīgius</div>
      Ubi erat interim praeceptor?
    </div>

    <div class="line-container" id="Stephanus.92">
      <div class="line-character">Stēphanus</div>
      Patruus illum seōrsum vocāverat ad colloquium.
    </div>

    <div class="line-container" id="Remigius.93">
      <div class="line-character">Remīgius</div>
      Crēdō, ut sē et fīlium suum commendāret.
    </div>

    <div class="line-container" id="Stephanus.94">
      <div class="line-character">Stēphanus</div>
      Illud est verīsimile.
    </div>

    <div class="line-container" id="Remigius.95">
      <div class="line-character">Remīgius</div>
      Nescīs, quae fuerit causa tantī convīviī?
    </div>

    <div class="line-container" id="Stephanus.96">
      <div class="line-character">Stēphanus</div>
      Quid mea scīre refert?
    </div>

    <div class="line-container" id="Remigius.97">
      <div class="line-character">Remīgius</div>
      Atquī nōn sum dialecticus.
    </div>

    <div class="line-container" id="Stephanus.98">
      <div class="line-character">Stēphanus</div>
      Sed age, dīc mihi sēriō, nōn ego tē tractāvī magnificē?
    </div>

    <div class="line-container" id="Remigius.99">
      <div class="line-character">Remīgius</div>
      Tālī convīviō numquam interfuī.
    </div>

    <div class="line-container" id="Stephanus.100">
      <div class="line-character">Stēphanus</div>
      Gaudeō stomachō tuō satis esse factum.
    </div>

    <div class="line-container" id="Remigius.101">
      <div class="line-character">Remīgius</div>
      Est Deī beneficiō, quī dedit nōbīs ōtium tam iūcundum.
    </div>

    <div class="line-container" id="Stephanus.102">
      <div class="line-character">Stēphanus</div>
      Surgāmus tandem, nam audiō adulēscentēs ā lūsū discēdere.
    </div>

    <h2>Ēlocūtiō</h2>
    <div class="elocutio">
      <ul>
        <li class="elocutio-entry">Ēdere dē prandiī reliquiīs.</li>
        <li class="elocutio-entry">Lautum et opipārum convīvium.</li>
        <li class="elocutio-entry">Vir prīmae notae ē senātōrum numerō.</li>
        <li class="elocutio-entry">Nōvī hunc dē faciē, sed nōn teneō nōmen ipsius.</li>
        <li class="elocutio-entry">Quotus tū accubuistī? ... tertius, quārtus.</li>
        <li class="elocutio-entry">Epulārī cum aliquō.</li>
        <li class="elocutio-entry">Sēdī in mēnsā extrēmā commodē, quō commodius surgerem.</li>
        <li class="elocutio-entry">Assidēre iūxtā mātrem, assidēre mātrī.</li>
        <li class="elocutio-entry">Aggredī ad aliquid ... aggredī causam.</li>
        <li class="elocutio-entry">Appōnere cibōs.</li>
        <li class="elocutio-entry">Conciliāre animum alicuius sibi.</li>
        <li class="elocutio-entry">Excitāre appetentiam.</li>
        <li class="elocutio-entry">Acuere sitim.</li>
        <li class="elocutio-entry">Exprimam verbīs significantibus et propriīs.</li>
        <li class="elocutio-entry">Ego sōlus fundendīs pōculīs nōn sufficiō.</li>
        <li class="elocutio-entry">Iūs male condītum.</li>
        <li class="elocutio-entry">Condīre cibōs.</li>
        <li class="elocutio-entry">Plūs dē mēnsā ablātum quam ēsum est.</li>
        <li class="elocutio-entry">Ā patre iussus sum tollere mēnsam ... pater iussit ut tollerem.</li>
        <li class="elocutio-entry">In secundō missū coquus exposuit assa.</li>
        <li class="elocutio-entry">Ferīna opere pīstōriō incrūstāta.</li>
        <li class="elocutio-entry">Embamma scītissimī sapōris.</li>
        <li class="elocutio-entry">Concinnnāre cibōs.</li>
        <li class="elocutio-entry">Mēnsa vix cibōs sustinēbit.</li>
        <li class="elocutio-entry">Mūtāre orbēs.</li>
        <li class="elocutio-entry">Referre cibōs integrōs in culīnam.</li>
        <li class="elocutio-entry">Gravāre stomachum cibīs crassīs et dūriōribus.</li>
        <li class="elocutio-entry">Generāre morbōs.</li>
        <li class="elocutio-entry">Facere convīvia alicuī.</li>
        <li class="elocutio-entry">Certāre dē cōpiā cibōrum ... pīgnōre certāre.</li>
        <li class="elocutio-entry">Silent lēgēs inter convīvia ... inter arma silent lēgēs.</li>
        <li class="elocutio-entry">Iactārī morbō.</li>
        <li class="elocutio-entry">Sternere, adōrnāre mēnsam ... īnsternere mēnsae tapētem.</li>
        <li class="elocutio-entry">Dare aquam lavandīs, abluendīs manibus.</li>
        <li class="elocutio-entry">Convīvārī magnificō et sūmptuōsō apparātū.</li>
        <li class="elocutio-entry">Tractāre prō dignitāte aliquem satis ampliter, magnificē.</li>
        <li class="elocutio-entry">Ministrāre ad mēnsam.</li>
        <li class="elocutio-entry">Recipere sē ad prandium.</li>
        <li class="elocutio-entry">Commendāre aliquem dē meliōre notā.</li>
      </ul>
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains 'files/'" %}
    {% assign neighbors = files | where: "type", "Colloquium" | where: "author", page.author | where: "collection", page.collection | sort: "sequence" %}
    {% assign prev_page = nil %}
    {% assign next_page = nil %}
    {% assign found_current = false %}
    {% for p in neighbors %}
      {% if found_current and next_page == nil %}{% assign next_page = p %}{% endif %}
      {% if p.url == page.url %}{% assign found_current = true %}{% endif %}
      {% if found_current == false %}{% assign prev_page = p %}{% endif %}
    {% endfor %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

  <div class="footer">
    <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
  </div>
</body>