---
title: Latine Loquor - Liber Quīntus - Colloquium Trīcēsimum Quīntum
subtitle: "Cōnfābulātiō dē profectiōnis in Ītaliam causā. Locōrum fāma et rērum novārum cupiditās nōs indūcunt ad peregrīnandum. Laus Ītaliae."
type: Colloquium
author: Schwieder
collection: Latine Loquor Liber Quintus
topic:
- Travel
- Family & Home
difficulty: Challenging
sequence: '035'
character_count: 2
permalink: /schwieder/latine-loquor-5-35/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
  <link rel="stylesheet" href="/style-reading.css" />

  <script src="/scripts/headroom.min.js"></script>
  <script src="/scripts/common.js"></script>
</head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"><b>Colloquia Latina</b></a>
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Alexander, Benīgnus.
    </div>

    <div class="line-container" id="Alexander.1">
      <div class="line-character">Alexander</div>
      Salvē, ambulātor optātissimē.
    </div>

    <div class="line-container" id="Benignus.2">
      <div class="line-character">Benīgnus</div>
      Et tū salvus sīs, cessātor occupātissimē.
    </div>

    <div class="line-container" id="Alexander.3">
      <div class="line-character">Alexander</div>
      Satisne rēctē valēs, mī Benīgne?
    </div>

    <div class="line-container" id="Benignus.4">
      <div class="line-character">Benīgnus</div>
      Immō rēctissimē, quae est Deī optimī māximī benīgnitās.
    </div>

    <div class="line-container" id="Alexander.5">
      <div class="line-character">Alexander</div>
      Equidem ex animō gaudeō: tibīque vehementer grātulor reditum istum incolumem; ubi fuistī hōc tōtō annō?
    </div>

    <div class="line-container" id="Benignus.6">
      <div class="line-character">Benīgnus</div>
      In Ītaliā.
    </div>

    <div class="line-container" id="Alexander.7">
      <div class="line-character">Alexander</div>
      Quam ob causam animum indūxerās illūc proficīscī?
    </div>

    <div class="line-container" id="Benignus.8">
      <div class="line-character">Benīgnus</div>
      Ob fāmam regiōnis: dē quā tam multa ubīque praedicantur. Nec ignōrās, quam sīmus rērum novārum cupidī.
    </div>

    <div class="line-container" id="Alexander.9">
      <div class="line-character">Alexander</div>
      Sīc est nātūrā comparātum: sed quid illīc invēnistī?
    </div>

    <div class="line-container" id="Benignus.10">
      <div class="line-character">Benīgnus</div>
      Certē multō plūra, quam ex fāmā audīveram.
    </div>

    <div class="line-container" id="Alexander.11">
      <div class="line-character">Alexander</div>
      Multa, crēdō, vīdistī.
    </div>

    <div class="line-container" id="Benignus.12">
      <div class="line-character">Benīgnus</div>
      Sed quod ad regiōnem attinet, terra est longē fertīlissima, omnī optimōrum frūctuum genere valdē abundāns, praecipuē vīnō praestantissimō.
    </div>

    <div class="line-container" id="Alexander.13">
      <div class="line-character">Alexander</div>
      Scīlicet ea potissimum rēs tibi arrīdēbat.
    </div>

    <div class="line-container" id="Benignus.14">
      <div class="line-character">Benīgnus</div>
      Ut vērum fatear, mīrē afficiēbat palātum.
    </div>

    <div class="line-container" id="Alexander.15">
      <div class="line-character">Alexander</div>
      Sed quid tandem ēgistī in Ītaliā?
    </div>

    <div class="line-container" id="Benignus.16">
      <div class="line-character">Benīgnus</div>
      Īnvīsī, animī grātiā, aliquot urbēs celebriōrēs: alicubī etiam studuī aliquamdiū.
    </div>

    <div class="line-container" id="Alexander.17">
      <div class="line-character">Alexander</div>
      Quās urbēs īnvīsistī potissimum?
    </div>

    <div class="line-container" id="Benignus.18">
      <div class="line-character">Benīgnus</div>
      Multās quidem vīdī in trānsitū: sed paucās contemplātus sum ōtiōsus; nimīrum Genuam, Flōrentiam, Venetiās, dēnique Rōmam illam, quae orbis terrārum caput dīcitur.
    </div>

    <div class="line-container" id="Alexander.19">
      <div class="line-character">Alexander</div>
      Vīdistīne Summum Pontificem?
    </div>

    <div class="line-container" id="Benignus.20">
      <div class="line-character">Benīgnus</div>
      Vīdī, cum in Templum Petriānum veherētur.
    </div>

    <div class="line-container" id="Alexander.21">
      <div class="line-character">Alexander</div>
      Vīsitāvistīne etiam stātiōnem rādiophonicam Vāticānam?
    </div>

    <div class="line-container" id="Benignus.22">
      <div class="line-character">Benīgnus</div>
      Ita sānē et ibi recordātus sum mātris meae, quae cotīdiē orandō comitātur rōsārium illinc ēmissum.
    </div>

    <div class="line-container" id="Alexander.23">
      <div class="line-character">Alexander</div>
      Spērō tē quoque interdum mātris tuae ōrantis socium esse.
    </div>

    <div class="line-container" id="Benignus.24">
      <div class="line-character">Benīgnus</div>
      Interdum sānē, sed fateor mē nōnnumquam circā eandem hōram aliās sequī cum amīcīs rādiō-ēmissiōnēs, tēlevīsiōnēs vel etiam spectācula cīnēmatōgraphica.
    </div>

    <div class="line-container" id="Alexander.25">
      <div class="line-character">Alexander</div>
      Tibi similis es! Sed dīgressī sumus. Revertāmur ad iter tuum. In quibus oppidīs commorātus es studiōrum grātiā?
    </div>

    <div class="line-container" id="Benignus.26">
      <div class="line-character">Benīgnus</div>
      Rōmā rediēns trānsiī Bonōniā, Pataviō, Mediōlānō. In hīs singulīs urbibus mēnsēs circiter trēs versātus sum in variō litterārum genere. Voluī enim ē singulīs paucula quasi dēgustāre.
    </div>

    <div class="line-container" id="Alexander.27">
      <div class="line-character">Alexander</div>
      Quid autem vīdistī novī in tot celeberrimīs urbibus?
    </div>

    <div class="line-container" id="Benignus.28">
      <div class="line-character">Benīgnus</div>
      Rogās? omnia ferē mihi nova vidēbantur: sed longum est omnia tibi nārrāre, praesertim nunc, cum mihi est aliquō properandum.
    </div>

    <div class="line-container" id="Alexander.29">
      <div class="line-character">Alexander</div>
      Quō tandem?
    </div>

    <div class="line-container" id="Benignus.30">
      <div class="line-character">Benīgnus</div>
      Ad patruum, quī mē ad cēnam invītāvit.
    </div>

    <div class="line-container" id="Alexander.31">
      <div class="line-character">Alexander</div>
      Nōlō igitur tē remorārī diūtius, sed quandō licēbit nōbīs magis ōtiōsē cōnfābulārī?
    </div>

    <div class="line-container" id="Benignus.32">
      <div class="line-character">Benīgnus</div>
      Crās post prandium, sī voluerīs.
    </div>

    <div class="line-container" id="Alexander.33">
      <div class="line-character">Alexander</div>
      Ego vērō id percupiō.
    </div>

    <div class="line-container" id="Benignus.34">
      <div class="line-character">Benīgnus</div>
      Ad hōram igitur prīmam exspectā mē in cubiculō.
    </div>

    <div class="line-container" id="Alexander.35">
      <div class="line-character">Alexander</div>
      Fiet, hōra est ad merendam opportūna.
    </div>

    <h2>Ēlocūtiō</h2>
    <div class="elocutio">
      <ul>
        <li class="elocutio-entry">Nōn satis rēctē valeō.</li>
        <li class="elocutio-entry">Variē valuī.</li>
        <li class="elocutio-entry">Rēctissimē valeō, quae Deī est benīgnitās.</li>
        <li class="elocutio-entry">Grātulor tibi reditum incolumem.</li>
        <li class="elocutio-entry">Nōn indūcō animum illīs crēdere.</li>
        <li class="elocutio-entry">Indūxī animum proficīscī Rōmam.</li>
        <li class="elocutio-entry">Rērum novārum cupiditās indūxit mē ad peregrīnandum.</li>
        <li class="elocutio-entry">Plūra vīdī Venetiīs, quam ex fāmā audīvī.</li>
        <li class="elocutio-entry">Terra frūctibus abundāns ... terra fertīlissima.</li>
        <li class="elocutio-entry">Comparāre aliquid alicuī ... aliquid cum aliquō ... quaedam inter sē.</li>
        <li class="elocutio-entry">Nūllō modō cum aliīs comparandus.</li>
        <li class="elocutio-entry">Offerre argūmentum.</li>
        <li class="elocutio-entry">Amāre ad dēliciās aliquem.</li>
        <li class="elocutio-entry">Terra suā sponte prōdūcit flōrēs.</li>
        <li class="elocutio-entry">Sūmere vīnum moderātē.</li>
        <li class="elocutio-entry">Afficī animō ita ... afficī dēlectātiōne ... metū ... praemiō.</li>
        <li class="elocutio-entry">Concipere cōgitātiōnēs.</li>
        <li class="elocutio-entry">Exstinguere īgnem.</li>
        <li class="elocutio-entry">Īnvīsere urbēs.</li>
        <li class="elocutio-entry">Rōma orbis terrārum caput dīcitur.</li>
        <li class="elocutio-entry">Trēs annōs circiter in variō litterārum genere versātus sum.</li>
        <li class="elocutio-entry">Aliquem trānsīre ... ad hostēs ... flūmen, mare ... silentiō.</li>
        <li class="elocutio-entry">Trānseat hōc.</li>
        <li class="elocutio-entry">Remorārī aliquem ā rē aliquā ... remorārī spem alicuius.</li>
        <li class="elocutio-entry">Īre in mīlitiam.</li>
        <li class="elocutio-entry">Est bellī, mīlitiae.</li>
        <li class="elocutio-entry">Valēdīcere litterīs.</li>
        <li class="elocutio-entry">Iam prīdem bibliopolae fīlium cēpit litterārum satietās.</li>
        <li class="elocutio-entry">Mātre invītā profectus est.</li>
        <li class="elocutio-entry">Lūdere āleā ... lātrūnculīs lūdere vel proelia lātrōnum lūdere; manubriātō rēticulō ac pilā lūdere; manubriātī rēticulī lūdās.</li>
        <li class="elocutio-entry">Āleam subīre.</li>
        <li class="elocutio-entry">Frāter revēnit ex Galliā ... rediit birōtā automātāriā, rhaedā automātāriā, autocīnētō, aerōnavī, vēlīvolō.</li>
        <li class="elocutio-entry">Sī rēctē meminit māter.</li>
        <li class="elocutio-entry">Excipere aliquem vultū serēnō, fronte serēnā ... aliquem hospitiō.</li>
        <li class="elocutio-entry">Excipere verba alicuius.</li>
        <li class="elocutio-entry">Nōn sustineō tē aspicere.</li>
        <li class="elocutio-entry">Sustinēre partēs cōnsulis ... aliquem auctōritāte suā.</li>
        <li class="elocutio-entry">Nec salūtātiōne nec alloquiō pater dignātus est fīlium.</li>
        <li class="elocutio-entry">Abī ē cōnspectū meō.</li>
        <li class="elocutio-entry">Hāc nocte contubernālis meus nōn cubuit domī nostrae.</li>
        <li class="elocutio-entry">Īra dēfervēscit.</li>
        <li class="elocutio-entry">Mītīgāre patrem īrātum.</li>
        <li class="elocutio-entry">Redīre cum aliquō in grātiam.</li>
        <li class="elocutio-entry">Excandēscere īrā.</li>
        <li class="elocutio-entry">Accipere aliquem graviter ... lēnīre īram ... cessātum est ā lūsū.</li>
      </ul>
    </div>

    <div class="finis">FĪNIS LIBRĪ QUĪNTĪ ET ULTIMĪ</div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains 'files/'" %}
    {% assign neighbors = files | where: "type", "Colloquium" | where: "author", page.author | where: "collection", page.collection | sort: "sequence" %}
    {% assign prev_page = nil %}
    {% assign next_page = nil %}
    {% assign found_current = false %}
    {% for p in neighbors %}
      {% if found_current and next_page == nil %}{% assign next_page = p %}{% endif %}
      {% if p.url == page.url %}{% assign found_current = true %}{% endif %}
      {% if found_current == false %}{% assign prev_page = p %}{% endif %}
    {% endfor %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

  <div class="footer">
    <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
  </div>
</body>