---
title: Puerilium Colloquiorum Formulae - Colloquium Septimum
subtitle: DUM ĪTUR AD SCHOLAM
type: Colloquium
author: Sebald Heyden
collection: Puerilium Colloquiorum Formulae
topic:
- School
difficulty: Moderate
sequence: '007'
character_count: 2
permalink: /sebald-heyden/puerilium_colloquiorum_formulae-colloquium-septimum/
---

<!doctype html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/style-reading.css" />
  
<script src="/scripts/headroom.min.js"></script>
    <script src="/scripts/common.js"></script>
  </head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Hannō, Iōannēs
    </div>

    <div class="line-container" id="Hannō.01">
      <div class="line-character">Hannō</div>
      <div class="line-bilingual">
        <div class="line-left">Hew, quid facimus?</div>
        <div class="line-right">Hee, que faisons nous?</div>
      </div>
    </div>

    <div class="line-container" id="Iōannēs.01">
      <div class="line-character">Iōannēs</div>
      <div class="line-bilingual">
        <div class="line-left">Cūr ita vōciferāris?</div>
        <div class="line-right">Pourquoy cries tu si haut?</div>
      </div>
    </div>

    <div class="line-container" id="Hannō.01">
      <div class="line-character">Hannō</div>
      <div class="line-bilingual">
        <div class="line-left">Plūs aequō dormīvī.</div>
        <div class="line-right">J'ay dormy trop longuement.</div>
      </div>
    </div>

    <div class="line-container" id="Iōannēs.01">
      <div class="line-character">Iōannēs</div>
      <div class="line-bilingual">
        <div class="line-left">Quid ita? Quid timēs?</div>
        <div class="line-right">Pourquoy cela? que crains tu?</div>
      </div>
    </div>

    <div class="line-container" id="Hannō.01">
      <div class="line-character">Hannō</div>
      <div class="line-bilingual">
        <div class="line-left">Tempus iūstum trānsiit.</div>
        <div class="line-right">Le temps ordinaire est passé.</div>
      </div>
    </div>

    <div class="line-container" id="Iōannēs.01">
      <div class="line-character">Iōannēs</div>
      <div class="line-bilingual">
        <div class="line-left">Quod tempus dīcis?</div>
        <div class="line-right">Quel temps dis-tu?</div>
      </div>
    </div>

    <div class="line-container" id="Hannō.01">
      <div class="line-character">Hannō</div>
      <div class="line-bilingual">
        <div class="line-left">Hōram prīmam.</div>
        <div class="line-right">L'heure premiere.</div>
      </div>
    </div>

    <div class="line-container" id="Iōannēs.01">
      <div class="line-character">Iōannēs</div>
      <div class="line-bilingual">
        <div class="line-left">Tū certē falleris.</div>
        <div class="line-right">Vrayement tu t'abuses.</div>
      </div>
    </div>

    <div class="line-container" id="Hannō.01">
      <div class="line-character">Hannō</div>
      <div class="line-bilingual">
        <div class="line-left">Tamen audīvī.</div>
        <div class="line-right">J'ay ic pourtant ouye sonner.</div>
      </div>
    </div>

    <div class="line-container" id="Iōannēs.01">
      <div class="line-character">Iōannēs</div>
      <div class="line-bilingual">
        <div class="line-left">Nōn rēctē audīvistī.</div>
        <div class="line-right">Tu as mal ouy.</div>
      </div>
    </div>

    <div class="line-container" id="Hannō.01">
      <div class="line-character">Hannō</div>
      <div class="line-bilingual">
        <div class="line-left">Et tū quam audīvistī?</div>
        <div class="line-right">Et toy quelle heure as tu ouy?</div>
      </div>
    </div>

    <div class="line-container" id="Iōannēs.01">
      <div class="line-character">Iōannēs</div>
      <div class="line-bilingual">
        <div class="line-left">Audīvī ultimam.</div>
        <div class="line-right">J'ay ouy la derniere.</div>
      </div>
    </div>

    <div class="line-container" id="Hannō.01">
      <div class="line-character">Hannō</div>
      <div class="line-bilingual">
        <div class="line-left">Quota ea est?</div>
        <div class="line-right">La quantiesme estoit ce?</div>
      </div>
    </div>

    <div class="line-container" id="Iōannēs.01">
      <div class="line-character">Iōannēs</div>
      <div class="line-bilingual">
        <div class="line-left">Duodecima.</div>
        <div class="line-right">La douziesme.</div>
      </div>
    </div>

    <div class="line-container" id="Hannō.01">
      <div class="line-character">Hannō</div>
      <div class="line-bilingual">
        <div class="line-left">Utinam vērum sit.</div>
        <div class="line-right">Dieu vueille qu'il soit ainsi.</div>
      </div>
    </div>

    <div class="line-container" id="Iōannēs.01">
      <div class="line-character">Iōannēs</div>
      <div class="line-bilingual">
        <div class="line-left">Nōn est quod dubitēt.</div>
        <div class="line-right">N'en say point de doute.</div>
      </div>
    </div>

    <div class="line-container" id="Hannō.01">
      <div class="line-character">Hannō</div>
      <div class="line-bilingual">
        <div class="line-left">Oppidō laetor.</div>
        <div class="line-right">J'en suis bien joyeus.</div>
      </div>
    </div>


    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>

    <!--Footer goes here-->
  </div>

   <div class="footer">
     <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
   </div>
</body>