---
title: Puerilium Colloquiorum Formulae - Colloquium Decimum
subtitle: DĒ CAVENDĪS IN SCHOLĀ CORȲCAEĪS
type: Colloquium
author: Heyden
collection: Puerilium Colloquiorum Formulae
topic:
- School
difficulty: Moderate
sequence: '010'
character_count: 2
permalink: /sebald-heyden/puerilium_colloquiorum_formulae-colloquium-decimum/
---

<!doctype html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/style-reading.css" />
  
<script src="/scripts/headroom.min.js"></script>
    <script src="/scripts/common.js"></script>
  </head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Lūcas, Marcus
    </div>

    <div class="line-container" id="Lucas.01">
      <div class="line-character">Lūcas</div>
      <div class="line-bilingual">
        <div class="line-left">Cūr tū sīc mūsitās?</div>
        <div class="line-right">Come parles-tu si secretement?</div>
      </div>
    </div>

    <div class="line-container" id="Marcus.02">
      <div class="line-character">Marcus</div>
      <div class="line-bilingual">
        <div class="line-left">Nōn audeō loquī.</div>
        <div class="line-right">Je n'ose pas parler.</div>
      </div>
    </div>

    <div class="line-container" id="Lucas.03">
      <div class="line-character">Lūcas</div>
      <div class="line-bilingual">
        <div class="line-left">Quis tē prohibuit?</div>
        <div class="line-right">Qui le t'a défendu?</div>
      </div>
    </div>

    <div class="line-container" id="Marcus.04">
      <div class="line-character">Marcus</div>
      <div class="line-bilingual">
        <div class="line-left">Praeceptor noster.</div>
        <div class="line-right">Nostre maistre.</div>
      </div>
    </div>

    <div class="line-container" id="Lucas.05">
      <div class="line-character">Lūcas</div>
      <div class="line-bilingual">
        <div class="line-left">Tamen is nōn adest.</div>
        <div class="line-right">Toutesfoys il ne st pas ici present.</div>
      </div>
    </div>

    <div class="line-container" id="Marcus.06">
      <div class="line-character">Marcus</div>
      <div class="line-bilingual">
        <div class="line-left">At Corȳcaeī adsunt.</div>
        <div class="line-right">Mais il y a ici des mouches, des accusateurs.</div>
      </div>
    </div>

    <div class="line-container" id="Lucas.07">
      <div class="line-character">Lūcas</div>
      <div class="line-bilingual">
        <div class="line-left">Quōs Corȳcaeōs dīcis?</div>
        <div class="line-right">Quelles mouches penses-tu?</div>
      </div>
    </div>

    <div class="line-container" id="Marcus.08">
      <div class="line-character">Marcus</div>
      <div class="line-bilingual">
        <div class="line-left">Quī nōs clam notant, signant.</div>
        <div class="line-right">Qui nous marquent en cachette.</div>
      </div>
    </div>

    <div class="line-container" id="Lucas.09">
      <div class="line-character">Lūcas</div>
      <div class="line-bilingual">
        <div class="line-left">Nūllum ex hīs nōstī?</div>
        <div class="line-right">Ne cognois tu pas vn d'eus?</div>
      </div>
    </div>

    <div class="line-container" id="Marcus.10">
      <div class="line-character">Marcus</div>
      <div class="line-bilingual">
        <div class="line-left">Quō ego nōscerem?</div>
        <div class="line-right">Comment les cognoistroy-je?</div>
      </div>
    </div>

    <div class="line-container" id="Lucas.11">
      <div class="line-character">Lūcas</div>
      <div class="line-bilingual">
        <div class="line-left">Tam cautē rem agunt.</div>
        <div class="line-right">Font-ils leur cas si finement.</div>
      </div>
    </div>

    <div class="line-container" id="Marcus.12">
      <div class="line-character">Marcus</div>
      <div class="line-bilingual">
        <div class="line-left">Est est illīs astūtia.</div>
        <div class="line-right">Si rusez sont-ils.</div>
      </div>
    </div>

    <div class="line-container" id="Lucas.13">
      <div class="line-character">Lūcas</div>
      <div class="line-bilingual">
        <div class="line-left">Tū loquere Latīnē.</div>
        <div class="line-right">Parle Latin.</div>
      </div>
    </div>

    <div class="line-container" id="Marcus.14">
      <div class="line-character">Marcus</div>
      <div class="line-bilingual">
        <div class="line-left">Quam vellem sī scīrem.</div>
        <div class="line-right">O que je le voudroys bien.</div>
      </div>
    </div>

    <div class="line-container" id="Lucas.15">
      <div class="line-character">Lūcas</div>
      <div class="line-bilingual">
        <div class="line-left">At sīc addisces citius.</div>
        <div class="line-right">Ainsi l'apprendras-tu plustost.</div>
      </div>
    </div>

    <div class="line-container" id="Marcus.16">
      <div class="line-character">Marcus</div>
      <div class="line-bilingual">
        <div class="line-left">Hāc spē dulcescit ferula.</div>
        <div class="line-right">Ceste esperance faict que s'en sens mois les coups.</div>
      </div>
    </div>


    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>

    <!--Footer goes here-->
  </div>

   <div class="footer">
     <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
   </div>
</body>