---
title: Adagiorum Centuriae IV - Colloquium Secundum
subtitle: CENTURIA SECUNDA
type: Colloquium
author: heyden
collection: Adagiorum Centuriae IV
topic:
- Proverbs
difficulty: Easy
sequence: '032'
character_count: 0
permalink: /sebald-heyden/adagiorum_centuriae_iv-colloquium-secundum/
---

<!doctype html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/style-reading.css" />
  
<script src="/scripts/headroom.min.js"></script>
    <script src="/scripts/common.js"></script>
  </head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="note">
      <h4>Decas prīma</h4>
    </div>

    <div class="line-container" id="Scaena.01">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Mollī tantum brachiō rem percurrit.</div>
        <div class="line-right">Il n'a faict que passer par dessus.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.02">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Albīs equīs mē praecurrit.</div>
        <div class="line-right">Je ne suis tien au pris de luy.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.03">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Mordicūs tenēbō.</div>
        <div class="line-right">Je défenderay cela à cor et à cri.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.04">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Tōtō corpore.</div>
        <div class="line-right">Je le mettray au hazard.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.05">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Fēlīciter sānē eā nōbīs cecidit ālea.</div>
        <div class="line-right">Ceste chance nous a bien dit.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.06">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Penelopēs tēlam texere.</div>
        <div class="line-right">Faire le faict et le déffaict.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.07">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Nūdō vestīmenta dētrahere.</div>
        <div class="line-right">Prendre un homme rez aux cheueus.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.08">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">In ōre est omnī populō.</div>
        <div class="line-right">Les petits enfans en vont à la moustarde.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.09">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Ad restim mihi rēs rediit.</div>
        <div class="line-right">Je suis au nid de la pie.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.10">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Amīcī pīllārēs.</div>
        <div class="line-right">Ce sont amys de table.</div>
      </div>
    </div>

    <div class="note">
      <h4>Decas secunda</h4>
    </div>

    <div class="line-container" id="Scaena.11">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Antīquiōra dē diphtherā loquēris.</div>
        <div class="line-right">Tu parles de neiges d'autr'an.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.12">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Auribus lupum teneō.</div>
        <div class="line-right">Je tien le loup par les oreilles.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.13">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Nē Herculēs quidem contrā duōs.</div>
        <div class="line-right">Deux loups mangent bien une brebis.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.14">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Ōs sublevit mihi.</div>
        <div class="line-right">Il m'a emiellé la bouche.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.15">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Dā verba.</div>
        <div class="line-right">Donner belles paroles.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.16">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Manum addere.</div>
        <div class="line-right">Prester la main.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.17">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Mendāciō fūcum addere.</div>
        <div class="line-right">Farder une mensongue.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.18">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Nimium tendendō rumbitur fūniculus.</div>
        <div class="line-right">Qui trop tire deux en casse.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.19">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Loquitur quicquid in buccam venit.</div>
        <div class="line-right">Il ne taist que ce qu'il ne fait.</div>
      </div>
    </div>

    <div class="note">
      <h4>Decas tertia</h4>
    </div>

    <div class="line-container" id="Scaena.20">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Ad Kalendās Graecās.</div>
        <div class="line-right">Trois jours apres jamais.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.21">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Cum mūla peperit.</div>
        <div class="line-right">Quand nostre chatte veillera.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.22">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Ad unguem nōvit.</div>
        <div class="line-right">Il le cognoist comme s'il l'auroit faict.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.23">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Nē mātulam quidem illī porrīgeret.</div>
        <div class="line-right">Il ne luy bailleroit pas un verre d'eau.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.24">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Saepe etiam est ōlitor valdē opportūnā locūtus.</div>
        <div class="line-right">Un fol dit bien un mot à point.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.25">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Cōpiae cornū.</div>
        <div class="line-right">C'est le grenier de tous biens.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.26">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Lac etiam gallīnāceum habet.</div>
        <div class="line-right">Il a tout à son hait.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.27">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Ūnō fasce.</div>
        <div class="line-right">Tout d'un train. Tout d'une venie.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.28">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Ūnō hōc fasce complēttemur.</div>
        <div class="line-right">Faire tout d'une benie. Tout d'un train.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.29">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Alter baculus.</div>
        <div class="line-right">C'est un Jan de bonne aine.</div>
      </div>
    </div>

    <div class="note">
      <h4>Decas quarta</h4>
    </div>

    <div class="line-container" id="Scaena.30">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Diī faventēs adiuvant.</div>
        <div class="line-right">Ayde toy, Dieu t'aydera.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.31">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Cum Minervā quoque manum movē.</div>
        <div class="line-right">Mets aussi la main à la paste.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.32">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Nōn tuō Mārtē fēcistī.</div>
        <div class="line-right">Tu n'a faict cela de ta teste.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.33">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Nōn sine Thēseō.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="line-container" id="Scaena.34">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Nōn omnīnō temerē est quod vulgo dictitant.</div>
        <div class="line-right">Ce que chascu dit est vray le plus souvent.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.35">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Dīcendō discimus dīcere.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="line-container" id="Scaena.36">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Fabricandō fabrī fīmus.</div>
        <div class="line-right">En faisant on apprent à faire.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.37">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Callippidēs alter est.</div>
        <div class="line-right">C'est un grand prometteur, un grand souffleur.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.38">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Gladiātor in arēnā cōnsilium capit.</div>
        <div class="line-right">Quand nous y serons, alors comme alors.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.39">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">In pīsō praeparandus animus — idem est.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="line-container" id="Scaena.40">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Apud novercam conquerī.</div>
        <div class="line-right">Faire sa plainte au borreau.</div>
      </div>
    </div>

    <div class="note">
      <h4>Decas quinta</h4>
    </div>

    <div class="line-container" id="Scaena.41">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Iovis cerebrum.</div>
        <div class="line-right">C'est un morceau royal.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.42">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Ultrā pēnsum vīvit — quārē fit ut migrāre nōn possit anima.</div>
        <div class="line-right">Il a l'ame de travers.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.43">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Optat ephippia bōs piger, optat arāre caballus.</div>
        <div class="line-right">Ame ne se contente de son estat.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.44">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Fertilior seges est aliēnō semper in arvō.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="line-container" id="Scaena.45">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Vicinamque pecus grandius ūber habet.</div>
        <div class="line-right">Il me gratte ou il ne me démangeoit.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.46">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Ulcus mihi tetigit.</div>
        <div class="line-right">Il m'a attaint ou le mal me tenoit.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.47">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Refrīcābō tibī tuās cicātrīcēs.</div>
        <div class="line-right">Je te renouvelleray vucilles playes.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.48">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Propriā cadē vīnēta.</div>
        <div class="line-right">Mets la faulx en ton pré.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.49">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">In tē descende.</div>
        <div class="line-right">Pren toy par le bout du nez.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.50">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Tēcum habitā.</div>
        <div class="line-right">Regarde à toy mesme.</div>
      </div>
    </div>

    <div class="note">
      <h4>Decas sexta</h4>
    </div>

    <div class="line-container" id="Scaena.51">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">In tuum ipsīus sinum inspuē.</div>
        <div class="line-right">Regarde à toy mesme.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.52">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Nē quid nimis.</div>
        <div class="line-right">Trop ne vaut rien, s'il n'est d'asne.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.53">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Ōdī memorem compōtōrem.</div>
        <div class="line-right">Propos de table doivent à table demourer.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.54">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Duābus sedēre sellīs.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="line-container" id="Scaena.55">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Duōs parietēs dē ūnā dēalbāre fīdeliā.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="line-container" id="Scaena.56">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Ūnicā piliā duōs parāre generōs — idem sunt.</div>
        <div class="line-right">Faire d'une fille deux gendres.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.57">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Nesciīs quid serus Vesper vehat.</div>
        <div class="line-right">Ame ne sçait de l'avenir. Ceulx ne sont pas tous cuisiniers qui portent longs couteaus.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.58">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Nōn omnēs quī habent citharam sunt citharaedī.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="line-container" id="Scaena.59">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">In vīnō vēritās.</div>
        <div class="line-right">L'homme yure dict tout ce qu'il a au cœur.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.60">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Omnia oste.</div>
        <div class="line-right">Tout rond et égal.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.61">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Ā bobus ad asinōs.</div>
        <div class="line-right">Du beuf au asne.</div>
      </div>
    </div>

    <div class="note">
      <h4>Decas septima</h4>
    </div>

    <div class="line-container" id="Scaena.62">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Artem quivis alit terra.</div>
        <div class="line-right">Mestier vaut mieuz qu'esparnié.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.63">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Reddām tē Cleō trānquillīōrem.</div>
        <div class="line-right">Je t'abaisseray bien ton caquet.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.64">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Bipēdum nēquissimus.</div>
        <div class="line-right">Le plus méchant qui marche sur la terre.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.65">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Hōc in lūcō tuō.</div>
        <div class="line-right">Cela est en ta puissance.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.66">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">In tuō sānō situm est.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="line-container" id="Scaena.67">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Ā tenerīs unguiculīs.</div>
        <div class="line-right">Des ses ongles croissans. Dès le berceau.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.68">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Ab incūnābulīs fūrsit.</div>
        <div class="line-right">Il a esté larron au ventre de sa mere.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.69">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Ante victōriam triumphum canis.</div>
        <div class="line-right">Tu cries gangné avant le jeu fini.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.70">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Effēcimus prō nostrīs operibus moenia.</div>
        <div class="line-right">Petis oyseaus sont petits nids.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.71">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Malē partum, malē disperit.</div>
        <div class="line-right">Mal gangné, mal dispensé.</div>
      </div>
    </div>

    <div class="note">
      <h4>Decas octāva</h4>
    </div>

    <div class="line-container" id="Scaena.72">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Crēditis Porsennae esse bona?</div>
        <div class="line-right">Pensez-vous que ce soit butin?</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.73">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Ē trīpode profectum est.</div>
        <div class="line-right">Vray comme l'Évangile.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.74">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Ūna hirundiō nōn efficit ver.</div>
        <div class="line-right">Une seule arondelle n'aporte pas l'esté.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.75">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Sibyllaefōlium est.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="line-container" id="Scaena.76">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Nē mūī quidem facere audet.</div>
        <div class="line-right">Il n'ose pas pepier.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.77">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Pīlī nōn faciō.</div>
        <div class="line-right">Je n'en donneroys un clou à soufflet.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.78">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Nāsō mē suspendis adunco.</div>
        <div class="line-right">Lard menu, la beste est maigre.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.79">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Alterā manū fert lapidem, alterā pānem ostentāt.</div>
        <div class="line-right">Belles parolles par devant, mais autre chose en derriere.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.80">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Nihil sacrī es.</div>
        <div class="line-right">Tu ne fins point trop sainct.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.81">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Nihil sānum.</div>
        <div class="line-right">Tout bourdes.</div>
      </div>
    </div>

    <div class="note">
      <h4>Decas nōna</h4>
    </div>

    <div class="line-container" id="Scaena.82">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Tū sine cortice nābis.</div>
        <div class="line-right">Adone nageras-tu sans vescie.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.83">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Homō perfrictae frontis.</div>
        <div class="line-right">C'est un effronté.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.84">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Cūrāre cuticulum.</div>
        <div class="line-right">Faire bon chere.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.85">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Frontem expōrrigere.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="line-container" id="Scaena.86">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Ad tua errāta connīvet.</div>
        <div class="line-right">Il clignera les yeus à tes faultes.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.87">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Bibe ellēborum.</div>
        <div class="line-right">Faire guarir ton cerveau.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.88">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Nāvigā Anticȳrās.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="line-container" id="Scaena.89">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Strychmum bibit.</div>
        <div class="line-right">Il a peu de l'endesure.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.90">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">In diem vīvit.</div>
        <div class="line-right">Il mange son bled en verd.</div>
      </div>
    </div>

    <div class="note">
      <h4>Decas decima</h4>
    </div>

    <div class="line-container" id="Scaena.91">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Vīta macerāta.</div>
        <div class="line-right">Une vie délicate.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.92">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Ut nunc tollit cornua.</div>
        <div class="line-right">Comme maintenant il leve les cornes.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.93">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Ut tollit cristās.</div>
        <div class="line-right">Comme il leve la creste.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.94">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Tibiam turbae comparat.</div>
        <div class="line-right">D'un petit en faict un tonnerre.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.95">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Tū dē eodem bibēs pōculō.</div>
        <div class="line-right">Tu beuras de mesme brassin.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.96">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Crēditis mē ē quercū esse nātum?</div>
        <div class="line-right">Pense-tu que je soye forti du cul d'un asne?</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.97">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Rōdum accēpit.</div>
        <div class="line-right">Il a son congé.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.98">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Hōc vel caecō apparet.</div>
        <div class="line-right">Un aveugle y morderoît.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.99">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Bonus dux bonum reddit comitem.</div>
        <div class="line-right">Bonne guide faict marcher droict.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.100">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Multōrum festōrum Iovis glandes comedit.</div>
        <div class="line-right">Il n'a pas tousjours vescu en une bouteille.</div>
      </div>
    </div>


    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>

    <!--Footer goes here-->
  </div>

   <div class="footer">
     <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
   </div>
</body>