---
title: Puerilium Colloquiorum Formulae - Colloquium Trīcēsimum
subtitle: FŌRMULAE EXCIPIENDĪ, VALĒDĪCENDĪ, ET VARIAE
type: Colloquium
author: heyden
collection: Puerilium Colloquiorum Formulae
topic:
- Daily Life
difficulty: Easy
sequence: '030'
character_count: 0
permalink: /sebald-heyden/puerilium_colloquiorum_formulae-colloquium-tricesimum/
---

<!doctype html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/style-reading.css" />
  
<script src="/scripts/headroom.min.js"></script>
    <script src="/scripts/common.js"></script>
  </head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="note">
      <h4>Redūcēs et adveniēntēs sīc excipimus</h4>
      <p>Quand aucun vient ou retourne de quelque voyage</p>
    </div>

    <div class="line-container" id="Scaena.01">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Salvum tē advenīre gaudēmus, pater.</div>
        <div class="line-right">Nous sommes fort joyeus de vostre retour en bonne voyage.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.02">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Sōspitem adesse volupe est.</div>
        <div class="line-right">Vous soyez le tresbien arivé.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.03">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Tē nōbīs reditum esse voluptātī est, cārissime parēns.</div>
        <div class="line-right">Nous sommes grandement joyeus de vostre heureus retour.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.04">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Prōsper sit adventus tuus. Grātulāmur tibī fēlīcem adventum.</div>
        <div class="line-right">Vostre venue nous apporte une ioye indicible.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.05">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Grātia Superīs quod nōbīs incolumis rediēris.</div>
        <div class="line-right">En bonne heure soit la venue.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.06">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Grātulāmur tibī et nōbīs quod vīvus ac valēns nōbīs restitūtus sīs.</div>
        <div class="line-right">À joye et prosperité soyez vous retourné.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.07">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Salvus sīs, amīce — prōsperē advēneris.</div>
        <div class="line-right">Dieu vous gard, amy; vous soyez le micus que bien venu.</div>
      </div>
    </div>

    <div class="note">
      <h4>Respōnsiō ad eās exceptiōnēs</h4>
      <p>Response à ces recueils</p>
    </div>

    <div class="line-container" id="Scaena.08">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Ego vicissim laetor quod incolumis vōs incolumēs offenderim.</div>
        <div class="line-right">Je suis aussi bien joyeus qu'estant en santé, je vous trouve tous sains et deliberez.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.09">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Quod tē quoque salvum repererim, vehementer gaudeō.</div>
        <div class="line-right">J'ay grand plaisir de vous revoir drux et dispostz.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.10">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Nōn vidērer mihi rediisse salvus, nisi vōs quoque salvōs reperisset.</div>
        <div class="line-right">Il me semble que je suis assez sain, vous rencontrant tous sains et en bonne disposition.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.11">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Nunc dēmum mihi videor sōspes, cum vōs quoque incolumēs ac valentēs pulchrē cōnspiciō.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="line-container" id="Scaena.12">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Et in tē quoque sīs salvus.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="note">
      <h4>Valēdīcendī in dīgressū</h4>
      <p>Manieres pour dire à Dieu</p>
    </div>

    <div class="line-container" id="Scaena.13">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Bene valē.</div>
        <div class="line-right">À Dieu vous di.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.14">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Lam mē tempus aliō vocat — tū valētō quam optimē.</div>
        <div class="line-right">Demeurez en la garde de Dieu.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.15">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Cūrā ut quam rēctissimē valeās.</div>
        <div class="line-right">Maintenez-vous en bonne santé.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.16">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Valē ut dignus es.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="line-container" id="Scaena.17">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Valē Pancratiē, aut sī māvis, athlēticē.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="line-container" id="Scaena.18">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Tū hōc biduō valēbis.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="line-container" id="Scaena.19">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Habē cūram salūtis tuae.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="line-container" id="Scaena.20">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Sī mē dīmittis, valēbis in crāstinum.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="line-container" id="Scaena.21">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Fac ut proximō congressū tē laetum ac nitidum videāmus.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="note">
      <h4>Ad plūrēs</h4>
      <p>Au plusieurs</p>
    </div>

    <div class="line-container" id="Scaena.22">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Valēte omnēs.</div>
        <div class="line-right">À Dieu vous di, trestous.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.23">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Valeat ūniversus coetus.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="line-container" id="Scaena.24">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Valēte pariterque omnēs.</div>
        <div class="line-right">À Dieu toute la compagnie.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.25">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Valēte quotquot estis.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="note">
      <h4>Respōnsiō ad valēdictiōnem</h4>
      <p>Response</p>
    </div>

    <div class="line-container" id="Scaena.26">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Dabitur quidem opera.</div>
        <div class="line-right">Allez en la garde de Dieu. Dieu vous conduise.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.27">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Valēbis tū quoque.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="line-container" id="Scaena.28">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Tibī vicissim precor prōsperam valētūdinem.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="line-container" id="Scaena.29">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Tantundem tibī reprecor, bone adolescēns, ut tōtus valeās, tū corpore, tum animō.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="note">
      <h4>Cum domum eundum aut illīc manendum est</h4>
      <p>Quand un enfant demande congé pour quelque chose</p>
    </div>

    <div class="line-container" id="Scaena.30">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Observande praeceptor, aliquot hodiē convīvās opperīmur quī nōbīscum prānsūrī sunt — quam ob rem ut ante hōra tālem mihi liceat abīre, ōrō.</div>
        <div class="line-right">Mon treshonnoré maistre, nous attendons aujourd'huy quelques hostes à disner, et pourtant je vous prie me donner congé avant que l'heure soit sonnée.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.31">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Ut domī hodiē sim necessē est.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="line-container" id="Scaena.32">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Ā prandiō adesse mihi integrum nōn erit.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="line-container" id="Scaena.33">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Convīvās aliquot ad hodiernum prandium mihi sunt tractandī, unde mihi adesse diūtius nōn liceat — id igitur ut pāce tuā fiat obsecrō, colendissime praeceptor.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="note">
      <h4>Ad exonerandum alvum</h4>
      <p>Pour aller faire son aise</p>
    </div>

    <div class="line-container" id="Scaena.34">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Praeceptor colende, liceat mihi pāce tuā exonerāre alvum.</div>
        <div class="line-right">Treshonnoré maistre, je vous prie me donner congé d'aller faire mon aise.</div>
      </div>
    </div>

    <div class="note">
      <h4>Agendī grātiārum āctiō prō mūnusculō acceptō</h4>
      <p>Pour rendre graces pour quelque present receu</p>
    </div>

    <div class="line-container" id="Scaena.35">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Habeō grātiam.</div>
        <div class="line-right">Je vous remercie.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.36">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Grātiās agō tibī immortālēs.</div>
        <div class="line-right">Je vous rens graces immortelles.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.37">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Et agō et habeō grātiās — vicissim aliquandō tibī remēnsūrus.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="note">
      <h4>Ad petendum diem lūdendī</h4>
      <p>Pour demander congé de jouer</p>
    </div>

    <div class="line-container" id="Scaena.38">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Salve, praeceptor observande — tōtus discipulōrum tuōrum grex ōrat lūdendī veniam.</div>
        <div class="line-right">Dieu vous tienne en bonne santé, mon treshonnoré maistre; toute la trouppe de voz disciples vous requiert congé de jouer.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.39">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Praeceptor venerande, scit prūdentia tua, vigōrem ingeniōrum excitārī moderātō lūsū, quemadmodum nōs sēdulō docēs — quārē ōrāmus hōram ūnam aut alteram lūsū quōpiam honestō liceat trānsigere.</div>
        <div class="line-right">Mon treshonnoré maistre, vous sçavez bien que les esprits des estudiens s'aguisent par quelque jeu moderé, comme vous nous avez enseigné, et pourtant nous vous prions qu'il vous plaise nous permettre de nous recreer une heure ou deux à quelque jeu honeste.</div>
      </div>
    </div>

    <div class="note">
      <h4>Precandī novō cōnsulī</h4>
      <p>Pour saluer un nouveau Conseiller ou Bourgumaistres</p>
    </div>

    <div class="line-container" id="Scaena.40">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Deum quaesō, cōnsilia tua reī pūblicae salūtāria sint — sin minus, ut salva atque honesta rēs pūblica, tibī vērō quam minimum noceant, optō.</div>
        <div class="line-right">Je prie à Dieu que voz conseils soyent utiles et salutaires au bien comun; sinon je souhaitte qu'ils soyent au moins à la republique honorables, et ne vous portent aucun domage.</div>
      </div>
    </div>

    <div class="note">
      <h4>Conveniendī</h4>
      <p>Pour parler à quelqu'un</p>
    </div>

    <div class="line-container" id="Scaena.41">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Obsecrō ut per pācem tē liceat alloquī.</div>
        <div class="line-right">Je vous prie que je parle un mot à vous, ne vous déplaise.</div>
      </div>
    </div>

    <div class="note">
      <h4>Interrogandī</h4>
      <p>Demandes</p>
    </div>

    <div class="line-container" id="Scaena.42">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Quis homō es?</div>
        <div class="line-right">Qui es-tu?</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.43">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Quō ambulās tū?</div>
        <div class="line-right">Ou vas-tu?</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.44">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Quod ad hāsce forēs negōtium est tibī?</div>
        <div class="line-right">Qu'as-tu à faire devant ceste porte?</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.45">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Quō prētendere vōs d'aller?</div>
        <div class="line-right">Ou prétendez-vous d'aller?</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.46">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Haeccine tua domus est?</div>
        <div class="line-right">Est-ce là vostre maison?</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.47">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Quō agis tē?</div>
        <div class="line-right">Qui est donc ton maistre?</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.48">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Quīn herus igitur est tibī?</div>
        <div class="line-right">Quel maistre as-tu donc?</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.49">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Quid agis?</div>
        <div class="line-right">Que fais-tu?</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.50">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Quod est tibī nōmen?</div>
        <div class="line-right">Comment as-tu nom?</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.51">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Ēloquere quid vēnistī.</div>
        <div class="line-right">Parle, pourquoy es-tu ici venu?</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.52">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Etiamne mūtus?</div>
        <div class="line-right">Etu encores muet?</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.53">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Quōnunc vocāre?</div>
        <div class="line-right">Di ce que tu veus dire, je ne te morderay pas.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.54">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Tuae fidēī crēdam.</div>
        <div class="line-right">Je te croiray à ta foy.</div>
      </div>
    </div>

    <div class="note">
      <h4>Affirmandī</h4>
      <p>Pour affermer</p>
    </div>

    <div class="line-container" id="Scaena.55">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Ita est.</div>
        <div class="line-right">Il est ainsi.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.56">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Ita inquam.</div>
        <div class="line-right">Ouy di-je.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.57">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Ita profectō.</div>
        <div class="line-right">Ouy vrayment.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.58">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Vidē sīs.</div>
        <div class="line-right">Croy moy si tu veus.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.59">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">A pol profectō.</div>
        <div class="line-right">Ouy Monsieur.</div>
      </div>
    </div>

    <div class="line-container" id="Scaena.60">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Etiam, Domine. Sīc scīlicet.</div>
        <div class="line-right">Ouy en verité.</div>
      </div>
    </div>

    <div class="note">
      <h4>Negandī</h4>
      <p>Pour nier</p>
    </div>

    <div class="line-container" id="Scaena.61">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Nōn ēdepol.</div>
        <div class="line-right">Non certainement.</div>
      </div>
    </div>

    <div class="note">
      <h4>Obsecrāndī</h4>
    </div>

    <div class="line-container" id="Scaena.62">
      <div class="line-character"></div>
      <div class="line-bilingual">
        <div class="line-left">Tuam fidem obsecrō.</div>
        <div class="line-right">Preste moy secours, je t'en prie.</div>
      </div>
    </div>


    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>

    <!--Footer goes here-->
  </div>

   <div class="footer">
     <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
   </div>
</body>