---
title: Puerilium Colloquiorum Formulae - Colloquium Vīcēsimum quīntum
subtitle: AGNŌSCENTIUM SĒ MŪTUŌ
type: Colloquium
author: Sebald Heyden
collection: Puerilium Colloquiorum Formulae
topic:
- Daily Life
difficulty: Moderate
sequence: '025'
character_count: 2
permalink: /sebald-heyden/puerilium_colloquiorum_formulae-colloquium-vicesimum-quintum/
---

<!doctype html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/style-reading.css" />
  
<script src="/scripts/headroom.min.js"></script>
    <script src="/scripts/common.js"></script>
  </head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="characters">
      Persōnae:<br />
      Simōn, Petrus
    </div>

    <div class="line-container" id="Simōn.01">
      <div class="line-character">Simōn</div>
      <div class="line-bilingual">
        <div class="line-left">Quod est tibī nōmen?</div>
        <div class="line-right">Comment avez-vous à nom?</div>
      </div>
    </div>

    <div class="line-container" id="Petrus.01">
      <div class="line-character">Petrus</div>
      <div class="line-bilingual">
        <div class="line-left">Mihi nōmen est Petrus.</div>
        <div class="line-right">Mon nom est Pierre.</div>
      </div>
    </div>

    <div class="line-container" id="Simōn.01">
      <div class="line-character">Simōn</div>
      <div class="line-bilingual">
        <div class="line-left">Quī sīs, nōn nōvī.</div>
        <div class="line-right">Je ne sçay qui vous estes.</div>
      </div>
    </div>

    <div class="line-container" id="Petrus.01">
      <div class="line-character">Petrus</div>
      <div class="line-bilingual">
        <div class="line-left">Nōn mē nōstī?</div>
        <div class="line-right">Ne me cognoissiez-vous pas?</div>
      </div>
    </div>

    <div class="line-container" id="Simōn.01">
      <div class="line-character">Simōn</div>
      <div class="line-bilingual">
        <div class="line-left">Nōn negem, sī nōverim.</div>
        <div class="line-right">Je ne nieroye point, si je scavoye.</div>
      </div>
    </div>

    <div class="line-container" id="Petrus.01">
      <div class="line-character">Petrus</div>
      <div class="line-bilingual">
        <div class="line-left">Oblītus nē es meī?</div>
        <div class="line-right">M'avez-vous mis en oubli?</div>
      </div>
    </div>

    <div class="line-container" id="Simōn.01">
      <div class="line-character">Simōn</div>
      <div class="line-bilingual">
        <div class="line-left">Ante hāc numquam tē vīdī.</div>
        <div class="line-right">Je ne vous ay jamais veu auparavant.</div>
      </div>
    </div>

    <div class="line-container" id="Petrus.01">
      <div class="line-character">Petrus</div>
      <div class="line-bilingual">
        <div class="line-left">At tandem cognōscēs.</div>
        <div class="line-right">Mais à la parfin vous me cognoistrez.</div>
      </div>
    </div>

    <div class="line-container" id="Simōn.01">
      <div class="line-character">Simōn</div>
      <div class="line-bilingual">
        <div class="line-left">Sānus hercle nōn es.</div>
        <div class="line-right">De vray vous n'estes pas en vostre sens.</div>
      </div>
    </div>

    <div class="line-container" id="Petrus.01">
      <div class="line-character">Petrus</div>
      <div class="line-bilingual">
        <div class="line-left">Ego nē an tū alūcinaris?</div>
        <div class="line-right">Est-ce moy qui m'abuse, ou si c'est toy?</div>
      </div>
    </div>

    <div class="line-container" id="Simōn.01">
      <div class="line-character">Simōn</div>
      <div class="line-bilingual">
        <div class="line-left">Ubī tē nōvissem?</div>
        <div class="line-right">Ou est-ce que je t'auroye cognu?</div>
      </div>
    </div>

    <div class="line-container" id="Petrus.01">
      <div class="line-character">Petrus</div>
      <div class="line-bilingual">
        <div class="line-left">In lūdō litterāriō.</div>
        <div class="line-right">À l'escole.</div>
      </div>
    </div>

    <div class="line-container" id="Simōn.01">
      <div class="line-character">Simōn</div>
      <div class="line-bilingual">
        <div class="line-left">Fuistī condiscipulus?</div>
        <div class="line-right">As-tu cité mon compaignon d'escole?</div>
      </div>
    </div>

    <div class="line-container" id="Petrus.01">
      <div class="line-character">Petrus</div>
      <div class="line-bilingual">
        <div class="line-left">Etiam, ferē biennium.</div>
        <div class="line-right">Ouy, quasi deux ans.</div>
      </div>
    </div>

    <div class="line-container" id="Simōn.01">
      <div class="line-character">Simōn</div>
      <div class="line-bilingual">
        <div class="line-left">Sine mēcum recolam.</div>
        <div class="line-right">Attens que je pense un peu à part moy.</div>
      </div>
    </div>

    <div class="line-container" id="Petrus.01">
      <div class="line-character">Petrus</div>
      <div class="line-bilingual">
        <div class="line-left">Agnōsce cicātrīcem.</div>
        <div class="line-right">Recognoy ceste cicatrice.</div>
      </div>
    </div>

    <div class="line-container" id="Simōn.01">
      <div class="line-character">Simōn</div>
      <div class="line-bilingual">
        <div class="line-left">Hanc tibī incusseram.</div>
        <div class="line-right">Je te fis ceste playe.</div>
      </div>
    </div>

    <div class="line-container" id="Petrus.01">
      <div class="line-character">Petrus</div>
      <div class="line-bilingual">
        <div class="line-left">Thecā pennāriā.</div>
        <div class="line-right">Avec ton escritoire.</div>
      </div>
    </div>

    <div class="line-container" id="Simōn.01">
      <div class="line-character">Simōn</div>
      <div class="line-bilingual">
        <div class="line-left">Dē cicātrīce tē nōvī.</div>
        <div class="line-right">Je te cognoy à ceste marque.</div>
      </div>
    </div>

    <div class="line-container" id="Petrus.01">
      <div class="line-character">Petrus</div>
      <div class="line-bilingual">
        <div class="line-left">Vidēs quod nōn īnsāniam.</div>
        <div class="line-right">Tu voys que je ne suis pas hors du sens.</div>
      </div>
    </div>

    <div class="line-container" id="Simōn.01">
      <div class="line-character">Simōn</div>
      <div class="line-bilingual">
        <div class="line-left">Dē fōrmā nōn nōvissem.</div>
        <div class="line-right">Je ne t'eusse pas cogneu à la semblance.</div>
      </div>
    </div>


    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>

    <!--Footer goes here-->
  </div>

   <div class="footer">
     <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
   </div>
</body>