---
title: Colloquiium Harleianum
subtitle: 
type: Colloquium
author: Hermeneumata Pseudodositheana
collection: Ad Exercitia Colloquia
topic:
- Music & Dance
difficulty: Easy
sequence: '004'
character_count: 2
permalink: /Hermeneumata_Pseudodositheana/Colloquium_Harleianum/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/style-reading.css" />
  
<script src="/scripts/headroom.min.js"></script>
    <script src="/scripts/common.js"></script>
  </head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="note">
      This text was generously provided by Eleanor Dickey, with permission from OUP. 
    </div>

      <div class="note">
      <div class="line-bilingual">
        <div class="line-left">Περὶ ὁμιλίας<br>καθημερινῆς</div>
        <div class="line-right">De sermone cottidiano</div>
      </div>

      <div class="characters">
      Persōnae<br />
      Discipulus
    </div>

    <div class="line-container" id="Discipulus.01">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) Υἱὲ προσφίλτατε,<br>κατάδεξαι<br>τοὺς ἐμοὺς<br>λόγους·<br>b) μέγιστον<br>κέρδος ἐστὶν<br>τοῦ πατρὸς<br>ἀκούειν.<br>c) ὄρθριζε οὖν<br>πρὸ πάντων<br>ἐν τῇ σχολῇ<br>διαφαίνοντος<br>τοῦ οὐρανοῦ.<br>d) ἔνδυσαι,<br>ὑπόδησαί σε,<br>〈νίψαι〉 τὴν ὄψιν,<br>καὶ ὕπαγε<br>πρῶτον<br>e) πρὸς τὸν Ῥωμαῖον<br>(παρὰ γραφέα,<br>παρὰ γραμματικόν,<br>παρὰ ῥήτορα),<br>f) ὅπως ἂν δυνηθῇς<br>ἄνθρωπος εἶναι.<br>καὶ ὅρα<br>μήτινα<br>ἀναστροφὴν<br>ποιήσειας·<br>g) οὐδὲν γὰρ<br>οὕτως<br>ἀναγκαῖον<br>εἶναι<br>εἰ μὴ τὰ μαθήματα.<br>h) ἐὰν δέ τίς σοι<br>ἐνοχλήσῃ,<br>μήνυσον<br>τῷ διδασκάλῳ.<br>i) γράφε,<br>ἀνάγνωθι,<br>ψήφισον,<br>〈ὅπως ἂν〉<br>j) πρὸς ἡλικίαν<br>τὴν ἀκμάζουσαν<br>ἔλθῃς<br>καὶ ἔμπ〈ε〉ιρος<br>καὶ δόκιμος.<br>k) πρὸς ταῦτα,<br>παῖς,<br>ἀποκρίνου.</div>
        <div class="line-right">Fili amantissime,<br>percipe<br>meos<br>sermones:<br>maximum<br>lucrum est<br>patrem<br>audire.<br>manica ergo<br>ante omnia<br>in scholam<br>illucescente<br>c〈a〉elo.<br>vesti te,<br>calcia te,<br>〈lava〉 faciem,<br>et vade<br>primum<br>apud Latinum<br>(apud scriptorem,<br>apud grammaticum,<br>apud oratorem),<br>ut possis<br>homo esse.<br>et vide<br>ne quam<br>consuetudinem<br>facias;<br>nihil enim<br>ita<br>necessarium<br>esse<br>nisi studia.<br>si quis autem tibi<br>molestatur,<br>indica<br>praeceptori.<br>scribe,<br>lege,<br>computa,<br>〈ut〉<br>ad 〈a〉etatem<br>vigentem<br>pervenias<br>et peritus<br>et probus.<br>ad haec,<br>puer,<br>responde.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.02">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) Πατὴρ<br>τιμιώτατε,<br>κατάδεξαι<br>τοὺς ἐμοὺς<br>λόγους.<br>b) ἤκουσα πάντα<br>καὶ εἰς μνήμη〈ν〉<br>κατεθέμην.<br>c) χάριτας<br>ὁμολογῶ<br>μεγάλας<br>παρὰ θεόν.<br>καὶ διδάσκει 〈με〉<br>(καὶ δαπανᾷς)<br>d) νουνεχὴς<br>ἄνθρωπος<br>εἶναι.</div>
        <div class="line-right">Pater<br>carissime,<br>percipe<br>meos<br>sermones.<br>audivi omnia<br>et in memoriam<br>condidi.<br>gratias<br>confiteor<br>maximas<br>apud deum.<br>et doces 〈me〉<br>(et impendis)<br>intellegens<br>homo<br>esse.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.03">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) Ἀνάστα, παῖ·<br>τί κάθησαι;<br>b) ἆρον<br>πάντα<br>βιβλία<br>τὰ Ῥωμαῖα,<br>τὰς διφθέρας<br>c) καὶ τὰς πινακίδας<br>〈καὶ〉 τὸν γλωσσοκόμον<br>καὶ τὴν παράγραφον,<br>τὸ μέλαν<br>καὶ τοὺς καλάμους.<br>d) ἀπέλθωμεν,<br>ἀσπασώμεθα.</div>
        <div class="line-right">Surge, puer;<br>quid sedes?<br>tolle<br>omnes<br>libros<br>Latinos,<br>membranas<br>et pugillares<br>et locellum<br>et praeductal,<br>atramentum<br>et cannas.<br>eamus,<br>salutemus.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.04">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) Χαῖρε,<br>κύριε<br>διδάσκαλε,<br>καλῶς σοι<br>γένοιτο.<br>b) ἀπὸ σήμερον<br>φιλοπονεῖν<br>θέλω.<br>c) ἐρωτῶ σε οὖν,<br>〈δίδαξόν με〉 Ῥωμαϊστὶ<br>λαλ〈ε〉ῖν.<br>d) Διδάσκω σε,<br>ἐάν με πρόσσχῃς.<br>Ἰδού, προσέχω.<br>e) Καλῶς εἶπας,<br>ὡς πρέπει<br>τῇ εὐγενείᾳ σου.</div>
        <div class="line-right">Ave,<br>domine<br>praeceptor,<br>bene tibi<br>sit.<br>ab hodie<br>studere<br>volo.<br>rogo te ergo,<br>〈doce me〉 Latine<br>loqui.<br>Doceo te,<br>si me attendas.<br>Ecce, attendo.<br>Bene dixisti,<br>ut decet<br>ingenuitatem tuam.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.05">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) ἐπίδος μοι, παῖ,<br>τὸ ἀναλογεῖον.<br>b) ταχέως οὖν<br>ἐπίδος<br>τὸ βιβλίον,<br>ἀνείλησον,<br>c) ἀνάγνωθι<br>μετὰ φωνῆς,<br>ἄνοιξον<br>τὸ στόμα,<br>ψήφισον.<br>d) ἄρτι καλῶς<br>ποίησον<br>τόπον,<br>ἵνα γράψῃς<br>ἅμιλλαν.</div>
        <div class="line-right">porrige mihi, puer,<br>manuale.<br>cito ergo<br>porrige<br>librum,<br>revolve,<br>lege<br>cum voce,<br>aperi<br>os,<br>computa.<br>modo bene<br>fac<br>locum,<br>ut scribas<br>dictatum.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.06">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) 〈Τὸν μισθὸν〉<br>οὐκ ἤνεγκας;<br>Ἤιτησα<br>τὸν πατέρα<br>καὶ εἶπεν·<br>b) Ἐγὼ αὐτὸς<br>ἐλεύσομαι<br>ἐκεῖ<br>ἅμα.<br>c) θέλω γὰρ<br>καὶ ἀπόδειξιν<br>λαβεῖν.<br>d) Πρᾶξον οὖν<br>ἐπιμελῶς,<br>ἵνα ἑτοῖμος ᾖς.<br>Ἑτοῖμός εἰμι·<br>e) ἧψα γὰρ<br>τὸν λύχνον<br>καὶ νύκτωρ<br>ἐμελέτησα.<br>f) Καλῶς ἐποίησας·<br>ἄρτι σε ἐπαινῶ.</div>
        <div class="line-right">Mercedem<br>non attulisti?<br>Petivi<br>patrem<br>et dixit:<br>Ego ipse<br>veniam<br>ibi<br>noviter.<br>volo enim<br>et experimentum<br>accipere.<br>Age ergo<br>diligenter,<br>ut paratus sis.<br>Paratus sum;<br>incendi enim<br>lucernam<br>et nocte<br>meditatus sum.<br>Bene fecisti;<br>modo te laudo.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.07">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) λεύκανον τὸ πυξίον,<br>κάθησο<br>καὶ γράψον.<br>ὀρθὸς<br>ἐνεάζεις;<br>b) τὰς κεραίας<br>ποίησον<br>τῶν γραμμάτων.<br>c) 〈εἰς〉 τὸ μέλαν<br>τὸ σὸν<br>ὕδωρ ὀλίγον 〈βάλε〉.<br>ἰδοὺ ἄρτι<br>καλῶς ἔχει.<br>d) 〈Ἐπίδος〉<br>τὸν κάλαμον,<br>ἐπίδος<br>τὸ σμιλίον.<br>Ποταπὸν<br>θέλ〈ε〉ις;<br>e) Ὀξὺ θέλω<br>(ἢ ἀμβλύ).<br>Ὀξὺ θέλεις;<br>διὰ τί;</div>
        <div class="line-right">dealba buxum,<br>sede<br>〈et〉 scribe.<br>rectus<br>stupes?<br>apices<br>fac<br>litterarum.<br>〈in〉 atramentum<br>tuum<br>aquam paucam 〈mitte〉.<br>ecce modo<br>bene habet.<br>〈Porrige〉<br>cannam,<br>porrige<br>scalpellum.<br>Quale<br>vis?<br>Acutum volo<br>(aut hebes).<br>Acutum vis?<br>qua re?</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.08">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) Ἐχθὲς<br>ἤργησας<br>καὶ δείλης<br>εἰς τὴν οἰκίαν<br>(ἔπαιζες)<br>οὐκ ἦς.<br>b) ἐγώ σε<br>ἐζήτησα<br>καὶ ἤκουσα πάντα<br>παρὰ τοῦ τροφέως σου,<br>ἅπερ ἐποίησας.<br>c) Ψεύδεται<br>ὅ σοι εἰπών,</div>
        <div class="line-right">Heri<br>cessabas<br>et meridie<br>in domum<br>(ludebas)<br>non eras.<br>ego te<br>quaesivi<br>et audivi omnia<br>ab alumno tuo,<br>quae fecisti.<br>Mentitur<br>qui tibi dixit,</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.09">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) ἦγεν γάρ με<br>ὁ πατήρ μου<br>εἰς τὸ πραιτῶριν<br>μεθ’ ἑαυτοῦ.<br>b) προσηγορεύθη<br>ὑπὸ τῶν ἀρχόντων<br>καὶ ἐπιστολὰς<br>ἔλαβεν<br>ἀπὸ τῶν κυρίων<br>τῶν ἐμῶν<br>τῶν αὐτοκρατόρων·<br>c) καὶ εὐθέως<br>προῆλθεν<br>εἰς τὸ ἱερὸν<br>d) καὶ ἔθυσεν<br>τῷ αἰωνίῳ<br>καὶ τῇ νίκῃ<br>τῶν αὐτοκρατόρων,<br>καὶ κατῆλθεν.<br>e) σήμερον δὲ<br>διακρίσεων<br>ἀκούει<br>ἀπὸ ὥρας<br>πρώτης.</div>
        <div class="line-right">duxit enim me<br>pater meus<br>in praetorium<br>secum.<br>salutatus est<br>a magistratibus<br>et epistulas<br>accepit<br>a dominis<br>meis<br>imperatoribus;<br>et continuo<br>ascendit<br>in templum<br>et immolavit<br>pro aeterno<br>et victoria<br>imperatorum,<br>et descendit.<br>hodie autem<br>condictiones<br>audit<br>ab hora<br>prima.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.10">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) Ἀφορμὰς<br>ζητεῖς<br>πράττ〈ε〉ιν<br>b) καὶ οὐκ οἶδας<br>ὅτι αἱ ἀργίαι<br>τοὺς παῖδας<br>ἀπαιδεύτους<br>ποιοῦσιν.<br>c) δ〈ε〉ῖξον,<br>ἴδω,<br>πῶς<br>ἔγραψας;<br>d) καλῶς λίαν<br>ἄξιος εἶ<br>δαρῆναι.<br>e) ἰδού,<br>συγχωρῶ σοι.<br>f) σήμερον δὲ<br>ὕπαγε<br>καὶ ἀρίστησον,<br>καὶ ἀπὸ τοῦ ἀρίστου<br>ταχέως<br>ἐλθέ.<br>g) καλὰς ὥρας.<br>Καλῶς σοι<br>γένοιτο.</div>
        <div class="line-right">Occasiones<br>quaeris<br>agere<br>et nescis<br>quod feriae<br>pueros<br>indoctos<br>faciunt.<br>ostende,<br>videam,<br>quomodo<br>scripsisti?<br>bene valde<br>dignus es<br>vapulare.<br>ecce,<br>concedo tibi.<br>hodie autem<br>vade<br>et prande,<br>et a prandio<br>citius<br>veni.<br>bonas horas.<br>Bene tibi<br>sit.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.11">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) Πάλιν ἐρῶ<br>συμμικτὰ<br>καὶ ἀναγκαῖα.<br>b) ἔστιν δὲ<br>ταῦτα<br>ἀσπασμὸς<br>λόγων,<br>ἐπερωτήσεις,<br>λοιδορίαι,<br>καὶ ἄλλα πολλά.</div>
        <div class="line-right">Iterum dicam<br>commixta<br>et necessaria.<br>est autem<br>haec<br>salutatio<br>sermonum,<br>interrogationes,<br>maledicta,<br>et alia multa.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.12">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) Κύριε,<br>χαῖρε.<br>σωθείης ἀεί,<br>προσφίλτατε.<br>b) πῶς<br>τὰ πράγματά σου;<br>πάντα καλῶς;<br>Ὡς οἱ θεοὶ<br>θέλουσιν.<br>c) τί πράττ〈ε〉ις; Νῦν<br>ἔπραττον,<br>νῦν δὲ<br>σχολάζομαι.<br>d) Θέλω σοι<br>ἐγχειρίσαι<br>τὴν διοίκησιν<br>τῆς ἐμῆς πράξεως.<br>e) ἄγωμεν·<br>περιπάτει<br>καὶ ἐγὼ<br>δώσω σοι<br>τί πράξῃς.<br>f) πάντων γὰρ<br>τῶν ἀγαθῶν<br>ἄξιος εἶ.</div>
        <div class="line-right">Domine,<br>salve.<br>salvus sis semper,<br>amantissime.<br>quomodo<br>res tuae?<br>omnia bene?<br>Quomodo dii<br>volunt.<br>quid agis? Modo<br>agebam,<br>nunc autem<br>vacat mihi.<br>Volo tibi<br>iniungere<br>administrationem<br>meae actionis.<br>eamus;<br>ambula<br>et ego<br>do tibi<br>quid agas.<br>omnium enim<br>bonorum<br>dignus es.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.13">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) Ἠσπαζόμην σε<br>τριθημέρᾳ<br>ἄνω ἐν τῷ ἱερῷ,<br>καὶ οὐ προσέσχες.<br>Κἀγὼ προσεκύνουν.<br>b) Καὶ τὸν φίλον<br>τὸν σὸν<br>ἑώρων<br>μετὰ σοῦ.</div>
        <div class="line-right">Salutabam te<br>nudius tertius<br>sursum in templo,<br>et non attendebas.<br>Ego adorabam.<br>Et amicum<br>tuum<br>videbam<br>cum te.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.14">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) Ὁρῶ ὅτι<br>λουσάμενος<br>ἐπὶ δ〈ε〉ῖπνον<br>ἀπήρχου.<br>b) Τί σέ;<br>c) Καὶ οὐ<br>δύναμαι<br>ἀντειπεῖν<br>αὐτῷ·<br>πολλὰ γὰρ<br>εἶπέν μοι.<br>d) ὑπάγω οὖν,<br>ἵνα ταχέως ὑποστρέψω.</div>
        <div class="line-right">Video quod<br>lotus<br>ad cenam<br>ibas.<br>Quid te?<br>Et non<br>possum<br>contradicere<br>ei;<br>multa enim<br>dixit mihi.<br>eo ergo,<br>ut cito redeam.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.15">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) Ὕπαγε οὖν.<br>τί στήκεις;<br>b) Δράμε οὖν<br>καὶ εἰπὲ αὐτῷ,<br>ἵνα μείνῃ με·<br>ἔχω γὰρ αὐτῷ<br>τίποτε εἰπεῖν.<br>Ἐκδέξομαι οὖν.<br>c) Πρῶτον<br>εἰς τὴν οἰκίαν<br>ἀνελεύσομαι.<br>d) Ἴδου ὧδε<br>καθεζόμενον.<br>Τοιοῦτον<br>ἐμὲ οἶδας.<br>e) Ἀλλὰ ταχέως<br>ἐποίησας<br>ὅ σοι εἶπον;<br>Οὐδέπω.<br>f) Διὰ τί;<br>Ἄρτι ποιῶ·<br>σπεύδω γὰρ ἔξω<br>g) (πεινῶ,<br>εἰς γάμους,<br>πρὸς φίλον,<br>δέχονταί με,<br>ἵνα λούσωμαι).</div>
        <div class="line-right">Duc te ergo.<br>quid stas?<br>Curre ergo<br>et dic illi,<br>ut maneat me:<br>habeo enim ei<br>aliquid dicere.<br>Exspectabo ergo.<br>Primum<br>in domum<br>ibo.<br>Ecce hic<br>sedentem.<br>Talem<br>me scis.<br>Sed cito<br>fecisti<br>quod tibi dixi?<br>Nondum.<br>Qua re?<br>Modo facio;<br>propero enim foras<br>(esurio,<br>in nuptias,<br>ad amicum,<br>expectant me,<br>ut lavem).</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.16">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) Ὕπαγε οὖν.<br>τί ἕστηκας;<br>Τί σοι ἀνήκει;<br>ἐπίτροπός μου εἶ;<br>b) Ὕπαγε,<br>ἀναχώρει<br>(ἀναχωρήσεις),<br>ἐπιθέτα.<br>c) Λοιδορεῖς με,<br>κάκιστε<br>καὶ μισητέ;<br>d) Αὐτοῖς<br>ταῦτα ποίει,<br>ἀναιδέστατε.<br>e) Σιώπα.<br>f) Καλῶς σοι εἴη,<br>ἀνα〈ι〉δέστατε<br>ἄνθρωπε.<br>g) Ταῦτα ἀκούσεται<br>ὁ δεσπότης σου,<br>εἰ ἀπαντήσει μοι.</div>
        <div class="line-right">Duc te ergo.<br>quid stas?<br>Quid tibi pertinet?<br>procurator meus es?<br>Duc te,<br>recede<br>(recedes),<br>impostor.<br>Maledicis me,<br>maligne<br>et odiose?<br>Ipsis<br>ista fac,<br>expudorate.<br>Tace.<br>Bene tibi sit,<br>nequissime<br>homo.<br>Ista audiet<br>dominus tuus,<br>si obviat mihi.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.17">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) Ἄφες· ἴδε<br>τί μοι ποιεῖς.<br>b) Οὐ φροντίζω σου<br>ταῖς ἀπ〈ε〉ιλαῖς.<br>c) Πολλὰ<br>ἐκδικῶ,<br>ἀφηλπισμένε.<br>d) Ἐκεῖ<br>τὰς χεῖρας ἔχε.<br>e) Καὶ δέρ〈ε〉ις με; φοβοῦμαι.<br>μεγάλη σου<br>ἡ ἀξία.<br>f) δύναμαί σε<br>κἀγὼ δεῖραι,<br>ἀλλὰ εὐλαβοῦμαί σε<br>καὶ τὴν θείαν πρόνοιαν.</div>
        <div class="line-right">Sine; vide<br>quid mihi facis.<br>Non curo<br>minationes.<br>Multa<br>vindico,<br>desperate.<br>Ibi<br>manus habe.<br>Et c〈a〉edis me? timeo.<br>magna tua<br>dignitas.<br>possum te<br>ego c〈a〉edere,<br>sed vereor te<br>et divina〈m〉 providentia〈m〉.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.18">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) Λοιδορεῖς με,<br>κακὴ κεφαλή;<br>σταυρωθείης.<br>b) Κακῶς ποιεῖς<br>καὶ οὐκ οἶδας<br>ὅτι οὐ συμφέρει σοι.<br>c) Διὰ τί;<br>Ὅτι ἐγὼ<br>εὐγενὴς<br>ἄνθρωπός εἰμι,<br>σὺ δὲ ἀχρεῖος<br>δοῦλος.<br>d) Σιγὴν ἔχε.<br>e) Θέλ〈ε〉ις οὖν<br>μαθεῖν·<br>οὔκ εἰμί σοι<br>ὁ ἴσος.<br>Οὔκ, ἐπιθέτα;<br>f) Θέλω μαθεῖν<br>πότερον<br>δοῦλος εἶσαι<br>ἢ ἀπελεύθερος.<br>g) Οὐ δίδωμί σοι<br>λογισμόν.<br>Διὰ τί;<br>Ὅτι οὐκ 〈ε〉ἶ ἄξιος.<br>h) Ἄγωμεν<br>πρὸς τὸν κύριόν σου.<br>Τυχόν.<br>i) Ἐγὼ γὰρ<br>εὐγενὴς<br>πᾶσιν<br>γνώριμος<br>καὶ οἰκοδεσπότης.<br>j) Φαίνεται<br>ἀπὸ τῆς ὄψεώς σου.<br>Ἀπέλθωμεν ἡμεῖς.</div>
        <div class="line-right">Maledicis me,<br>malum caput?<br>crucifigaris.<br>Male facis<br>et nescis<br>quod non expedit tibi.<br>Qua re?<br>Quoniam ego<br>ingenuus<br>homo sum,<br>tu autem nequam<br>servus.<br>Silentium habe.<br>Vis ergo<br>discere:<br>non sum tibi<br>par.<br>Non, impostor?<br>Volo discere<br>utrum<br>servus es<br>aut libertus.<br>Non do tibi<br>rationem.<br>Qua re?<br>Quoniam non es dignus.<br>Eamus<br>ad dominum tuum.<br>For〈t〉asse.<br>Ego enim<br>ingenuus<br>omnibus<br>notus<br>et paterfamilias.<br>Apparet<br>a facie tua.<br>Eamus nos.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.19">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) Ἐὰν ἔλθῃ<br>Αὐρήλιος,<br>μὴ ἐπιλάθῃς<br>εἰπεῖν αὐτῷ<br>ὅτι ἐνταῦθα ἤμην.<br>b) Ἔκδεχε με.</div>
        <div class="line-right">Si venerit<br>Aurelius,<br>ne obliviscaris<br>dicere illi<br>quia hic eram.<br>Expecta me.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.20">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) Εὐκαίρως ἦλθας.<br>ἐζήτουν σε,<br>ὅτι ἐγένετό μοι<br>κακόν.</div>
        <div class="line-right">Opportune venisti.<br>quaerebam te,<br>quod factum est mihi<br>malum.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.21">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) Ἀπέλθωμεν,<br>λουσώμεθα.<br>Ὅπου οὖν λουόμεθα;<br>Ὅπου θέλ〈ε〉ις.<br>b) Ὡς ἑορτή ἐστιν,<br>ἔλαβον<br>ἡμῖν λάχανα,<br>τάριχον<br>καλὸν<br>καὶ ἰχθύας,<br>c) ὀψώνια,<br>κρέας,<br>οἶνον ἡδὺν<br>καὶ ὄρν〈ε〉ις.<br>Καλῶς ἔχομεν.<br>d) Ἐγώ εἰμι καὶ σὺ<br>καὶ ἄλλοι δύο<br>φίλοι.<br>e) Ποῦ οὖν<br>εὐφραινόμεθα;<br>Ὅπου θέλετε·<br>κολλήγιον<br>γενέσθω.<br>f) Ἀλλὰ θέλομεν<br>ἁπλουστάτους<br>μεθ’ ἡμῶν<br>ἀνθρώπους·<br>ἀναψύχει<br>μετὰ τοιούτων<br>σπαταλῆσαι.<br>g) Ὁ δὲ ἀδελφός μου<br>παρῃτήσατο·<br>ἐχθὲς γὰρ<br>εἰς τὸ βαλανεῖον<br>ἀηδίαν ἐποίησεν,<br>h) ἀναγκασθεὶς<br>ὑπὸ ἀνδρῶν<br>μεθυστῶν,<br>καὶ δυσωπεῖται<br>προελθ〈ε〉ῖν.</div>
        <div class="line-right">Eximus<br>lavari.<br>Ubi ergo lavamur?<br>Ubi vis.<br>Cum dies festus est,<br>acceperunt<br>nobis olera,<br>salsum<br>bonum<br>et pisces,<br>stipendia,<br>carnem,<br>vinum suave<br>et gallinas.<br>Bene habemus.<br>Ego sum et tu<br>et alii duo<br>amici.<br>Ubi ergo<br>epulamus?<br>Ubi vultis;<br>collegium<br>fiat.<br>Sed volumus<br>simplices<br>nobiscum<br>homines;<br>delectat<br>cum talibus<br>conversare.<br>Frater autem meus<br>excusavit;<br>heri enim<br>in balneum<br>rixam fecit,<br>coactus<br>ab amicis<br>ebriis,<br>et confunditur<br>procedere.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.22">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) Ἐὰν πάντα<br>καλῶς,<br>τρίτῃ ἡμέρᾳ<br>ἱππικός ἐστιν,<br>καὶ μετὰ ταῦτα<br>θέατρα<br>τῶν μονομάχων.<br>b) καὶ κοινότερον οὖν<br>θεωρήσωμεν<br>καὶ οὕτως<br>μετὰ ἐκείνου<br>λουσώμεθα,<br>c) ὅταν<br>ἀπολύσωσιν<br>θεωρίαι.<br>Ὡς θέλ〈ε〉ις.</div>
        <div class="line-right">Si omnia<br>bene,<br>tertium diem<br>circus est,<br>et postea<br>ludi<br>gladiatorum.<br>〈et〉 communiter ergo<br>spectemus<br>et sic<br>cum illo<br>lavemur,<br>quando<br>dimittunt<br>spectacula.<br>Quomodo vis.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.23">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) Οὐκ ἔστιν οὗτος<br>Λούκιος,<br>ὁ τὸ ἐμὸν<br>ἀργύριον<br>ἔχων;<br>b) ὅδε ἐστίν.<br>προσελθὼν οὖν<br>ἀσπάσομαι αὐτόν.<br>Χαῖρε,<br>οἰκοδέσποτα.<br>c) οὐδέπω<br>δύναμαι<br>λαβεῖν<br>τὸ ἐμὸν<br>ὅ μοι<br>ὀφ〈ε〉ίλεις<br>τοσούτῳ χρόνῳ;<br>d) 〈Τί〉 λέγεις;<br>μαίνῃ.<br>e) Ἐδάν〈ε〉ισά σοι<br>ἀργύριον,<br>καὶ λέγ〈ε〉ις<br>Τί μαίνῃ;<br>ἀποστερητά,<br>οὐ γινώσκεις με;<br>f) Ὕπαγε,<br>ζήτει<br>τίνι<br>ἐδάν〈ε〉ισας·<br>ἐγὼ γὰρ<br>οὐδέν σου<br>ἔχω.<br>(ἐκπέπλεκται.)<br>g) Ὄμοσόν μοι.<br>Ὀμνύω<br>ὅπου θέλ〈ε〉ις.<br>Ἄγωμεν.<br>ὄμοσον<br>ἐν τῷ ἱερῷ.<br>h) Μὰ τὸν θεὸν τοῦτον,<br>οὐδέν μοι<br>ἔδωκας.<br>i) Ἄρτι καλῶς·<br>μάχην<br>καὶ ἀμφισβήτησιν<br>ποιῆσαι<br>οὐκ ἔστιν<br>καλὸν<br>ἐλευθέρῳ<br>ἀνθρώπῳ<br>καὶ οἰκοδεσπότῃ.</div>
        <div class="line-right">Non est iste<br>Lucius,<br>qui meum<br>aes<br>habet?<br>hic est.<br>accedens ergo<br>salutabo eum.<br>Ave,<br>paterfamilias.<br>nondum<br>possum<br>accipere<br>meum<br>quod mihi<br>debes<br>tanto tempore?<br>〈Quid〉 dicis?<br>insanis.<br>Faeneravi tibi<br>aes,<br>et dicis<br>Insanis?<br>fraudator,<br>non cognoscis me?<br>Duc te,<br>quaere<br>cui<br>f〈a〉enerasti;<br>ego enim<br>nihil tuum<br>habeo.<br>(explicatum est.)<br>Iura mihi.<br>Iuro<br>ubi velis.<br>Eamus.<br>iura<br>in templo.<br>Per deum hunc,<br>nihil mihi<br>dedisti.<br>Modo bene;<br>rixam<br>et controversiam<br>facere<br>non est<br>bonum<br>libero<br>homini<br>et patrifamilias.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.24">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) Καὶ λοιδορεῖ<br>ὁ θηριομάχος;<br>ἄφες ἐμέ,<br>καὶ τοὺς ὀδόντας<br>αὐτοῦ<br>ἐκτινάξω.<br>b) Κἀγώ σε ἐκτυφλῶ.<br>Θεωρῶ<br>τί μοι ποιεῖς.<br>c) Ἐγώ σε ποιήσω<br>εἰς φυλακὴν<br>ἀπελθεῖν,<br>ὅπου ἄξιος 〈εἶ〉<br>γηρᾶσαι.<br>d) Λοιδορεῖς με,<br>φυλακῖτα;<br>τὸ ἴσον ἐστὶν<br>ἐγὼ καὶ σύ·<br>οὐ φροντίζω σου.<br>e) Φίλον ἔχ〈ε〉ις<br>καί με εὑρήσεις<br>ἔχοντα.<br>Καλῶς λέγεις.<br>ἰδοὺ συγχωρῶ σοι.</div>
        <div class="line-right">Et maledicit<br>bestiarius?<br>dimitte me<br>et dentes<br>eius<br>excutio.<br>Ego te exc〈a〉eco.<br>Video<br>quid mihi facies.<br>Ego 〈te〉 faciam<br>in carcerem<br>ire,<br>ubi dignus es<br>senescere.<br>Maledicis me,<br>custodita?<br>aequum est<br>ego et tu:<br>non curo te.<br>Amicum habes<br>et me invenies<br>habentem.<br>Bene dicis.<br>ecce concedo tibi.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.25">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) Ὕπαγε. ὃ δὲ<br>ἀναγκαῖόν ἐστιν<br>ταῖς γυναιξίν,<br>κἀγώ 〈 . . . 〉<br>b) Ἕως ἐρχόμεθα,<br>ἑψήσωσιν<br>καὶ ἐπιμελῶς<br>ἀρτύσωσιν.<br>c) Καὶ ἆρον ἡμῖν<br>ἀλλάξιμα<br>εἰς τὸ βαλανεῖον.<br>d) Καὶ ἄνοιξον<br>τὸ ἀρμάριον,<br>καὶ εὑρήσεις ἔσω<br>μαρσύπιον<br>ἐν ᾧ ἐστιν ἀργύριον·<br>καὶ φέρε ταχέως<br>πρὸς τὸν τραπεζίτην.<br>e) Εὐτυχῶς<br>ἔγραψα<br>περὶ ὁμιλίας<br>καθημερινῆς.</div>
        <div class="line-right">Vade. quod<br>necessarium est<br>mulieribus,<br>ego 〈 . . . 〉<br>Dum venimus,<br>coquant<br>et diligenter<br>condiant.<br>Et tolle nobis<br>mutatoria<br>in balneum.<br>Et aperi<br>armarium,<br>et invenies intro<br>sacellum<br>in quo est aes;<br>et affer cito<br>ad nummularium.<br>Feliciter<br>scripsi<br>de sermone<br>cottidiano.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.26">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) Τί ἐστιν,<br>ἀδελφέ;<br>διὰ τί οὐχὶ<br>ἦλθες πρὸς<br>τὸν ναόν;<br>b) (εἰς τὴν οἰκίαν;<br>πρὸς τὴν ἀγοράν;<br>πρὸς τὸ ἀκουστήριον;<br>πρὸς τὸν δικαστήν;<br>πρὸς τὸν ὑπατικόν;<br>c) εἰς τὴν πόλιν;<br>εἰς τὸ χωρίον;<br>πρὸς τὸν ἀδελφὸν<br>ἡμῶν;)<br>d) ἐγώ σε<br>ὑπομένω<br>καὶ διὰ σὲ<br>βραδέως<br>ἐδείπνησα.</div>
        <div class="line-right">Quid est,<br>frater?<br>qua re non<br>venisti ad<br>templum?<br>(ad domum?<br>ad forum?<br>ad auditorium?<br>ad iudicem?<br>ad consularem?<br>in civitatem?<br>ad villam?<br>ad fratrem<br>nostrum?)<br>ego te<br>sustinui<br>et propter te<br>tarde<br>prandidi.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.27">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) Ἄπελθε<br>πρὸς τὸν ἀδελφὸν<br>καὶ εἶπον<br>αὐτῷ·<br>b) Τί σοι<br>ἐποιήσαμεν,<br>ἵν’ ἀμελῇς<br>ἡμᾶς;<br>c) ἐγώ σε<br>ἀγαπῶ,<br>ἐγώ σε<br>φιλῶ,<br>μὰ τὸν θεόν<br>d) (μὰ τὸν οὐρανόν,<br>μὰ τὸν ἥλιον,<br>μὰ τὴν γῆν,<br>μὰ τὴν σωτηρίαν<br>μου).<br>e) καὶ αὐτὸς<br>οἶδας<br>ἐπειδὴ<br>φίλος<br>ἡμῶν 〈εἶ〉.</div>
        <div class="line-right">Vade<br>ad fratrem<br>et dic<br>ei:<br>Quid tibi<br>fecimus,<br>ut neglegas<br>nos?<br>ego te<br>diligo,<br>ego te<br>amo,<br>per deum<br>(per caelum,<br>per solem,<br>per terram,<br>per salutem<br>meam).<br>et ipse<br>scis<br>quoniam<br>amicus<br>noster es.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.28">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) Παιδάριον,<br>ταχέως<br>ποίησον<br>καὶ ἆρον<br>τὰ σάβανα,<br>b) ἐπειδὴ<br>λούσασθαι<br>θέλω καὶ<br>οὐδείς ἐστιν ὧδε<br>τῶν παιδαρίων<br>c) (τῶν ἀδελφῶν,<br>τῶν φίλων,<br>τῶν δούλων).<br>d) Διὰ τί<br>ἐβράδυνες,<br>ὅπου σε<br>ἔπεμψα;<br>τί ἔπραξας;<br>e) Πάντα<br>καλῶς;<br>Ἔδωκέν μοι<br>ἐπιστολήν.<br>f) Καὶ ὅπου ἐστίν;<br>(Οὐκ ἔστιν ὧδε.)<br>Ὧδέ ἐστιν.<br>g) Δὸς αὐτήν,<br>ἵνα<br>καὶ ἴδω τί μοι<br>ἔγραψεν.<br>h) οὐδέν σοι<br>εἶπεν;<br>Οὐδέν.</div>
        <div class="line-right">Puer,<br>cito<br>fac<br>et tolle<br>sabana,<br>quoniam<br>lavari<br>volo et<br>nullus est hic<br>de pueris<br>(de fratribus,<br>de amicis,<br>de servis).<br>Qua re<br>tard〈ab〉as,<br>ubi te<br>misi?<br>quid egisti?<br>Omnia<br>bene?<br>Dedit mihi<br>epistulam.<br>Et ubi est?<br>(Non est hic.)<br>Hic est.<br>Da illam,<br>ut<br>et videam 〈quid〉 mihi<br>scripserit.<br>nihil tibi<br>dixit?<br>Nihil.</div>
      </div>
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

   <div class="footer">
     <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
   </div>
</body>