---
title: Colloquiium Stephani
subtitle: 
type: Colloquium
author: Hermeneumata Pseudodositheana
collection: Ad Exercitia Colloquia
topic:
- Music & Dance
difficulty: Easy
sequence: '003'
character_count: 2
permalink: /Hermeneumata_Pseudodositheana/Colloquium_Stephani/
---

<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/style-common.css" />
    <link rel="stylesheet" href="/style-reading.css" />
  
<script src="/scripts/headroom.min.js"></script>
    <script src="/scripts/common.js"></script>
  </head>

<body>
  <div class="navbar headroom">
    <div class="navbar-inner">
      <a href="/" class="navbar-item btn"
        ><b>Colloquia Latina</b></a
      >
      <a
        href="{{ site.baseurl }}/{{ page.author | downcase | replace: ' ', '-' }}/"
        class="navbar-item btn"
        >{{ page.author }}</a
      >
      <span class="navbar-dynamic">{{ page.title }}</span>
    </div>
  </div>
  <div style="height: 3em"></div>

  <div class="main-content">
    <h1>{{page.title}}</h1>
    <h3>{{page.subtitle}}</h3>

    <div class="note">
      This text was generously provided by Eleanor Dickey, with permission from OUP. 
    </div>

      <div class="note">
      <div class="line-bilingual">
        <div class="line-left">Ὁμιλ. β΄</div>
        <div class="line-right">Colloq. II</div>
      </div>

      <div class="characters">
      Persōnae<br />
      Discipulus
    </div>

    <div class="line-container" id="Discipulus.01">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">Ἀνάγνωθι καλῶς.</div>
        <div class="line-right">Lege bene.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.02">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">σήμερον <br>τί ἐποίησας;</div>
        <div class="line-right">hodie <br>quid fecisti?</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.03">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) Ἠγέρθην<br>πρωῒ<br>ἐξυπνισθείς,<br>καὶ ἐκάλεσα<br>παῖδα.<br>b) ἐκέλευσα ἀνοῖξαι<br>τὴν θυρίδα·<br>ἤνοιξεν ταχέως.<br>c) ἐγερθεὶς<br>ἐκάθισα<br>ἐπὶ τοῦ ἐνηλάτου <br>τῆς κλίνης.</div>
        <div class="line-right">Surrexi<br>mane<br>expergefactus,<br>et vocavi <br>puerum.<br>iussi aperire<br>fenestram;<br>aperuit cito.<br>elevatus<br>assedi<br>supra sponda〈m〉 <br>lecti.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.04">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) ᾔτησα<br>ὑποδήματα<br>καὶ περικνημῖδας·<br>ἦν γὰρ ψῦχος.<br>b) ὑποδεθεὶς οὖν<br>ἔλαβον ὠμόλινον.<br>ἐπεδόθη<br>καθαρόν.</div>
        <div class="line-right">poposci<br>calciamenta<br>et ocreas;<br>erat enim frigus.<br>calciatus ergo<br>accepi linteum.<br>porrectum est<br>mundum.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.05">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) προσηνέχθη ὕδωρ<br>πρὸς τὴν ὄψιν<br>εἰς ὀρνόλην.<br>b) ᾧ ἐπιχυθεὶς <br>πρῶτον χεῖρας,<br>εἶτα κατὰ τὴν ὄψιν<br>〈ἐνιψάμην〉·<br>καὶ τὸ στόμα ἔκλεισα.<br>c) ὀδόντας ἔτριψα<br>καὶ οὖλα.<br>d) ἐξέπτυσα<br>τὰ ἄχρηστα<br>ὥς τινα ἐπήρχοντο,<br>καὶ ἐξεμυξάμην.<br>e) ταῦτα πάντα<br>ἐξεχύθησαν.</div>
        <div class="line-right">allata est aqua<br>ad faciem<br>in urceolum.<br>cuius superfusu<br>primum manus,<br>deinde ad faciem<br>〈lavi〉;<br>et os clausi.<br>dentes fricui<br>et gingivas.<br>exspui <br>inutilia<br>sicut superveniebant,<br>et emunxi me.<br>haec omnia<br>effusa sunt.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.06">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) ἐξέμαξα τὰς χεῖρας,<br>ἔπειτα<br>καὶ τοὺς βραχίονας<br>καὶ τὴν ὄψιν,<br>ἵνα καθαρὸς προέλθω.<br>b) οὕτως γὰρ<br>πρέπει <br>παῖδα ἐλεύθερον<br>μαθεῖν.</div>
        <div class="line-right">tersi manus,<br>deinde <br>et brachia<br>et faciem,<br>ut mundus procedam.<br>sic enim<br>decet <br>puerum ingenuum<br>discere.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.07">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) μετὰ ταῦτα<br>γραφεῖον<br>ἐπεζήτησα,<br>καὶ σωμάτιον;<br>b) καὶ ταῦτα παρέδωκα<br>ἐμῷ παιδί.</div>
        <div class="line-right">posthaec<br>graphium<br>requisivi,<br>et membranam;<br>et haec tradidi<br>meo puero.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.08">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) ἑτοιμασθεὶς οὖν<br>εἰς πάντα,<br>προῆλθον<br>καλῇ κληδόνι,<br>ἀκολουθοῦντός μοι<br>παιδαγωγοῦ,<br>b) ὀρθῶς<br>διὰ τῆς στοᾶς<br>ἥτις ἦγεν<br>εἰς τὴν σχολήν.<br>c) εἴ τινές μοι γνωστοὶ<br>ὑπήντησαν,<br>ἠσπασάμην αὐτούς·<br>καὶ ἐκεῖνοι ἐμὲ <br>ἀντησπάσαντο.</div>
        <div class="line-right">paratus ergo<br>in omnia,<br>processi<br>bono auspicio,<br>sequente me<br>paedagogo,<br>recte<br>per porticum<br>quae ducebat<br>ad scholam.<br>sicubi mihi noti<br>occurrerunt,<br>salutavi eos;<br>et illi me <br>resalutaverunt.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.09">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) ὡς δὴ ἦλθον<br>πρὸς τὴν κλίμακα,<br>ἀνέβην <br>διὰ τῶν βαθμῶν,<br>ἀτρέμα, <br>ὡς ἔδει.<br>b) καὶ ἐν τῷ προσχολίῳ <br>ἀπέθηκα βίρριον.<br>καὶ κατέψηξα<br>τρίχας.</div>
        <div class="line-right">ut ergo veni<br>ad scalam,<br>ascendi <br>per gradus,<br>otio, <br>ut oportebat.<br>et in proscholio <br>deposui birrum:<br>et demulsi<br>capillos.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.10">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) Καὶ οὕτως <br>ἠρμένῳ κέντρωνι<br>εἰσῆλθον,<br>καὶ πρῶτον<br>ἠσπασάμην<br>καθηγητάς,<br>συμμαθητάς.<br>b) καὶ γὰρ ἐκεῖθεν<br>προκόπτειν<br>μὴ ὑφέλκωσιν.</div>
        <div class="line-right">Et sic <br>elevato centrone <br>introivi,<br>et primum <br>salutavi <br>praeceptores,<br>condiscipulos.<br>etenim inde<br>proficere<br>non subtrahant.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.11">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) ἔγραψα οὖν<br>ἐμὸν ὄνομα·<br>b) καὶ οὕτως ἐστάθην,<br>ἕως οἱ προάγοντες<br>ἀπέδωκαν,<br>c) καὶ προσέσχον<br>ὑποκρίσεις<br>καθηγητοῦ<br>καὶ συμμαθητοῦ.<br>d) καὶ γὰρ ἐκεῖθεν<br>προκόπτομεν,<br>προσέχοντες ἄλλοις,<br>εἴ τι αὐτοῖς<br>δεικνύοιτο.<br>e) τόλμη ἔνθεν<br>γίνεται, <br>καὶ προκοπή.</div>
        <div class="line-right">scripsi ergo<br>meum nomen;<br>et ita steti,<br>donec antecedentes<br>reddiderunt,<br>et attendi<br>pronuntiationes<br>praeceptoris,<br>et condiscipuli.<br>etenim inde<br>proficimus,<br>attendentes aliis,<br>siquid ipsi<br>monentur.<br>audacia hinc<br>fit, <br>et profectus.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.12">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) ὡς δὴ<br>τῷ ἐμῷ τόπῳ<br>προσῆλθον,<br>ἐκάθισα,<br>b) προήνεγκα <br>χεῖρα δεξιάν,<br>ἀριστερὰν<br>ὑπέστειλα<br>πρὸς τὰ ἱμάτια.</div>
        <div class="line-right">ut ergo<br>meo loco<br>accessi,<br>sedi,<br>protuli <br>manum dextram,<br>sinistram<br>perpressi<br>ad vestimenta.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.13">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) καὶ οὕτως ἠρξάμην<br>ἀποδοῦναι<br>b) καθὼς εἰλήφειν<br>ἀναλήμματα·<br>c) στίχους<br>πρὸς ἀριθμὸν<br>καὶ στιγμὸν<br>καὶ ὑποστιγμήν, <br>d) μετὰ προσπνεύσεως<br>ὅπου συνέφερε,<br>καὶ μετάφρασιν.</div>
        <div class="line-right">et sic coepi <br>reddere<br>quomodo acceperam<br>ediscenda:<br>versus <br>ad numerum<br>et distinctum<br>et clausulam,<br>cum aspiratione<br>ubi oportebat,<br>et metaphrasin.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.14">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) ἐν ὅσῳ ἀποδίδωμι<br>〈ἐδιορθώθην〉<br>ὑπὸ τοῦ καθηγητοῦ,<br>b) ἵνα καὶ φωνὴν<br>ἑτοιμασαίμην<br>ἐγγυτέραν.</div>
        <div class="line-right">dum reddo<br>〈emendatus sum〉<br>a praeceptore,<br>ut et vocem<br>praepararem<br>propiorem.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.15">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) προσῆλθον,<br>ὑποτεθείσης χειρὸς <br>δέλτον<br>ἀπέδωκα,<br>b) 〈καὶ ἀπέδωκα〉<br>μνήμῃ<br>ὑπογραφὴν<br>αὐτῶν ὅπου ἔπραξα.</div>
        <div class="line-right">accessi,<br>et posita manu <br>tabulam<br>reddidi,<br>〈et reddidi〉<br>memoria<br>subscriptionem<br>eorum ubi egeram.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.16">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) μετὰ ταῦτα<br>ἀπολυθεὶς<br>συνεκάθισα<br>ἐμῷ τόπῳ.<br>b) βιβλίον ἔλαβον,<br>ἔγραψα<br>καθημερινά.</div>
        <div class="line-right">post haec<br>dimissus<br>consedi<br>meo loco.<br>librum accepi,<br>scripsi<br>cottidiana.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.17">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) ἐπερώτησα,<br>καὶ διορθωθεὶς<br>ἀνέγνωκα<br>ἀνάγνωσιν τὴν ἐμήν,<br>b) ἣν ἐμοὶ<br>ἐξέθετο<br>ἐπιμελῶς,<br>c) ἕως νοήσαιμι<br>καὶ πρόσωπα<br>καὶ διάνοιαν<br>ῥημάτων<br>τοῦ ποιητοῦ.<br>d) εἶτα <br>ἀπὸ τοῦ ὀφθαλμοῦ <br>ταχέως <br>ἄγνωτον <br>καὶ ὃ <br>σπανίως <br>ἀναγινώσκεται.</div>
        <div class="line-right">interrogavi,<br>et emendatus<br>legi <br>lectionem meam,<br>quam mihi <br>exposuit <br>diligenter,<br>donec intelligerem<br>et personas<br>et sensum<br>verborum<br>au〈c〉toris.<br>deinde <br>ab oculo <br>citatim <br>ignotum <br>et quod <br>rare <br>legitur.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.18">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) ταῦτα ἐπράχθη<br>καθ’ ἕνα<br>καὶ πάντας,<br>b) καθ’ ἑνὸς ἑκάστου<br>δυνάμεις <br>καὶ προκοπήν, <br>καὶ καιρούς,<br>καὶ ἡλικίαν<br>συμμαθητῶν.</div>
        <div class="line-right">haec acta sunt<br>per singulos<br>et universos,<br>iuxta unius cuiusque<br>vires <br>et profectum,<br>et tempora,<br>et aetatem<br>condiscipulorum.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.19">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) εἰσὶ γὰρ <br>καὶ φύσεις ποικίλαι<br>φιλοπονούντων,<br>b) καὶ δυσχερεῖς<br>θελήσεις<br>πρὸς κόπον<br>γραμμάτων,<br>c) ἐν οἷς<br>ὅτε πολὺ προκόπτεις,<br>d) πλέον λείπει<br>ἵνα ἐπ’ ἄκραν<br>ἔλθῃς<br>προκοπήν.</div>
        <div class="line-right">sunt enim<br>et naturae variae<br>studentium,<br>et difficiles<br>voluntates<br>ad laborem<br>literarum,<br>in quibus<br>cum multum proficias,<br>plus superest<br>ut ad summum<br>venias<br>profectum.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.20">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) ἄλλοι οὖν<br>ὀνόματα,<br>ἄλλοι στίχους<br>ἀνηγόρευσαν,<br>b) καθὼς<br>εἰώθασιν<br>γράφειν.<br>c) ἠγέρθησαν<br>καὶ ἐστάθησαν<br>πρὸς τὸν πίνακα.</div>
        <div class="line-right">alii ergo<br>nomina,<br>alii versus<br>recitaverunt,<br>quomodo <br>soliti sunt<br>scribere.<br>surrexerunt<br>et steterunt<br>ad titulum.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.21">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) ἤδη ἐμπείρῳ <br>οἱ λοιποὶ <br>ὁμοῦ ἀπεκρίνοντο. <br>b) ὅσα <br>πρὸς τοὺς ἀρχομένους<br>κατελέχθη αὐτοῖς,<br>c) καὶ τὰ χρήζοντα<br>καὶ ἀριθμούς,<br>δακτύλους<br>καὶ ψήφους,<br>d) ταῦτα, <br>ἐν ὅσῳ ἀποδίδομαι,<br>οὗτοι ἔπραττον.</div>
        <div class="line-right">iam perito <br>reliqui <br>pariter respondebant. <br>quaecumque<br>ad incipientes<br>praebita sunt eis,<br>et necessaria<br>et numeros,<br>digitos<br>et calculos,<br>haec, <br>dum reddo,<br>ei agebant.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.22">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) οἱ λοιποὶ δὲ <br>ἐξηγήσεσιν<br>καὶ ἐπερωτήσεσιν<br>ηὐκαίρουν,<br>b) κατὰ δύο τάξεις,<br>βραδύτεροι<br>καὶ ταχύτεροι.</div>
        <div class="line-right">reliqui autem<br>expositionibus<br>et interrogationibus<br>vacabant,<br>per duas classes,<br>tardiores<br>et velociores.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.23">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) Ὀνομάτων <br>πτώσεις πέντε·<br>ὀνομαστικός, <br>b) γεγεννημένος,<br>δοτικός, <br>αἰτιατικός, <br>κλητικός, <br>ἀφαιρετικός.</div>
        <div class="line-right">Nominum <br>casus quinque:<br>nominativus,<br>genetivus,<br>dativus,<br>accusativus,<br>vocativus,<br>ablativus.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.24">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) ὀνόματι<br>δοθήτω<br>ἀριθμός·<br>b) ἑνικός,<br>ἑνί·<br>δυϊκός·<br>πληθυντικός.</div>
        <div class="line-right">nomini<br>detur <br>numerus:<br>unalis,<br>uno;<br>dualis;<br>pluralis.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.25">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) ποῖον ῥῆμα;<br>πόσα καὶ <br>πρόσωπά εἰσί;<br>b) λέγεις· δευτέρου.<br>λέγει· τρίτου.<br>c) τίς λέγῃ;<br>τίς, τίνος.</div>
        <div class="line-right">quod verbum?<br>quot et <br>personae sint?<br>dicis: secundae.<br>dicit: tertiae.<br>quis dicat?<br>quis, cuius.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.26">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) Υἱὸς εἴη <br>τούτων<br>οὓς ἀναγινώσκομεν<br>ἀρχαίους<br>παρὰ Ὁμήρῳ,<br>b) καὶ μεγίστους<br>βασιλεῖς<br>καὶ ἡγεμόνας<br>Ἑλλήνων,<br>c) καὶ φρονίμους,<br>νέους<br>καὶ γέροντας·</div>
        <div class="line-right">Filius sit <br>eorum<br>quos legimus<br>antiquos<br>apud Homerum,<br>et maximos<br>reges<br>et duces<br>Graecorum,<br>et prudentes,<br>iuvenes<br>et senes;</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.27">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) οἵτινες, <br>ὕβριν<br>ἑνὸς πολίτου ἰδίου<br>πάγκοινον<br>κρίναντες,<br>b) ὁμόψυχοι,<br>† ἐντετευγμενοι †<br>ἢ ἀπολέσθαι<br>ἢ κολάσαι<br>Ἀλέξανδρον,</div>
        <div class="line-right">qui, <br>iniuriam<br>unius civis sui <br>omnium communem<br>iudicantes,<br>uno animo,<br>destinati<br>aut perire<br>aut punire<br>Alexandrum,</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.28">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) (ὅστις ἀπὸ Τροίας<br>ναυσὶν πλεύσας<br>εἰς Ἑλλάδα,<br>καὶ ξενισθεὶς<br>ἐν βασιλείᾳ Μενελάου<br>εἰς Λακεδαίμονα,<br>b) ἐπιλαθόμενος<br>εὐεργετημάτων<br>καὶ ξενίας<br>καὶ πάσης <br>φιλανθρωπίας,<br>c) ὡς βάρβαρος<br>καὶ ἄφρων</div>
        <div class="line-right">(qui a Troia<br>navibus navigans<br>in Graeciam,<br>et hospitatus<br>in regno Menelai<br>in Lacedaemonem,<br>oblitus<br>benefactorum<br>et hospitalitatis<br>et omnis <br>humanitatis,<br>tamquam barbarus<br>et imprudens</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.29">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) ἥρπασεν Ἑλένην<br>ἄλοχον Μενελάου,<br>καὶ διεκόμισεν<br>εἰς Τρωάδα<br>b) (χώραν<br>τῶν Τρώων,<br>ὧν ἐβασίλευεν<br>Πρίαμος<br>ὁ πατὴρ αὐτοῦ)<br>καὶ πόλιν Ἴλιον)</div>
        <div class="line-right">rapuit Helenam,<br>uxorem Menelai,<br>et transduxit<br>in Troiam<br>(regionem<br>Troianorum,<br>quorum regnabat<br>Priamus<br>pater eius)<br>et urbem Ilion)</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.30">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) ἐσπευσμένως<br>μετὰ στρατοῦ <br>καὶ ναυσὶν<br>ὁμοίως πολλαῖς<br>b) (αἵτινες κεχωρήκασιν<br>τὸν ὄχλον<br>ἐκ πολλῶν<br>ἠθροισμένον,<br>ἤτοι νήσων ἐνοίκους),</div>
        <div class="line-right">festinanter<br>cum exercitu <br>et navibus<br>similiter copiosis<br>(quae ceperunt<br>populum<br>ex multis <br>adunatum,<br>sive insularum incolas),</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.31">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) βασιλεῖ Ἀγαμέμνονι<br>ὑποτεταγμένοι,<br>μετὰ πολλῶν ἡγεμόνων,<br>b) ὧν<br>καὶ τὰς δυνάμεις<br>θαυμάζομεν<br>καὶ φρόνησιν<br>ἐπαινοῦμεν,<br>c) ἔπλευσαν<br>εἰς Τρωάδα,</div>
        <div class="line-right">regi Agamemnoni<br>subditi,<br>cum multis ducibus,<br>quorum <br>et virtutes<br>miramur<br>et sapientiam<br>laudamus,<br>navigaverunt<br>ad Troiam,</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.32">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) ὅπου δὴ πλεῖστα<br>καὶ ἄξια μνήμης<br>διετέλεσαν,<br>b) ἔτεσιν ἐννέα<br>μαχόμενοι<br>κατέναντι<br>τῶν Τρώων·</div>
        <div class="line-right">ibique multa<br>et digna memoria<br>peregerunt,<br>annis novem<br>pugnantes<br>adversus<br>Troianos;</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.33">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) δεκάτῳ δὲ <br>πόλιν αὐτῶν<br>ἐπόρθησαν,<br>b) ἁπάντων<br>ἀνῃρημένων<br>ὑπερεχόντων,</div>
        <div class="line-right">decimo autem<br>urbem eorum<br>expugnaverunt,<br>universis <br>interfectis <br>eminentibus,</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.34">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) χωρὶς Αἰνείου<br>(ὅστις διαφυγὼν<br>εἰς Ἰταλίαν<br>b) ἀρχηγὸς ἐγένετο <br>τῆς ἐπιτάξεως<br>Ῥωμαίοις)·</div>
        <div class="line-right">praeter Aeneam<br>(qui fugatus<br>in Italiam<br>dux fuit <br>imperii<br>Romanis);</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.35">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">καὶ οὕτως<br>Ἕλληνες<br>ἀπέλαβον<br>Ἑλένην.</div>
        <div class="line-right">et sic<br>Graeci <br>receperunt<br>Helenam.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.36">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) ἐκ τούτων <br>πολλοὶ <br>καὶ ἐξέχοντες <br>δυνάμει <br>καὶ τῷ γένει, <br>b) ἐν πολέμῳ <br>ἔπεσαν,<br>καὶ ὕστερον <br>ἐν ὅσῳ ὑποστρέφουσιν<br>c) ἐν θαλάσσῃ<br>χειμῶσιν<br>ἀπώλοντο,<br>καὶ ἀνελπιστίᾳ ψυχῆς.</div>
        <div class="line-right">ex his <br>multi<br>et eminentes<br>virtute <br>et genere,<br>in bello<br>ceciderunt,<br>et postea <br>dum revertuntur<br>in mari <br>tempestatibus<br>perierunt,<br>et desperatione animi.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.37">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) Ἐν τούτοις οὖν <br>γυμναζόμεθα,<br>καὶ ἄλλοις ποικίλοις,<br>καὶ μελλόντων<br>ἐπῆλθεν ὥρα.</div>
        <div class="line-right">In his<br>dum exercemur,<br>et aliis variis,<br>et pertinentibus,<br>advenit hora.</div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.38">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">a) sumptis ergo<br>pugillaribus<br>b) scripsi<br>de oratione<br>Demosthenis<br>c) dictante<br>praeceptore,<br>quod sufficiebat<br>et hora permittebat;<br>d) distinxi <br>ut oportebat.</div>
        <div class="line-right"></div>
      </div>
    </div>

    <div class="line-container" id="Discipulus.39">
      <div class="line-character">Discipulus</div>
      <div class="line-bilingual">
        <div class="line-left">〈                      〉<br>a) ἀναγορεύοντας<br>πρῶτον,<br>b) καὶ αὐτὸς <br>ἀνηγόρευσα μόνος.</div>
        <div class="line-right">〈               〉<br>recitantes <br>primum,<br>et ipse <br>recitavi solus.</div>
      </div>
    </div>

    {% assign files = site.html_pages | where_exp: "p", "p.path contains
    'files/'" %} {% assign neighbors = files | where: "type", "Colloquium" |
    where: "author", page.author | where: "collection", page.collection | sort:
    "sequence" %} {% assign prev_page = nil %} {% assign next_page = nil %} {%
    assign found_current = false %} {% for p in neighbors %} {% if found_current
    and next_page == nil %} {% assign next_page = p %} {% endif %} {% if p.url
    == page.url %} {% assign found_current = true %} {% endif %} {% if
    found_current == false %} {% assign prev_page = p %} {% endif %} {% endfor
    %}

    <div class="nav-buttons">
      {% if prev_page %}
      <a href="{{ prev_page.url }}" class="nav-button nav-back">⟵ Previous</a>
      {% endif %} {% if next_page %}
      <a href="{{ next_page.url }}" class="nav-button nav-next">Next ⟶</a>
      {% endif %}
    </div>
  </div>

   <div class="footer">
     <p>ColloquiaLatina.org - Copyright © 2025 Jacob Terneus</p>
   </div>
</body>